/*
 * 控制恒天财富页面的样式
 */

.chtwm-pay{
    height:4rem;
    line-height:4rem;
    text-align: center;
    margin-bottom:5rem;
    font-size:1rem;
    display: none;
}
.chtwm-asset{
    position: absolute;
    bottom:5rem;
    width:100%;
    margin-bottom: 0;
}
.chtwm-detail{
    position: absolute;
    bottom:0rem;
    width:100%;
    margin-bottom: 0;
}
