//引入mui
@import url("../../../include/css/mui.min.css");
@import url("../../../common/less/reset.less");
@import url("../../../common/less/color.less");
@import url("../../../common/less/mui/resetMUI.less");
@import url("../../../common/less/components/againEnter.less");

 .goingBox{
 	.going{
 		margin-top: 0.16rem;
 		margin-bottom: 0.16rem;
 		height: 2.12rem;
 		padding-top: 0.34rem;
 		background: @c005;
 		div{
 			text-align: center;
 		}
 		.iconfont{
 			font-size: 0.92rem;
 			color: @c006;
 		}
 		div:last-child{
 			margin-top: 0.08rem;
 			font-size: 0.28rem;
 			color: @c002;
 		}
 	}
 	.mui-card{
 		padding-left: 0;
 	}
 	.buySure{
 		display: none;
 	}
 	.buySure,.positionDetails,.redemptionSure{
 		
 		margin-top: 0.16rem;
 		padding: 0.32rem 0.32rem;
 		background: @c005;
 		font-size: 0.28rem;
 		color: @c002;
 		line-height: 0.28rem;
 		h4{
 			margin-bottom: 0.42rem;
 			font-size: 0.28rem;
 			color: @c002;
 		}
 		div{
 			display: flex;
 			justify-content: space-between;
 			span:first-child{
 				color: @c003;
 			}
 		}
 		div:not(:first-child){
 			margin-top: 0.32rem;
 		}
 	}
 	
 	.assetPurchaseDetails{
 		margin-top: 0.16rem;
 		padding: 0 0.32rem;
 		background: @c005;
 		display: flex;
 		justify-content: space-between;
 		line-height: 0.8rem;
 		font-size: 0.28rem;
 		span:first-child{
 			color: @c002;
 		}
 		span:last-child{
 			color: @c003;
 		}
 	}
 }