/*<!--
	* 恒小智首页
	* author:ping
	* time：2018-10-10
-->*/
@charset "utf-8";

@import url("../../../include/css/mui.min.css");
@import url('../../../common/less/mui/resetMUI.less');
@import url("../../../common/less/reset.less");
@import url("../../../common/less/color.less");

.investmentIndex{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url('/intelligentInvestment/static/img/setting.jpg');
	background-size: 100% 100%;
	text-align: center;
	.riskTitle{
		margin-top: 1.38rem;
		font-size: 0.24rem;
		color: @c005;
	}
	.riskType{
		margin-top: 0.32rem;
		font-size: 0.64rem;
		color: @c005;
		line-height: 0.64rem;
	}
	.images{
		margin: 0.32rem auto;
		width: 2.3rem;
	}
	.riskContent{
		width: 100%;
		font-size: 0.24rem;
		color: @c008;
		padding: 0 0.44rem;
		text-align: justify;
	}
}

.buyCheckoutSuccess{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url('/intelligentInvestment/static/img/setting.jpg');
	background-size: 100% 100%;
	text-align: center;
	.images{
		padding-top: 2rem;
		margin: 0.32rem auto;
		width: 2.3rem;
	}
	.riskContent{
		width: 100%;
		font-size: 0.24rem;
		color: @c008;
		padding: 0 0.4rem;
		text-align: center;
	}
}