 //引入mui
 @import url("../../../include/css/mui.min.css");
 @import url("../../../common/less/reset.less");
 @import url("../../../common/less/color.less");
 @import url("../../../common/less/mui/resetMUI.less");
 //黑色提示框的样式
 @import url("../../../common/less/components/againEnter.less");
 @import url("../../../common/less/components/alertBox.less");
 @import url("../../../common/less/components/elasticLayerTypeTwo.less");
.redemption{
	.tit{
		font-size: 0.32rem;
		line-height: 0.8rem;
		margin-bottom: 0.16rem;
		color: @c002;
	}
	.bank{
		padding-top: 0.2rem;
		height: 1.3rem;
		font-size: 0.28rem;
		line-height:0.28rem;
		color: @c002;
		background: @c005;
		box-sizing: border-box;
		.bank_txt{
			margin-top: 0.36rem;
		}
	}
	.ratio{
		margin-top: 0.16rem;
		padding-right: 0.32rem;
		padding-top: 0.35rem;
		// padding-bottom: 0.08rem;
		background: @c005;
		height: 3.08rem;
		.ratio_tix{
			font-size: 0.28rem;
			line-height: 0.28rem;
			color: @c002;
			.marketVal{
				margin-left: 0.24rem;
				font-size: 0.24rem;
				color: @c003;
			}
		}
		.range_box{
			margin-top: 0.4rem;
			.num{
				display: flex;
				justify-content: space-between;
				margin-top: -0.08rem;

			}
			.mui-hidden{
				display: block!important;
			}
		}
		.hint{
			margin-top: 0.32rem;
			font-size: 0.24rem;
			color: @c003;
		}
		// 重置mui样式
		.mui-input-range input[type=range]{
			height: 0.1rem;
			background: @c008;
		}
		.mui-input-range input[type='range']::-webkit-slider-thumb{
		    background-color: @c006;
		    width: 0.34rem;
		    height: 0.34rem;
		    border: 0;
		    background-image: linear-gradient(90deg, invalid gradient);
			box-shadow: 0 2px 6px 1px rgba(245,166,35,0.64);
		}
		.mui-input-range .mui-tooltip{
			font-size: 0.3rem;
			width: 0.44rem;
			height: 0.64rem;
			line-height: 0.64rem;
			text-align: left;
			top: -0.4rem;
			border: none;
			background-color: transparent;
		}
		.mui-input-row.mui-input-range{
			padding-right: 0;
		}
	}
	.fund_box{
		margin-top: 0.16rem;
		font-size:0.24rem;
		line-height: 0.24rem;
		.fund_tit{
			margin-bottom: 0.01rem;
			padding-right: 0.32rem;
			padding-left: 0.32rem;
			padding-top: 0.27rem;
			padding-bottom: 0.2rem;
			border-bottom: 5px solid @c008;
			display: flex;
			justify-content: space-between;
			background: @c005;
			font-size:0.24rem;
			line-height: 0.24rem;
			color: @c003;
			
		}
		.fund{
			padding-right: 0.32rem;
			padding-left: 0.32rem;
			height: 0.98rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background: @c005;
			border-bottom: 1px solid @c008;

			.fund_name{
				p{
					color: @c002;
					line-height: 0.36rem;
				}
			}
		}

	}
	.agreement{
		margin-top: 0.42rem;
		margin-bottom: 1.6rem;
		padding-right: 0.3rem;
		padding-left: 0.3rem;
		font-size: 0.2rem;
		color: @c003;
		.see{
			color: #151515;
		}
	}
}