//引入mui
 @import url("../../../include/css/mui.min.css");
 @import url("../../../common/less/reset.less");
 @import url("../../../common/less/color.less");
 @import url("../../../common/less/mui/resetMUI.less");

.mui-card{
	padding: 0;
}

.result_box{

	.result{
		margin-top: 0.16rem;
		margin-bottom: 0.16rem;
		padding-top: 0.4rem;
		height: 2.12rem;
		background: @c005;
		box-sizing: border-box;
		div{
			text-align: center;
		}
		div:nth-child(2){
			margin-top: 0.24rem;
			font-size: 0.28rem;
			color: @c002;
		}
		.iconfont{
			font-size: 0.8rem;
			color: @c013;
		}
	}
	.detail_box{
		padding: 0.32rem 32px;
		// height: 2.72rem;
		background: @c005;
		box-sizing: border-box;
		font-size: 0.28rem;
		line-height: 0.28rem;
		color: @c002;
		div{
			display: flex;
			justify-content: space-between;
			span:nth-child(1){
				color: @c003;
			}
		}
		div:not(:first-child){
			margin-top: 0.32rem;
			
		}
	}
}