// 恒小智交易明细

@import url("../../../include/css/mui.min.css");
@import url('../../../common/less/mui/resetMUI.less');
@import url("../../../common/less/reset.less");
@import url("../../../common/less/color.less");

@import url("../../../common/less/components/noData.less");

@import url("../../../common/less/components/tabScroll.less");

//回到顶部的样式
@import url("../../../common/less/components/goTopMui.less");

//交易明细页面 转入转出详情页面 公共样式
.tradeList,.tradeDetail{
	.right{
		text-align:right;
	}
	.card-theme{
		padding: 1.2em 0;
		border-bottom: 1px solid @c008;
		color: @c001;
		padding-right: 1.2rem;

		.fontBold{
			color: @c002;
			font-size: 1.4rem;
			margin-bottom: 0.2rem;

			.fast{
				font-size:1rem;
				color:@c006;
			}
		}

		.lightColor{
			color: @c001;
		}

		.combinationStatus{
			padding-top: 0.7rem;
		}
	}
}
//交易明细页面
.tradeList{
	.contentWrapper{
		position: relative;
		height: 100%;
	}

	.mui-slider-item{
		background: @c005;

	}

	// 覆盖原有样式
	.mui-slider .mui-segmented-control.mui-scroll-wrapper{
		height: 4rem;
		padding-top: 0;

		.mui-control-item{
			padding: 1.4rem 0;
			position: relative;
			box-sizing: border-box;
			height: 4rem;
			color: @c003;
			font-size: 1.4rem;

			&:after{
				content: '';
				position: absolute;
				height: 2rem;
				border-right: 0.1rem solid @c008;
				right:0;
				top:1rem;
			}

			&:last-child{
				&:after{
					display: none;
				}
			}

			&.mui-active{
				border-bottom: 0.2rem solid @c006;
				color: @c006;
			}

		}
	}

	// 顶部tab导航
	.nav-wrapper{
		margin-bottom: 1rem;
	}

	// 列表样式
	.mui-table-view-cell{
		background: @c005;
		padding-right: 0;
		padding-top: 0;

		&:first-child{
			&:after{
				display: none;
			}
		}

		.incomeWrap{
			.left{
				line-height: 3.5rem;
				height: 3.5rem;
				display: table;
				color: @c002;
				font-size: 1.4rem;


			}
			.iconfont{
				display: table-cell;
				vertical-align: middle;
				color: @c006;
				font-size: 2.7rem;
				width: 3.5rem;
			}
		}
	}
}

//转入转出详情页面
.tradeDetail{

	//公共样式
	.highlight{
		color: @c006;
	}
	
	.card-theme{
		background: @c005;
		color: @c003;
		box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.1);
		margin-top: 1rem;
		font-size: 1.6rem;
		padding:1.5rem;

		.small{
			color: @c001;
			font-size: 1.2rem;
			margin-top: 0.5rem;
		}

		.red{
			color: @c010;
			font-size: 1rem;
			margin-top: 0.5rem;
		}
	}
	
	.treasureContent{
		font-size: 1.4rem;

		.mui-row{
			display: table;

		}

		.text{
			display: table-cell;
			vertical-align: middle;
		}

		.iconfont{
			padding-right: 1.5rem;
			font-size: 2.4rem;
			display: table-cell;
		}

		.subStatus{
			.iconfont{
				font-size: 2rem;
				padding-left: 0.3rem;
			}
		}

		.red{
			color: @c010;
		}

		.small{
			height: 3rem;
			border-left: 0.2rem solid @c015;
			margin-left: 1.1rem;
			margin-bottom: 0.9rem;
			padding-left: 2.6rem; 

		}

		.noBorder{
			border-left: 0;
			padding-left: 2.8rem;
		}

		.bank{
			margin-left: 1.5rem;
		}
	}
}

