<!-- /**  
 * @Page:  诊断详情
 * @Author: songxiaoyu  
 * @Date:   2019-08-08 17:44:32  
 * @Last Modified by:   songxiaoyu  
 */ -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">                
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/commonResources/fundDiagnosis/static/css/diagnosisDetail.css">
    <title>诊断详情</title>
</head>

<body>
    <section class="diagnosisDetail">
        <!-- 顶部 -->
        <div class="dd_top">
        </div>
        <!-- 综合评分 -->
        <div class="dd_score dd_card">
            <h3 class="dd_h3">
                综合评分
                <span class="dd_small">数据统计截止<i class="dd_date_1">2019-09-09</i></span>
                <span class="dd_icon dd_fr">i</span>
            </h3>
            <div class="mui-row dd_choice_1">
                <div class="mui-col-xs-3">短期一年</div>
                <div class="mui-col-xs-3">中期3年</div>
                <div class="mui-col-xs-3">长期5年</div>
            </div>
            <!-- 雷达图 -->
            <div class="dd_radar chartWrapper">
            </div>
        </div>
        <!-- 综合定性评价 --> 
        <div class="dd_card">
            <h3 class="dd_h3">
                综合定性评价
                <span class="dd_small">数据统计截止<i class="dd_date_1">2019-09-09</i></span>
                <span class="dd_icon dd_fr">i</span>
            </h3>
            <div class="dd_evaluate">
                
            </div>
        </div>
        <!-- 累计收益曲线 -->
        <div class="dd_card">
            <h3 class="dd_h3">累计收益曲线<span class="dd_small">数据统计截止<i class="dd_date_1">2019-09-09</i></span><span class="dd_icon dd_fr">i</span></h3>
            <div class="dd_line"></div>
            <div class="mui-row dd_choice_1">
                <div class="mui-col-xs-3">近一月</div>
                <div class="mui-col-xs-3">近一年</div>
                <div class="mui-col-xs-3">成立以来</div>
            </div>
        </div>
        <!-- 底部备注 -->
        <div class="dd_bottom dd_center">   
            <div>注：数据来源：wind，恒天公募销售中心</div>
            <div>上述数据仅供参考，不构成投资建议。投资者据此操作</div>
            <div>风险自担。市场有风险，投资需谨慎</div>
        </div>
    </section>

    <!-- 顶部 -->
    <script id="first-template" type="text/x-handlebars-template">
    {{#each this}}
        <div class="dd_name">{{fundName}}  {{fundCode}}</div>
        <div class="dd_tag_wrap">
            <span class="dd_tag">{{type}}</span> 
            <span class="dd_tag">标签2</span>
            <span class="dd_tag">标签2</span>
            <span class="dd_tag">{{fundState}}</span>
            <span class="dd_tag">{{grade}}</span>
        </div>
        <div class="mui-row dd_value">
            <div class="mui-col-xs-4 left">
                <i>{{newNetValue}}</i>
            </div>
            <div class="mui-col-xs-4 center">
                <i>{{newOneDayGains}}</i>
            </div>
            <div class="mui-col-xs-4 right">
                <i>{{yearEarnRate}}</i>
            </div>
        </div>
        <div class="mui-row dd_text">
            <div class="mui-col-xs-4 left">
                <i>最新净值(09-09)</i>
            </div>
            <div class="mui-col-xs-4 center projectTermUnit">
                <i>最新日涨幅</i>
            </div>
            <div class="mui-col-xs-4 right">
                <i>成立以来年化收益率</i>
            </div>
        </div>
    {{/each}}
    </script>
    
    @@include('@pathInclude/views/footer.html')
    <!-- 添加埋点 -->
    @@include('@pathInclude/views/header.html')
    <script src="/include/js/iscroll.js"></script>
    <script src="/commonResources/fundDiagnosis/static/js/diagnosisDetail.js"></script>
</body>

</html>