<!-- /**  
 * @Page:  
 * @Author: songxiaoyu  
 * @Date:   2019-08-08 17:44:32  
 * @Last Modified by:   songxiaoyu  
 */ -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/commonResources/fundDiagnosis/static/css/hotDiagnosis.css">
    <title>基金诊断</title>
</head>

<body>
    <section class="container">
    </section>
    @@include('@pathInclude/views/footer.html')
    <!-- 添加埋点 -->
    @@include('@pathInclude/views/header.html')
    <script src="/include/js/iscroll.js"></script>
    <script src="/commonResources/fundDiagnosis/static/js/hotDiagnosis.js"></script>
</body>

</html>