/*
	*中秋活动专题
	*author：zhangyanping  2018-09-04
 */
@import url("@pathInclude/css/mui.min.css");
@import url("@pathInclude/css/mui.poppicker.css");
@import url("@pathInclude/css/mediaelementplayer.min.css");
@import url('@pathCommonLess/mui/resetMUI.less');
@import url("@pathCommonLess/reset.less");
@import url("@pathCommonLess/color.less");

.mui-card{
	padding: 0;
}


// 品牌主会场
.AutumnIndex{
	position: relative;
	background: #1a2d4e;
	.index_1{
		width: 100%;
    	// background-size: 100% 100%;

	}
	.index_2{
		width: 100%;
		padding: 0 0.5rem;
    	background-size: 100% 100%;
	}
	.index_3{
		width: 100%;
    	background-size: 100% 100%;
	}
	.index_4{
		width: 100%;
    	background-size: 100% 100%;
	}
	.index_5{
		width: 100%;
    	background-size: 100% 100%;
	}
	.index_6{
		width: 100%;
    	background-size: 100% 100%;
	}
	.index_7{
		width: 100%;
    	background-size: 100% 100%;
	}
}

//私募会场
.privateActivity{
	position: relative;
	.private_01{
		width: 100%;
		background-size: 100% 100%;
	}
	.private_02{
		width: 100%;
		padding: 0 0.5rem;
		background-size: 100% 100%;
	}
	.private_03{
		width: 100%;
		background-size: 100% 100%;
	}
	.private_04{
		width: 100%;
		background-size: 100% 100%;
	}
	.private_05{
		width: 100%;
		background-size: 100% 100%;
	}

}


//公募会场  第一页
.publicActivityOne{
	position: relative;
	.public_01{
		width: 100%;
		background-size: 100% 100%;
	}
	.public_02{
		width: 100%;
		background-size: 100% 100%;

	}
	.public_03{
		width: 100%;
		background-size: 100% 100%;
	}

}


