<!-- 
	修改网站交易密码
	@author yangjinlai 2017-02-23

	*: 本页面使用MUI
-->

<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	    <meta name="applicable-device" content="mobile">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black"><meta charset="UTF-8">
		<title>修改网站交易密码</title>
		<link rel="stylesheet" href="/user/static/css/changeDealPassword.css">
	</head>

	<body> 
		
		<section class="initAction">
			<div class="mui-card marginTop">
				<!--内容区-->
				<!-- <div class="mui-card-content"> -->
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">
							<a class="mui-navigate-right goRemember password" href="javascript:;">记住原交易密码</a>
						</li>
						<li class="mui-table-view-cell">
							<a class="mui-navigate-right goForget password" href="javascript:;">忘记原交易密码</a>
						</li>
					</ul> 
				<!-- </div> -->
			</div>
		</section>
		 
		
		<!-- 记得原交易密码 -->
		<section class="nextAction rememberAction">
			<p class="txt">网站交易密码为6位不连续、不重复的数字，非银行卡密码</p>
			<div class="mui-card">
				<!--内容区-->
				<!-- <div class="mui-card-content"> -->
					<div class="form-wrap">
						<!-- <div class="form-list"> -->

						<div class="formList formIconRight">
							@@include('../../../common/views/form/dealPassword/oldDealPassword.html')
						</div>

						<div class="formList formIconRight">
							@@include('../../../common/views/form/dealPassword/newDealPassword.html')
						</div>

						<div class="formList formIconRight">
							@@include('../../../common/views/form/dealPassword/qrNewDealPassword.html')
						</div>	
							
							
						<!-- </div> -->
					</div>
				<!-- </div> -->
			</div>

			@@include('../../../common/views/button/sureBtn.html')
			
		</section>
		
		
		
		<script src="/include/js/vendor/zepto/zepto.js"></script>
		<script src="/include/js/vendor/root.js"></script>
		<script src="/include/js/vendor/mui/mui.min.js"></script>
		<script src="/user/static/js/dealPassword/changeDealPassword.js"></script>

	</body>

</html>