<!-- 赎回明细 -->

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="/wealthManagement/newPrivatePlacement/static/css/detail.css">
	<title>赎回明细</title>
</head>
<body>

	@@include('@pathCommonViews/load.html')
	
	<section class="container" id="wrapper">

		<div class="redemption" id="scroller">

			<div id="pullBox">
				<div class="list"  id="pageLists">
					
				</div>
				<div class="without" id="emptyBox" style="display:none;">
					<div class="box vertical center">
						<p class="iconfont">&#xe603;</p>
						<p class="text">暂无数据</p>
					</div>
				</div>
			</div>

			@@include('@pathCommonViews/upLoad.html')
		</div>

		<!-- 回到顶部 -->
		<div class="upTop" id="goTop" style="display:none;">
			<span class="iconfont">&#xe74a;</span>
		</div>
		<!-- 回到顶部 -->
	</section>  
	<p class="chtwm-pay chtwm-detail">基金销售服务由北京恒天明泽基金销售有限公司提供</p>

	<script id="dataLists" type="text/x-handlebars-template">
		{{! 左侧页面列表}}
		{{#each this}}
			<div class="datalist">
				<h2 class="ellipsis"> {{fundName}}</h2>
				<div class="line"></div>
				<ul>
					<li class="first clearfix">
						<div class="title">业务状态</div>
						<div class="text">
							<p>{{statusDic}}</p>
						</div>
					</li>
					<li class="clearfix">
						<div class="title">赎回份额</div>
						<div class="text"><span>{{redemptionShares}}</span>份</div>
					</li>
					<li class="clearfix">
						<div class="title">赎回申请日期</div>
						<div class="text">{{redemptionDate}}</div>
					</li>
				</ul>
			</div>
		{{/each}}
	</script> 

	 
	 @@include('@pathInclude/views/footer.html')
	 
	<script src="/include/js/iscroll.js"></script>
	 
	<script src="/wealthManagement/newPrivatePlacement/static/js/detailLists.js"></script>
</body>
</html>