<!--
*历史收益
*author:purpleZhao
*time：2017/3/1
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="/wealthManagement/newPrivatePlacement/static/css/productOther.css">
	<title>历史净值</title>
<body>
	
    @@include('@pathCommonViews/load.html')
	<!-- 加载中loading -->
	@@include('@pathCommonViews/loading/listLoading.html')

	<!-- 暂无数据 -->
	@@include('@pathCommonViews/noData.html')

	<div class="content"> 

		<!-- 
		*净值列表分3列和4列
		*3列对应class类为area3
		*4列对应class类为area4
		*  -->

		<!-- 历史净值 -->
		<div class="income before">
			<header class="nav mui-row" id="nav">
				<!-- 放置表头模板 -->
			</header>

			<div class="list">
				<div class="contentWrapper">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">
							<!--放置列表-->
						</li>
					</ul>
					<!-- 返回顶部 -->
					@@include('@pathCommonViews/goTop.html')
				</div>
			</div>

		</div>	
		<!-- 历史净值 -->
	</div>
	<!-- 表头模板 -->
	<script id="productList-nav-template" type="text/x-handlebars-template">
		{{#each this}}
			<span class="mui-col-xs-4">{{name}}</span>
		{{/each}}
	</script>

	<!-- 列表模板 -->
	<script id="productList-list-template" type="text/x-handlebars-template">
		{{#each pageList}}
			<div class='listDiv mui-row'>
				<span class="mui-col-xs-4">{{netValueDate}}</span>
				<span class="mui-col-xs-4">{{netValue}}</span>
				<span class="mui-col-xs-4">{{totalNetValue}}</span>
			</div>
		{{/each}}
	</script>
	

	<script src="/include/js/vendor/zepto/zepto.js"></script>
	
	<script src="/include/js/vendor/handlebar/handlebars.js"></script>
	<script src="/include/js/vendor/mui/mui.min.js"></script>
	<script src="/include/js/vendor/root.js"></script>
	<!-- 添加埋点 -->
    @@include('@pathInclude/views/header.html')
	<script src="/wealthManagement/newPrivatePlacement/static/js/hisValue.js"></script>

</body>

</html>