<!--/**
 * 会员俱乐部-活动列表-模板页
 * @author  liuhongyu 2019 11-4
 */-->
<script id="cityList-template" type="text/x-handlebars-template">
    <div>
        <header class="mui-bar mui-bar-nav">
            <a href="javascript:;" class="mui-icon mui-icon-left-nav mui-pull-left goBack"></a>
            {{#each this}}
                {{#if namea}}
                <h1 class="mui-title">明星理财师</h1>
                {{else}}
                <h1 class="mui-title">会员俱乐部</h1>
                {{/if}} 
            {{/each}}
        </header>
        
    </div>
    <div class="mui-content">
        <div id='list' class="mui-indexed-list">
            <div class="mui-indexed-list-search mui-input-row mui-search" style="border-bottom:none !important">
                <input style="display: none;" type="search" class="mui-input-clear mui-indexed-list-search-input" placeholder="搜索机场">
            
            </div>
            <div class="mui-indexed-list-bar">
                {{#each this}}
                    {{#with hotCityList}}
                        {{#each this}}
                        <a href="javascript:;">{{name}}</a>
                        {{/each}}
                    {{/with}}
                {{/each}}
            </div>
            <div class="mui-indexed-list-alert"></div>
            <div class="mui-indexed-list-inner">
                <div class="mui-indexed-list-empty-alert">没有数据</div>
                <ul class="mui-table-view">
                    <li data-group="热" class="mui-table-view-divider mui-indexed-list-group hot">热门城市</li>
                    <li class="hotCity">
                        <div class="hotBox">
                            {{#each this}}
                                {{#with hotCity}}
                                    {{#each this}}
                                        <span data-code="{{code}}" data-parentId="{{parentId}}">{{regionName}}</span>
                                        
                                    {{/each}}
                                {{/with}}
                            {{/each}}
                        </div>
                        

                    </li>
                    {{#each this}}
                        {{#with cityList}}
                            {{#each this}}
                                <li data-group="{{name}}" class="mui-table-view-divider mui-indexed-list-group">{{name}}</li>
                                {{#with list}}
                                {{#each this}}
                                    {{#if regionName}}
                                    <li data-code="{{code}}" data-parentId="{{parentId}}" class="mui-table-view-cell mui-indexed-list-item asd">{{regionName}}</li>
                                    {{else}}
                                    <li data-code="{{code}}" data-parentId="{{parentId}}" class="mui-table-view-cell mui-indexed-list-item asd">{{this}}</li>
                                    {{/if}} 
                                {{/each}}
                                {{/with}}
                            {{/each}}
                        {{/with}}
                    {{/each}}
                    
                </ul>
            </div>
        </div>
    </div>
</script>
        