



<!-- /**  
 * @Page:  支付
 * @Author: tianjunguo  
 * @Date:   2019-11-25 17:44:32  
 * @Last Modified by:   tianjunguo  
 */ -->
	
<div class="passwordWrap" id="passwordWrap" style="display: none;">
	<div class="mask"></div>
	<div class="passwordTop">
		<header class="mui-row">
			<i class="iconfont closeBtn">&#xe60c;</i>
				请输入交易密码
			<span class="forgetP">忘记密码?</span>
		</header>
		<div class="write-mark" style="">
			<div class="write-code">
				<div class="write-con">
					<div class="pwd-box">
						<input type="tel" maxlength="6" class="pwd-input" id="pwd-input">
						<div class="fake-box">
							<input type="password" readonly="" />
							<input type="password" readonly="" />
							<input type="password" readonly="" />
							<input type="password" readonly="" />
							<input type="password" readonly="" />
							<input type="password" readonly="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

