<!-- 私募基金产品详情
 @author zhangyanping 2019-11-25 
-->

<!DOCTYPE html>
<html lang="en">
<head>
	@@include('@pathInclude/views/meta.html')
    <link rel="stylesheet" href="/financial/static/css/privatePlacement/privatePlacementDetail.css">
	<title></title>
</head>
<body>

	<div class="privatePlacementDetail">
		@@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#595E6F,#1C2135","showType":"1","pathName":"产品详情"})
		<div class="privateDetailTitle">
			<div class="productName">(银杏43号) 恒天财富稳季隆私募投资基金</div>
			<p class="introduction">这里是一句话产品详情介绍</p>
			<div class="privateDetailList">
				<div class="netValueWord"><span class="iconfont">&#xe60a;</span>单位净值(元)((09-21))</div>
				<div class="mui-row productInfoList">
					<div class="mui-col-xs-6">
						<span class="netValue">1.0000</span>
					</div>
					<div class="mui-col-xs-3">
						<p>起投金额</p>
						<p class="investmentAmount">100万</p>
					</div>
					<div class="mui-col-xs-3">
						<p>产品期限</p>
						<p class="productDeadline">3个月</p>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
</body>
	@@include('@pathInclude/views/footer.html')
    <script src="/financial/static/js/privatePlacement/privatePlacementDetail.js"></script>
</html>