<!-- 私募基金产品详情
 @author zhangyanping 2019-11-25 
-->

<!DOCTYPE html>
<html lang="en">
<head>
	@@include('@pathInclude/views/meta.html')
	<link rel="stylesheet" href="/financial/static/css/privatePlacement/privatePlacementDetail.css">
	<title></title>
</head>
<body>

	<div class="privatePlacementDetail">
		@@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#595E6F,#1C2135","showType":"1","pathName":"产品详情"})
		<div class="privateDetailTitle">
			<!-- 产品基金名称 -->
			<div class="productName"></div>
			<p class="introduction"></p>
			<!-- 单位净值、起投金额、产品期限 -->
			<div class="privateDetailList">
				<div class="netValueWord"><span class="iconfont">&#xe60a;</span>单位净值(元)(<span class="netValueDate"></span>)</div>
				<div class="mui-row productInfoList">
					<!-- 单位净值 -->
					<div class="mui-col-xs-6">
						<span class="netValue"></span>
					</div>
					<!-- 起投金额 -->
					<div class="mui-col-xs-3 investmentList">
						<p class="investmentAmountTip">起投金额</p>
						<p class="investmentAmountNum"></p>
					</div>
					<!-- 产品期限 -->
					<div class="mui-col-xs-3 investmentList">
						<p class="productDeadlineTip">产品期限</p>
						<p class="productDeadlineNum"></p>
					</div>
				</div>
				<div class="productLabel">
					<!-- <span>关注度高</span>
					<span>电子合同</span>
					<span>可转让</span> -->
				</div>
			</div>
			<div class="appointment">预约资质：<span></span></div>
		</div>
		<div class="mui-content midContent">
			<div class="content">
				<div class="tabsBox">
					<div class="tabs">
						<li class="active">基本信息</li>
						<li>交易须知</li>
						<li>产品材料</li>
					</div>
				</div>
				<div class="wrap">
					<div class="panel panel1 active">
						<!-- 私募基金产品详情折线图 -->
						<div class="hide lineWrap">
				 			<div class="clearfix titleWrap typeNo5Wrap">
				 				<span class="title qrnh">历史业绩走势</span>
				 				<div class="arrow">
				 					<span class="img"></span>
				 				</div>
				 				<span class="rightTitle" id="historyDetailBtn">历史明细</span>
				 			</div>
				 			<div class="lineDraw">
				 				<!-- 七日年化折线图 -->
				 				<div id="qrnhLine" class="line"></div>
				 				<!-- 无数据提示 -->
				 				<div class="hide noDataHintEcharts">暂无数据</div>
				 				<div class='mui-row tab'>
				 					<span class="mui-col-sm-3 mui-col-xs-3 time oneMonth" num="0">近一个月</span>
				 					<span class="mui-col-sm-3 mui-col-xs-3 time threeMonth" num="1">近三个月</span>
				 					<span class="mui-col-sm-3 mui-col-xs-3 time newYear active" num="3">近一年</span>
				 					<span class="mui-col-sm-3 mui-col-xs-3 time sinceNow" num="4">成立至今</span>
				 				</div>
				 			</div>
				 		</div>

						<div class="basic">
							<div class="name">产品信息</div>
							<div class="contentWrap">
								<div class="content">
									<ul class="contentUl">
										<li>剩余额度</li>
										<li class="changgeRight">3000万</li>
									</ul>
									<ul class="contentUl">
										<li>募集起截止日</li>
										<li class="changgeRight">2019.10.01～2019.12.1</li>
									</ul>
									<ul class="contentUl">
										<li>管理人</li>
										<li class="changgeRight">恒天中岩投资管理有限公司</li>
									</ul>
									<ul class="contentUl">
										<li>风险等级</li>
										<li class="changgeRight">平衡级</li>
									</ul>
									<ul class="contentUl">
										<li>发行规模</li>
										<li class="changgeRight">20000万</li>
									</ul>
									<ul class="contentUl">
										<li>投资方向</li>
										<li class="changgeRight">债券投资</li>
									</ul>
									<ul class="contentUl">
										<li>投资领域</li>
										<li class="changgeRight">长期债券</li>
									</ul>
									<ul class="contentUl">
										<li>投资方式</li>
										<li class="changgeRight">工商企业</li>
									</ul>
									<ul class="contentUl">
										<li>收益分配方式</li>
										<li class="changgeRight">类固收</li>
									</ul>
								</div>
								<div class="textContent">
									<div class="textTitle">产品亮点</div>
									<div class="detailText">
										文本占位文本占位文本占位文本占位文本占位
										文本占位文本占位文本占位文本占位文本占位
										文本占位文本占位文本占位文本占位文本占位
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel2">
						<div class="textContent">
							<div class="textTitle">产品费率</div>
							<div class="detailText">
								<div class="content">
									<p class="contentTitle">产品推介书<span>2019-11-11</span></p>
									<p class="contentLink">凯丰宏观策略13号证券投资私募基金.pdf</p>
								</div>
							</div>
						</div>
						<div class="basic">
							<div class="name">产品信息</div>
							<div class="contentWrap">
								<div class="content">
									<ul class="contentUl">
										<li>剩余额度</li>
										<li class="changgeRight">3000万</li>
									</ul>
									<ul class="contentUl">
										<li>募集起截止日</li>
										<li class="changgeRight">2019.10.01～2019.12.1</li>
									</ul>
									<ul class="contentUl">
										<li>管理人</li>
										<li class="changgeRight">恒天中岩投资管理有限公司</li>
									</ul>
									<ul class="contentUl">
										<li>风险等级</li>
										<li class="changgeRight">平衡级</li>
									</ul>
									<ul class="contentUl">
										<li>发行规模</li>
										<li class="changgeRight">20000万</li>
									</ul>
									<ul class="contentUl">
										<li>投资方向</li>
										<li class="changgeRight">债券投资</li>
									</ul>
									<ul class="contentUl">
										<li>投资领域</li>
										<li class="changgeRight">长期债券</li>
									</ul>
									<ul class="contentUl">
										<li>投资方式</li>
										<li class="changgeRight">工商企业</li>
									</ul>
									<ul class="contentUl">
										<li>收益分配方式</li>
										<li class="changgeRight">类固收</li>
									</ul>
								</div>
								<div class="textContent">
									<div class="textTitle">产品亮点</div>
									<div class="detailText">
										文本占位文本占位文本占位文本占位文本占位
										文本占位文本占位文本占位文本占位文本占位
										文本占位文本占位文本占位文本占位文本占位
									</div>
								</div>
							</div>
						</div>
						
					</div>
					<div class="panel panel3">
						<div class="textContent">
							<div class="textTitle">产品介绍信息</div>
							<div class="detailText">
								<div class="content">
									<p class="contentTitle">产品推介书<span>2019-11-11</span></p>
									<p class="contentLink">凯丰宏观策略13号证券投资私募基金.pdf</p>
								</div>
							</div>
						</div>
						<div class="textContent">
							<div class="textTitle">产品介绍信息</div>
							<div class="detailText">
								<div class="content">
									<p class="contentTitle">产品推介书<span>2019-11-11</span></p>
									<p class="contentLink">凯丰宏观策略13号证券投资私募基金.pdf</p>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>		
		</div>
		<div class="investmentTip">投资前请您认真阅读《基金合同》《招募说明书》《风险揭示书》等法律文件，了解产品风险，基金过往业绩不预示未来表现，理财有风险，投资需谨慎。</div>

		<div class="immediatelyBuy">
			<div class="buyRate">认购/申购费率 0%</div>
			<div class="buyButton">立即预约</div>
		</div>
		
	</div>
	
</body>
	@@include('@pathInclude/views/footer.html')
	<script src="/include/js/vendor/echarts/echarts.min.js"></script>
	<script src="/financial/static/js/privatePlacement/privatePlacementDetail.js"></script>
</html>