<!--
	*baidu推广页
	*zhangyanping 2017/12/5
-->
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="applicable-device" content="mobile">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>专业可靠的理财平台-恒天财富</title>
	<link rel="stylesheet" href="/about/static/css/baidu/baidu.css">
</head>
<body>
	<!-- @@include('../../common/views/load.html') -->
	<div class="baidu">
		<div class="banner">
			<img src="/about/static/img/baidu/banner.jpg" alt="">
		</div>
		<div class="feature">
			<img src="/about/static/img/baidu/feature.jpg" alt="">
		</div>

		<div class="resource clearfix">
			<div class="images">
				<img src="/about/static/img/baidu/resource.jpg" alt="">
				<p class="text">通过全生命周期风险管理体系，优中选优，为您提供包含股权投资、债权投资、二级市场、海外投资及公募理财等全品类高端理财产品。</p>
			</div>
			<div class="deploy resource_01">
				<img src="/about/static/img/baidu/resource_01.jpg" alt="">
				<!-- <a href="/about/views/baidu/consult.html?type=consult" class="btn">立即咨询</a> -->
				<a onclick="setGoUrl(site_url.consult_url+'?type=consult', '')" class="btn">立即咨询</a>
			</div>
			<div class="deploy resource_02">
				<img src="/about/static/img/baidu/resource_02.jpg" alt="">
				<!-- <a href="/about/views/baidu/consult.html?type=consult" class="btn">立即咨询</a> -->
				<a onclick="setGoUrl(site_url.consult_url+'?type=consult', '')" class="btn">立即咨询</a>
			</div>
			<div class="deploy resource_03">
				<img src="/about/static/img/baidu/resource_03.jpg" alt="">
				<!-- <a href="/about/views/baidu/consult.html?type=consult" class="btn">立即咨询</a> -->
				<a onclick="setGoUrl(site_url.consult_url+'?type=consult', '')" class="btn">立即咨询</a>
			</div>
			<div class="deploy resource_04">
				<img src="/about/static/img/baidu/resource_04.jpg" alt="">
				<!-- <a href="/about/views/baidu/consult.html?type=consult" class="btn">立即咨询</a> -->
				<a onclick="setGoUrl(site_url.consult_url+'?type=consult', '')" class="btn">立即咨询</a>

			</div>
		</div>
		<div class="joinClub">
			<div class="clubImg"><img src="/about/static/img/baidu/clubImg.png" alt=""></div>
			<p class="text">恒乐汇是恒天财富提供增值服务的载体，集财富管理、客户服务、增值服务、<br>会员管理系统、媒介于一身的品质服务生态圈。</p>
			<div class="mui-card public">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll">
						<div class="clubBottom">
							<a class="mui-control-item">
								<img src="/about/static/img/baidu/club_01.jpg" />
							</a>
							<a class="mui-control-item">
								<img src="/about/static/img/baidu/club_02.jpg" />
							</a>
							<a class="mui-control-item">
								<img src="/about/static/img/baidu/club_03.jpg" />
							</a>
							<a class="mui-control-item">
								<img src="/about/static/img/baidu/club_04.jpg" />
							</a>
							<a class="mui-control-item">
								<img src="/about/static/img/baidu/club_05.jpg" />
							</a>
							<a class="mui-control-item">
								<img src="/about/static/img/baidu/club_06.jpg" />
							</a>
						</div>
						<div class="clubBottom">
							<a class="mui-control-item">
								<img src="/about/static/img/baidu/club_07.jpg" />
							</a>
							<a class="mui-control-item">
								<img src="/about/static/img/baidu/club_08.jpg" />
							</a>
							<a class="mui-control-item">
								<img src="/about/static/img/baidu/club_09.jpg" />
							</a>
							<a class="mui-control-item">
								<img src="/about/static/img/baidu/club_10.jpg" />
							</a>
							<a class="mui-control-item">
								<img src="/about/static/img/baidu/club_11.jpg" />
							</a>
							<a class="mui-control-item">
								<img src="/about/static/img/baidu/club_12.jpg" />
							</a>
						</div>
					</div>
				</div>
			</div>
			
		</div>

		<div class="report">
			<img src="/about/static/img/baidu/report.jpg" alt="">
			<div class="text">市场展望、历年波动分析、投资组合配置方案让您的投资不再迷茫</div>
			<!-- <a href="/about/views/baidu/consult.html?type=apply" class="button">点击立即获取</a> -->
			<a onclick="setGoUrl(site_url.consult_url+'?type=apply', '')" class="button">点击立即获取</a>
		</div>
		<div class="partner">
			<img src="/about/static/img/baidu/partner.jpg" alt="">
			<!-- <a href="https://wap.chtwm.com/"class="button">前往恒天财富官网</a> -->
			<a onclick="setGoUrl('https:'+'/'+'/wap.chtwm.com/', '')" class="button">前往恒天财富官网</a>
		</div>
		
	</div>

	<div class="baiFoot">
		<p class="comFoot">恒天财富投资管理股份有限公司</p>
		<p class="copyRight">CopyRight©2015-现在  www.chtwm.com</p>
	</div>

	<div class="interact">
		<a class="contact" href="tel:4008980618"><span class="iconfont">&#xe627;</span>联系我们</a>
		<!-- <a href="/about/views/baidu/consult.html?type=consult"><span class="iconfont">&#xe629;</span>预约咨询</a> -->
		<a onclick="setGoUrl(site_url.consult_url+'?type=consult', '')"><span class="iconfont">&#xe629;</span>预约咨询</a>
	</div>

	
</body>
	<script src="@pathIncludJs/vendor/zepto/zepto.js"></script>
	<script src="@pathIncludJs/vendor/root.js"></script>	
	<script src="@pathIncludJs/vendor/mui/mui.min.js"></script>
	<script src="/about/static/js/baidu/consult.js"></script>
	<script>	
	var http_ccnz_id = "1260598543";
		var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		var html = unescape("%3Cspan class='count' id='cnzz_stat_icon_" +http_ccnz_id + "'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol
						+ "s11.cnzz.com/z_stat.php%3Fid%3D" + http_ccnz_id + "%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E");


		document.write(unescape("%3Cspan class='number' id='cnzz_stat_icon_" + http_ccnz_id + "'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol
						+ "s11.cnzz.com/z_stat.php%3Fid%3D" + http_ccnz_id + "%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));

	</script>
</html>

