
<!-- 立即开户/暂不开户弹层 -->
<div class="elasticLayerThree openAccount">
	<div class="elasticWrapper">
		<div class="iconfont close">&#xe60c;</div>
		<div class="public">公募开户</div>
		<div class="elasticTxt">
			<p>小试身手，万元起投</p>
			<p>信息披露，公开透明</p>
			<p>精选优投，披沙拣金</p>
			<p>持基致胜，玩转牛熊</p>
		</div>
		<a href="javascript:;" class="bind">立即开户</a>
		<a href="javascript:;" class="noBind">暂不开户</a>
	</div>
</div>

 
<!-- 立即绑定/暂不绑定弹层 -->
<div class="elasticLayerThree bindNow">
	<div class="elasticWrapper">
		<div class="iconfont close">&#xe60c;</div>
		<span class="iconfont cloud">&#xe68b;</span>
		<div class="elasticTxt">检测到您已开通恒天私募账户及公募交易账户，立即绑定，体验账户资产统一管理</div>
		<a href="javascript:;" class="bind">立即绑定</a>
		<a href="javascript:;" class="noBind">暂不绑定</a>
	</div>
</div>

