<!--/**
 * 会员俱乐部-活动列表-模板页
 * @author  liuhongyu 2019 10-31
 */-->

 <script id="activityList-template" type="text/x-handlebars-template">
    {{#each this}}
        <div class="mui-card">
            <a href="javascript:;" data-id="{{id}}" data-actType="{{actType}}" data-actId="{{actId}}"></a>
            <div class="activityListBox">
                {{#if prizeFlag}}
                <i>{{prize}}</i>
                {{/if}}
                <img class="lazyload" src="/common/img/lazyImgList1.png" data-original="{{actImgUrl}}" data-src="{{actImgUrl}}" alt="">
                {{#if isPlayback}}
                <span class="replayBtn">观看回放</span>
                {{/if}}
            </div>
            <div class="activityListBottomBox">
                    <h5>{{actName}}</h5>
                    {{#if isLive}}
                    <p><i>直播时间</i>{{actPlayStartTim}}至{{actPlayEndTime}}</p>
                    {{else}}
                    <p><i>活动报名时间</i>{{actStartDate}}至{{actEndDate}}</p>
                    {{/if}}
            </div>
        </div>
    {{/each}}
</script>