<div class="app flexbox v_center between">
	<div class="leftBox flexbox">
		<div class="icon"><span class="iconfont">&#xe602;</span></div>
		<div class="intr flexbox v_center vertical">
			<span class="more">恒天财富</span>
			<span class="less">一日托付 一心呵护</span>
		</div>
	</div>
	<a class="rightBox flexbox v_center center" href="javascript:;" onclick="window.location.href=window.commonSetting.downAppUrl">
		下载APP
	</a>
	<div class="close"><span class="iconfont">&#xe60c;</span></div>
</div>
<style>

	.app {
	  width: 100%;
	  height: 4.9rem;
	  position: fixed;
	  z-index: 1000;
	  bottom: 0;
	  background-color: rgba(51, 51, 51, 0.8);
	}

	.app.between {
	  justify-content: space-between;
	}
	.app .leftBox {
	  height: 3rem;
	  margin-left: 3.2rem;
	}
	.app .leftBox .icon {
	  margin-right: 0.8rem;
	}
	.app .leftBox .icon .iconfont {
	  font-size: 2.8rem;
	  color: #f4cf5c;
	}
	.app .leftBox .intr {
	  color: #fff;
	}
	.app .leftBox .intr .more {
	  font-size: 1.2rem;
	}
	.app .leftBox .intr .less {
	  font-size: 1rem;
	}
	.app .rightBox {
	  text-decoration: none;
	  color:#333;
	  width: 7.5rem;
	  background-color: #f4cf5c;
	  height: 2.5rem;
	  margin-right: 2rem;
	  border-radius: 0.3rem;
	}
	.app .close {
	  position: absolute;
	  top: 0.6rem;
	  left: 0.6rem;
	}
	.app .close .iconfont {
	  color: #fff;
	}
</style>
<script>
	var down=document.getElementsByClassName('close')[0];
	down.addEventListener('click',function(){
		document.getElementsByClassName('app')[0].style.display="none";
	});
</script>