
         <div class="tips" id="tips-wrap" style="display: none;">
             <div class="tips-mask"></div>
             <div class="tips-content">
                 <div class="tips-title">
                     <div class="tit">@@pathTitle</div>
                     <a class="iconfont icontips-close"  href="javascript:;">&#xe60c;</a>
                 </div>
                 <ul class="tips-ul" id="real-condition">
					<li class="tips-li">
						<div class="tips-li-left">
							<img class="bank-img" src="/financial/static/img/icon_smrz@2x.png" alt="">
							<div class="bank-name">开通财富账户</div>
						</div>
						<div class="tips-li-right">
							<div class="bank-status">未认证</div>
							<a class="iconfont iconsure"  href="javascript:;">&#xe600;</a>
						</div>
					</li>
                 	<li class="tips-li">
                        <div class="tips-li-left">
                           <img class="bank-img" src="/financial/static/img/icon_fxcp@2x.png" alt="">
                           <div class="bank-name">风险测评</div>
                        </div>
                        <div class="tips-li-right">
                           <div class="bank-status">未风测</div>
                           <a class="iconfont iconsure"  href="javascript:;">&#xe600;</a>
                        </div>                        
                    </li>
					<li class="tips-li">
						<div class="tips-li-left">
							<img class="bank-img" src="/financial/static/img/icon_wsjbxx@2x.png" alt="">
							<div class="bank-name">完善基本信息</div>
						</div>
						<div class="tips-li-right">
							<div class="bank-status">未完善</div>
							<a class="iconfont iconsure"  href="javascript:;">&#xe600;</a>
						</div>
					</li>
					<li class="tips-li">
						<div class="tips-li-left">
							<img class="bank-img" src="/financial/static/img/icon_tzzflrz@2x.png" alt="">
							<div class="bank-name">投资者分类认证</div>
						</div>
						<div class="tips-li-right">
							<div class="bank-status">未认证</div>
							<a class="iconfont iconsure"  href="javascript:;">&#xe600;</a>
						</div>
					</li>
					<li class="tips-li">
						<div class="tips-li-left">
							<img class="bank-img" src="/financial/static/img/icon_tzzflrz@2x.png" alt="">
							<div class="bank-name">合格投资者认证</div>
						</div>
						<div class="tips-li-right">
							<div class="bank-status">未认证</div>
							<a class="iconfont iconsure"  href="javascript:;">&#xe600;</a>
						</div>
					</li>
                 </ul>
                 <div class="tips-btn">
                    一键认证
                 </div>
             </div>
        </div>

