<!-- 底部四个导航 -->

<div class="mui-row bottomNav">

    <div class="mui-col-sm-3 mui-col-xs-3 bottomEle">
        <a class="bottomNavBtn indexPage" href="javascript:;">
            <span class="iconfont">&#xe680;</span>
            <span class="mui-tab-label">首页</span>   
        </a>
    </div>

    <div class="mui-col-sm-3 mui-col-xs-3 bottomEle">
        <a class="bottomNavBtn productUrl" href="javascript:;">
            <span class="iconfont">&#xe67f;</span>
            <span class="mui-tab-label">产品</span>   
        </a>
    </div>

    <div class="mui-col-sm-3 mui-col-xs-3 bottomEle bottomEleAsset">
        <a class="bottomNavBtn" href="javascript:;">
            <span class="iconfont">&#xe682;</span>
            <span class="mui-tab-label">交易</span>
        </a>
    </div>

    <div class="mui-col-sm-3 mui-col-xs-3 bottomEle bottomEleMine">
        <a class="bottomNavBtn" href="javascript:;">
            <span class="iconfont">&#xe681;</span>
            <span class="mui-tab-label">我的</span>
        </a>
    </div>

</div>

