<!-- 通用顶部按钮 -->
<div class="HeadBarConfigBox" id="HeadBarConfigBox" showType="@@showType" serviceType="@@serviceType" bgColors='@@bgColors' iconStype="@@iconStype" linesNum="@@linesNum">
    <a class="iconfont backBtn" href="javascript:void(0);" id="goBack" goBackColor='@@goBackColor'>&#xe634;</a>
    <!-- {{#if @@pathName}} -->
            <span style="display:none" id="HeadBarpathName" data='@@pathName' titleColor='@@titleColor'>@@pathName</span>
    <!-- {{else}} -->
            <!-- <span id="HeadBarpathName"></span> -->
    <!-- {{/if}} -->
    <a class="iconfont customerService" href="javascript:;" id="customerService" goBackColor='@@goBackColor'>&#xe63f;</a>
    <span class="rightBtn"></span>
    
</div>
<div class="zhanweifu">

</div>