<!-- 普通投资者/专业投资者 -->
<div class="elasticLayerFour">
    <div class="elasticWrapper">
        <div class="iconfont close">&#xe60c;</div>
        <section class="title">
            <div class="ttBox">
                <h1>请选择投资者类型</h1>
                <h3>为了更好的保护您的权益</h3>
            </div>
        </section>
        <section class="material">
            <a class="pubPer" href="javascript:;" onclick="window.location.href=site_url.agreementModel_url+'?id=88';">普通和专业投资者区别
            </a>
            <a class="praPer" href="javascript:;" onclick="window.location.href=site_url.agreementModel_url+'?id=88';">普通和专业投资者区别
            </a>
            <a class="org" href="javascript:;" onclick="window.location.href=site_url.agreementModel_url+'?id=87';">普通和专业投资者区别
            </a>
        </section>
        <section class="btnWrap">
            <div class="averageWrap">
                <div class="iconfont avatar">&#xe695;</div>
                <h3>普通投资者</h3>
            </div>
            <span class="line"></span>
            <div class="professionalWrap">
                <div class="iconfont avatar proIcon">&#xe6a1;</div>
                <h3>专业投资者</h3>
            </div>
        </section>
        <section class="sureWrap">
            <button type="button" class="mui-btn sureBtn">确定</button>
            <button type="button" class="mui-btn cancleBtn">取消</button>
        </section>
    </div>
</div>
