<!--/**
 * 明星理财师-理财师列表
 * @author  liuhongyu 2019 11-14
 */-->

 <script id="starFinancialPlannerList-template" type="text/x-handlebars-template">
    {{#each this}}
    <div class="mui-card" code="{{code}}" name={{name}}>
        <div class="starFinancialPlannerListLeftBox">
            <div class="left">
                <div class="starFinancialPlannerPhotoBox">
                    <img class="lazyload" src="/common/img/lazyImgList.png"  data-original="{{imageUrlShowOnline}}" alt="">
                </div>
                <p class="starFinancialPlannerName">
                    {{name}}
                </p>
                <div class="starFinancialPlannerCodeBox">
                    <p class="starFinancialPlannerCodeBg"></p>
                    <p class="starFinancialPlannerCode">{{code}}</p>
                </div>
                
            </div>
            <div class="right"></div>
        </div>
        <div class="starFinancialPlannerListRightBox">
            <div class="certificateBox">
                {{#if isPass}}
                <p class="font1">专业证书</p>
                <i class="icon1"></i>
                <p class="font2">AMAC</p>
                <!-- <i class="icon2"></i>
                <p class="font2">CFA</p> -->
                {{/if}}
            </div>
            <div class="starFinancialPlannerTitleBox">
                {{summary}}
            </div>
        </div>                                    
    </div>
    {{/each}}
</script>