<!-- 
	网站交易密码弹层
-->

<div class="elasticLayerTypeTwo payPassword" style="z-index:100">
	<div class="elasticWrapper">
		<div class="elasticMid">
			<div class="elasticTitle">输入网站交易密码</div>
			<div class="elasticContent">
				<input type="password" class="passInput" placeholder="请输入网站交易密码" maxlength="6"/>
				<a href="javascript:;" class="forgot" onclick="window.location.href=site_url.forgetDealPassword_url;">忘记网站交易密码？</a>
			</div>
			<button class="elasticButtons eventBtn" style="width:100%;">确定</button>
		</div>
		<i class="iconfont close">&#xe60c;</i>
	</div>
</div>

