<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	    <meta name="applicable-device" content="mobile">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black"><meta charset="UTF-8">
		<title>实名认证</title>
		<link rel="stylesheet" href="/user/static/css/realName.css">
	</head>

	<body>
		<div class="container">
			<div class="mui-card marginTop">
				<!--内容区-->
				<div class="mui-card-content">
					<div class="form-wrap"> 
						<div class="form-list">
							<div class="formBox line6">
								<label>客户姓名</label>
								<div class="formList fontName">
									
								</div>
							</div>
						    <div class="formBox line6">
								<label>证件类型</label>
								<div class="formList fontType">
									
								</div>
							</div>
							<div class="formBox line6 noBor">
								<label>证件号码</label>
								<div class="formList fontTel">
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	   
		<script src="/include/js/vendor/zepto/zepto.js"></script>
		<script src="/user/static/js/realName/realNameResult.js"></script>
	</body>

</html>