<!-- 已报名活动
 @author caoqihai 2019-11-18 -->
<!DOCTYPE html>
<html lang="en">

<head>
    @@include('@pathInclude/views/meta.html')
    <link rel="stylesheet" href="/mine/static/css/activityEnrolment.css">

    <title>已报名活动</title>
</head>

<body>
    <div class="container">
        @@include('@pathCommonViews/headBarConfig.html',{"pathName":"已报名活动"})
        <!-- 加载中loading -->
        @@include('@pathCommonCom/loading/listLoading.html')
        <div class="mui-row choice">
            <div class="mui-col-xs-6 active"><span>进行中</span>
                <p></p>
            </div>
            <div class="mui-col-xs-6"><span>已结束</span>
                <p></p>
            </div>
        </div>
        <!-- 有活动 -->
        <div class="dd_radar HasData">
            <ul class="listHasData0">
                <!-- 暂无数据 -->
                @@include('@pathCommonCom/noData/noData.html', {"tipText": "暂无数据"})
            </ul>
            <ul class="listHasData1">
                <!-- 暂无数据 -->
                @@include('@pathCommonCom/noData/noData.html', {"tipText": "暂无数据"})
            </ul>
        </div>
        <!-- 无数据时显示 -->
        <!-- <div class="dd_radar NoData">
            <img src="/mine/static/img/Me_huodog_Empty@2x.png" alt="">
            <p>暂无活动信息</p>
        </div> -->
        <!-- 更多精彩活动 -->
        <div class="more">
            <div class="title">
                <p class="firstp"></p>
                <div>更多精彩活动</div>
                <p class="secondp"></p>
            </div>
            <ul class="moreul">
            </ul>
        </div>
    </div>

    <script id="activityEn-template" type="text/x-handlebars-template">
        {{#each this}}
        <li class="clickli" data-actType="{{actType}}" data-actId="{{actId}}">
            {{#if actTypestatus}}
            <img class="lazyload" src="/common/img/lazyImgList.png" data-original="{{htjfGeneralizeImgUrl}}" alt=""> {{/if}}
            <p>{{actName}}</p>
            {{#if actTypestatus}}
            <div class="sign">
                {{#if preferential}}
                <span class="no">{{preferential}}</span> {{/if}}
            </div>
            {{else}}
            <div class="sign">
                {{#if status}}
                <span class="yes">已签到</span>
                <div>{{arriveTime}}</div>
                {{else}}
                <span class="no">未签到</span> {{/if}}
            </div>
            {{/if}}
            <div class="time">
                <div class="timeco">报名时间&nbsp;{{enterTime}}</div>
                {{#if shareflag}}
                <div class="timeBtn blueBgButton" data-actId={{actId}} data-actType={{actType}}>分享给好友</div>
                {{/if}}
            </div>
        </li>
        {{/each}}
    </script>

    <script id="more-template" type="text/x-handlebars-template">
        <li style="background: url('{{filePath}}')" class="clickli" data-htjfGeneralizeImgUrl="{{htjfGeneralizeImgUrl}}" data-actName="{{actName}}" data-actType="{{linkType}}" data-actId="{{linkUrl}}">
            {{#if prize}}
            <div class="top">
                <span>{{prize}}</span>
            </div>
            {{/if}}
            <p>{{title}}</p>
            {{#if timeflag}}
            <div class="footer">
                <span>报名时间</span>
                <div>{{actStartDate}} 至 {{actEndDate}}</div>
            </div>
            {{/if}}
            <div></div>
        </li>
    </script>
    @@include('@pathInclude/views/footer.html')
    <script src="/mine/static/js/activityEnrolment.js"></script>




</body>

</html>