//私募产品列表及详情样式
//交易主页面及详情页面样式 
@import url("@pathCommonLess/mui/resetMUI.less");
@import url("@pathCommonLess/components/alertBox.less");
@import url("@pathCommonLess/components/elasticLayerTypeTwo.less");
@import url("@pathCommonLess/components/elasticLayerFour.less");
@import url("@pathCommonLess/components/againEnter.less");
@import url("@pathCommonLess/components/noData.less");
//引入重置mui样式的表单样式文件
//@import url("@pathCommonLess/mui/formMUI.less");
//引入重置mui下拉列表样式文件
@import url("@pathCommonLess/mui/selectMUI.less");
@import url("@pathCommonLess/product/productList.less");
//回到顶部的样式
@import url("@pathCommonLess/components/goTopMui.less");

@import url("@pathCommonLess/components/tabScroll.less");

// 选择银行卡,openclose
@import url("@pathCommonLess/components/bankListCom.less");
@import url("@pathCommonLessCom/headBarConfig.less");

//产品材料
.prvMart {
    .contentWrapper {
        overflow: auto;
    }

    #slider .mui-table-view {
        text-align: left;
    }

    .mui-box {
        border-bottom: 1px solid @c008;
        position: relative;
        height: 1.85rem;
        padding-top: .3rem;
        &:last-child {
            border-bottom: none;
        }
    }

    .marBox {
        // padding-right: 2.9rem;

        .item {
            height:.46rem;
            font-size:.32rem;
            .marName {
                height:.46rem;
                font-size:.24rem;
                width:1.4rem;
                height:.38rem;
                background:linear-gradient(220deg,@F5ECD5 0%,@F8EAC9 100%);
                border-radius:4px;
                color: @C4925E;
            }

        }

        .inro {
            color: @c003;
            font-size:.32rem;
            line-height:.45rem;
        }
    }
    .jump {
        position: absolute;
        right: 1.2rem;
        top: 50%;
        transform: translateY(-45%);
        -webkit-transform: translateY(-45%);
        font-size: .3rem;
        color: @c001;
    }

    .mui-slider .mui-segmented-control.mui-scroll-wrapper {
        overflow: auto;
    }

    .mui-slider .mui-segmented-control.mui-scroll-wrapper .mui-scroll.manyItem .mui-control-item {
        margin-right: 1rem;
    }

    .mui-slider .mui-segmented-control.mui-scroll-wrapper .mui-scroll .mui-control-item.mui-active {
        // border-bottom: 0.06rem solid @c006;
        position: relative;
        color: @272727;
        font-weight: bold;
    }
    .mui-slider .mui-segmented-control.mui-scroll-wrapper .mui-scroll .mui-control-item.mui-active::before{
        content: "";
        position: absolute;
        left: 0.25rem;
        bottom: 0;
        width: .5rem;
        height: .06rem;
        background: @C4925E;
    }

    #slider .tab-scroll-action .mui-scroll .mui-table-view-cell {
        margin-bottom: 4rem;
    }
    #slider .tab-scroll-action {
        background: #fff;
        margin-top: 0.18rem;
    }
    #slider .tab-scroll-action .mui-scroll {
        padding-left: .3rem;
    }
    .marDate {
        color: @c003;
        font-size: .24rem;
    }
}
.without .text{
    font-size: .32rem
}
