@import url("../../../include/css/mui.min.css");
@import url('@pathCommonLess/mui/resetMUI.less');
@import url("@pathCommonLess/reset.less");
@import url("@pathCommonLess/color.less");
@import url('@pathCommonLessCom/tabScroll.less');
@import url("@pathCommonLessCom/againEnter.less");
@import url("@pathCommonLessCom/alertBox.less");
@import url("@pathCommonLessCom/headBarConfig.less");
body{
    max-width: 7.5rem;
    background-color: @F7FAFD;
}
span{display: inline-block}
#tabbar{
    background-color: @c005;
}
.mui-segmented-control{
    border: .01rem;
}
.mui-segmented-control-inverted{
    border: .01rem;
    border-top: solid .01rem;
}
#drapUpWrapper{
    margin-top: .18rem;
}
.fileLabel{
    width:1.4rem;
    height:.38rem;
    margin-top: .3rem;
    background:linear-gradient(220deg,rgba(245,236,213,1) 0%,rgba(248,234,201,1) 100%);
    border-radius:.04rem;
    font-size: .24rem;
    font-weight: 400;
    color: @C4925E;
    text-align: center;
    margin-left: .31rem;
    padding: .02rem 0;
}
.fileName{
    margin-top: .1rem;
    margin-left: .31rem;
    color: @c009;
    font-size: .32rem;
    position: relative;
}
#fontSize{
    font-size: .32rem;
    position: absolute;
    top: .15rem;
    right: .3rem;
}
.fileTime{
    margin-left: .31rem;
    font-size: .24rem;
    color:@9B9B9B;
    margin-bottom: .3rem;
}
.borderBottom{
    display:block;
    margin-left: 1rem;
    width: 0.5rem;
    height: 0.06rem;;
    background-color:@C4925E;
    border-radius:.03rem;
}
footer{
    margin-top: .3rem;
    text-align: center;
    font-size: .24rem;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
}