@import url("@pathCommonLess/mui/resetMUI.less");
@import url("@pathCommonLessCom/alertBox.less");
@import url("@pathCommonLessCom/headBarConfig.less");
body{
    max-width: 7.5rem;
    background:@c005;
}
.test{
    color:@BB8E5F;
    width: 0.6rem;
    height: 0.6rem;
    border: 0.01rem solid @BB8E5F;
    border-radius: 50%;
    line-height: 0.6rem;
    text-align: center;
    // font-weight: 600;
}
.testone{
    color:@364D97;
    width: 0.6rem;
    height: 0.6rem;
    border: 0.01rem solid @364D97;
    border-radius: 50%;
    line-height: 0.6rem;
    text-align: center;
    // font-weight: 600;
}
.testoneo{
    color:@59B1D6;
    width: 0.6rem;
    height: 0.6rem;
    border: 0.01rem solid @59B1D6;
    border-radius: 50%;
    line-height: 0.6rem;
    text-align: center;
    // font-weight: 600;
}
.list {
    // margin-top: 1rem;
    .contentWrapper{
        width: 100%;
        height: 100%;
        overflow: hidden;
        .content{
            display: flex;
            width: 100%;
            height: 1.36rem;
            border-bottom:0.01rem solid @c008;
            border-top:0.01rem solid @c008;
            padding-top: 0.4rem;
            font-size:0.24rem;
            font-family:PingFangSC-Regular,PingFang SC;
            font-weight:400;
            color:@c009;
            background: @c005;
            .contentLeft{
                width: 1rem;
                height: 100%;
                margin-left: 0.22rem;
                // .photoleft{
                //     width: 0.6rem;
                //     height: 0.6rem;
                //     border: 0.01rem solid @c028;
                //     border-radius: 50%;
                //     line-height: 0.6rem;
                //     text-align: center;
                // }
            }
            .contentRight{
                width: 5.8rem;
                height: 100%;
                display: flex;
                .contentUl{
                    width: 33.33%;
                    // text-align: center;
                    .changeColor{
                        color: @9B9B9B;
                    }
                }
                .leftUl{
                    text-align: left;
                }
                .centerUl{
                    text-align: center;
                }
                .rightUl{
                    text-align: right;
                    // display: none;
                }
            }
        }
        .nodata{
            margin-top: 0.4rem;
            text-align: center;
            display: none;
        }
    }
}

.v_center{
    margin-top:4rem;
}
.mui-table-view-cell{
    padding: 0;
}