<!-- 售前告知书展示 -->
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="/productPrivate/static/css/openPdf.css">
  	<title>售前告知书</title>
</head>
<body>
<!-- @@include('../../common/views/load.html') -->

		<section id="openPdf">
			<section id="canvasBox">
				<!-- canvas容器 -->
			</section>
			
		</section>
		<section class="btnBox">
			<div class="btn">阅读并同意</div>
		</section>


	

	 
	 
	<!-- <script src="/include/js/vendor/jquery/jquery1.12.3.js"></script> -->
	<script src="/include/js/vendor/pdf/pdf.js"></script>
	 @@include('@pathInclude/views/footer.html')
	<script src="/productPrivate/static/js/openPdf.js"></script>
</body>
</html>