<!--私募详情页 

	* 添加埋点 
	@ author ping 2019-2-20

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="/productPrivate/static/css/prdPrv.css">
  	<title>产品详情</title>
</head>
<body>

@@include('../../common/views/load.html')
<section class="container">
    <div class="prdPrvDetail"> 
      <!-- <div id="pullDown">
        <span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新...</span>
      </div> -->
		<div class="mui-card">
			<div class="card-head fundName">--</div>
			<!--固收类产品-->
		  	<div class="card-theme invSolid mui-row noBor">
		  		<div class="mui-col-xs-4 left">
		  			<p class="inv invCore">--</p>
		  		</div>
		  		<div class="mui-col-xs-4 center">
		  			<p class="inv invDate center">--</p>
		  		</div>
		  		<div class="mui-col-xs-4 right">
		  			<p class="inv invStart">--</p>
		  		</div>
		  	</div>
		  	<div class="card-theme invSolid mui-row noBor">
		  		<div class="mui-col-xs-4 left">
		  			<p class="text">业绩比较基准</p>
		  		</div>
		  		<div class="mui-col-xs-4 center">
		  			<p class="text">投资期限(月)</p>
		  		</div>
		  		<div class="mui-col-xs-4 right">
		  			<p class="text">起投金额(万)</p>
		  		</div>
		  	</div>
		  	<!--浮收类产品-->
		  	<div class="card-theme invFloat mui-row noBor">
		  		<div class="mui-col-xs-5 left">
		  			<p class="inv invCore">--</p>
		  		</div>
		  		<div class="mui-col-xs-3 center">
		  			<p class="inv invDate center">--</p>
		  		</div>
		  		<div class="mui-col-xs-4 right">
		  			<p class="inv invStart">--</p>
		  		</div>
		  	</div>
		  	<div class="card-theme invFloat mui-row noBor">
		  		<div class="mui-col-xs-5 left">
		  			<p class="text ">
		  				<span class="applyBuy">单位净值(元)</span>
		  				<i class="iconfont tipIcon">&#xe60a;</i>
		  			</p>
		  		</div>
		  		<div class="mui-col-xs-3 center">
		  			<p class="text center blackoutPeriod">封闭期(<span></span>)</p>
		  		</div>
		  		<div class="mui-col-xs-4 right">
		  			<p class="text data">起投金额(万)</p>
		  		</div>
		  	</div>
		  	
		  	<div class="card-foot center Pic mg19">
		  		<a href="javascript:;" class="lightPoint iconfont">产品亮点</a>
		  	</div>
		  	<div class="card-foot noPic mg19">
		  		<span class="lightPoint noIcon">产品亮点：<span class="lightText"></span></span>
		  	</div>
		</div>
	  	<div class="mui-card invSolid">
		  	<div class="card-head">业绩比较基准说明</div>
		  	<div class="card-theme intro noBor">
		  		<ul class="levelBox"> 
		  			
		  		</ul>
		  	</div>
	 	</div>
	  	<div class="mui-card invDraw">
		  	<div class="card-theme netValue noBor">
		  		<ul>
		  			<li class="netHead noBot"><span class="invRange">单位净值走势</span><span class="beforeValue"><i class="iconfont">&#xe617;</i>历史净值<span class="iconfont icon">&#xe67d;</span></span></li>
		  			<li class="lineWrapper">
		  				<!--净值曲线-->
		  			</li>
		  			<li class="clearfix">
		  				<div class="line">
							<div class="lineMiddle mui-row">
								<!-- 默认为1个月 -->
								<div class="timeBtn mui-col-sm-4 mui-col-xs-4 active" time="180">半年</div>
								<div class="timeBtn mui-col-sm-4 mui-col-xs-4" time="360">一年</div>
								<div class="timeBtn mui-col-sm-4 mui-col-xs-4" time="9999">成立以来</div>
							</div>
						</div>
		  			</li>
		  		</ul>
		  	</div>
	  	</div>
	  	<div class="mui-card">
		  	<div class="card-head">产品简介</div>
		  	<div class="card-theme intro noBor">
		  		<ul>
		  			<li><span class="invRange">风险等级</span><span class="invResult risk invResult1"><i class="iconfont">&#xe622;</i><i class="iconfont">&#xe622;</i><i class="iconfont">&#xe622;</i><i class="iconfont">&#xe622;</i><i class="iconfont">&#xe622;</i><span>--</span></span></li>
		  			<li class="manageWrap"><span class="invRange">管理机构</span><span class="invResult office invResult1">--</span></li>
		  			<li><span class="invRange">发行规模</span><span class="invResult size invResult1">--</span></li>
		  			<li class="noBot"><span class="invRange">募集时间</span><span class="invResult getDate invResult1">--</span></li>
		  		</ul>
		  	</div>
	  	</div>
	  	<div href="javascript:;" class="mui-card invMartical">
		  	<div class="card-theme martical noBor">
		  		<ul>
		  			<li><span class="invRange">产品材料</span><span class="iconfont next">&#xe600;</span></li>
		  		</ul>
		  	</div>
	  	</div>
	  	
		<!-- 两网合一 公募产品详情页底部 start -->
		<div class="content">
			<p class="title">基金销售服务由北京恒天明泽基金销售有限公司提供</p>
			<p class="txt">投资前请您认真阅读基金合同、招募说明书、风险揭示书等法律文件，了解产品风险，基金过往业绩不预示其未来表现，理财有风险，投资需谨慎。</p>
		</div>
		<!-- 两网合一 公募产品详情页底部 end -->
    </div>
    <div class="mui-btn bottom over">已售罄</div>
    <div class="mui-btn bottom bg">
    	<div class="help">
    		<i class="iconfont">&#xe690;</i>
    		<p class="text">咨询热线</p>
    	</div>
    	<div class="btn">立即预约</div>
    </div>
    <div class="mui-btn bottom reservation">
    	<div class="help">
    		<i class="iconfont">&#xe690;</i>
    		<p class="text">咨询热线</p>
    	</div>
    	<div class="rightBtn">
	    	<div class="already">已预约</div>
	    	<div class="detail">查看明细</div>
    	</div>
    </div>
  </section>
  <div class="mask">
  	  <div class="telDialog">
	  	<div class="telBg">
	  		<img src="/productPrivate/static/img/apFinal.png" alt="预约理财师" />
	  	</div>
	  	<div class="prdInfo existMain">
	  		<ul>
	  			<li class="head">国海金贝壳金堂4号</li>
	  			<li class="prdNum">000106</li>
	  		</ul>
	  		<div class="finacial less">
	  			<div class="mui-card server center">
	  				<p class="text cardText">请告知理财师此基金名称和基金代码</p>
		  			<p class="text telText">欢迎致电客服热线:<img src="/productPrivate/static/img/tel.gif"/><a href="javascript:;" class="tel telHref"></a></p>
		  			<!-- <p class="workText text">请告知理财师此基金名称和基金代码</p> -->
		  			<p class="workTime">工作日：09:00-20:00 双休日：09:00-18:00</p>
	  			</div>
	  			<div class="mui-card main center">
		  			<p class="text telText">欢迎致电理财师<span class="name"></span>:<img src="/productPrivate/static/img/tel.gif"/><a href="javascript:;" class="tel telHref"></a></p>
		  			<p class="text">请告知理财师此基金名称和基金代码</p>
	  			</div>
	  		</div>
	  	</div>
	  	<div class="prdInfo noMain">
	  		<ul>
	  			<li class="head">国海金贝壳金堂4号</li>
	  			<li class="prdNum">000106</li>
	  			<li class="text">服务理财师 为您服务</li>
	  			<li class="text talk">请告知理财师此基金名称和基金代码</li>
	  		</ul>	  
	  		<div class="finacial"> 
	  			
	  		</div>
	  	</div>
	  </div>
  </div>
  <div class="againEnter">
      <button class="tipWrapper"></button>
  </div>   
  <!-- 弹层 -->
  @@include('../../common/views/plainOrMajor.html')
  <script id="prvLevel" type="text/x-handlebars-template">
	  {{! 左侧页面列表}}
	  {{#each this}}
	  		{{#if bool}}
	    		<li><span class="invRange">{{benifitLowerLimit}}万(含)-{{benifitUpperLimit}}万</span><span class="invResult">{{benifitRate}}%</span></li>
	  		{{else}}
	  			<li><span class="invRange">{{benifitLowerLimit}}万(含)以上</span><span class="invResult">{{benifitRate}}%</span></li>
	  		{{/if}}
	  {{/each}}
  </script> 
  <script id="finacialMore" type="text/x-handlebars-template">
	  {{! 左侧页面列表}}
	  {{#each this}}
	    <div class="mui-card bor">
			<div class="card-head">
				<span class="iconfont">&#xe685;</span><span class="name">{{codeName}}</span>
			</div>
			<div class="card-theme noBor">
				<ul>
					<li class="clearfix"><span class="invRange">工号</span><span class="invResult">{{empNo}}</span></li>
					<!-- <li class="clearfix"><span class="invRange">手机</span><a href="tel:{{mobile_tel}}" class="invResult tel"><img src="/productPrivate/static/img/tel.gif"/>{{mobile_tel}}</a></li> -->
					<li class="clearfix noBot"><span class="invRange">所属公司</span><span class="invResult">{{dptName}}</span></li>
				</ul>
			</div>
		</div>
	  {{/each}}
  </script> 

   
   @@include('@pathInclude/views/footer.html')
  <script src="/include/js/iscroll.js"></script>
   
  <!--    -->
  <!-- 添加埋点 -->
  @@include('@pathInclude/views/header.html')
  <script src="/productPrivate/static/js/prvDetail.js"></script>
</body>
</html>