<!--/**
 * 产品材料列表
 * @author  zhangweipeng 2017-03-10
 */-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/productPrivate/static/css/prdPrv.css">
  	<title>产品材料</title> 
</head>
<body>
	@@include('../../common/views/load.html')
	<!-- 加载中loading -->
	@@include('../../common/views/loading/listLoading.html')

	<!-- 暂无数据 -->
	@@include('../../common/views/noData.html')


	<div class="mui-content midContent prvMart"> 
		<!-- 放置页面内容 -->

	</div>	

	<script id="wrap-template" type="text/x-handlebars-template">
		{{! 列表 内容 使用mui的上拉加载}}
		<div class="list">
			{{! list是包裹上拉加载区域的，在js中计算当前页面中的list高度，不能超出一屏}}

			{{! 初始化上拉加载区域，使用contentWrapper class}}
			{{! contentWrapper 需要添加样式，具体见less文件}}
			<div class="contentWrapper">

				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
					{{! 所有内容  需要放在这个li里，且里面不能再用Li元素}}
					{{{content}}}

					</li>
				</ul>

				<!-- 返回顶部 -->
				@@include('../../common/views/goTop.html')
				
			</div>
		</div>
	</script>


	<!-- 列表模板 -->
	<script id="prvMar-template" type="text/x-handlebars-template">
		{{#each this}}
			{{#if line}}
				<div href="{{href}}" class="mui-box">
					<div class="marBox">
						<div class="clearfix item">
							<span class="marName">{{name}}</span><span class="marDate">{{createDate}}</span>
						</div>
						<div class="inro ellipsis">{{marName}}</div>
					</div>
					<i class="iconfont jump">&#xe67d;</i>
				</div>
			{{else}}
				<div href="{{href}}" class="mui-box">
					<div class="marBox">
						<div class="clearfix item">
							<span class="marName">{{name}}</span><span class="marDate">{{createDate}}</span>
						</div>
						<div class="inro ellipsis">{{marName}}</div>
					</div>
					<i class="iconfont jump">&#xe67d;</i>
				</div>
			{{/if}}
		{{/each}}
	</script>

	<script src="/include/js/vendor/zepto/zepto.js"></script>
  	<script src="/include/js/vendor/root.js"></script>
  	<script src="/include/js/vendor/handlebar/handlebars.js"></script>
  	<script src="/include/js/vendor/mui/mui.min.js"></script>
  	<script src="/productPrivate/static/js/prvMar.js"></script>
</body>