/**重置mui框架样式
 * @author yangjinlai 2017-02-14
 */

@import url("../reset.less");
@import url("../color.less");



//按钮
.mui-btn{
	font-weight: normal;
	padding: 0;
    display: block;
    border: none;
}


input[type],textarea{
    border: none;
    margin-bottom: 0;
    border-radius: 0;
    padding: 0;
    color: @c002;
    height: 0.8rem;
}
textarea{
    height:0.4rem;
}
.mui-input-row
    .mui-input-clear~.mui-icon-clear,
    .mui-input-password~.mui-icon-eye,
    .mui-input-speech~.mui-icon-speech{
        color: inherit;
        width: 0.32rem;
        margin-right: 0.24rem;
        line-height: 100%;
        font-weight: normal;
        height: 100%;
        margin-top: 0.24rem;
       // position: relative;
        top: 0;
        right: 0;
    }


.mui-poppicker{
    -webkit-transform: none;
    transform: none;
}

.mui-btn.mui-active:enabled,
.mui-btn:enabled:active,
button.mui-active:enabled,
button:enabled:active,
input[type=button].mui-active:enabled,
input[type=button]:enabled:active,
input[type=reset].mui-active:enabled,
input[type=reset]:enabled:active,
input[type=submit].mui-active:enabled,
input[type=submit]:enabled:active{
    color: @c005;
    background-color: @c006;
}

.mui-btn,
button,
input[type=button],
input[type=reset],
input[type=submit]{
    -webkit-transition: none;
    transition: none;
}


.mui-table-view{
    background: transparent;
}

.mui-card .mui-table-view .mui-table-view-cell:last-child,
.mui-card .mui-table-view .mui-table-view-divider:last-child{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.mui-card .mui-table-view .mui-table-view-cell:first-child,
.mui-card .mui-table-view .mui-table-view-divider:first-child{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
    color: @c006;
}

.mui-btn-blue.mui-active:enabled,
.mui-btn-blue:enabled:active,
.mui-btn-primary.mui-active:enabled,
.mui-btn-primary:enabled:active,
input[type=submit].mui-active:enabled,
input[type=submit]:enabled:active{
    border: 0;
}

.mui-input-row label{
    font-family: "Microsoft YaHei", Arial, "Helvetica";
}


//底部当前颜色
.mui-bar-tab .mui-tab-item.mui-active{
    color: @c006;
}
.mui-bar-tab .mui-tab-item .mui-icon{
    font-size: 0.48rem;
    margin-bottom: 0.1rem;
}
.mui-bar-tab .mui-tab-item{
    color: @c005;
    height: 100%;
}


//开关
// .mui-switch.mui-active{
//     background-color: @c013;
//     border: 0.02rem solid  @c013;
// }


//选项卡 公募/私募
.publicOrPrivate{

    padding: 0.18rem 0;
    background: @c002;

    .mui-segmented-control{
        //width: 2.4rem;
        //height: 0.5rem;
        //line-height: 0.5rem;
        border: none;
        border-radius: 0.5rem;
        margin: 0 auto;
        width: auto;


        .publicOrPrivateBtn{
            color: @c005;
            border: 0.02rem solid @c005;
            width: 1.2rem;
            line-height: 2;
            text-align: center;
            display: table-cell;

            &:first-child{
                border-bottom-left-radius: 0.5rem;
                border-top-left-radius: 0.5rem;
                border: 0.02rem solid @c005;
            }
            &:last-child{
                border-bottom-right-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                border: 0.02rem solid @c005;
                //border-left: none;
            }

            &.mui-active{
                background-color: @c006;
                border: 0.02rem solid @c006;
            }
        }
    }
    .mui-icon{
        display:none;
    }
}



//上拉加载的样式
.mui-pull{
    color: @c001;
}
@keyframes loading {
  from {
    transform: rotate(0deg) translateZ(0);
  }
  to {
    transform: rotate(360deg) translateZ(0);
  }
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}
.mui-spinner{

    vertical-align: middle;
    animation: none;
    -webkit-animation: none;
    width: auto;
    height: auto;

    &.mui-pull-loading{

        transform: rotate(0deg) translateZ(0);
        transition-duration: 0ms;
        animation-name: loading;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        -webkit-transform: rotate(0deg) translateZ(0);
        -webkit-transition-duration: 0ms;
        -webkit-animation-name: loading;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
    }

    &:after{
        background-image: inherit;
        content: '\e602' ;
        font-family: iconfont;

       color: @c006;
       font-size: 0.4rem;
       transform-origin: 50%;
       vertical-align: middle;
       display: block;
    }
}


//卡片视图的样式
@import url("../components/card.less");
//轮播图的样式
@import url("../components/sliderMui.less");
//开关
@import url("../components/switch.less");
//大黄色按钮
@import url("../components/button.less");
//单选框
@import url("../components/radio.less");
//复选框
@import url("../components/checkbox.less");

@import url("../components/privateOrPublicTwo.less");

/* mui下拉刷新有一条灰线重置掉 */
.mui-table-view:before{
    height:0;
}