// 我的账户（合并、未合并）

//引入mui
@import url("../../../include/css/mui.min.css");
@import url("../../../common/less/reset.less");
@import url("../../../common/less/color.less");
@import url("../../../common/less/mui/resetMUI.less");
@import url("../../../common/less/mui/selectMUI.less");
@import url("../../../common/less/mui/newFormMui.less");
@import url("../../../common/less/components/alertBox.less");
//@import url("../../../common/less/app.less");
@import url("../../../common/less/components/againEnter.less");
@import url("../../../common/less/components/bottomNav.less");
@import url("../../../common/less/components/elasticLayerThree.less");
@import url("../../../common/less/components/elasticLayerTypeTwo.less");


//引入重置mui样式的表单样式文件
//@import url("../../../common/less/mui/formMUI.less");


.container{
	position: relative;
	padding-bottom: 5.7rem;
}


// 公募监管账户
.regulatoryAccounts{
	margin-top: 0.8rem;
	// 恒天明泽归集账户。
	.accountName{
		height: 4rem;
		line-height: 4rem;
		font-size: 1.6rem;
		color: @c002;
		border-bottom: 1px solid @c004;
	}
	// 账户的详细信息
	.accountDetail{
		margin-top: 1.2rem;
		font-size: 1.4rem;
		color: @c003;
		p{
			padding-bottom: 1.2rem;
			span{
				float: right;
				margin-right: 1.6rem;
			}
		}
	}
	// 提示
	.prompt{
		padding: 0.8rem 1.6rem 0;
		font-size: 1rem;
		.tip{
			color: @c002;
		}
		.content{
			color: @c003;
			line-height: 1.8rem;
		}
	}
}



.intro{
	background: @c005;
	padding: 1.2rem 0 0 1.2rem;
	font-size: 1.2rem;
	color: @c003;
	span{
		font-size: 1.3rem;
		color: @c002;
	}
}
