// 月度报告列表页
// @author 蔡文琦  2019-11-11

@import url("../../../include/css/mui.min.css");
@import url('@pathCommonLess/mui/resetMUI.less');
@import url("@pathCommonLess/reset.less");
@import url("@pathCommonLess/color.less");

@import url("@pathCommonLessCom/againEnter.less");
@import url("@pathCommonLessCom/alertBox.less");

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: .88rem;
    a{
//      font-family: PingFangSC-Semibold;
        font-size: .36rem;
    }
    .title{
        font-size: .44rem;
    }
}
.list-wrap{
    .timeTitle{
//      margin-top: .5rem;
        height: .5rem;
        line-height: .5rem;
        padding-left: .5rem;
        font-size: .11rem;
        background-color: rgb(250,252,254);
    }
    .mui-table-view{
        font-size: .11rem;
        background-color: white;
    }
    .mui-table-view-cell{
        p{
            display: flex;
            justify-content: space-between;
        }
    }
    a{
        font-size:.11rem;
    }
}
.isLogin{
    font-size: .40rem;
}
