// 月度报告列表页
// @author zhangyanping 2019-11-01

@import url("../../../include/css/mui.min.css");
@import url('@pathCommonLess/mui/resetMUI.less');
@import url("@pathCommonLess/reset_750.less");
@import url("@pathCommonLess/color.less");

@import url("@pathCommonLessCom/againEnter_750.less");
@import url("@pathCommonLessCom/alertBox_750.less");


// 样式重置
.adjustmentRecord {
    .contentWrapper {
        height: 100%;
        overflow: hidden;

        .recordList {
            padding: 0;

			// 最后一个list样式被遮了
            &>ul:last-child{
            	margin-bottom: 0.2rem;
            }
        }
    }

    .mui-card {
        padding-left: 0;
    }

    .mui-table-view-cell.mui-active {
        background-color: @c005;
    }

    .mui-table-view-cell>a:not(.mui-btn).mui-active {
        background-color: @c005;
    }

    .latestAdjustment.mui-card {
        box-shadow: none;
    }

    .mui-table-view-cell.mui-collapse .mui-collapse-content {
        margin-top: 0;
    }

    .mui-table-view:after {
        height: 0;
    }

    .mui-table-view-cell:after {
        height: 0;
    }





    // 隐藏头部
    h2 {
        display: none;
    }

    .reason {
        &:after {
            .leftIndentLine();
        }
    }

}

// 持仓详情
.latestAdjustment {
    padding: 0 0.32rem 0.16rem 0.32rem;
    color: @c002;
    text-align: left;
    margin-bottom: 0.4rem;
    font-size: 0.28rem;

    h2 {
        height: 0.96rem;
        line-height: 0.96rem;
        font-size: 0.32rem;
        // padding-bottom: 0.14rem;
        // padding-top: 0.28rem;

        .date {
            font-size: 0.24rem;
            margin-left: 0.16rem;
        }

        .more {
            padding-top: 0.06rem;
            float: right;
            font-size: 0.24rem;
            color: @c003;
            vertical-align: middle;
            .iconfont{
                font-size: 0.24rem;
            }
        }
    }

    .reason {
        padding-top: 0.16rem;
        padding-bottom: 0.16rem;
        color: @c003;
        position: relative;


        &:before {
            .fullLine();
            height: 0;
            top: 0;
        }
    }

    .mui-row {
        position: relative;
        height: 0.98rem;

        span {
            padding-top: 0.16rem;
            font-size: 0.24rem;
        }

        &:after {
            .leftIndentLine();
        }

        &:last-child {
            &:after {
                content: none;
            }

        }

        // 红色
        .redColor {
            color: @c010;
        }

        .greenColor {
            color: @c051;
        }
    }

    .detailT {
        text-align: right;
        position: relative;
        line-height: 0.72rem;
        color: @c003;
        font-size: 0.24rem;

        span {
            &:first-child {
                text-align: left;
            }
        }
    }

    .listDiv .ellipsis {
        display: block;
        font-size: 0.28rem;
    }

    .listDiv{
        .alignR, .alignC {
            padding-top:0.2rem;
        }
    } 
}

// 标题
.combiT {
    font-size: 0.32rem;
    line-height: 0.8rem;
    margin-top: 0.16rem;
}

.iconBase() {
    font-family: "iconfont";
    content: '\e600';
    position: absolute;
    top: 0;
    left: 0;
    color: @c002;
}

// 左对齐
.alignL {
    text-align: left;
}

// 右对齐
.alignR {
    text-align: right;
}
.alignC{
    text-align: center;
}
