<!-- 会员权益-会员权益详情
 @author liuhongyu 2019-11-11
-->

<!DOCTYPE html>
<html lang="en">
<head>
	@@include('@pathInclude/views/meta.html')
    <link rel="stylesheet" href="/mine/static/css/swiper.min.css">
    <link rel="stylesheet" href="/mine/static/css/membershipDetails.css">
    
    <script type="text/javascript" src="/include/js/swiper.min.js"></script>

	<title>会员权益-会员权益详情</title>
</head>
<body>
	
	<!-- @@include('@pathCommonViews/load.html') -->
	<!--@@include('@pathCommonViews/noData.html')  -->
	@@include('@pathCommonViews/loading/listLoading.html')
    <div id="membershipDetailsBox">
        <div class="membershipDetailsHeaderBox">
            <a class="iconfont" href="javascript:;">&#xe634;</a>
            权益详情
        </div>

        <div class="membershipDetailsSilderBox">
            <div class="swiper-container show-swiper swiper-container-horizontal swiper-container-ios">
                <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(.5rem, 0px, 0px);">
                    <div class="swiper-slide swiper-slide-active" style="margin-right: 17px;" data-text="1111">
                        <div class="goods" style="transform: scale3d(1.4, 1.4, 1); transition-duration: 0ms;">
                            <img src="/mine/static/img/home_icon_gmzt@2x.png" alt="">
                            <p>度假疗养</p>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-next" style="margin-right: 17px;" data-text="222">
                        <div class="goods" style="transform: scale3d(1, 1, 1); transition-duration: 0ms;">
                            2
                        </div>
                    </div>
                    <div class="swiper-slide" style="margin-right: 17px;" data-text="333">
                        <div class="goods" style="transform: scale3d(1, 1, 1); transition-duration: 0ms;">
                            3  
                        </div>
                    </div>
                    <div class="swiper-slide" style="margin-right: 17px;" data-text="444">
                        <div class="goods" style="transform: scale3d(1, 1, 1); transition-duration: 0ms;">
                            4    
                        </div>
                    </div>
                    <div class="swiper-slide" style="margin-right: 17px;" data-text="555">
                        <div class="goods" style="transform: scale3d(1, 1, 1); transition-duration: 0ms;">
                            5    
                        </div>
                    </div>
                    <!-- <div class="swiper-slide" style="margin-right: 17px;opacity:0;">
                        <div class="goods" style="transform: scale3d(1, 1, 1); transition-duration: 0ms;">
                            5    
                        </div>
                    </div>
                    <div class="swiper-slide" style="margin-right: 17px; opacity:0;">
                        <div class="goods" style="transform: scale3d(1, 1, 1); transition-duration: 0ms;">
                            5    
                        </div>
                    </div>
                    <div class="swiper-slide" style="margin-right: 17px; opacity:0;">
                        <div class="goods" style="transform: scale3d(1, 1, 1); transition-duration: 0ms;">
                            5    
                        </div>
                    </div> -->
                   
                    
                </div>
            </div>
            <div class="membershipDetailsContentBox">

            </div>
                
        </div>
        
    </div>
	
	
	 
	@@include('@pathInclude/views/footer.html')
	<!-- <script src="/include/js/iscroll.js"></script> -->
	<!-- 添加埋点 -->
	@@include('@pathInclude/views/header.html')
    <script src="/mine/static/js/membershipDetails.js"></script>

</body>
<script>
    
    
</script>
</html>