/*
    所有页面公用的MUI卡片视图样式
 */

@import url("../color.less");


.mui-card{
    margin: 0;
    padding-left: 0.32rem;
    border-radius: 0;
    box-shadow: 0 0.02rem 0.08rem 0 rgba(0, 0, 0, 0.1);
    font-size: 0.28rem;
    background: @c005;
    display: block;
    //需要有上边距的，加这个class
    &.marginTop{
        margin-top: 0.16rem;
    }

    //有内容需要水平居中的
    .centerWrap{
        margin-left: -0.32rem;
    }   
}