
.elasticLayer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 7.5rem;
    // height: 100%;
    background-color: rgba(51, 51, 51, 0.8);
    z-index: 9999;
    .elasticWrapper {
        // width: 5.4rem !important;
        // height: 2.5rem !important;
        
        background:linear-gradient(90deg,rgba(245,236,213,1) 0%,rgba(240,223,186,1) 100%);

        text-align: center;
        margin: 0 auto;
        z-index: 105;
        border-radius: .14rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        .elasticMid{
            width: 5.4rem;

            .elasticTxt{
                font-size: .28rem !important;
                min-height: 2.2rem;
                
                // line-height: .45rem !important;
                color: @272727;
                // padding: 0.4rem 0;
                
                // position: relative;


                //弹层标题
                .elasticTitle{
                    
                    font-size: .32rem;
                    padding-top: .43rem;

                    .elasticTitleP{
                        color: @272727;
                    }
                }

                //弹层中间文案
                .elastic_p{  
                    min-height: 2.2rem;
                    text-align: center;
                    // font-family:PingFangSC-Regular,PingFang SC;
                    font-weight:400;
                    font-size:.28rem;
                    // position: absolute;
                    // top: 50%;
                    // transform: translateX(-50%) translateY(-50%);
                    // left: 50%;
                    width: 100%;
                    padding: 0.4rem;
                    display: -webkit-flex;
                    align-items: center;
                    justify-content: center;

                    p{
                        color: @272727;
                    }

                    //弹窗上的文字蓝色
                    .otherColor{
                        color: @364D97;
                    }

                }

                
            }
            .elasticButtons{
                height: .99rem;
                border-top: 1px solid @D6BC79;
                position:relative;

                //左边按钮
                .positionLeft{
                    color: @9B9B9B;
                    font-size: .36rem !important;
                    font-weight: 400;
                    // border-right: none;
                    width: 50%;
                    height: 100%;
                    background: @FDF3DD;
                    border-bottom-left-radius: .14rem;

                    .elasticSpan{
                        width: 100%;
                        display: block;
                        border-right: 0.01rem solid #e2cd98;
                    }
                }

                //右边按钮
                .positionRight{
                    color: @272727;
                    font-weight: 400;
                    font-size: .36rem !important;
                    // border-left: 1px solid @D6BC79;
                    width: 50%;
                    height: 100%;
                    background: @FDF3DD;
                    border-bottom-right-radius: .14rem;
                }

                //只有一个按钮
                .positionMiddle{
                    color: @272727;
                    font-size: .36rem !important;
                    font-weight: 400;
                    // border-right: none;
                    width: 100%;
                    height: 100%;
                    background: @FDF3DD;
                    border-bottom-left-radius: .14rem;
                    border-bottom-right-radius: .14rem;
                }
            }
        }
    }
}
