<!-- 
	授权登录 2017/7/5
-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- 需要先执行这个js -->
    <script src="/user/static/js/authorizationLoginUrl.js"></script>	
    <link rel="stylesheet" href="/user/static/css/authorization.css">
	<title>授权登录</title>
</head>
<body>
	<section class="container authorization">
		<div class="integral">
			<span class="iconfont">&#xe6b2;</span>
			<p class="title">积分商城</p>
		</div>
		<div class="line"></div>
		<div class="content">
			<p class="title">登录后可享有以下权限</p>
			<p class="txt">1.可在积分商城使用恒天财富用户名和密码</p>
			<p class="txt">2.恒天财富上展示信息及相关记录</p>
		</div>
		<!-- 确认登录按钮 -->
		<!-- <div class="button">确认登录</div> -->
		<div class="btnButton">
			<button type="button" class="mui-btn button">确认登录</button>
		</div>

	</section>

	 
	 @@include('@pathInclude/views/footer.html')
	<script src="/user/static/js/authorizationLogin.js"></script>	

</body>
</html>