<!-- 
	** 一键调仓页面 ping time:2019-01-07
 -->

<!doctype html>
<html lang="en">
<head>
    @@include('@pathInclude/views/meta.html')
    <link rel="stylesheet" href="/intelligentInvestment/static/css/adjustment.css">
	<title>调仓</title>
</head>
<body>

	<!-- 暂无数据 -->
	<!--@@include('../../common/views/noData.html') -->

	<div class="mui-content adjustment">
		<div class="adjustmentTitle">预计调仓结果</div>
		<header class="mui-row navList">
			<span class="listDivLeft mui-col-xs-6">基金名称</span>
			<span class="listDivCenter mui-col-xs-3">调仓前</span>
			<span class="listDivRight mui-col-xs-3">调仓后</span>
		</header>

		<div class="adjustmentList">
        
    	</div>


		@@include('../../common/views/button/buyNowBtn.html',{"arr":[ {"className": "bottom", "txt": "一键调仓"} ]}) 
		<!-- className 传样式   txt 按钮的样式 -->


	</div>


	@@include('@pathCommonViews/pageModule/adjustmentTable.html')

	<!-- 返回顶部 -->
	@@include('../../common/views/goTop.html')

	@@include('../../common/views/webPassword.html')
</body>

	 
	 @@include('@pathInclude/views/footer.html')
	 
	 
	@@include('@pathInclude/views/header.html') 
	<script src="/intelligentInvestment/static/js/adjustment.js"></script>
</html>
