<!--
	* 恒小智首页
	* author:ping
	* time：2018-10-10
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="/intelligentInvestment/static/css/investmentIndex.css">
	<title>恒小智</title>
<body>
    @@include('../../common/views/load.html')
	<!-- 加载中loading -->
	<!-- @@include('../../common/views/loading/listLoading.html') -->

	<div class="investmentIndex"> 
		<div class="riskTitle">您的风险承受能力</div>
		<div class="riskType">***</div>
		<!-- <img class="images" src=""></img> -->
		<div class="images">
			<!-- <img src="" alt=""> -->
		</div>
		<div class="riskContent">------</div>

		
	</div>


	<script id="img_template" type="text/x-handlebars-template">
	
		    {{#if riskImg_1}}
		    <img src="/intelligentInvestment/static/img/1.png" alt="">
		    {{/if}}
		    {{#if riskImg_2}}
		    <img src="/intelligentInvestment/static/img/2.png" alt="">
		    {{/if}}
		    {{#if riskImg_3}}
		    <img src="/intelligentInvestment/static/img/3.png" alt="">
		    {{/if}}
		    {{#if riskImg_4}}
		    <img src="/intelligentInvestment/static/img/4.png" alt="">
		    {{/if}}
		    {{#if riskImg_5}}
		    <img src="/intelligentInvestment/static/img/5.png" alt="">
		    {{/if}}
		
	</script>


	@@include('../../common/views/button/buyNowBtn.html',{"arr":[ {"className": "bottom developPlans", "txt": "暂不可售"} ]})

	 @@include('@pathInclude/views/footer.html')
	 <!-- 添加埋点 -->
    @@include('@pathInclude/views/header.html')
	<script src="/intelligentInvestment/static/js/investmentIndex.js"></script>

</body>

</html>