<!--
	* 恒小智 -- 方案制定失败页面
	* author:ping
	* time：2018-10-10
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="/intelligentInvestment/static/css/investmentIndex.css">
	<title>恒小智</title>
<body>

    <!-- @@include('../../common/views/load.html') -->
	<!-- 加载中loading -->
	<!-- @@include('../../common/views/loading/listLoading.html') -->

	<div class="buyCheckoutSuccess"> 
		<div class="images"><img src="/intelligentInvestment/static/img/failure.png" alt=""></div>
		<div class="riskContent">抱歉，方案制定失败</div>

		
	</div>

	<script src="/include/js/vendor/zepto/zepto.js"></script>
	<script src="/include/js/vendor/root.js"></script>
	<!-- 添加埋点 -->
    @@include('@pathInclude/views/header.html')
</body>

</html>