<!-- 
	** 恒小智交易明细 ping time:2018-10-10
 -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/intelligentInvestment/static/css/transactionList.css">
	<title>交易明细</title>
</head>
<body>
    
	@@include('../../common/views/load.html')
	<!-- 加载中loading -->
	@@include('../../common/views/loading/listLoading.html')

	<!-- 暂无数据 -->
	@@include('../../common/views/noData.html')

	<div class="mui-content tradeList">
		<!-- 放置页面内容 -->

	</div>

	<script id="transaction-template" type="text/x-handlebars-template">
		{{! 列表 内容 使用mui的上拉加载}}
		<div class="list">
			{{! list是包裹上拉加载区域的，在js中计算当前页面中的list高度，不能超出一屏}}

			{{! 初始化上拉加载区域，使用contentWrapper class}}
			{{! contentWrapper 需要添加样式，具体见less文件}}
			<div class="contentWrapper">

				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
					{{! 所有内容  需要放在这个li里，且里面不能再用Li元素}}
					{{{content}}}

					</li>
				</ul>

				<!-- 返回顶部 -->
				@@include('../../common/views/goTop.html')
				
			</div>
		</div>
	</script>	

	<!-- 列表模板 -->
	<script id="transaction-list-template" type="text/x-handlebars-template">
		{{#if isIn}}
			{{#each comRradeRecordList}}
				<div class="card-theme goTradeDetail" combRequestNo="{{combRequestNo}}" tradeType="1">
					<div class="mui-row">
						<div class="mui-col-xs-6">
							<p class="fontBold">{{combName}}</p>
							<p class="lightColor">{{applyDate}}  {{applyTime}}</p>
						</div>
						<div class="mui-col-xs-6 right">
							<p class="fontBold">{{applySum}}元</p>
							<p class="lightColor">{{combinationStatusMask}}</p>
						</div>
					</div>
				</div>					
			{{/each}}
		{{/if}}

		{{#if isOut}}
			{{#each comRradeRecordList}}
				<div class="card-theme goTradeDetail" combRequestNo="{{combRequestNo}}" tradeType="2"combinRedemRatio="{{combinRedemRatio}}">
					<div class="mui-row">
						<div class="mui-col-xs-6">
							<p class="fontBold">{{combName}}</p>
							<p class="lightColor">{{applyDate}}  {{applyTime}}</p>
						</div>
						<div class="mui-col-xs-6 right">
							<p class="fontBold">{{combinRedemRatio}}%</p>
							<p class="lightColor">{{combinationStatusMask}}</p>
						</div>
					</div>
				</div>					
			{{/each}}
		{{/if}}

		{{#if adjustment}}
			{{#each comRradeRecordList}}
				<div class="card-theme goTradeDetail" combRequestNo="{{combRequestNo}}" tradeType="3">
					<div class="mui-row">
						<div class="mui-col-xs-6">
							<p class="fontBold">{{combName}}</p>
							<p class="lightColor">{{applyDate}}  {{applyTime}}</p>
						</div>
						<div class="mui-col-xs-6 right">
							<p class="combinationStatus">{{combinationStatusMask}}</p>
						</div>
					</div>
				</div>					
			{{/each}}
		{{/if}}
		
	</script>

	<!-- 返回顶部 -->
	@@include('../../common/views/goTop.html')
</body>

	 
	 @@include('@pathInclude/views/footer.html')
	 
	 
	<!-- 添加埋点 -->
    @@include('@pathInclude/views/header.html')
	<script src="/intelligentInvestment/static/js/transactionList.js"></script>
</html>