<!--  
	新登录密码 
	注册、忘记登录密码、设置-修改登录密码
-->


<div class="mui-input-row ">
	<input type="password" class="mui-input-clear" placeholder="6-12位，至少包含2个数字，2个字母" needCheck="true" check="newLoginPassword">
</div>
<span class="iconfont noEye"></span>


<!-- <div class="mui-input-row mui-row">
	<div class="inputDiv mui-col-xs-11">
		<input type="password" class="mui-input-clear" placeholder="6-12位，至少包含2个数字，2个字母" needCheck="true" check="newLoginPassword">
	</div>
	<span class="iconfont noEye mui-col-xs-1">&#xe60d;</span>
</div> -->