<!--/**
 * 会员俱乐部-活动列表
 * @author  liuhongyu 2019-10-31
 */-->

<!doctype html>
<html lang="en">

<head>
    @@include('@pathInclude/views/meta.html')
    <link rel="stylesheet" href="/life/static/css/activityList.css">
    <link rel="stylesheet" href="/life/static/css/mui.indexedlist.css">
    <title>会员俱乐部-活动列表</title>
    <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
</head>

<body>
    @@include('@pathCommonCom/loading/listLoading.html')
    <div id="cityListBox">
    </div>

    <div id="activityDataBox">
        <!-- 活动列表搜索开始 -->
        <section id="activitySearch">
            <a href="javascript:void(0);" class="iconfont backBtn">&#xe634;</a>
            <!-- 搜索 -->
            <div class="mui-input-row mui-search activitySearchInput">
            <!-- <div class="mui-search activitySearchInput">
                <i class="iconfont">&#xe66f;</i> -->
                <input type="search" class="mui-input-clear" placeholder="请输入活动名称">
            </div>
            <div class="activityCityBox">
                <span id="locationCity" data-code="" data-parentId=""></span>
                <i class="iconfont">&#xe609;</i>
            </div>
        </section>
        <!-- 活动列表搜索结束 -->
        <!-- 活动列表有数据开始 -->
        <div class="activityListDataBox">
            <section id="activityList">
                <div class="list">
                    <div class="contentWrapper ">
                        <ul class="mui-table-view" id="activityDataList">
                            <li class="mui-table-view-cell recordList">
                                <!--放置列表-->
                            </li>
                            <!-- 返回顶部 -->

                        </ul>
                        @@include('@pathCommonViews/goTop.html')
                        <!-- <a href="javascript:;" class="goTopBtn4"></a> -->
                    </div>
                </div>

            </section>
        </div>
        <!-- 活动列表有数据结束 -->
        <!-- 活动列表没有数据开始 -->
        <div class="activityListDataNoBox">
            <section id="activityList" style="background-color: #fff;">
                <div class="activityNoListBox">
                    <img src="/common/img/empty.png" alt="">
                    <p>抱歉！没有搜索到相关内容</p>
                </div>
                <div class="activityList activityNoList">
                    <h3>推荐活动</h3>
                    <div class="activityNoListBox2">

                    </div>
                </div>

            </section>
        </div>
        <!-- 活动列表没有数据结束 -->
    </div>

    @@include('@pathCommonViews/activityList.html') 
    @@include('@pathCommonViews/cityList.html') 
    @@include('@pathInclude/views/footer.html')

    <script src="/life/static/js/memberClub/mui.indexedlist.js"></script>

    <script src="/life/static/js/memberClub/activityList.js"></script>

</body>