<!--
 * @Author: your name
 * @Date: 2019-11-26 14:42:56
 * @LastEditTime : 2019-12-30 14:19:20
 * @LastEditors  : Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \htjf-app\src\financial\views\publicPlacement\cashManagement.html
 -->
<!-- /**  
 * @Page:  现金管理
 * @Author: yanruitng  
 * @Date:   2019-11-23
 * 
 */ -->

<!DOCTYPE html>
<html lang="en">

<head>
     @@include('@pathInclude/views/meta.html')
     <link rel="stylesheet" href="/financial/static/css/publicPlacement/cashManagement.css">
     <title>现金管理</title>
</head>

<body>
     <!--没有数据显示图标-->
     <!--@@include('@pathCommonCom/noData/noData.html', {"tipText": "暂无数据"})-->
     <!--加载显示图标-->
     @@include('@pathCommonCom/loading/listLoading.html')
     <div id="top">
          @@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#384A81,#2A3C70","showType":"1","pathName":"现金管理"})
          @@include('@pathCommonCom/authenticationProcess/authenticationProcess.html',{"pathTitle":"认证信息"})
          <div class="topCon">
               <div class="totalFundTitle">总资产(元)</div>
               <div class="totalFund justify_between flex">
                    <div class="fundValue"></div>
                    <div class="fundKnow" >了解现金管理<i class="iconfont">&#xe600;</i></div>
               </div>
               <div class="profitContent">
                    <div class="profitCon income">
                         <div class="profitTitle">昨日收益</div>
                         <div class="profitValue"></div>
                    </div>
                    <!-- 经产品确认，持有总收益暂时隐藏 -->
                    <!-- <div class="lineVertical"></div>
                    <div class="profitCon holdIncome">
                         <div class="profitTitle">持有总收益</div>
                         <div class="profitValue"></div>
                    </div> -->
                    <div class="lineVertical"></div>
                    <div class="profitCon addupIncome">
                         <div class="profitTitle">累计收益</div>
                         <div class="profitValue"></div>
                    </div>
               </div>
          </div>
          <div class="list">
               <div class="wrapper">
                    <div id="cashListCon"></div>
               </div>
          </div>

          <div class="isRiskMatchBox">
               <div class="isRiskMatchBox_contentBox">
                       <div class='isRiskMatchBox_header'>你选择的产品与您现在的风险承受能力相匹配</div>
                       <div class="isRiskMatchBox_footer">
                            <div class="isRiskMatchBox_match">确定</div>
                            <div class="isRiskMatchBox_noMatch"><button class="isRiskMatchBox_cancel">放弃购买</button> <button class="isRiskMatchResult">查看评测结果</button></div>
                       </div>
               </div>
          </div>
          <div class="isRiskMatch_mask"></div>

     </div>

     <script id="dataLists" type="text/x-handlebars-template">
		{{! 左侧页面列表}}
		{{#each this}}
          <div class="cashItem">
               <div class="itemTop">
                    <div class="itemTitle" fundCode={{fundCode}}>
                         <span fundCode={{fundCode}} fundName={{fundName}}>{{fundName}}</span>
                              <span class="rightCon">
                              <span class="right"></span>
                         </span>
                    </div>
                    <div class="itemSevenIncome">七日年化：{{annYldRat}}%</div>
               </div>
               <div class="itemCenter flex">
                    <div>
                         <div class="centerTitle">资产(元)</div>
                         <div class="centerValue">{{totalMoney}}</div>
                    </div>
                    <div>
                         <div class="centerTitle">昨日收益(元)</div>
                         <div class="centerValue blue">{{income}}</div>
                    </div>
                    <div>
                         <div class="centerTitle">累计收益(元)</div>
                         <div class="centerValue red">{{addupIncomeMask}}</div>
                    </div>
               </div>
               <div class="itemBottom flex">
                    <div class="fundIn" >转入</div>
                    {{#if show}}
                    <div class="fundOut" >转出</div>
                    {{else}}
                    <div class="fundOut-disbled">转出</div>
                    {{/if}}
               </div>
          </div>
		{{/each}}
	</script>



     @@include('@pathInclude/views/footer.html')
     <script src="/financial/static/js/publicPlacement/cashManagement.js"></script>
 </body>
 </html>
