<!-- /**  
 * @Page:  现金管理 - 转出
 * @Author: yangjinlai  
 * @Date:   2019-11-25
 * 
 */ -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
     @@include('@pathInclude/views/meta.html')
     <link rel="stylesheet" href="/financial/static/css/publicPlacement/cashTransformOut.css">
     <title>转出</title>
 </head>
 <body>
     <!-- @@include('../../common/views/load.html') -->
     
     <section class="container">
        @@include('@pathCommonViews/headBarConfig.html',{"pathName":"转出"}) 
        <div class="br"></div>
        <div class="title">现金宝产品1</div>

        <div class="mui-row tabWrapper">
        	<div class="mui-col-sm-6 mui-col-xs-6 tab">
        		<span class="active">快速转出<span>
        	</div>
        	<div class="mui-col-sm-6 mui-col-xs-6 tab">
        		<span>普通转出</span>
        	</div>
        </div>

        <div class="typeDetail">
        	<p>*单笔最高限额1万，单日最高50万，单日最多10笔</p>
        	<p>*赎回金额将按照原路返回到您所付款的银行卡</p>
        </div>

         <div class="online">
            <div class="onleft">到账方式</div>

            <!-- 右侧 选择银行卡前样式 -->
	            <!-- <div class="onright">
	            	<div class="onright-left pleaseSelect">
	            	    请选择银行卡
	            	</div>
	            	<a class="iconfont iconone" href="javascript:;">&#xe67d;</a>
	            </div> -->

	            <!-- 右侧 选择银行卡后样式 -->
	            <div class="onright" id="bank"> 
	                <a class="iconfont iconone" href="javascript:;">&#xe67d;</a>
	                <div class="onright-left">
	                    <div class="onright-left-one">
	                        <img src="/financial/static/img/account_icon_bank logo@2x.png" alt="">
	                        <i>中国建设银行</i>
	                        <span>0563</span>
	                    </div>
	                    <div class="onright-left-two">单笔限额5万，单日限额10万</div>
	                </div>
	                
	            </div>

         </div>

        <div class="money">
            <div class="mfirst">
                <div class="mfirst-one">转出金额</div>
            </div>
            <div class="msecond">
            	<span class="msecond-one">￥</span>
                <input class="transformInput" type="text">
                <img src="/financial/static/img/icon_delete@2x.png" alt="">
                <span class="button">全部</span>
             </div>
             <div class="clearfix explain">
             	<div class="left">
             		2小时内到账<span class="iconfont">&#xe635;</span>
             	</div>
             	<div class="right">
             		现金宝产品1转出规则<span class="iconfont">&#xe635;</span>
             	</div>
             </div>
         </div>

         

         <div class="p2">
            <img src="/financial/static/img/sign up_icon_checkbox_normal@2x.png" alt=""><div>如有内容占位，此处显示内容此处显示内容此处显示内容<span class="file">《xxxx》</span>和<span class="file">《xxxxxx》</span></div>
         </div>
         <div class="btn">
            确定
         </div>


          <!-- 银行卡弹窗 -->
         <div class="popup">
             <div class="popup-mask"></div>
             <div class="popup-content">
                 <div class="popup-title">
                     <!-- <div class="popup-close"> -->
                         <img class="popup-close" src="/financial/static/img/Nav Bar_icon_close_black@2x.png" alt="">
                     <!-- </div> -->
                     <div class="tit">选择到账银行卡</div> 
                 </div>
                 <p  class="popup-detail">*赎回金额将按照原路返回到您所付款的银行卡</p>
                 <ul class="popup-ul">
                     <li class="popup-li">
                         <img class="bank-img" src="/financial/static/img/account_icon_bank logo@2x.png" alt="">
                         <div class="div">
                             <div class="bank-name">中国招商银行储蓄卡(8304)</div>
                             <div class="bank-pay">可赎回1000000.00元</div>
                         </div>
                         <img class="true" src="/financial/static/img/account_icon_check@2x.png" alt="">
                     </li>
                     <li class="popup-li">
                             <img class="bank-img" src="/financial/static/img/account_icon_bank logo@2x.png" alt="">
                             <div class="div">
                                 <div class="bank-name">中国招商银行储蓄卡(8304)</div>
                                 <div class="bank-pay">可赎回1000000.00元</div>
                             </div>
                             <img class="true" src="/financial/static/img/account_icon_check@2x.png" alt="">
                         </li>
                         <li class="popup-li">
                                 <img class="bank-img" src="/financial/static/img/account_icon_bank logo@2x.png" alt="">
                                 <div class="div">
                                     <div class="bank-name">中国招商银行储蓄卡(8304)</div>
                                     <div class="bank-pay">可赎回1000000.00元</div>
                                 </div>
                                 <img class="true" src="/financial/static/img/account_icon_check@2x.png" alt="">
                             </li>
                     <li class="popup-li">
                             <img class="bank-img" src="/financial/static/img/account_icon_bank logo@2x.png" alt="">
                             <div class="div">
                                 <div class="bank-name">中国招商银行储蓄卡(8304)</div>
                                 <div class="bank-pay">可赎回1000000.00元</div>
                             </div>
                             <img class="true" src="/financial/static/img/account_icon_check@2x.png" alt="">
                         </li>
                     
                 </ul>
             </div>
         </div>
     </section>


     @@include('@pathCommonCom/elasticLayer/transOutRule/transOutRule.html')


     <!-- 加载中loading -->
     <!-- @@include('@pathCommonViews/load.html') -->
 
     <!-- 加载中loading -->
     @@include('@pathCommonViews/loading/listLoading.html')
 
     @@include('@pathInclude/views/footer.html')
     <!-- 添加埋点 -->
     @@include('@pathInclude/views/header.html')
     <script src="/financial/static/js/publicPlacement/cashTransformOut.js"></script>
 
 </body>
 </html>