<!--
 * @Author: your name
 * @Date: 2019-11-26 14:42:56
 * @LastEditTime: 2019-12-04 15:02:43
 * @LastEditors: your name
 * @Description: In User Settings Edit
 * @FilePath: \htjf-app\src\financial\views\publicPlacement\fundManager.html
 -->
<!-- /*
 * @Author: sunfuping 
 * @Date: 2019-11-25 14:30:13 
 * @Last Modified by:   sunfuping 
 * @Last Modified time: 2019-11-25 14:30:13 
 * 基金经理
 */ -->

<!DOCTYPE html>
<html lang="en">

<head>
    @@include('@pathInclude/views/meta.html')
    <link rel="stylesheet" href="/financial/static/css/publicPlacement/fundManager.css">
    <title>基金经理</title>

<body>
    @@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#2C3E77,#273971","showType":"0","pathName":"基金经理"})
    <!-- @@include('@pathCommonCom/loading/listLoading.html') -->
    <div class="list">
        <div class="contentWrapper">
            <div class="contentWrap tplBox">
            </div>
        </div>
    </div>


    @@include('@pathInclude/views/footer.html')
    <script src="/financial/static/js/publicPlacement/fundManager.js"></script>
</body>

<script id="dataLists" type="text/x-handlebars-template">
    {{#each this}}
    <!-- 基金经理列表  begin-->
    <div class="managerBox">
            <div class="content">
                <ul class="contentUl">
                    <li class="liLeft"><span class="managerName">{{managerName}} </span><span
                            class="managerDegree">{{managerEducation}}</span></li>
                </ul>
                <ul class="contentUl noFlex">
                    <li class="managerBg">背景介绍</li>
                    <li class="managerBgTxt">
                        {{managerBackground}}
                    </li>
                </ul>
            </div>
            <div class="productCostWrap">
                <div class="materialWrap">
                    <ul class="materialContent">
                        <li class="liLeft">任职日期</li>
                        <li class="liRight ">{{bgnDt}}</li>
                    </ul>
                    <ul class="materialContent">
                        <li class="liLeft">在管基金数量</li>
                        <li class="liRight ">{{secuNum}}</li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <ul class="contentUl">
                    <li class="liLeft">历史回报</li>
                    <li class="liRight ">{{annYldRat}}%</li>
                </ul>
            </div>
        </div>
        <!-- 基金经理列表 end -->
        {{/each}}
</script>


</html>