<!-- /**  
 * @Page:  现金管理 - 转入
 * @Author: yangjinlai  
 * @Date:   2019-11-25
 * 
 */ -->

<!DOCTYPE html>
<html lang="en">

<head>
    @@include('@pathInclude/views/meta.html')
    <link rel="stylesheet" href="/financial/static/css/publicPlacement/fundTransformIn.css">
    <title>基金买入</title>
</head>

<body>
    @@include('@pathCommonCom/loading/listLoading.html')
    <section class="container">
        @@include('@pathCommonViews/headBarConfig.html',{"pathName":"买入"})
        <div class="br"></div>
        <div class="title">
            <span class="fundName"></span> &nbsp;
            <span class="fundCode"></span>
        </div>
        <div class="warnInfo">
            <span class="infoImg mui-icon mui-icon-info"></span>
            <span class="infoText">&nbsp;此基金存在封闭期，到期前无法赎回</span>
        </div>
        <div class="money">
            <div class="mfirst">
                <div class="mfirst-one">买入金额</div>
                <div class="mfirst-two goRule">
                    <span>交易规则</span>
                    <a href="javaScript:;" class="iconfont iconone ">&#xe67d;</a>
                </div>
            </div>
            <div class="msecond">
                <span class="msecond-one">￥</span>
                <input class="transformInput" id="transformInput" type="number" />
                <a href="javaScript:;" class="deleteNum">
                    <img src="/financial/static/img/icon_delete@2x.png" alt="">
                </a>
            </div>
            <div class="pay">
                <p class="CostEstimate">
                    <span>费用估算：</span>
                    <span class="num">-</span>
                </p>
                <p class="payConfirm payConfirm-f">
                    <span>购买确认日：</span>
                    <span class="date"></span>
                </p>
                <p class="brforre15 brforre15-f">
                    <span>15点之后的交易申请将作为</span>
                    <span class="date"></span>
                    <span>的申请</span>
                </p>
                <p class="after15 after15-f">15:00后采用的转账汇款方式的认申购数将视为下一个工作日的交易款项。</p>
            </div>
        </div>
        <div class="online">
            <div class="onleft">支付方式</div>
        </div>
        <div class="onlinepay paymoney" pay-type="0">
            <div class="ff">在线支付</div>
            <div class="paymoney-right clearfix">
                <img class="imgc" src="/financial/static/img/checkbox／selected+sure@2x.png" alt="">
                <img class="iimg" src="/financial/static/img/checkbox／selected+normal@2x.png" alt="">
                <div class="onright-left">
                    <!-- <div class="onright-left-one">
                        <img src="/financial/static/img/account_icon_bank logo@2x.png" alt="">
                        <i>中国建设银行</i>
                        <span>0563</span>
                    </div>
                    <div class="onright-left-two">单笔限额5万，单日限额10万</div> -->
                </div>

            </div>

        </div>
        <div class="remittance paymoney" pay-type="1">
            <div class="ff">汇款支付</div>
            <div class="paymoney-right clearfix">
                <img class="imgc" src="/financial/static/img/checkbox／selected+sure@2x.png" alt="">
                <img class="iimg" src="/financial/static/img/checkbox／selected+normal@2x.png" alt="">
                <div class="onright-left">
                    <!-- <div class="onright-left-one">
                        <img src="/financial/static/img/account_icon_bank logo@2x.png" alt="">
                        <i>中国建设银行</i>
                        <span>0563</span>
                    </div>
                    <div class="onright-left-two">单笔限额5万，单日限额10万</div> -->
                </div>


            </div>
        </div>
        <script id="bankListCheck-template" type="text/x-handlebars-template">
            {{#each this}}
            <div class="onright-left-one">
                <img src="{{bankThumbnailUrl}}" alt="">
                <i>{{bankName}}</i>
                <span>{{after4Num}}</span>
            </div>
            <div class="onright-left-two">单笔限额{{singleNum_w}}，单日限额{{oneDayNum_w}}</div>
            {{/each}}
        </script>
        <script id="fundListCheck-template" type="text/x-handlebars-template">
            {{#each this}}
            <div class="onright-left-one fundListCheck">
                <div class="checkFundName">{{fundName}}</div>
                <div class="checkBankCard">
                    <!-- <img src="{{bankThumbnailUrl}}" alt=""> -->
                    <i>{{bankName}}</i>
                    <span>{{after4Num}}</span>
                </div>
            </div>
            <div class="onright-left-two fundListCheck">
                <span class="remaining">可用金额</span>
                <span class="amount">{{enableAmount}}元</span>
            </div>
            {{/each}}
        </script>
        <div class="p2">
            <div>
                <span class="file">
                    <a href="javascript:;" class="item2"><span class="iconfont">&#xe668;</span><span>已阅读并同意</span></a>
                <a href="javascript:;" class="setGoUrl">《公募基金风险揭示及售前告知书》、</a>
                <a href="javascript:;" class="raskBook">《风险揭示函》、</a>
                <a href="javascript:;" class="contract goPreview">《基金合同》</a>、
                <a href="javascript:;" class="recruiting goPreview">《招募说明书》</a>
                </span>

            </div>
        </div>
        <div class="btn_box">
            <button class="btn" type="button" disabled>
                    确定
            </button>

        </div>

    </section>

    <!-- 银行卡弹窗 -->
    <div class="popup">
        <div class="popup-mask"></div>
        <div class="popup-content">
            <div class="popup-title">
                <!-- <div class="popup-close"> -->
                <img class="popup-close" src="/financial/static/img/Nav Bar_icon_close_black@2x.png" alt="">
                <!-- </div> -->
                <div class="tit bank-title"></div>
            </div>
            <div class="popup-ul-box">
                <ul class="popup-ul">

                </ul>
                <script id="bankList-template" type="text/x-handlebars-template">
                    {{#each this}}
                    <li class="popup-li bank-li" fundOrBank="1" useEnv="{{useEnv}}" capitalMode="{{capitalMode}}" bankThumbnailUrl="{{bankThumbnailUrl}}" tradeAcco="{{tradeAcco}}" bankName="{{bankName}}" bankNo="{{bankNo}}" singleNum="{{singleNum}}" oneDayNum="{{oneDayNum}}"
                        bankAccountSecret="{{bankAccountSecret}}" after4Num="{{after4Num}}" singleNum="{{singleNum}}">
                        <img class="bank-img" src="{{bankThumbnailUrl}}" alt="">
                        <div class="div">
                            <div class="bank-name">{{bankName}}({{after4Num}})</div>
                            <div class="bank-pay">单笔限额{{singleNum_w}}，单日限额{{oneDayNum_w}}</div>
                        </div>
                        <img class="true" src="/common/img/account_icon_check@2x.png" alt="">
                    </li>
                    {{/each}}
                    <li class="popup-last">
                        <img class="last-img" src="/financial/static/img/icon _tianjia@2x.png" alt="">
                        <div class="last-title">
                            添加银行卡付款
                        </div>
                        <a href="javascript:;" class="iconfont iconone">&#xe67d;</a>
                    </li>
                </script>
                <ul class="popup-ul2">

                </ul>
                <script id="bankList-template2" type="text/x-handlebars-template">
                    {{#each this}}
                    <li class="popup-li bank-li" fundOrBank="2" useEnv="{{useEnv}}" capitalMode="{{capitalMode}}" tradeAcco="{{tradeAcco}}" bankName="{{bankName}}" bankNo="{{bankNo}}" bankAccoutEncrypt="{{bankAccoutEncrypt}}" after4Num="{{after4Num}}" enableAmount="{{enableAmount}}"
                        fundName="{{fundName}}" fundAccount="{{fundAccount}}" fundCode="{{fundCode}}">
                        <!-- <img class="bank-img" src="" alt=""> -->
                        <div class="div">
                            <div class="bank-fundName">{{fundName}}</div>
                            <div class="bank-name">{{bankName}}({{after4Num}})</div>
                            <div class="enableAmount">
                                <span class="title">可用金额</span>
                                <span class="amount">{{enableAmount}}元</span>
                            </div>
                        </div>
                        <img class="true" src="/common/img/account_icon_check@2x.png" alt="">
                    </li>
                    {{/each}}
                </script>
            </div>
        </div>
    </div>

    <!-- 校验密码弹窗 -->
    <div class="popup-password">
        <div class="elasticMid">
            <div class="elasticTxt">
            </div>
            <div class="elasticButtons error1">
                <button class="elasticCel" type="button">忘记密码</button>
                <button class="elasticYes" type="button">重新输入</button>
            </div>
            <div class="elasticButtons error2">
                <button class="elasticCel" type="button">取消</button>
                <button class="elasticYes" type="button">找回密码</button>
            </div>
            <div class="elasticButtons error3">
                <button class="elasticCel" type="button">取消</button>
                <button class="elasticYes" type="button">重试</button>
            </div>
        </div>
    </div>
    @@include('@pathCommonViews/payPassword.html')
    <!-- 转出规则 -->
    @@include('@pathCommonCom/elasticLayer/transOutRule/transOutRule.html') @@include('@pathInclude/views/footer.html')
    <script src="/financial/static/js/publicPlacement/fundTransformIn.js"></script>
    <!-- <script src="/account/static/js/public/payPassword.js"></script> -->
</body>

</html>