<!-- 我的定投_定投详情页面 -->
<!-- author: caiwenqi
	time:2019/11/23 -->
<!DOCTYPE html>
<html>

<head>
    @@include('@pathInclude/views/meta.html')
    <link rel="stylesheet" href="/financial/static/css/publicPlacement/fundCompany.css">
    <title>基金公司</title>
</head>

<body>
    <!--没有数据显示图标-->
    <!-- @@include('@pathCommonCom/noData/noData.html', {"tipText": "暂无数据"}) -->
    <!--列表加载显示图标-->
    <!-- @@include('@pathCommonCom/loading/listLoading.html') -->
    <!--公共页面头部-->
    @@include('@pathCommonViews/headBarConfig.html',{"pathName":"基金公司"})
    <div class="wrap">
        <div class="tplBox">

        </div>

    </div>

    @@include('@pathInclude/views/footer.html')
    <script src="/financial/static/js/publicPlacement/fundCompany.js"></script>
</body>
<script id="dataLists" type="text/x-handlebars-template"> <div>
        <div class="container">
            <div class="header">基本信息</div>
            <ul class="companyIntroduce">
                <li><span class="blur_font">公司名称</span><span class="content">{{ companyName }}</span></li>
                <li><span class="blur_font">成立日期</span><span class="content">{{ establishDate }}</span></li>
                <li><span class="blur_font">管理基金数</span><span class="content">{{ fundManagementCount }}</span></li>
                <li><span class="blur_font">总经理</span><span class="content">{{ managerName }}</span></li>
                <li><span class="blur_font">注册资金</span><span class="content">{{ registeredCapital }}亿</span></li>
                <li><span class="blur_font">电话</span><span class="content">{{ telephoneNo }}</span></li>
                <li><span class="blur_font">传真</span><span class="content">{{ faxNo }}</span></li>
                <li><span class="blur_font">办公地址</span><span class="content">{{ officeAddress }}</span></li>
            </ul>
        </div>
        <div class="listBorder">
            <div class="listTitle">股东列表</div>
            <div class="innerWrap">
                <div class="shareholderTitle">
                    <div class="titleLeft">股东</div>
                    <div class="titleRight">持股比例(%)</div>
                </div>
                {{#each shareholderInfo}}
        <div class="shareholderList">
                    <div class="shareholderName">{{ shareholderName }}</div>
                    <div class="shareholderScale">{{ holdSharesRatio }}%</div>
                </div>
                {{/ each}}
    </div>
        </div>
        <div class="listBorder">
            <div class="listTitle">产品列表</div>
            <div class="innerWrap">
                <div class="shareholderTitle">
                    <div class="titleLeft">类型</div>
                    <div class="titleCenter">数量</div>
                    <div class="titleRight">规模(亿元)</div>
                </div>
                {{#each scaleInfo}}
        <div class="productList">
                    <div class="productName">{{ fundTypeName }}</div>
                    <div class="productNum">{{ fundCount }}</div>
                    <div class="productScale">{{ fundNav }}</div>
                </div>
                {{/ each}}
    </div>
        </div>
    </div>
</script>

</html>