<!--
*基金档案
*author:purpleZhao
*time：2017/3/14
-->
<!DOCTYPE html>
<html lang="en">

<head>
	@@include('@pathInclude/views/meta.html')
	<link rel="stylesheet" href="/Financial/static/css/fundFile.css">
	<title>基本档案</title>

<body>

	<!-- @@include('@pathCommonViews/load.html') -->
	<!-- 加载中loading -->
	@@include('@pathCommonViews/loading/listLoading.html')

	<!-- 暂无数据 -->
	@@include('@pathCommonViews/noData.html')


	<div class="mui-content midContent">

			<div class="content">
				<div class="tabsBox">
					<div class="tabs">
						<li>tab1</li>
						<li>tab2</li>
						<li>tab3</li>
						<li>tab4</li>
					</div>
				</div>
				
				<div class="wrap">
					<div class="panel">content1</div>
					<div class="panel">content2</div>
					<div class="panel">content3</div>
					<div class="panel">content4</div>
				</div>
			</div>
			<div class="mui-slider-group tab-scroll-action"
				style="height: 825px; transform: translate3d(0px, 0px, 0px) translateZ(0px); transition-duration: 0ms;">
				<div id="move_0" class="mui-slider-item mui-control-content mui-active">
					<div id="scroll1" class="mui-scroll-wrapper hasPullUp" data-scroll="0">
						<div class="mui-scroll">
							<section class="mui-card basicCss paddingBottom basicIntro basicInfo_1">
								<p class="title">基本信息</p>
								<div class="intro">
									<div class="tr">
										<p class="td_left"><span>基金名称</span></p>
										<p class="td_right name">建信安心回报定期开放债券型证券投资基金C类份额</p>
									</div>
									<div class="tr">
										<p class="td_left"><span>基金代码</span></p>
										<p class="td_right code">040035</p>
									</div>
									<div class="tr">
										<p class="td_left"><span>基金类型</span></p>
										<p class="td_right type">混合型</p>
									</div>
									<div class="tr">
										<p class="td_left"><span>风险等级</span></p>
										<p class="td_right risk">中风险</p>
									</div>
									<div class="tr">
										<p class="td_left"><span>成立日期</span></p>
										<p class="td_right date">2012-03-22</p>
									</div>
									<div class="tr">
										<p class="td_left"><span>资产净值</span></p>
										<p class="td_right asset">1.00亿(20018-02-11)</p>
									</div>
									<div class="tr">
										<p class="td_left"><span>分红方式</span></p>
										<p class="td_right ">现金分红</p>
									</div>
									<div class="tr">
										<p class="td_left"><span>基金托管人</span></p>
										<p class="td_right ">发送到发送到公司</p>
									</div>
								</div>
							</section>
							<section class="mui-card marginTop basicCss paddingBottom basicIntro basicInfo_2">
								<p class="title">投资范围</p>
								<p class="txt range">是短发是发送到发送到发送到发送到发送到发送到发送到发送到发的是</p>
							</section>
							<section class="mui-card marginTop basicCss paddingBottom basicIntro basicInfo_3">
								<p class="title">风险收益目标</p>
								<p class="txt goal">sdfsdfsdf</p>
							</section>
							<section class="mui-card marginTop basicCss paddingBottom basicIntro basicInfo_4">
								<p class="title">风险收益特征</p>
								<p class="txt perspect">fsdfwr阿萨德发生的方法是微软</p>
							</section>
						</div>
					</div>
				</div>
				<div id="move_1" class="mui-slider-item mui-control-content">
					<div id="scroll2" class="mui-scroll-wrapper hasPullUp listNoCon" data-scroll="1"
						style="background: rgb(255, 255, 255);">
						<div class="mui-scroll">
							<div class="without noData jjjl_noData" id="emptyBox" style="">
								<div class="box vertical center">
									<p class="iconfont"></p>
									<p class="text">暂无数据</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="move_2" class="mui-slider-item mui-control-content">
					<div id="scroll3" class="mui-scroll-wrapper hasPullUp" data-scroll="2">
						<div class="mui-scroll">
							<section class="mui-card basicCss paddingBottom basicIntro">
								<p class="title">基本信息</p>
								<div class="intro">
									<div class="tr">
										<p class="td_left"><span>基金名称</span></p>
										<p class="td_right name">是短发是发送到发送到发送到发送到发送到发送到发送到发送到发的是</p>
									</div>
									<div class="tr">
										<p class="td_left"><span>成立日期</span></p>
										<p class="td_right date">2017-03-22</p>
									</div>
									<div class="tr">
										<p class="td_left"><span>管理基金数</span></p>
										<p class="td_right type">123</p>
									</div>
									<div class="tr">
										<p class="td_left"><span>总经理</span></p>
										<p class="td_right risk">汤晓东</p>
									</div>
									<div class="tr">
										<p class="td_left"><span>注册资金</span></p>
										<p class="td_right date">120亿</p>
									</div>
									<div class="tr">
										<p class="td_left"><span>电话</span></p>
										<p class="td_right asset">11111111</p>
									</div>
									<div class="tr">
										<p class="td_left"><span>传真</span></p>
										<p class="td_right ">111</p>
									</div>
									<div class="tr">
										<p class="td_left"><span>办公地址</span></p>
										<p class="td_right address">是短发是发送到发送到发送到发送到发送到发送到发送到发送到发的是</p>
									</div>
								</div>
							</section>
							<section class="mui-card marginTop basicCss">
								<p class="title">股东列表</p>
								<div class="tableTr">
									<p class="header mui-row">
										<span class="mui-col-sm-6 mui-col-xs-6">股东</span>
										<span class="mui-col-sm-6 mui-col-xs-6">持股比例(%)</span>
									</p>
									<!-- 股东列表 -->
									<p class="mui-row">
										<span class="mui-col-sm-6 mui-col-xs-6 ellipsis">国联证券</span>
										<span class="mui-col-sm-6 mui-col-xs-6">12</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-6 mui-col-xs-6 ellipsis">国联证券</span>
										<span class="mui-col-sm-6 mui-col-xs-6">12</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-6 mui-col-xs-6 ellipsis">国联证券</span>
										<span class="mui-col-sm-6 mui-col-xs-6">12</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-6 mui-col-xs-6 ellipsis">国联证券</span>
										<span class="mui-col-sm-6 mui-col-xs-6">12</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-6 mui-col-xs-6 ellipsis">国联证券</span>
										<span class="mui-col-sm-6 mui-col-xs-6">12</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-6 mui-col-xs-6 ellipsis">国联证券</span>
										<span class="mui-col-sm-6 mui-col-xs-6">12</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-6 mui-col-xs-6 ellipsis">国联证券</span>
										<span class="mui-col-sm-6 mui-col-xs-6">12</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-6 mui-col-xs-6 ellipsis">国联证券</span>
										<span class="mui-col-sm-6 mui-col-xs-6">12</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-6 mui-col-xs-6 ellipsis">国联证券</span>
										<span class="mui-col-sm-6 mui-col-xs-6">12</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-6 mui-col-xs-6 ellipsis">国联证券</span>
										<span class="mui-col-sm-6 mui-col-xs-6">12</span>
									</p>
								</div>
								<p class="title">产品规模</p>
								<div class="tableTr">
									<p class="header mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4">类型</span>
										<span class="mui-col-sm-4 mui-col-xs-4">数量</span>
										<span class="mui-col-sm-4 mui-col-xs-4">规模(亿元)</span>
									</p>
									<!-- 产品规模 -->
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">阿萨德发松岛枫玩儿玩儿</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
										<span class="mui-col-sm-4 mui-col-xs-4">0.44</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">阿萨德发松岛枫玩儿玩儿</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
										<span class="mui-col-sm-4 mui-col-xs-4">0.44</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">阿萨德发松岛枫玩儿玩儿</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
										<span class="mui-col-sm-4 mui-col-xs-4">0.44</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">阿萨德发松岛枫玩儿玩儿</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
										<span class="mui-col-sm-4 mui-col-xs-4">0.44</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">阿萨德发松岛枫玩儿玩儿</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
										<span class="mui-col-sm-4 mui-col-xs-4">0.44</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">阿萨德发松岛枫玩儿玩儿</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
										<span class="mui-col-sm-4 mui-col-xs-4">0.44</span>
									</p>
								</div>
							</section>
						</div>
					</div>
				</div>
				<div id="move_3" class="mui-slider-item mui-control-content">
					<div id="scroll4" class="mui-scroll-wrapper hasPullUp" data-scroll="3">
						<div class="mui-scroll">
							<section class="mui-card basicCss">
								<p class="title">资产配置<span class="time">2013-02-33</span></p>
								<div class="pieWrapper" _echarts_instance_="ec_1574490795964"
									style="-webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;">
									<div
										style="position: relative; overflow: hidden; width: 337px; height: 180px; padding: 0px; margin: 0px; border-width: 0px;">
										<canvas width="337" height="180" data-zr-dom-id="zr_0"
											style="position: absolute; left: 0px; top: 0px; width: 337px; height: 180px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
									</div>
									<div></div>
								</div>
							</section>
							<section class="mui-card marginTop basicCss">
								<p class="title">行业配置<span class="time">2013-02-33</span></p>
								<div class="tableTr">
									<p class="header mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4">行业名称</span>
										<span class="mui-col-sm-4 mui-col-xs-4">市值(万元)</span>
										<span class="mui-col-sm-4 mui-col-xs-4">占净值比(%)</span>
									</p>
									<!-- 产品规模 -->
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">大方第三方实得分</span>
										<span class="mui-col-sm-4 mui-col-xs-4">34</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">大方第三方实得分</span>
										<span class="mui-col-sm-4 mui-col-xs-4">34</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">大方第三方实得分</span>
										<span class="mui-col-sm-4 mui-col-xs-4">34</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">大方第三方实得分</span>
										<span class="mui-col-sm-4 mui-col-xs-4">34</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
									</p>
								</div>
								<p class="title">重仓股票<span class="time">2013-02-33</span></p>
								<div class="tableTr">
									<p class="header mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4">股票名称</span>
										<span class="mui-col-sm-4 mui-col-xs-4">市值(万元)</span>
										<span class="mui-col-sm-4 mui-col-xs-4">占净值比(%)</span>
									</p>
									<!-- 产品规模 -->
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">234实得分味儿</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234234234</span>
										<span class="mui-col-sm-4 mui-col-xs-4">23</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">234实得分味儿</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234234234</span>
										<span class="mui-col-sm-4 mui-col-xs-4">23</span>
									</p>
								</div>
								<p class="title">持仓债券<span class="time">2013-02-33</span></p>
								<div class="tableTr">
									<p class="header mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4">债券名称</span>
										<span class="mui-col-sm-4 mui-col-xs-4">市值(万元)</span>
										<span class="mui-col-sm-4 mui-col-xs-4">占净值比(%)</span>
									</p>
									<!-- 产品规模 -->
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">asdf </span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">asdf </span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">asdf </span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">asdf </span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">asdf </span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">asdf </span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">asdf </span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">asdf </span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">asdf </span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">asdf </span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">asdf </span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
									</p>
									<p class="mui-row">
										<span class="mui-col-sm-4 mui-col-xs-4 ellipsis">asdf </span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
										<span class="mui-col-sm-4 mui-col-xs-4">234</span>
									</p>
								</div>
							</section>
						</div>
					</div>
				</div>
				<div id="move_4" class="mui-slider-item mui-control-content">
					<div id="scroll5" class="mui-scroll-wrapper hasPullUp" data-scroll="4">
						<div class="mui-scroll">
							<section class="mui-card basicCss notileList" style="height: 825px;" data-pullrefresh="3">
								<div class="form-wrap" style="transform: translate3d(0px, 0px, 0px) translateZ(0px);">
									<div class="form-list">
										<ul class="mui-table-view">
											<li class="mui-table-view-cell" filetype="324" linkaddress="www.baidu.com"
												noticesecuid="234234" noticeid="423">
												<a class="mui-navigate-right hasSelect" href="javascript:;">
													<p class="nameDate">
														<span class="name">阿萨德飞阿萨德飞</span>
														<span class="date">2013-02-03</span>
													</p>
													<p class="ellipsis intro">阿道夫噶第三方的说法的是发送到发送到发送到发送到</p>
												</a>
											</li>
											<li class="mui-table-view-cell" filetype="324" linkaddress="www.baidu.com"
												noticesecuid="234234" noticeid="423">
												<a class="mui-navigate-right hasSelect" href="javascript:;">
													<p class="nameDate">
														<span class="name">阿萨德飞阿萨德飞</span>
														<span class="date">2013-02-03</span>
													</p>
													<p class="ellipsis intro">阿道夫噶第三方的说法的是发送到发送到发送到发送到</p>
												</a>
											</li>
											<li class="mui-table-view-cell" filetype="324" linkaddress="www.baidu.com"
												noticesecuid="234234" noticeid="423">
												<a class="mui-navigate-right hasSelect" href="javascript:;">
													<p class="nameDate">
														<span class="name">阿萨德飞阿萨德飞</span>
														<span class="date">2013-02-03</span>
													</p>
													<p class="ellipsis intro">阿道夫噶第三方的说法的是发送到发送到发送到发送到</p>
												</a>
											</li>
											<li class="mui-table-view-cell" filetype="324" linkaddress="www.baidu.com"
												noticesecuid="234234" noticeid="423">
												<a class="mui-navigate-right hasSelect" href="javascript:;">
													<p class="nameDate">
														<span class="name">阿萨德飞阿萨德飞</span>
														<span class="date">2013-02-03</span>
													</p>
													<p class="ellipsis intro">阿道夫噶第三方的说法的是发送到发送到发送到发送到</p>
												</a>
											</li>
											<li class="mui-table-view-cell" filetype="324" linkaddress="www.baidu.com"
												noticesecuid="234234" noticeid="423">
												<a class="mui-navigate-right hasSelect" href="javascript:;">
													<p class="nameDate">
														<span class="name">阿萨德飞阿萨德飞</span>
														<span class="date">2013-02-03</span>
													</p>
													<p class="ellipsis intro">阿道夫噶第三方的说法的是发送到发送到发送到发送到</p>
												</a>
											</li>
											<li class="mui-table-view-cell" filetype="324" linkaddress="www.baidu.com"
												noticesecuid="234234" noticeid="423">
												<a class="mui-navigate-right hasSelect" href="javascript:;">
													<p class="nameDate">
														<span class="name">阿萨德飞阿萨德飞</span>
														<span class="date">2013-02-03</span>
													</p>
													<p class="ellipsis intro">阿道夫噶第三方的说法的是发送到发送到发送到发送到</p>
												</a>
											</li>
											<li class="mui-table-view-cell" filetype="324" linkaddress="www.baidu.com"
												noticesecuid="234234" noticeid="423">
												<a class="mui-navigate-right hasSelect" href="javascript:;">
													<p class="nameDate">
														<span class="name">阿萨德飞阿萨德飞</span>
														<span class="date">2013-02-03</span>
													</p>
													<p class="ellipsis intro">阿道夫噶第三方的说法的是发送到发送到发送到发送到</p>
												</a>
											</li>
											<li class="mui-table-view-cell" filetype="324" linkaddress="www.baidu.com"
												noticesecuid="234234" noticeid="423">
												<a class="mui-navigate-right hasSelect" href="javascript:;">
													<p class="nameDate">
														<span class="name">阿萨德飞阿萨德飞</span>
														<span class="date">2013-02-03</span>
													</p>
													<p class="ellipsis intro">阿道夫噶第三方的说法的是发送到发送到发送到发送到</p>
												</a>
											</li>
											<li class="mui-table-view-cell" filetype="324" linkaddress="www.baidu.com"
												noticesecuid="234234" noticeid="423">
												<a class="mui-navigate-right hasSelect" href="javascript:;">
													<p class="nameDate">
														<span class="name">阿萨德飞阿萨德飞</span>
														<span class="date">2013-02-03</span>
													</p>
													<p class="ellipsis intro">阿道夫噶第三方的说法的是发送到发送到发送到发送到</p>
												</a>
											</li>
											<li class="mui-table-view-cell" filetype="324" linkaddress="www.baidu.com"
												noticesecuid="234234" noticeid="423">
												<a class="mui-navigate-right hasSelect" href="javascript:;">
													<p class="nameDate">
														<span class="name">阿萨德飞阿萨德飞</span>
														<span class="date">2013-02-03</span>
													</p>
													<p class="ellipsis intro">阿道夫噶第三方的说法的是发送到发送到发送到发送到</p>
												</a>
											</li>
											<li class="mui-table-view-cell" filetype="324" linkaddress="www.baidu.com"
												noticesecuid="234234" noticeid="423">
												<a class="mui-navigate-right hasSelect" href="javascript:;">
													<p class="nameDate">
														<span class="name">阿萨德飞阿萨德飞</span>
														<span class="date">2013-02-03</span>
													</p>
													<p class="ellipsis intro">阿道夫噶第三方的说法的是发送到发送到发送到发送到</p>
												</a>
											</li>
											<li class="mui-table-view-cell" filetype="324" linkaddress="www.baidu.com"
												noticesecuid="234234" noticeid="423">
												<a class="mui-navigate-right hasSelect" href="javascript:;">
													<p class="nameDate">
														<span class="name">阿萨德飞阿萨德飞</span>
														<span class="date">2013-02-03</span>
													</p>
													<p class="ellipsis intro">阿道夫噶第三方的说法的是发送到发送到发送到发送到</p>
												</a>
											</li>
										</ul>
									</div>
									<div class="mui-pull-bottom-pocket mui-block mui-visibility">
										<div class="mui-pull">
											<div class="mui-pull-loading mui-icon mui-spinner mui-hidden"></div>
											<div class="mui-pull-caption mui-pull-caption-nomore">没有更多了</div>
										</div>
									</div>
								</div>
								<div class="goTopBtn iconfont">

								</div>
								<div class="mui-scrollbar mui-scrollbar-vertical"
									style="transition-duration: 500ms; opacity: 0;">
									<div class="mui-scrollbar-indicator"
										style="transition-duration: 0ms; display: block; height: 614px; transform: translate3d(0px, 0px, 0px) translateZ(0px);">
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
		
	</div>

</body>
@@include('@pathInclude/views/footer.html')
<script src="/financial/static/js/publicPlacement/fundFile.js"></script>
</html>