<!-- 我的定投计划 -->
<!-- author: 李亮
	time:2019/11/23 -->
<!DOCTYPE html>
<html>

<head>
    @@include('@pathInclude/views/meta.html')
    <link rel="stylesheet" href="/financial/static/css/myInvestmentPlanH.css">
    <title>我的定投计划</title>
</head>

<body>
    <!--没有数据显示图标-->
    <!-- @@include('@pathCommonCom/noData/noData.html', {"tipText": "暂无数据"}) -->
    <!--加载显示图标-->
    @@include('@pathCommonCom/loading/listLoading.html')
    <!--公共页面头部-->
    <div class="topTitle">
        @@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#2C3E77,#273971","showType":"0","pathName":"已终止的定投计划"})
    </div>
    <div class="wrap">
        <div class="list" style="width:100%;">
            <section class="contentWrapper">
                <div id="activityDataList">
                    <ul class="recordList contentWrap">
                    </ul>
                </div>
                @@include('@pathCommonViews/goTop.html')

            </section>
        </div>
        <script id="investmentPlan-template" type="text/x-handlebars-template">
            {{#each this}}
            <li class="investmentPlan-item" data-id={{scheduledProtocolId}}>
                <div class="content-t">
                    <h2>{{fundName}}</h2>
                    <span class="suspend">{{fixStateStr}}<i class="iconfont">&#xe636;</i></span>
                </div>
                <div class="content-c">
                    <p>
                        <span class="span-l">累积定投（元）</span>
                        <span class="span-r">{{fixedBalanceMask}}</span>
                    </p>
                    <p>
                        <span class="span-l">已投期数</span> {{#if totalTradeTimes_s}}
                        <span class="span-r">{{totalTradeTimes}}</span> {{else}}
                        <span class="span-r">--</span> {{/if}}
                    </p>
                    <p>

                    </p>
                </div>
                <div class="content-b">
                    每日一投定投{{fixedBalance}}元，下次扣款日期：{{nextFixrequestDate}}
                </div>
            </li>
            {{/each}}
        </script>

    </div>
    @@include('@pathInclude/views/footer.html')
    <script src="/financial/static/js/publicPlacement/myInvestmentPlanH.js"></script>
</body>

</html>