<!-- /**  
 * @Page:  新发基金
 * @Author: zhangyanping
 * @Date:   2019-12-16
 * 
 */ -->

<!DOCTYPE html>
<html lang="en">
<head>
	@@include('@pathInclude/views/meta.html')
	<link rel="stylesheet" href="/financial/static/css/publicPlacement/newFundDetail.css">
	<title>新发基金</title>
</head>
<body>
	<!--加载图标-->
	<!-- @@include('@pathCommonCom/loading/listLoading.html') -->
	<div class="newFundDetail">
		@@include('@pathCommonViews/headBarConfig.html',{"pathName":"产品详情","bgColors":"#475A95,#475A95","showType":"1","serviceType":"1"})
		<div class="newFundDetailTitle">
			<div class="subscription">认购期：2019.11.11-2019.12.06 距离认购期结束还剩</div>
			<div class="subscriptionTime">22天 19小时 31分 34秒</div>
			
		</div>
		<div class="subscriptionTip"><span class="iconfont">&#xe649;</span><span class="subscriptionText">认购期仅供参考，以基金公司广告为准。为避免基金认购提前结果，请及时购买。</span></div>
		<!-- 新基金认购流程 -->
		<div class="subscriptionProcess">
			
		</div>
		
	</div>
	
</body>
@@include('@pathInclude/views/footer.html')
<script src="/financial/static/js/publicPlacement/newFundDetail.js"></script>
</html>