<!-- /**  
 * @Page:  新发基金
 * @Author: zhangyanping
 * @Date:   2019-12-16
 * 
 */ -->

<!DOCTYPE html>
<html lang="en">
<head>
	@@include('@pathInclude/views/meta.html')
	<link rel="stylesheet" href="/financial/static/css/publicPlacement/newFundDetail.css">
	<title>新发基金</title>
</head>
<body>
	<!--加载图标-->
	@@include('@pathCommonCom/loading/listLoading.html')
	@@include('@pathCommonViews/authenticationProcess.html',{"pathTitle":"认证信息"})
	<div class="newFundDetail">
		@@include('@pathCommonViews/headBarConfig.html',{"pathName":"","bgColors":"#22346D,#031349","showType":"1","serviceType":"1"})
		<div class="newFundDetailTitle">
			<div class="subscription">认购期：<span class="subscriptionDate"></span> 距离认购期结束还剩</div>
			<div class="subscriptionTime"></div>
			
		</div>
		<div class="subscriptionTip"><span class="iconfont">&#xe649;</span><span class="subscriptionText">认购期仅供参考，以基金公司公告为准。为避免基金认购提前结束，请及时购买。</span></div>
		<!-- 新基金认购流程 -->
		<div class="subscriptionProcess">
			<div class="moduleName">新基金认购流程</div>
			<div class="dealRegArea">
				<div class="line_area">
					<div class="line_area_left">
						<div class="top">募集期</div>
						<div class="mid"></div>
						<div class="bottom">截止<span class="collectDate"></span></div>
					</div>
					<div class="line_area_mid line_area_midLeft">
						<div class="top">备案期</div>
						<div class="mid"></div>
						<div class="bottom">7个工作日</div>
					</div>
					<div class="line_area_mid line_area_midRight">
						<div class="top">封闭期</div>
						<div class="mid"></div>
						<div class="bottom">不超过3个月</div>
					</div>
					<div class="line_area_right">
						<div class="top">开放期</div>
						<div class="mid"></div>
						<div class="bottom">公告为准</div>
					</div>
					<div class="line_left"></div>
					<div class="line_mid"></div>
					<div class="line_right"></div>
				</div>

			</div>
			
		</div>
		<!-- 交易规则 -->
		<div class="tradeRule">
			<div class="moduleName">交易规则</div>
			<div class="contentWrap">
				<ul class="mui-row">
					<li class="mui-col-sm-4 mui-col-xs-4">交易状态</li>
					<li class="changgeRight mui-col-sm-8 mui-col-xs-8">认购期</li>
				</ul>
				<ul class="mui-row">
					<li class="mui-col-sm-4 mui-col-xs-4">买入费率</li>
					<li class="changgeRight mui-col-sm-8 mui-col-xs-8"><span class="purchaseRate"></span><span class="discountRate discountRatefirst"></span></li>
				</ul>
				<ul class="mui-row">
					<li class="mui-col-sm-4 mui-col-xs-4">认购起点</li>
					<li class="changgeRight mui-col-sm-8 mui-col-xs-8 buyStart"></li>
				</ul>
			</div>
		</div>
		<!-- 产品档案 -->
		<div class="productFile">
			<div class="moduleName">产品档案</div>
			<div class="contentWrap">
				<ul class="mui-row">
					<li class="mui-col-sm-4 mui-col-xs-4 fundListName">基金档案</li>
					<li class="changgeRight mui-col-sm-8 mui-col-xs-8 fundFile"><span>概括、公告</span><span class="iconfont">&#xe636;</span></li>
				</ul>
				<ul class="mui-row">
					<li class="mui-col-sm-4 mui-col-xs-4 fundListName">基金经理</li>
					<li class="changgeRight mui-col-sm-8 mui-col-xs-8 fundManager"><span class="fundManagerTxt"></span><span class="iconfont">&#xe636;</span></li>
				</ul>
				<ul class="mui-row">
					<li class="mui-col-sm-4 mui-col-xs-4 fundListName">基金公司</li>
					<li class="changgeRight mui-col-sm-8 mui-col-xs-8 fundCompany"><span class="fundCompanyTxt"></span><span class="iconfont">&#xe636;</span></li>
				</ul>
			</div>
		</div>
		<div class="investmentTip">基金销售服务由北京恒天明泽基金销售有限公司提供</div>
		<!-- 立即买入 -->
		<div class="immediatelyBuy">
			<div class="buyRate">买入费率<span class="purchaseRate purchaseRatesecond"></span><span class="discountRate"></span></div>
			<div class="mui-btn buyButton" >立即买入</div>
		</div>

		<div class="isRiskMatchBox">
			<div class="isRiskMatchBox_contentBox">
				<div class="headTital">尊敬的用户</div>
				   <div class='isRiskMatchBox_header'>你选择的产品与您现在的风险承受能力相匹配</div>
				   <div class="isRiskMatchBox_footer">
					   <div class="isRiskMatchBox_match">明白了</div>
					   <div class="isRiskMatchBox_noMatch"><button class="isRiskMatchBox_cancel">放弃购买</button> <button class="isRiskMatchResult">查看评测结果</button></div>
				   </div>
			</div>
		</div>
		<div class="isRiskMatch_mask"></div>
	</div>
	
</body>
@@include('@pathInclude/views/footer.html')
<script src="/financial/static/js/publicPlacement/newFundDetail.js"></script>
</html>