<!-- /**  
 * @Page:  普通基金产品详情页_定投
 * @Author: caoqihai  
 * @Date:   2019-11-23
 * 
 */ -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
     @@include('@pathInclude/views/meta.html')
     <link rel="stylesheet" href="/financial/static/css/publicPlacement/ordinarySetThrow.css">
     <title>公募监管账户</title>
 </head>
 <body>
     <!-- @@include('../../common/views/load.html') -->
     
     <section class="container">
        @@include('@pathCommonViews/headBarConfig.html',{"pathName":"定投"}) 
        <div class="br"></div>
        <div class="title">普通基金1 00223</div>
        <div class="money">
            <div class="mfirst">
                <div class="mfirst-one">定投金额</div>
                <div class="mfirst-two">
                    <span>交易规则</span> 
                    <a class="iconfont iconone" href="javascript:;">&#xe67d;</a>
                </div>
            </div>
            <div class="msecond">
                <div class="msecond-one">￥
                    <input type="number" >
                </div>
                <img  src="/financial/static/img/icon_delete@2x.png" alt="">
             </div>
             <div class="pay">费用估算: 0.00元(0.00%)</div>
         </div>
         <div class="online">
            <div class="onleft">在线支付</div>
            <div class="onright" id="bank">
                <div class="onright-left">
                    <div class="onright-left-one">
                        <img src="/financial/static/img/account_icon_bank logo@2x.png" alt="">
                        <i>中国建设银行</i>
                        <span>0563</span>
                    </div>
                    <div class="onright-left-two">单笔限额5万，单日限额10万</div>
                </div>
                <a class="iconfont iconone" href="javascript:;">&#xe67d;</a>
            </div>
         </div>
         <div class="time">
            <div class="dtzq">定投周期</div>
            <div class="tim" id="starttime">
                <span>每月1日</span>
                <a class="iconfont iconone" href="javascript:;">&#xe67d;</a>
            </div>
         </div>
         <div class="p1">
            下次扣款日期 2019-11-19日，遇非交易日顺诞至下一交易日
         </div>
         <div class="p2">
            <img src="/financial/static/img/sign up_icon_checkbox_normal@2x.png" alt=""><div>如有内容占位，此处显示内容此处显示内容此处显示内容<span>《xxxx》</span>和<span>《xxxxxx》</span></div>
         </div>
         <div class="btn">
            确定
         </div>
         <div class="bottom">
            如有文字占位： 此处按需求添加文字说明此处按照需求添加文字说明此处按照需求添加文字说明此处按照需求添加文字说明
         </div>

         <!-- 银行卡弹窗 -->
        <div class="popup">
            <div class="popup-mask"></div>
            <div class="popup-content">
                <div class="popup-title">
                    <!-- <div class="popup-close"> -->
                        <img class="popup-close" src="/financial/static/img/Nav Bar_icon_close_black@2x.png" alt="">
                    <!-- </div> -->
                    <div class="tit">选择在线支付银行卡</div> 
                </div>
                <ul class="popup-ul">
                    <li class="popup-li">
                        <img class="bank-img" src="/financial/static/img/account_icon_bank logo@2x.png" alt="">
                        <div class="div">
                            <div class="bank-name">中国招商银行储蓄卡(8304)</div>
                            <div class="bank-pay">单笔限额5万，单日限额10万</div>
                        </div>
                        <img class="true" src="/financial/static/img/account_icon_check@2x.png" alt="">
                    </li>
                    <li class="popup-li">
                            <img class="bank-img" src="/financial/static/img/account_icon_bank logo@2x.png" alt="">
                            <div class="div">
                                <div class="bank-name">中国招商银行储蓄卡(8304)</div>
                                <div class="bank-pay">单笔限额5万，单日限额10万</div>
                            </div>
                            <img class="true" src="/financial/static/img/account_icon_check@2x.png" alt="">
                        </li>
                        <li class="popup-li">
                                <img class="bank-img" src="/financial/static/img/account_icon_bank logo@2x.png" alt="">
                                <div class="div">
                                    <div class="bank-name">中国招商银行储蓄卡(8304)</div>
                                    <div class="bank-pay">单笔限额5万，单日限额10万</div>
                                </div>
                                <img class="true" src="/financial/static/img/account_icon_check@2x.png" alt="">
                            </li>
                    <li class="popup-li">
                            <img class="bank-img" src="/financial/static/img/account_icon_bank logo@2x.png" alt="">
                            <div class="div">
                                <div class="bank-name">中国招商银行储蓄卡(8304)</div>
                                <div class="bank-pay">单笔限额5万，单日限额10万</div>
                            </div>
                            <img class="true" src="/financial/static/img/account_icon_check@2x.png" alt="">
                        </li>
                    <li class="popup-last">
                            <img class="last-img" src="/financial/static/img/account_icon_bank logo@2x.png" alt="">
                            <div class="last-title">
                                添加银行卡付款
                            </div>
                            <a class="iconfont iconone" href="javascript:;">&#xe67d;</a>
                    </li>
                </ul>
            </div>
        </div>
     </section>
     <!-- 加载中loading -->
     <!-- @@include('@pathCommonViews/load.html') -->
 
     <!-- 加载中loading -->
     @@include('@pathCommonViews/loading/listLoading.html')
 
     @@include('@pathInclude/views/footer.html')
     <!-- 添加埋点 -->
     @@include('@pathInclude/views/header.html')
     <script src="/financial/static/js/publicPlacement/ordinarySetThrow.js"></script>
 
 </body>
 </html>