<!-- /**  
 * @Page:  现金管理 - 转入
 * @Author: yangjinlai  
 * @Date:   2019-11-25
 * 
 */ -->

 <!DOCTYPE html>
 <html lang="en">
 
 <head>
     @@include('@pathInclude/views/meta.html')
     <link rel="stylesheet" href="/financial/static/css/publicPlacement/ordinarySetThrow.css">
     <title>定投</title>
 </head>
 
 <body>
     @@include('@pathCommonCom/loading/listLoading.html')
     @@include('@pathCommonViews/headBarConfig.html',{"pathName":"定投"})

     <section class="container">
         <div class="br"></div>
         <div class="title">
             <span class="fundName"></span>
             &nbsp;
             <span class="fundCode"></span>
         </div>
         <div class="money">
             <div class="mfirst">
                 <div class="mfirst-one">定投金额</div>
                 <div class="mfirst-two">
                    <span>交易规则</span> 
                    <a href="javaScript:;" class="iconfont iconone goRule" href="javascript:;">&#xe67d;</a>
                </div>
             </div>
             <div class="msecond">
                 <span class="msecond-one">￥</span>
                 <input class="transformInput" id="transformInput" type="number">
                 <a href="javascript:;" class="deleteNum"><img src="/financial/static/img/icon_delete@2x.png" alt=""></a>
              </div>
              <div class="pay">
                 <p class="CostEstimate">费用估算：<span class="num">-</span></p>
              </div>
          </div>
         <div class="onlinepay paymoney" pay-type="0">
             <div class="ff">在线支付</div>
             <div class="paymoney-right">
                <a class="iconfont iconone"  href="javascript:;">&#xe67d;</a>
                <div class="onright-left">
                </div>
             </div>
         </div>

         <div class="time">
            <div class="dtzq">定投周期</div>
            <div class="tim" id="starttime">
                <span class="fixedPeriodMask" id="cycle">每月 1日</span>
                <a class="iconfont iconone" href="javascript:;">&#xe67d;</a>
            </div>
        </div>
        <div class="p1 deductDay">
            <p>下次扣款日期<span class="next-cut-payment"></span>日，遇非交易日顺延至下一交易日</p>
        </div>
         <script id="bankListCheck-template" type="text/x-handlebars-template">
             {{#each this}}
             <div class="onright-left-one">
                 <img src="{{bankThumbnailUrl}}" alt="">
                 <i>{{bankName}}</i>
                 <span>{{after4Num}}</span>
             </div>
             <div class="onright-left-two">单笔限额{{singleNum_w}}，单日限额{{oneDayNum_w}}</div>
             {{/each}}
         </script>
         <div class="p2">
             <div>
                 <span class="file">
                     <a href="javascript:;" class="item2"><span class="iconfont">&#xe668;</span><span>已阅读并同意</span></a>
                     <a href="javascript:;" class="setGoUrl_1">《定期定额投资业务协议》 </a>、
                     <a href="javascript:;" class="setGoUrl">《公募基金风险揭示及售前告知书》</a>、
                     <a href="javascript:;" class="contract goPreview">《基金合同》</a>、
                     <a href="javascript:;" class="recruiting goPreview">《招募说明书》</a>
                 </span>
                 
             </div>
         </div>
        <div class="btn_box">
             <button class="btn" type="button" disabled>
                     确定
             </button>
             
        </div>
         
     </section>
 
     <!-- 银行卡弹窗 -->
     <div class="popup">
         <div class="popup-mask"></div>
         <div class="popup-content">
             <div class="popup-title">
                 <!-- <div class="popup-close"> -->
                 <img class="popup-close" src="/financial/static/img/Nav Bar_icon_close_black@2x.png" alt="">
                 <!-- </div> -->
                 <div class="tit">选择在线支付银行卡</div>
             </div>
             <ul class="popup-ul">
 
             </ul>
             <script id="bankList-template" type="text/x-handlebars-template">
                 {{#each this}}
                 <li class="popup-li bank-li" useEnv="{{useEnv}}" capitalMode="{{capitalMode}}" bankThumbnailUrl="{{bankThumbnailUrl}}" tradeAcco="{{tradeAcco}}" bankName="{{bankName}}" bankNo="{{bankNo}}" singleNum="{{singleNum}}"
                  oneDayNum="{{oneDayNum}}" bankAccount="{{bankAccount}}" bankAccountSecret="{{bankAccountSecret}}" bankAccountMask="{{bankAccountMask}}" after4Num="{{after4Num}}" singleNum="{{singleNum}}">
                     <img class="bank-img" src="{{bankThumbnailUrl}}" alt="">
                     <div class="div">
                         <div class="bank-name">{{bankName}}({{after4Num}})</div>
                         <div class="bank-pay">单笔限额{{singleNum_w}}，单日限额{{oneDayNum_w}}</div>
                     </div>
                     <img class="true" src="/common/img/account_icon_check@2x.png" alt="">
                 </li>
                 {{/each}}
                 <li class="popup-last" popup-last='false'>
                     <img class="last-img" src="/financial/static/img/icon _tianjia@2x.png" alt="">
                     <div class="last-title">
                         添加银行卡付款
                     </div>
                     <a href="javascript:;" class="iconfont iconone">&#xe67d;</a>
                 </li>
             </script>
         </div>
     </div>
 
     <!-- 校验密码弹窗 -->
     <div class="popup-password">
         <div class="elasticMid">
                <div class="elasticTxt">
                </div>
                <div  class="elasticButtons error1">
                     <button class="elasticCel" type="button">忘记密码</button>
                     <button class="elasticYes" type="button">重新输入</button>
                </div>
                <div  class="elasticButtons error2">
                     <button class="elasticCel" type="button">取消</button>
                     <button class="elasticYes" type="button">找回密码</button>
                </div>
                <div  class="elasticButtons error3">
                     <button class="elasticCel" type="button">取消</button>
                     <button class="elasticYes" type="button">重试</button>
                </div>
         </div>
     </div>
      @@include('@pathCommonViews/payPassword.html')
      <!-- 转出规则 -->
      @@include('@pathCommonCom/elasticLayer/transOutRule/transOutRule.html')
  
      @@include('@pathInclude/views/footer.html')
      <script src="/financial/static/js/publicPlacement/ordinarySetThrow.js"></script>
      <!-- <script src="/account/static/js/public/payPassword.js"></script> -->
  </body>
  </html>