<!-- 
	公募产品详情页
	@author shiyunrui 20191123
-->
<!doctype html>
<html lang="en">

	<head>
		@@include('@pathInclude/views/meta.html')
		<link rel="stylesheet" href="/financial/static/css/publicPlacement/publicDetail.css">
		<title></title>
	</head>

<body>
	@@include('@pathCommonCom/loading/listLoading.html') 
	<div class="publicDetail ">
		@@include('@pathCommonViews/headBarConfig.html',{"pathName":"普通基金","bgColors":"#22346D,#031349","showType":"1","serviceType":"1"})
		<div class="tplBox"></div>
	</div>
	@@include('@pathCommonViews/authenticationProcess.html',{"pathTitle":"认证信息"})
	@@include('@pathInclude/views/footer.html')
		
		<script id="dataLists" type="text/x-handlebars-template">
			<div>
				{{#if fundType}}
				<div class="topContent">       <!-- 10300 -->
					<!-- <div class="service"></div> -->
					<div class="day_gain">七日年化</div>
					<div class="day_gain_value">{{annYldRat_s}}%</div>
					<div class="new_worth">万份收益</div>
					<div class="new_worth_value">{{unitYld}}</div>
					<div class="type">
						{{#if riskLevelName}}
						<div class="type_1">{{riskLevelName}}</div>
						{{/if}}
						{{#if invTypComDesc}}
						<div class="type_2">{{invTypComDesc}}</div>
						{{/if}}
						<!-- <div class="type_3">10000.0元起购</div> -->
					</div>
				</div>
				{{else}}
				<div class="topContent">    <!-- 非10300 -->
					<!-- <div class="service"></div> -->
					<div class="day_gain">日涨幅</div>
					<div class="day_gain_value">{{chgRat1d}}%</div>
					<div class="new_worth">最新净值({{trDate}})</div>
					<div class="new_worth_value">{{unitNavRetainFourStr}}</div>
					<div class="type">
						{{#if riskLevelName}}
						<div class="type_1">{{riskLevelName}}</div>
						{{/if}}
						{{#if invTypComDesc}}
						<div class="type_2">{{invTypComDesc}}</div>
						{{/if}}
						{{#if minValue}}
						<div class="type_2">{{minValue}}元起购</div>
						{{/if}}
					</div>
				</div>
				{{/if}}
				<div class="midContent">
					<div class="max_amount_area">
						{{#if tradeLimitFlag2}}
						<div class="max_amount fl"></div>
						<div class="max_amount_value fl">单日单账户限额{{tradeLimitAmount}}万</div>
						{{/if}}
					</div>
					<div class="net_worth_area">
						<div class="net_worth_item">
							<div class="title">近一周</div>
							<div class=" value">{{chgRat1w}}%</div>
						</div>
						<div class="net_worth_item">
							<div class="title">近三个月</div>
							<div class=" value">{{chgRat3m}}%</div>
						</div>
						<div class="net_worth_item">
							<div class="title">近一年</div>
							<div class=" value">{{chgRat1y}}%</div>
						</div>
						<div class="net_worth_item">
							<div class="title">成立来</div>
							<div class=" value">{{chgRatBgn}}%</div>
						</div>
					</div>
					<div class="lineWrap">
						<div class="nav" id="redeemNav">
							<span class="navSpan quick active" type="1">七日年化</span>
							<span class="navSpan normal" type="2">万份收益</span>
						</div>
						<div class="line_area" >
							<div id="line1" class="line"></div>
							<div class="hide noDataHintEcharts">暂无数据</div>
						</div>
						<div class='tab'>
							<span class="time oneMonth active" time='1'>月</span>
							<span class="time threeMonth" time='3'>季</span>
							<span class="time newYear" time='6'>半年</span>
							<span class="time sinceNow" time='12'>一年</span>
							<span class="time oneMonth" time='0'>成立以来</span>
						</div>
					</div>
					<div class="history_area">
						<div class="titleWrap">
							<div class="title" id="history_tital">
								
							</div>
							<div class="arrow history_more">
								<span class="img"></span>
							</div>
							<div class="desc history_more mr_03">
								<span>查看更多</span>
							</div>
						</div>
						<div class="history_item"></div>
						<div class="tplBox1"></div>
					</div>
					<div class="dealRegArea">
						<div class="titleWrap newTitalWarp">
							<div class="title">交易规则</div>
							<div class="arrow rule">
								<span class="img"></span>
							</div>
							<div class="desc rule mr_03">
								<span class="ruleName">买入/卖出规则</span>
							</div>
						</div>
						<div class="line_area">
							<div class="line_area_left">
								<div class="top">买入提交</div>
								<div class="mid"></div>
								<div class="bottom">今日15点前</div>
							</div>
							<div class="line_area_mid">
								<div class="top">确认份额</div>
								<div class="mid"></div>
								<div class="bottom">{{fundConfirmDate}}</div>
							</div>
							<div class="line_area_right">
								<div class="top">查看盈亏</div>
								<div class="mid"></div>
								<div class="bottom">{{fundEarnDate}}</div>
							</div>
							<div class="line_left"></div>
							<div class="line_right"></div>
						</div>
						<div class="line_desc">15:00后采用转账汇款方式的认申购款将视作下一个工作日的交易款项。</div>
					</div>
					<div class="titleWrap">
						<div class="title">
							产品档案
						</div>
					</div>
					<div class="titleWrap">
						<div class="title nobold">
							基金档案
						</div>
						<div class="arrow fundFile">
							<span class="img"></span>
						</div>
						<div class="desc fundFile">
							概括、持仓、公告、分红
						</div>
					</div>
					<div class="titleWrap">
						<div class="title nobold">
							基金经理
						</div>
						<div class="arrow fundManager">
							<span class="img"></span>
						</div>
						{{#if fundManager}}
						<div class="desc fundManagerText fundManager">
							{{fundManager}}
						</div>
						{{else}}
						<div class="desc fundManagerText fundManager">
							--
						</div>
						{{/if}}
					</div>
					<div class="titleWrap">
						<div class="title nobold">
							基金公司
						</div>
						<div class="arrow">
							<span class="img"></span>
						</div>
						{{#if fmcComName}}
						<div class="desc fundCompanyText fundCompany">
							{{fmcComName}}
						</div>
						{{else}}
						<div class="desc fundCompanyText fundCompany">
							--
						</div>
						{{/if}}
					</div>
					<div class="company_info">
						基金销售服务由北京恒天明泽基金销售有限公司提供
					</div>
					{{! 原position: sticky;的样式有兼容性问题，挪到footer结构里 }}
					{{! <div class="divider-top"></div> }}
					<div class="divider"></div>
				</div>
				<div class="footer">
					<div class="divider-top"></div>
					<div class="footerDiv">
						<div class="share_area" type="1">
							<div class="img"></div>
							<div class="text">分享</div>
						</div>
						<div class="selected_area"  type="2">
							<div class="img"></div>
							<div class="text">加自选</div>
						</div>
						<div class="fixed_investement_btn"  type="3">定投</div>
						<div class="buy_btn"  type="4">买入</div>
					</div>
				</div>
				<div class="isRiskMatchBox">
					<div class="isRiskMatchBoxSmall">
						<div class="isRiskMatchBox_contentBox">
							<div class="headTital">尊敬的用户</div>
							<div class='isRiskMatchBox_header'>你选择的产品与您现在的风险承受能力相匹配</div>
							<div class="isRiskMatchBox_footer">
								<div class="isRiskMatchBox_match">明白了</div>
								<div class="isRiskMatchBox_noMatch"><button class="isRiskMatchBox_cancel">放弃购买</button> <button class="isRiskMatchResult">查看评测结果</button></div>
							</div>
						</div>
					</div>
				</div>
				<div class="isRiskMatch_mask"></div>
			</div>
		</script>
		<script id="dataLists1" type="text/x-handlebars-template">
			<div >
				{{#if fundType}}
					{{#each pageList}}
					<div class="history_item" data="{{fundType}}">
						<div class="item_value_1">{{trdDt}}</div>
						<div class="item_value_2 value">{{annYldRat}}%</div>
						<div class="item_value_1">{{unitYld}}</div>
					</div>
				{{/each}}
				{{else}}
				{{#each pageList}}
					<div class="history_item" data2="{{fundType}}">
					    <div class="item_value_1">{{trdDt}}</div>
						<div class="item_value_1">{{unitNav}}</div>
						<div class="item_value_1">{{accuUnitNav}}</div>
						<div class="item_value_2 value">{{dayChgRat}}%</div>
					</div>
				{{/each}}
				{{/if}}
			</div>
		</script>
		<script src="/allServerResources/include/js/vendor/echarts/echarts.min.js"></script>
		<script src="/financial/static/js/publicPlacement/publicDetail.js"></script>
		<!-- <script src="https://cdn.jsdelivr.net/npm/eruda"></script> -->
	</body>

</html>