<!-- 定投结果 
 @author wangjiajia 2019-11-23
-->
<!DOCTYPE html>
<html lang="en">
<head>
	@@include('@pathInclude/views/meta.html') 
	<link rel="stylesheet" href="/Financial/static/css/publicPlacement/surelyResults.css">  
	<title>转入结果</title>
</head>
<body>
	<!-- @@include('@pathCommonViews/load.html')
        @@include('@pathCommonViews/noData.html')
        @@include('@pathCommonViews/loading/listLoading.html') -->
    @@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#2C3E77,#273971","showType":"0","pathName":"转入结果"}) 
    <div class="resultsWrap">
      <div class="resultTop">
        <div class="photo">
            <img src="/Financial/static/img/pic_success@2x.png" alt="">
        </div>
        <div class="succedText">申请成功</div>
        <div class="topContent">
          <ul class="topContentUl">
            <li>
                <img src="" alt="">
                申请时间
            </li>
            <li class="changeTime">2019-09-01 11:00:35</li>
          </ul>
          <ul class="topContentUl">
            <li>
                <img src="" alt="">
                预计确认份额时间
            </li>
            <li class="changeTime">2019-09-01 11:00:35前</li>
          </ul>
          <ul class="topContentUl">
            <li>
                <img src="" alt="">
                预计查看收益时间
            </li>
            <li class="changeTime">2019-09-01 11:00:35前</li>
          </ul>
          <!-- <ul class="topContentUl">
              <li></li>
              <li class="cont">后续每月1日将扣款10000元，非交易日后续每月1日将扣款10000元，非交易日</li>
          </ul> -->
        </div>
      </div>
      <div class="resultTopTwo">
            <div class="photo">
                    <img src="/Financial/static/img/pic_success@2x.png" alt="">
            </div>
            <div class="succedText">待扣款</div>
      </div>
      <div class="listWrap">
        <div class="listContent">
            <ul class="listContentUl">
              <li class="textcolor">买入基金</li>
              <li>现金宝产品1</li>
            </ul>
            <ul class="listContentUl">
                <li class="textcolor">买入金额</li>
                <li>10,000.00</li>
            </ul>
            <ul class="listContentUl">
                <li class="textcolor">支付方式</li>
                <li class="bank"> 中国建设银行0563</li>
                <li class="onlinePay"><span>在线支付</span></li>
            </ul>
            <ul class="listContentUl changeNone">
                <li class="textcolor">转入时间</li>
                <li > 2019-09-01 24:00</li>
            </ul>
        </div>
      </div>
      <!-- 头部完成定位 -->
      <div class="over">
           完成
      </div>
    </div>

	@@include('@pathInclude/views/footer.html')
	<!-- 添加埋点 -->
	@@include('@pathInclude/views/header.html')
    <script src="/Financial/static/js/publicPlacement/surelyResults.js"></script>
</body>
</html>