<!-- 定投结果 
 @author wangjiajia 2019-11-23
-->
<!DOCTYPE html>
<html lang="en">
<head>
	@@include('@pathInclude/views/meta.html') 
	<link rel="stylesheet" href="/financial/static/css/publicPlacement/surelyResultsDetail.css">  
	<title>买入结果</title>
</head>
<body>
	@@include('@pathCommonCom/loading/listLoading.html')
    @@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#2C3E77,#273971","showType":"0","pathName":"买入结果"}) 
    <div class="resultsWrap">
      <div class="resultTop">
        <div class="topContent">
            <div class="buyStatus">
                <h1 class="much"><span class="amount"></span> <span>元</span></h1>
                <p class="buyStatusText">待汇款金额</p>
            </div>
        </div>
        <div class="accountPayee">
            <div class="mianContenTitle">
                    请使用 <span><span class="bankName"></span>&nbsp;尾号<span class="bankNum"></span></span>&nbsp;汇入下面账户 
            </div>
            <div class="mainContent">
                <dl class="commonElasticLayer">
                    <dt>户名</dt>
                    <dd class="accountName"></dd>
                </dl>
                <dl>
                    <dt>账户</dt>
                    <dd class="bankAccount"></dd>
                </dl>
                <dl>
                    <dt>行号</dt>
                    <dd class="bankNo"></dd>
                </dl>
                <dl>
                    <dt>开户行</dt>
                    <dd class="bankAdress"></dd>
                </dl>
            </div>

        </div>
      </div>
      <div class="resultTopTwo">
         <div class="photo" >
            <img src="/common/img/buy_success.png" class="proess-success" alt="">
            <img src="/common/img/pic_success@2x.png" class="proess-ongoing" alt="">
            <img src="/common/img/pic_success2@2x.png" class="proess-error" alt="">
            <p class="succedText"></p>
         </div>
         <div class="proessBox buy-result">
             <div class="proess-img">
                <div class="right-proess"></div>
                <div class="proess-line"></div>        
                <div class="wait-proess shareTimeP"></div>    <!-- 流程 -->
                <div class="proess-line"></div>
                <div class="wait-proess earningsTimeP"></div>     <!-- 流程 -->
             </div>
             <div class="proess-title">
                <p class="applyTime time">
                    <span class="laber-left">申请时间</span>
                    <span class="laber-right"></span>
                </p>
                <p class="shareTime time">
                    <span class="laber-left">预计确认份额时间</span>
                    <span class="laber-right"></span>
                </p>
                <p class="earningsTime time">
                    <span class="laber-left">预计查看收益时间</span>
                    <span class="laber-right"></span>
                </p>
             </div>
         </div>
         <div class="proessBox redemption-result">
            <div class="proess-img">
               <div class="right-proess"></div>
               <div class="proess-line"></div>        
               <div class="wait-proess shareTimeP"></div>    <!-- 流程 -->
               <div class="proess-line"></div>
               <div class="wait-proess earningsTimeP"></div>     <!-- 流程 -->
            </div>
            <div class="proess-title">
               <p class="applyTime time">
                   <span class="laber-left">申请时间</span>
                   <span class="laber-right"></span>
               </p>
               <p class="shareTime time">
                   <span class="laber-left">预计份额确认日期</span>
                   <span class="laber-right"></span>
               </p>
               <p class="earningsTime time">
                   <span class="laber-left">预计金额到账日期</span>
                   <span class="laber-right"></span>
               </p>
            </div>
        </div>
      </div>
      <div class="listWrap">
        <div class="listContent buy-result">
            <ul class="listContentUl">
              <li class="textcolor">买入基金</li>
              <li>
                  <span class="fundName"></span>&nbsp;
                  <span class="fundCode"> </span>
                </li>
            </ul>
            <ul class="listContentUl">
                <li class="textcolor">买入金额</li>
                <li>
                    <span class="amount"></span>
                    <span class="unit">元</span>
                </li>
            </ul>
            <div class="normalBuyArea">
                <ul class="listContentUl">
                    <li class="textcolor">支付方式</li>
                    <li class="bank">
                        <span class="buyFundName"></span>
                        <img class="banKImg" src="" alt="">
                        <span class="bankName"></span>
                        <span class="bankNum"></span>
                    </li>
                    <li class="onlinePay"><span class="payType"></span></li>
                </ul>
            </div>
            <div class="fundBuyArea">
                <ul class="listContentUl removeBorder">
                    <li class="textcolor">支付方式</li>
                    <li class="buyFundName"><span class="fundBuyName"></span></li>
                </ul>
                <ul class="listContentUl">
                    <li></li>
                    <li class="buyFundName">
                        (
                        <span class="bankName"></span>
                        <span class="bankNum"></span>
                        )
                    </li>
                </ul>
            </div>
            <!-- <ul class="listContentUl changeNone">
                <li class="textcolor">转入时间</li>
                <li > 2019-09-01 24:00</li>
            </ul> -->
        </div>
        <div class="listContent redemption-result">
            <ul class="listContentUl">
              <li class="textcolor">赎回基金</li>
              <li>
                  <span class="fundName"></span>&nbsp;
                  <span class="fundCode"> </span>
                </li>
            </ul>
            <ul class="listContentUl">
                <li class="textcolor">赎回份额</li>
                <li>
                    <span class="amount"></span>
                    <span class="unit">份</span>
                </li>
            </ul>
            <ul class="listContentUl">
                <li class="textcolor">到账方式</li>
                <li class="bank">
                    <img class="banKImg" src="" alt="">
                    <span class="bankName"></span>
                    <span class="bankNum"></span>
                </li>
                <!-- <li class="onlinePay"><span class="payType"></span></li> -->
            </ul>
            <!-- <ul class="listContentUl changeNone">
                <li class="textcolor">转入时间</li>
                <li > 2019-09-01 24:00</li>
            </ul> -->
        </div>
      </div>
      <!-- 头部完成定位 -->
      <div class="over">
           完成
      </div>
    </div>

	@@include('@pathInclude/views/footer.html')
    <script src="/financial/static/js/publicPlacement/surelyResultsDetail.js"></script>
</body>
</html>