<!-- 交易规则
 @time 2019-11-23 
-->

<!DOCTYPE html>
<html lang="en">
<head>
	@@include('@pathInclude/views/meta.html')
	<link rel="stylesheet" href="/financial/static/css/transactionRules.css">
	<title></title>
</head>
<body>
	<div class="transactionRules">
		<div class="mui-card">
			<div class="card-theme">
				<ul>
					<li>交易状态</li>
					<li><span class="tradeStatus">申购状态</span><span class="statusRight floatRight">申购申购</span></li>
					<li><span class="tradeStatus">赎回状态</span><span class="statusRight floatRight">开放赎回</span></li>
				</ul>
			</div>
		</div>

		<!-- 购买金额 -->
		<div class="mui-card">
			<div class="card-theme">
				<ul>
					<li>购买金额</li>
					<li><span class="tradeStatus">申购起点</span><span class="statusRight floatRight">10000.00元</span></li>
					<li><span class="tradeStatus">追加购买</span><span class="statusRight floatRight">10000.00元</span></li>
					<li><span class="tradeStatus">日累计申购金额</span><span class="statusRight floatRight">99999999999.00元</span></li>
				</ul>
			</div>
		</div>

		<div class="mui-card">
			<div class="card-theme">
				<ul>
					<li>申购确认</li>
				</ul>
			</div>
		</div>

		<!-- <div class="mui-card">
			<div class="card-theme">
				<ul class="tradeRate">
					<li>交易费率</li>
					<li>
						<p>申购费率</p>
						<p><span>0万元<金额<100.0000万元</span><span>1.50%</span></p>
					</li>
				</ul>
			</div>
		</div> -->

		
	</div>
	
</body>
</html>