<!-- 交易规则
 @time 2019-11-23 
-->

<!DOCTYPE html>
<html lang="en">

<head>
	@@include('@pathInclude/views/meta.html')
	<link rel="stylesheet" href="/financial/static/css/transactionRules.css">
	<title></title>
</head>

<body>
	<div class="transactionRules ">
		@@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#2C3E77,#273971","showType":"0","pathName":"交易规则"})
		<div class="tplBox"></div>

	</div>

	@@include('@pathInclude/views/footer.html')
	<script src="/financial/static/js/publicPlacement/transactionRules.js"></script>
</body>

</html>

<script id="dataLists" type="text/x-handlebars-template">

<div>

	<!-- 交易状态 -->
	<div class="tradeState">
		<div class="tradeStateTitle">交易状态</div>
		<ul class="tradeStateList">
			<li><span>申购状态</span><span class="floatRight">{{purSt}}</span></li>
			<li><span>赎回状态</span><span class="floatRight">{{redemSt}}</span></li>
		</ul>
	</div>

	<!-- 购买金额 -->
	<div class="tradeState">
		<div class="tradeStateTitle">购买金额</div>
		<ul class="tradeStateList">
				{{#each tradeLimitList}}
			<li><span>申购起点</span><span class="floatRight">{{minValue}}元</span></li>
			<li><span>追加购买</span><span class="floatRight">{{secondMin}}元</span></li>
			<li><span>日累计申购金额</span><span class="floatRight">{{maxValue}}元</span></li>
			{{/each}}
		</ul>
	</div>
	<!-- 申购确认 -->
	<div class="purchaseState">
		<div class="tradeStateTitle">申购确认</div>
		<ul class="tradeStateList">
			<div class="line_area">
				<div class="line_area_left">
					<div class="top">买入</div>
					<div class="mid"></div>
					<div class="bottom">T日</div>
				</div>
				<div class="line_area_mid">
					<div class="top">确认份额</div>
					<div class="mid"></div>
					<div class="bottom">T+{{purchaseConfirmDay}}日</div>
				</div>
				<div class="line_area_right">
					<div class="top">查看盈亏</div>
					<div class="mid"></div>
					<div class="bottom">T+{{lookEarnDay}}日</div>
				</div>
				<div class="line_left"></div>
				<div class="line_right"></div>
			</div>
		</ul>
		<div class="tradeStateTitle">赎回确认</div>
		<ul class="tradeStateList">
			<div class="line_area">
				<div class="line_area_left">
					<div class="top">卖出</div>
					<div class="mid"></div>
					<div class="bottom">T日</div>
				</div>
				<div class="line_area_mid">
					<div class="top">确认份额</div>
					<div class="mid"></div>
					<div class="bottom">T+{{redeemConfirmDay}}日</div>
				</div>
				<div class="line_area_right">
					<div class="top">到银行卡</div>
					<div class="mid"></div>
					<div class="bottom">T+{{redeemToBank}}日</div>
				</div>
				<div class="line_left"></div>
				<div class="line_right"></div>
			</div>
		</ul>
		<div class="stateTip">T日为工作日，当个工作日15:00后的交易将视作下一个工作日的交易发起，相应的确认时间也顺延</div>
	</div>
	<!-- 交易费率 -->
	<div class="tradeState">
		<div class="tradeStateTitle">交易费率</div>
		<ul class="tradeRateList">
			<li class="tradeRate">
				
				<p class="tradeRateTitle">申购费率</p>
				{{#each fundPurchaseFeeRate.detailList}}
				<p class="tradeRateBuy">
					<!-- <span>{{minValue}}万元&lt;金额&lt;{{maxValue}}万元</span> -->
					<span class="label-left">{{conditions}}</span>
					{{#if status}}
					<span class="fontWeight">{{fundFeeRate}}</span>
					{{else}}
					<span class="fontWeight">{{fundFeeRate}}</span>
					{{/if}}
				</p>
				{{/each}}
			</li>
			<li class="tradeRate">
				<p class="tradeRateTitle">赎回费率</p>
					{{#each fundRedeemFeeRate.detailList}}
				<p class="tradeRateBuy">
					<!-- <span>{{minValue}}日&lt;持有时长&lt;{{maxValue}}日万元</span> -->
					<span>{{conditions}}</span>

					{{#if status}}
					<span class="fontWeight">{{fundFeeRate}}</span>
					{{else}}
					<span class="fontWeight">每笔{{fundFeeRate}}元</span>
					{{/if}}
				</p>
				{{/each}}
			</li>
			<li class="tradeRate">
				<p class="tradeRateTitle">管理费率</p>
				<p class="tradeRateBuy"><span>管理费率</span><span class="fontWeight">{{managementFee}}(每年)</span></p>
				<p class="tradeRateBuy"><span>托管费率</span><span class="fontWeight">{{custodyFee}}(每年)</span></p>
				<p class="tradeRateBuy"><span>销售服务费率</span><span class="fontWeight">{{salesFee}}(每年)</span></p>
			</li>
		</ul>
	</div>

	<div class="warningTape">基金销售服务由北京恒天明泽基金销售有限公司提供</div>

</div>
</script>