<!-- 交易规则
 @time 2019-11-23 
-->

<!DOCTYPE html>
<html lang="en">
<head>
	@@include('@pathInclude/views/meta.html')
	<link rel="stylesheet" href="/financial/static/css/transactionRules.css">
	<title></title>
</head>
<body>
	<!-- @@include('@pathCommonViews/load.html') -->
	<!-- @@include('@pathCommonViews/noDataImg.html')   -->
	<!-- @@include('@pathCommonViews/loading/listLoading.html') -->
	<div class="transactionRules">
		@@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#2C3E77,#273971","showType":"0","pathName":"交易规则"})
		<!-- 交易状态 -->
		<div class="tradeState">
			<div class="tradeStateTitle">交易状态</div>
			<ul class="tradeStateList">
				<li><span>申购状态</span><span class="floatRight">申购申购</span></li>
				<li><span>赎回状态</span><span class="floatRight">开放赎回</span></li>
			</ul>
		</div>

		<!-- 购买金额 -->
		<div class="tradeState">
			<div class="tradeStateTitle">购买金额</div>
			<ul class="tradeStateList">
				<li><span>申购起点</span><span class="floatRight">10000.00元</span></li>
				<li><span>追加购买</span><span class="floatRight">10000.00元</span></li>
				<li><span>日累计申购金额</span><span class="floatRight">99999999999.00元</span></li>
			</ul>
		</div>
		<!-- 申购确认 -->
		<div class="tradeState">
			<div class="tradeStateTitle">申购确认</div>
			<ul class="tradeStateList">
				
			</ul>
		</div>
		<!-- 交易费率 -->
		<div class="tradeState">
			<div class="tradeStateTitle">交易费率</div>
			<ul class="tradeRateList">
				<li class="tradeRate">
					<p class="tradeRateTitle">申购费率</p>
					<p class="tradeRateBuy"><span>0万元&lt;金额&lt;100.0000万元</span><span class="fontWeight">1.50%</span></p>
					<p class="tradeRateBuy"><span>100.0000万元&lt;金额&lt;500</span><span class="fontWeight">0.00%</span></p>
					<p class="tradeRateBuy"><span>500.0000万元&lt;金额&lt;100</span><span class="fontWeight">每笔1,000.元</span></p>
				</li>
				<li class="tradeRate">
					<p class="tradeRateTitle">赎回费率</p>
					<p class="tradeRateBuy"><span>0日&lt;持有时长&lt;7日万元</span><span class="fontWeight">1.50%</span></p>
					<p class="tradeRateBuy"><span>7日&lt;持有时长&lt;365日</span><span class="fontWeight">0.00%</span></p>
					<p class="tradeRateBuy"><span>1年&lt;持有时长&lt;2年</span><span class="fontWeight">0.20%</span></p>
					<p class="tradeRateBuy"><span>2年&lt;持有时长&lt;99,9999</span><span class="fontWeight">0.20%</span></p>
				</li>
				<li class="tradeRate">
					<p class="tradeRateTitle">管理费率</p>
					<p class="tradeRateBuy"><span>管理费率</span><span class="fontWeight">1.00%(每年)</span></p>
					<p class="tradeRateBuy"><span>托管费率</span><span class="fontWeight">1.00%(每年)</span></p>
					<p class="tradeRateBuy"><span>销售服务费率</span><span class="fontWeight">—(每年)</span></p>
				</li>
				
			</ul>
		</div>

		<div class="warningTape">基金销售服务由北京恒天明泽基金销售有限公司提供</div>

		
	</div>
	
@@include('@pathInclude/views/footer.html')
<script src="/financial/static/js/publicPlacement/transactionRules.js"></script>
</body>
</html>