<!-- 富文本通用模板
 @author 田俊国 2019-11-19
-->
<!DOCTYPE html>
<html lang="en">
<head>
    @@include('@pathInclude/views/meta.html')
    <link rel="stylesheet" href="/allServerResources/model/static/css/articleTemplate.css">
    <title>模板</title>
</head>
<body>
    @@include('@pathCommonCom/loading/listLoading.html')
    <div id="richTemplateWrap" class="articleTemplate">
        @@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#000,#eee","showType":"0","pathName":""})
        <div class='imgCont'><img src="" alt="" /></div>

        <div class="artHeaderCont">
            <div class="artImg" id="video_wrapper"><img src="" alt=""><div class="videoButton"><div class="mask"></div><span></span><i class="iconfont playIcon videoPlayIcon">&#xe640;</i></div></div>
            <!-- <div class="videoArea"><img class="videoImg" src="/include/img/arcticleheaderimg.png" alt="" /></div> -->
            <div class="artTitle hide">
                <p class="ellipsis_two"><!-- 11.13|资金买方资金买方头部文案头部文案头部文案头部文案头部文案 --></p>
            </div>

            <!-- 引入音频组件 -->
             @@include('@pathCommonCom/audio/audio.html')

        </div>
        <div id="contentWrap">


        </div>


        <div class="btnButton">
            <a href="javascript:void(0);" class="mui-btn btnHref"></a>
        </div>
    </div>

    @@include('@pathInclude/views/footer.html')

    <script src="/allServerResources/model/static/js/articleTemplate.js"></script>
    <!-- <script src="/include/js/modelPage/audio.js"></script> -->
</body>
</html>