<!--/**
 * 信息披露
 * @author  zhubingshuai 2020-04-09
 */-->

 <!doctype html>
 <html lang="en">
 <head>
	@@include('@pathInclude/views/meta.html')
	 <link rel="stylesheet" href="/allServerResources/model/static/css/informationTemplate.css">
	   <title>证券市场观点</title> 
 </head>
 <body>
	 <!-- 加载中loading -->
	@@include('@pathCommonCom/loading/listLoading.html')
 
	 <!-- 暂无数据 -->
	@@include('@pathCommonCom/noData/noData.html', {"tipText": "暂无数据"})
 
	@@include('@pathCommonViews/headBarConfig.html',{"pathName":"证券市场观点"})
 
	 <div class="mui-content midContent prvMart"> 
		 <!-- 放置页面内容 -->
		 <div class="text_content bgWhite">
			<div class="sub_title">华润元大景泰A</div>
			<div class="text text_body">
				受全球瘟疫数据恶化、油价暴跌拖累，3月9日-3月12日期间A股各大指数较前一周反弹之后，低开低走并不同成都收跌【上证指数】周度跌幅-4.85%。数较前一周反弹之后... 受全球瘟疫数据恶化、油价暴跌拖累，3月9日-3月12日期间A股各大指数较前一周反弹之后，低开低走并不同成都收跌【上证指数】周度跌幅-4.85%。数较前一周反弹之后... 受全球瘟疫数据恶化、油价暴跌拖累，3月9日-3月12日期间A股各大指数较前一周反弹之后，低开低走并不同成都收跌【上证指数】周度跌幅-4.85%。数较前一周反弹之后... 受全球瘟疫数据恶化、油价暴跌拖累，3月9日-3月12日期间A股各大指数较前一周反弹之后，低开低走并不同成都收跌【上证指数】周度跌幅-4.85%。数较前一周反弹之后
			</div>
		 </div>
	 </div>	
 
	   @@include('@pathInclude/views/footer.html')  
		 <script src="/allServerResources/model/static/js/informationTemplate.js"></script>
 </body>