//蔡文琦 2019-11-20 修改分红方式页面样式
@import url("../../../include/css/mui.min.css");
@import url('@pathCommonLess/mui/resetMUI.less');
@import url("@pathCommonLess/reset.less");
@import url("@pathCommonLess/color.less");
// @import url('@pathCommonLessCom/tabScroll.less');
// @import url("@pathCommonLessCom/againEnter.less");
@import url("@pathCommonLessCom/alertBox.less");
@import url("@pathCommonLessCom/headBarConfig.less");
@import url("@pathCommonLess/components/elasticLayer.less");

body{
    max-width: 7.5rem;
}
.tips{
    color:@9B9B9B;
    // text-align: center;
    text-indent: .3rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
    font-size: .24rem;
}
.wrap{
    width: 7.5rem;
    height: 2.73rem;
    background-color: @c005;
    .inner{
        width: 6.9rem;
        margin: 0 auto;
        .type_one{
            height: 1.36rem;
            border-bottom: solid 1px @E7E9ED;
            position: relative;
            .duigou{
                display: none;
                color:@364D97;
                font-size: .4rem;
                position: absolute;
                top: .58rem;
                right: .16rem;
            }
        }
        .type_two{
            height: 1.36rem;
            position: relative;
            .duigou{
                display: none;
                color:@364D97;
                font-size: .4rem;
                position: absolute;
                top: .58rem;
                right: .16rem;
            }
        }
    }
}
.bonusType{
    font-size: .32rem;
    color:@272727;
    position: absolute;
    top: .24rem;
}
.describe{
    font-size:.24rem;
    color: @9B9B9B;
    position: absolute;
    top: .79rem;
}
.footer{
    margin: .3rem auto;
    text-align: center;
    font-size: .24rem;
    color: @9B9B9B;
}
