//基金诊断页面,基金诊断搜索页
//引入mui
@import url("@pathInclude/css/mui.picker.all.css");
@import url("@pathInclude/css/mui.picker.css");
@import url("@pathInclude/css/mui.poppicker.css");

//引入重置mui样式的表单样式文件
@import url('@pathCommonLess/mui/resetMUI.less');
//引入重置mui下拉列表样式文件
@import url("@pathCommonLess/mui/selectMUI.less");

//重置MUI的poppicker样式
@import url("@pathCommonLess/mui/resetMuiPop.less");

@import url("@pathCommonLessCom/headBarConfig.less");
@import url("@pathCommonLess/components/elasticLayerTypeTwo.less");
@import url('@pathCommonCom/elasticLayer/transOutRule/transOutRule.less');
@import url("@pathCommonLessCom/payPassword.less");

.mui-dtpicker{
    .mui-dtpicker-header{
        // padding: 0;
        height: 0.8rem;
        line-height: 0.8rem;
        border-bottom: 1px solid #eee;
        margin-bottom: 0.24rem;
    }
}

.tips{
    font-size:.24rem;
    line-height:.6rem;
    background-color: @FFF9F0;
    color: @9B9B9B;
    width: 100%;
    height: .6rem;
    text-indent:.2rem;
    position: fixed;
    top: 1.28rem;
    z-index: 2;
    
}
.notes{
    font-size: .24rem;
    font-weight:400;
    color:@9B9B9B;
    line-height: 0.4rem;
    padding: .15rem .15rem;
    text-indent:.2rem;
}

.yield_first,.loss_first{
    margin-right: 0rem !important;
}
.iptRight1,.iptRight2{
    float: right;
    line-height: 1rem;
    margin-right: .3rem;
    color: @9B9B9B;
}
html,
body {
    height: 100%;
    .container{
        width: 100%;
        height:100%;
        
        padding-bottom: 1rem;
        .mui-table-view{
            margin-top: .6rem;
        }
        .HeadBarConfigBox{
            #HeadBarpathName{
                display:block !important;
            }
        }
        .account-holdings{
            height: 0.6rem;
        }
        .fund-allocation{
            margin-bottom: 0.4rem;
        }
        .title-box{
            line-height: 0.3rem;
            text-align: center;
            margin-top: 0.2rem;
        }
        .popuplist{
            display: block;
            position: fixed;
            left: 0;
            right: 0;
            width: 100%;
            top: 0;
            background: #666666;
            height: 100%;
            z-index: 10000;
            .popup-content{
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 7rem;
                background-color: white;
                overflow: scroll;
            }
            .mui-table-view-cell{
                text-align: center;
                line-height: 1rem;
            }
            .selectItemList{
                display: none;
            }
            .selectItemList:nth-of-type(1){
                display: block;
            }
        }
        .mui-table-view > .mui-table-view-cell {
            position: relative;
            background-color: white;
            min-height: 1rem;
            line-height: 0.5rem;
        }
        .popup .mui-table-view > .mui-table-view-cell{
            line-height: 0.8rem;
        }
        .selectFundCode li{
            height: 1.2rem !important;
            line-height: 1rem !important;
            .fundCodeListItem{
                display: inline-block;
                width: 1.6rem;
                position: relative;
                left: 0.4rem;
                height: 0.8rem;
                .fundCodeListItem_tital{
                    position: absolute;
                    display: inline-block;
                    width: 1.8rem;
                    height: 0.4rem;
                }
                .fundCodeListItem_val{
                    position: absolute;
                    display: inline-block;
                    top: 0.4rem;
                    left: 0;
                    width: 1.8rem;
                    height: 0.4rem;
                }
            }
            .nullStyle{
                position: relative;
                width: 0.5rem;
                height: 0.8rem;
                display: inline-block;
            }
            .mui-icon{
                margin-top:0.4rem !important;
                margin-right: 0.2rem !important;
            }
        }
        .mui-table-view > .mui-table-view-cell > .left{
            display: inline-block;
            float: left;
            margin-left: 0.3rem;
            margin-top: 0;
            font-size: .32rem;
            color: #272727;
            font-weight: bold;
            line-height: 1rem;
        }
        .addOtherFund_content> .mui-table-view{
            margin-top:0;
            .mui-table-view-cell{
                height: 1rem;
                line-height: 1rem;
                .mui-icon{
                    line-height: 1rem;
                }
                .left{
                    height: 1rem;
                    margin-left: .3rem;
                    margin-top: 0;
                }
                .right{
                    line-height: 1rem;
                }
            }
            
        }
        .mui-table-view > .mui-table-view-cell > .right{
            display: inline-block;
            float: right;
            width: 3rem;
            font-size: .32rem;
            line-height: 1rem;
            text-align: right;
            color: #272727;
            input{
                text-align: right;
            }
        }
        .mui-table-view > .mui-table-view-cell > .mui-input-clear{
            height: 1rem;
            margin-right: .3rem;
        }
        .rightMoreBox{
            position: absolute;
            right: 0.6rem;
            top: 0;
            height: 0.8rem;
            width: 3rem;
            display: none;
            .rightMore{
                display: inline-block;
                float: right;
                line-height: 1rem;
            }
        }
        
        .interval{
            position: absolute;
            right: 0.1rem;
            width: 3rem;
            height: 0.8rem;
            input{
                display: inline-block;
                width: 1.3rem;
            }
            span{
                display: inline-block;
                width: 0.2rem;
            }
            
        }
        .addOtherFundcodeList{
            min-height: 1rem;
            .otherAddList{
                li{
                    border-radius: 0.5rem;
                    background-color: #F7F7F7;
                    width: 94%;
                    margin-left: 3%;
                    margin-bottom: 0.2rem;
                }
                .addNull{
                    width: 100%;
                    height: 0.2rem;
                }
            }
        }
        .mui-table-view > .mui-table-view-cell > .mui-icon{
            display: inline-block;
            float: right;
            margin-top: 0;
            margin-right: 0.1rem;
            line-height: 1rem;
        }
        select {
            margin-bottom: 0;
        }
        .mt20{
            margin-top: 0.2rem;
        }
        .comfirmButtom{
            margin-left: 0.4rem;
            margin-right: 0.4rem;
        }
        .comfirmButtom button{
            border-radius: 4px;
        }
        .messageBox{
            background-color: white;
            .divider {
                display: inline-block;
                width: .06rem;
                height: .28rem;
                background: linear-gradient(146deg,rgba(102,132,199,1) 0%,rgba(54,77,151,1) 100%);
                margin-left: .3rem;
            }
            .title {
                margin-left: .1rem;
                font-size: .28rem;
                color: #272727;
            }
        }
        .messageBox .left{
            font-size: .32rem;
            color: #272727;
            font-weight: bold;
            margin-left: 0.3rem;
            margin-top: 0.2rem;
            display: inline-block;
        }
        .ml5{
            margin-left: 0.05rem;
        }
        .ml20{
            margin-left: 0.2rem;
            color: #9b9b9b;
            font-size: .24rem;
        }
        .ml50{
            margin-left: 0.5rem;
        }
        .mr60{
            margin-right: 0.6rem;
        }
        .selectFundCode li input{
            display: inline-block;
            height: auto;
            margin-left: 0.5rem;
        }
        .fontWei-b{
            font-weight: bold;
        }
        .popup_cancel{
            display: inline-block;
            margin-left: 0.5rem;
            margin-top: 0.2rem;
        }
        .popup_true{
            display: inline-block;
            margin-right: 0.5rem;
            float: right;
            margin-top: 0.2rem;
            color: #2FA6FD;
        }
        .radioCheckItemImg{
            display: none;
            width: 0.4rem;
            height: 0.4rem;
            position: absolute;
            top: 0.3rem;
            right: 1rem;
        
        }
        .selectItemList  input{
            display: inline-block;
            float: left;
            width: 3rem;
            margin-left: 0.3rem;
        }
        .selectItemList span.line{
            display: inline-block;
            float: left;
            width: 0.4rem;
            text-align: center;
            height: 0.8rem;
            line-height: 0.7rem;
            margin-left: 0.2rem;
        }
        .selectItemList .listBox{
            height: 1rem;
        }
        .warmMessage{
            width: 100%;
//          height: 1rem;
            text-align:center;
//          line-height: 1rem;
            color: red;
        }
        .addOtherFundcodeBox{
            .left{
                display: inline-block;
                margin-left: 0.3rem;
                font-weight: bold;
            }
            .right{
                float: right;
                margin-right: 0.1rem;
                margin-top: 0.1rem;
            }
        }
        .addOtherFundcodeBox_noData{
            width: 100%;
            height: 1rem;
            line-height: 1rem;
            text-align: center;
        }
        
    }
}
.unchecked{//未选中样式
    color: #3c6a28;
    margin-left: .5rem;
    background: gray;
    font-size: .25rem;
}
.checked{
   color: darkgreen;
    margin-left: .5rem;
    background: gray;
    font-size: .25rem; 
}
.elasticWrapper{
    min-height: 80px;
    border-radius: 4px !important;
    background-color:#F0DFBA !important;
    .elasticMid{
        margin-top: 15px;
    }
    p{
        line-height: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .elasticTitle{
        color: black !important;
    }
    .elasticContent{
        background-color:#F0DFBA !important; 
        font-size: 0.3rem !important;
    }
    .elasticButtons{
        margin-top: 10px;
        background-color:#FDF3DD;
        height: 40px !important;
        line-height: 40px !important;
    }
}
.addOtherFund{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}
.warmMessage{
    display: none;
//  visibility: hidden;
}
.addOtherFund_content{
    position: fixed;
    display: none;
    z-index: 1111;
    top: 3rem;
    left: 5%;
    width: 90%;
    background: #ececec;
    padding-bottom: .3rem;
    .comfirmButtom{
        text-align: center;
    }
    .warmMessage{
        display: block;
        visibility: hidden;
    }
    .addOtherFalse,.addOtherTrue{
        width: 2rem;
        height: 0.8rem;
        background-color: #f4cf5c;
        color: white;
        margin-left: 0.2rem;
        display: inline-block;
    }
}
.mr30{
    margin-right: 0.3rem !important;
}
#professionalDescript{
    display: none;
    float: left;
    width: 4.5rem;
    height: 0.8rem;
    margin-left: 0.5rem;
}

