// 月度报告列表页
// @author 蔡文琦  2019-11-11

@import url("../../../include/css/mui.min.css");
@import url('@pathCommonLess/mui/resetMUI.less');
@import url("@pathCommonLess/reset.less");
@import url("@pathCommonLess/color.less");

@import url("@pathCommonLessCom/againEnter.less");
@import url("@pathCommonLessCom/alertBox.less");
@import url("@pathCommonLessCom/headBarConfig.less");
body{
    max-width: 7.5rem;
}
.tips{
    font-size:.24rem;
    line-height:.6rem;
    background-color: @FFF9F0;
    color: @9B9B9B;
    width: 7.5rem;
    height: .6rem;
    text-indent:.329rem;
    position: fixed;
    top: 1.28rem;
    z-index: 2;
    img{
        width: .244rem;
        height: .244rem;
        display: inline-block;
        margin-right: .06rem;
        line-height: .244rem;
    }
}
.adjustmentRecord{
    margin-top: .6rem;
}
.list-time{
    font-size: .24rem;
    color: @9B9B9B;
    letter-spacing: 0;
    text-indent:.329rem;
    text-align: justify;
    padding: .1rem 0;
}
.list-wrap{
    height: 1.36rem;
    background-color: white;
    position: relative;
}

.equipment-name{
    font-size: .32rem;
    color: @9B9B9B;
    position: absolute;
    top: .24rem;
    left: .3rem;
}
.islogin{
    font-size: .32rem;
    position: absolute;
    top: .24rem;
    right: .3rem;
}
.address{
    font-size: .24rem;
    color: @9B9B9B;
    position: absolute;
    bottom: .24rem;
    left: .3rem;
}
.login-time{
    font-size: .24rem;
    color: @9B9B9B;
    position: absolute;
    bottom: .24rem;
    right: .3rem;
}
.red{
    color: @c010;
}
.mui-table-view-cell{
    padding: 0;
}
