@import url("@pathInclude/css/mui.min.css");
@import url('@pathCommonLess/mui/resetMUI.less');
@import url("@pathCommonLess/reset.less");
@import url("@pathCommonLess/color.less");

@import url("@pathCommonLessCom/againEnter.less");
@import url("@pathCommonLessCom/alertBox.less");
body{
    max-width: 7.5rem;
}
#membershipDetailsBox{
    width: 7.5rem;
    background-color: white;
    background-size: 7.5rem 3.2rem;
//  min-height: 3.2rem;
    .membershipDetailsHeaderBox{
        height: .88rem;
        font-family: PingFangSC-Semibold;
        font-size: .34rem;
        color: black;
        text-align: center;
        position: relative;
        line-height: .88rem;

        a{
            position: absolute;
            width: .88rem;
            height: .88rem;
            left: 0;
            top: 0;
            font-size: 0.36rem;
            color: black;
        }
    }
    
}
.list{
    margin-top: 1rem;
}
