/*
 * 我的奖励 
 * @author zhangyanping 2019-11-12
*/

@import url("../../../../include/css/mui.min.css");
@import url('@pathCommonLess/mui/resetMUI.less');
@import url("@pathCommonLess/reset.less");
@import url("@pathCommonLess/color.less");

.reward{
	.contentHeader{
		margin: 0.37rem 0;
		font-size: 0.24rem;
		color: @9B9B9B;
		text-align: center;
		span{
			font-size: 0.24rem;
			margin-right: 0.08rem;
		}
	}
}