<!-- 产品列表请求时的loading -->



<div class="listLoading" style="position:fixed;z-index:1000;background:#6B6C71;top:0;left:0;width:100%;height:100%;">
    <div style="position: absolute;left: 50%;top: 36.66%; margin-left: -0.6rem;">
        <span class="iconfont loadingIcon" style="font-size:1.39rem;color:#f4cf5c;display:block;width: 1.39rem; height: 1.39rem;">&#xe602;</span>
        <span style="font-size:0.32rem;color:#f4cf5c;display:block;margin-top: 0.26rem">请稍候...</span>
    </div>
</div>

<div class="netLoading"
    style="position:fixed;z-index:1000;background:rgba(255,255,255,0);top:0;left:0;width:100%;height:100%;display:none">
    <div style="position:absolute;width: 4rem; height: 3.3rem; top: 50%; left: 50%; margin-left: -2rem; margin-top: -1.15rem; background:#6B6C71; text-align: center; border-radius: 0.3rem">
        <span class="iconfont loadingIcon" style="font-size:1.4rem;color:#f4cf5c;display:block;margin-top: 0.6rem">&#xe602;</span>
        <span id="waitting_text" style="font-size:0.32rem;color:#f4cf5c;display:block;margin-top: 0.26rem">请稍候...</span>
    </div>
</div>