/*
   授权登录
 */

@import url("../../../common/less/reset.less");
@import url("../../../common/less/color.less");

@import url("../../../common/less/components/button.less");
@import url("../../../common/less/components/againEnter.less");

.authorization{
	position: relative;
	.integral{
		margin: 3.6rem auto 0;
		text-align: center;
		.iconfont{
			font-size: 5rem;
			color: @c006;
		}
		.title{
			margin-top: 1.4rem;
			font-size: 1.6rem;
			line-height: 1.6rem;
			color: @c002;
		}
	}
	.line{
		width: 90%;
		margin: 4.2rem auto 1.5rem;
		border-top: 1px solid @c004;
	}
	.content{
		width: 90%;
		margin: 0 auto;
		.title{
			margin-bottom: 1rem;
			font-size: 1.4rem;
			line-height: 1.6rem;
			color: @c002;
		}
		.txt{
			font-size: 1.2rem;
			color: @c003;
			line-height: 2.2rem;
		}
	}
	.button{
		// width: 90%;
		// height: 3.9rem;
		// margin: 4.5rem auto 0;
		// font-size: 1.4rem;
		// color: @c005;
		// text-align: center;
		// line-height: 3.9rem;
		// background: @c006;
		// border-radius: 0.2rem;
		width: 100%;
	    // font-size: 1.4rem;
	    // border-radius: 0.2rem;
	    // color: #fff;
	    // background: #f4cf5c;
	    // height: 4rem;
	    // line-height: 4rem;
	}
}

