/**
 * 重设网站交易密码
 */

//引入mui
@import url("../../../include/css/mui.min.css");

@import url("../../../common/less/reset.less");
@import url("../../../common/less/color.less");

//引入重置mui样式的表单样式文件
//@import url("../../../common/less/mui/formMUI.less"); 
@import url("../../../common/less/mui/selectMUI.less"); 
@import url("../../../common/less/mui/newFormMui.less"); 

//黑色提示框的样式
@import url("../../../common/less/components/againEnter.less");
//弹出层
@import url("../../../common/less/components/alertBox.less"); 

.nextAction{
    display: none;
}

.password{
	font-size: 1.4rem;
}


//网页顶部提示语
.txt{
    font-size: 1.3rem;
    color: @c003;
    padding: 1.3rem 1.6rem;
}