/**
 * 老带新  注册页面样式
 * @author yangjinlai 2017-06-21
 */

@import url("../../../include/css/mui.min.css");
@import url("../../../common/less/reset.less");
@import url("../../../common/less/color.less");
@import url("../../../common/less/components/alertBox.less");
@import url("../../../common/less/components/againEnter.less");
@import url("../../../common/less/mui/newFormMui.less");
@import url("../../../common/less/components/select.less");

//注册
.register{
	.banner_wrap{
		width: 100%;
		height: auto;
	}

	.agreement{
		.item1{
			text-align: center;
			display: block;
		}
		.item2{
			display: block;
			margin-top:1.2rem;
			color:@c003;
			text-align: center;
			.iconfont{
				font-size:1.6rem;
				margin-right:0.6rem;
				vertical-align: middle;
				&.check{
					color:@c006;
				}
			}
		}
	}

}