/*
 登录、找回密码、手机验证、重置登录密码
 */
@import url("@pathNewInclude/css/mui.min.css");
@import url("@pathNewCommonLess/reset.less");
@import url("@pathNewCommonLess/color.less");
// @import url("@pathNewCommonLess/components/alertBox.less");
// @import url("@pathNewCommonLess/components/againEnter.less");

//@import url("@pathNewCommonLess/components/form.less");
//引入重置mui样式的表单样式文件
//@import url("@pathNewCommonLess/mui/formMUI.less");
@import url("@pathNewCommonLess/mui/newFormMui.less");

//下拉列表框
@import url("@pathNewCommonLess/components/select.less");

.mui-card {
    margin: 0;
    padding-left: 0.32rem;
    border-radius: 0;
    box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.1);
    font-size: 0.28rem;
    background: #fff;
    display: block;
}
//公用跳转样式，例如：——————立即登录——————
.box {
    text-align: center;
    width: 90%;
    margin: 0.8rem auto;
    height: 1px;
    background-color: @c004;
    position: relative;

    .next {
        display: block;
        width: 1.28rem;
        background-color: @c011;
        position: absolute;
        left: 50%;
        top: -50%;
        text-align: center;
        -webkit-transform: translate(-50%, -50%);
        z-index: 9;
        color: @c006;
    }
}

//   登录
.login {
    width: 100%;
    height: 100%;
    background-color: @c011;

    .overHead {
        margin-top: 0.48rem;
        margin-bottom: 0.16rem;

        span {
            display: block;
            font-size: 0.8rem;
            color: @c006;
            text-align: center;
        }

        .title {
            margin-top: 0.3rem;
            font-size: 0.28rem;
            color: @c003;
            text-align: center;
        }
    }

    // 忘记密码
    .forgot {
        float: right;
        margin: 0.16rem 0.24rem 0.52rem;
        font-size: 0.28rem;
        color: @c006;
    }

}


//注册
.register {
    .agreement {
        .item1 {
            text-align: center;
            display: block;
        }

        .item2 {
            display: block;
            margin-top: 0.24rem;
            color: @c003;
            text-align: center;

            .iconfont {
                font-size: 0.32rem;
                margin-right: 0.12rem;
                vertical-align: middle;

                &.check {
                    color: @c006;
                }
            }
        }
    }

    // 理财师区域
    .brokerWrap {
        padding: 0.04rem 0 0.2rem 0.32rem;

        h3 {
            font-size: 0.32rem;
            color: @c002;
            line-height: 0.74rem;
            border-bottom: 1px solid @c008;

            span {
                padding-left: 0.16rem;
                font-size: 0.2rem;
                color: @c003;
            }
        }

        .infoWrap {
        	padding-top:0.3rem;
            .infoPic {
                width: 0.76rem;
                height: 1.12rem;
                margin-right: 0.28rem;
                vertical-align: bottom;
                float: left;
            }

            .info {
                float: left;
                .pName {
                    color: @c002;
                }
                .pNumber {
                    color: @c002;
                    margin-top: 0.16rem;
                }
            }
        }

    }

}


// 重置登录密码
.resetPassword {
    //width: 100%;
    margin-top: 0.16rem;
}