<!-- /**  
 * @Page:  普通基金产品详情页_定投
 * @Author: caoqihai  
 * @Date:   2019-11-23
 * 
 */ -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
     @@include('@pathInclude/views/meta.html')
     <link rel="stylesheet" href="/Financial/static/css/ordinarySetThrow.css">
     <title>公募监管账户</title>
 </head>
 <body>
     <!-- @@include('../../common/views/load.html') -->
     
     <section class="container">
        @@include('@pathCommonViews/headBarConfig.html',{"pathName":"定投"}) 
        <div class="br"></div>
        <div class="title">普通基金1 00223</div>
        <div class="money">
            <div class="mfirst">
                <div class="mfirst-one">定投金额</div>
                <div class="mfirst-two">
                    <span>交易规则</span> 
                    <a class="iconfont iconone" href="javascript:;">&#xe67d;</a>
                </div>
            </div>
            <div class="msecond">
                <div class="msecond-one">￥10000</div>
                <img  src="/Financial/static/img/icon_delete@2x.png" alt="">
             </div>
             <div class="pay">费用估算: 0.00元(0.00%)</div>
         </div>
         <div class="online">
            <div class="onleft">在线支付</div>
            <div class="onright">
                <div>
                    <div>
                        <img src="/Financial/static/img/account_icon_bank logo@2x.png" alt="">
                        <i>中国建设银行</i>
                        <span>0563</span>
                    </div>
                    <div>单笔限额5万，单日限额10万</div>
                </div>
                <a class="iconfont iconone" href="javascript:;">&#xe67d;</a>
            </div>
         </div>
     </section>
     <!-- 加载中loading -->
     <!-- @@include('@pathCommonViews/load.html') -->
 
     <!-- 加载中loading -->
     @@include('@pathCommonViews/loading/listLoading.html')
 
     @@include('@pathInclude/views/footer.html')
     <!-- 添加埋点 -->
     @@include('@pathInclude/views/header.html')
     <script src="/Financial/static/js/ordinarySetThrow.js"></script>
 
 </body>
 </html>