<!-- /**  
 * @Page:  普通基金产品详情页_定投
 * @Author: caoqihai  
 * @Date:   2019-11-23
 * 
 */ -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
     @@include('@pathInclude/views/meta.html')
     <link rel="stylesheet" href="/Financial/static/css/ordinarySetThrow.css">
     <title>公募监管账户</title>
 </head>
 <body>
     <!-- @@include('../../common/views/load.html') -->
     
     <section class="container">
         @@include('@pathCommonViews/headBarConfig.html',{"pathName":"定投"}) 
         
     </section>
     <!-- 加载中loading -->
     <!-- @@include('@pathCommonViews/load.html') -->
 
     <!-- 加载中loading -->
     @@include('@pathCommonViews/loading/listLoading.html')
 
     @@include('@pathInclude/views/footer.html')
     <!-- 添加埋点 -->
     @@include('@pathInclude/views/header.html')
     <script src="/Financial/static/js/ordinarySetThrow.js"></script>
 
 </body>
 </html>