<!-- 富文本通用模板
 @author 田俊国 2019-11-19
-->
<!DOCTYPE html>
<html lang="en">
<head>
    @@include('@pathInclude/views/meta.html')
    <link rel="stylesheet" href="/include/css/articleTemplate.css">
    <title><!-- 模板 --></title>
</head>
<body>
    <div id="richTemplateWrap" class="articleTemplate">
        @@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#000,#eee","showType":"0","pathName":"模板"})
        <div class='imgCont'><img src="" alt="" /></div>

        <div class="artHeaderCont">
            <div class="artImg" id="video_wrapper"><img src="" alt=""><div class="videoButton"><div class="mask"></div><span></span><i class="iconfont playIcon videoPlayIcon">&#xe640;</i></div></div>
            <!-- <div class="videoArea"><img class="videoImg" src="/include/img/arcticleheaderimg.png" alt="" /></div> -->
            <div class="artTitle">
                <p class="ellipsis_two"><!-- 11.13|资金买方资金买方头部文案头部文案头部文案头部文案头部文案 --></p>
            </div>
            <div class="audioArea">

                <div class="audioPlay flexbox">
                <!-- 播放器 -->
                    <div class="audiocont">

                        <audio id='aud'  src='' duration="#01:58"></audio></audio>
                        <button id="control" class="play"><i  id="audioPlayer" class="iconfont playIcon audioPlayIcon">&#xe640;</i></button>

                    </div>

                    <ul class="audioTxt flex1">
                        <li class="ellipsis audioDisc"><!-- 11.13|介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍 --></li>
                        <li class="audioTime"><span id="audioCurTime">00:00</span><span><!-- 15.27MB --></span></li>

                    </ul>

                </div>
                <p class="autoTips">建议WIFI环境下播放</p>
            </div>

        </div>
        <div id="contentWrap">


        </div>


        <div class="btnButton">
            <a href="javascript:;" class="mui-btn btnHref" ></a>
        </div>
    </div>

    @@include('@pathInclude/views/footer.html')

    <script src="/include/js/modelPage/articleTemplate.js"></script>
    <script src="/include/js/modelPage/audio.js"></script>
</body>
</html>