<!-- 用户服务协议 -->

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="applicable-device" content="mobile">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="/include/css/agreement.css">
	<title>银行自动转账授权书</title>
</head>
<body>
	<section class="container">
		<div class="line"></div>
		<section class="content">
			<p class="text">银行自动转账授权书</p>
			<p class="text">北京恒天明泽基金销售有限公司：</p>
			<p class="text">本账户所有人现将本人所开立的账户：</p>
			<p class="text">账户姓名：</p>
			<p class="text">账户账号：</p>
			<p class="text">账户开户行名称：</p>
			<p class="text">账户开立证件类型：</p>
			<p class="text">账户开立证件号码：</p>
			<p class="text">授权贵司使用中国民生银行银联跨行网上代收系统或通过贵司指定的支付机构按照本人在贵司基金销售平台上的交易申请金额，自上述账户进行基金交易资金的代收。代收资金用途：基金认购、基金申购、基金定期定额。</p>
			<p class="text">本人在此声明已清楚知悉本次授权代收的性质和后果。</p>
			<p class="text">未经本人签署《银行自动转账授权终止通知书》之前，本授权书持续有效。</p>
			<p class="text">立授权人：</p>
			<p class="text">年 月 日</p>
		</section>

	</section>
	
</body>
</html>