<!-- 为埋点新建公共头部 -->
<!-- author：ping  time：2019.2.19 -->

<script src="/include/js/vendor/buriedPoint/htmd.js?v=23123"></script>
<script type="text/javascript">
	var ua = navigator.userAgent.toLowerCase();

	if(window.location.href.indexOf('/user/views/register.html') != -1){
		if (ua.match(/MicroMessenger/i) == "micromessenger") {
			//是微信浏览器
			window._htmd('4', '1');
		}
		else{
			window._htmd('2', '1');
		}
	}
	else if( window.location.href.indexOf('appId') != -1){
		window._htmd('3', '1');
	}
	
	// if( window.location.href.indexOf('appId') != -1){
	// 	window._htmd('3', '1');
	// }
	// else if (ua.match(/MicroMessenger/i) == "micromessenger") {
	// 	//是微信浏览器
	// 	window._htmd('4', '1');
	// }
	// else{
	// 	window._htmd('2', '1');
	// }
	
</script>
