<!-- 图片拼接模板 -->
<!-- 其中title标签中文案是需要上一个页面传参过来，同时请求接口的入参adPosition也是上一页面需要带过来的 -->
<!-- 跳转链接配置/include/views/imgModel.html?adPosition=adPosition&title=积分规则说明 -->
<!-- author：purpleZhao
time：2017.6.8 -->
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="applicable-device" content="mobile">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="/include/css/model.css">
	<title></title>
</head>
<body>
	<section class="imgContent">		
		
	</section>
	
</body>
<script src="/include/js/vendor/zepto/zepto.js"></script>
<script src="/include/js/vendor/root.js"></script>
<script src="/include/js/modelPage/imgModel.js"></script>
</html>