<!-- 合格投资者承诺 -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/include/css/agreement.css">
	<title>合格投资者承诺</title>
</head>
<body>
	<section class="container">
        <div class="line"></div>
        <section class="content">
            <p class="text">根据《私募投资基金监督管理暂行办法》规定，私募基金应当向合格投资者募集。合格投资者是指具备相应风险识别能力和风险承担能力，投资于单只私募基金的金额不低于100万元且符合下列相关标准的单位和个人：</p>
            <p class="text">（一）净资产不低于1000万元的单位；</p>
            <p class="text">（二）金融资产不低于300万元或者最近三年个人年均收入不低于50万元的个人。</p>
            <p class="text">如您拟投资私募投资基金，需如实填报恒天金服网站注册信息，并承诺为符合《私募投资基金监督管理暂行办法》规定的合格投资者，填报风险识别能力和风险承担能力调查问卷后，方可获得我司提供的私募基金推介服务。</p>
        </section>

	</section>
	
</body>
</html>