<!-- 网络服务协议 -->

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="applicable-device" content="mobile">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="/include/css/agreement.css">
	<title>网络服务协议</title>
</head>
<body>
	<section class="container">
		<div class="line"></div>
		<section class="content">
			<p class="text">我司同意按照本协议规定及其在相关平台上不时发布的操作规则向用户提供基于互联网平台的相关服务。为保证用户获得相应网络服务，用户应按照页面提示完成注册程序。用户一旦在本网站进行注册，则视为用户已阅读本协议并同意全部条款、接受本网站的服务，从而受本协议全部条款的约束。若用户不同意接受以下条款，用户将不能得到本网站提供的服务。</p>
			<p class="text">一、使用规则</p>
			<p class="text">1、用户使用本网站服务，需按照网站要求完成注册，成为注册用户。用户提供的注册信息需保证真实、准确及完整，因用户提供信息错误或未及时更新告知我司，导致我司提供服务出现差错，我司不承担法律责任。</p>
			<p class="text">2、您在本网站进行实名认证，即同意我司为您开通公、私募基金销售交易账户。</p>
			<p class="text">3、我司对用户的任何通知、公示、或其他关于用户使用账户服务的通知，用户同意我司以网站公告、邮件、手机短信等电子方式或常规信件方式向用户送达，该等通知自发送之日视为已送达。因信息传输原因，导致用户未收到该通知的，我司不承担法律责任。</p>
			<p class="text">二、网站服务内容</p>
			<p class="text">1、我司向用户提供基于互联网平台的相关服务，具体服务内容以互联网平台公示为准。</p>
			<p class="text">2、我司通过互联网平台向用户提供的金融资讯及投资适当性匹配等信息资料，仅供用户参考，用户需根据自身风险承受能力选择合适的投资产品。</p>
			<p class="text">3、我司通过本网站向用户提供合同管理服务：</p>
			<p class="text">（1）用户使用账户登录本网站后，根据本网站的相关规则，以注册账户在本网站通过点击确认或类似方式签署的电子合同即视为用户本人真实意愿并以用户本人名义签署的合同，具有法律效力。用户有义务妥善保管自己的账户密码等账户信息，并应确保始终由用户本人对其用户账户进行登录、使用及操作。用户通过前述方式订立的电子合同对合同各方具有法律约束力，用户不得以其账户密码等账户信息被盗用或其他理由否认已订立的合同的效力或不按照该等合同履行相关义务。</p>
			<p class="text">（2）用户根据本协议以及本网站的相关规则签署电子合同后，不得擅自修改该合同。本网站向用户提供电子合同的查看、核对服务，如对电子合同真伪或电子合同的内容有任何疑问，用户可通过本网站查询并进行核对。如对此有任何争议，应以本网站平台上记录的合同为准。</p>
			<p class="text">（3）用户不得私自仿制、伪造在本网站上签订的电子合同或印章，不得用伪造的合同进行招摇撞骗或进行其他非法使用，否则由用户自行承担责任。</p>
			<p class="text">4、如用户因我司网络系统差错、故障或其他原因获得不当得利的，应当立即返还不当得利，用户并不可撤销地授权我司从其账户（如有）中直接扣划用户的不当得利所得。</p>
			<p class="text">三、服务费用</p>
			<p class="text">1、用户确认，我司有权对部分服务内容收取服务费用，但在收取前应向用户进行提示说明。客户根据提示安排确认其愿意支付相应费用的，方可接受该服务；用户拒绝支付相应费用的， 我司有权不向客户提供收费服务。</p>
			<p class="text">2、注册用户在使用本网站服务过程中可能需要向第三方支付一定的费用，具体收费标准详见第三方网站相关页面，或与第三方签订的相关协议。</p>
			<p class="text">四、账户管理及安全</p>
			<p class="text">1、用户了解并同意，确保用户账户及密码的机密安全是用户的责任。用户将对利用该账户及密码所进行的一切行动及言论，负完全的责任，并同意以下事项：</p>
			<p class="text">（1）用户不对其他任何人泄露账户或密码，亦不可使用其他任何人的账户或密码。我司不对因如下原因导致的用户的平台账户遭他人非法使用及因此造成的损失承担责任，包括但不限于：①因黑客或病毒攻击；②用户的保管疏忽；③用户使用了不安全的计算机、计算设备、移动设备或网络环境，无论用户是否知晓该等不安全状态或是否有意使用；④其他并非本网站故意或过失的情形。</p>
			<p class="text">（2）本网站通过用户的账户及密码来识别用户的指令，用户确认，使用账户和密码登录后在本网站的一切行为均代表用户本人。用户的平台账户操作所产生的电子信息记录均为注册用户行为的有效凭据，并由用户本人承担由此产生的全部责任。</p>
			<p class="text">（3）冒用他人账户及密码的，我司保留追究实际使用人连带责任的权利。</p>
			<p class="text">（4）用户应根据本网站的相关规则以及本网站的相关提示创建一个安全密码，应避免选择过于明显的单词或日期。</p>
			<p class="text">2、用户如发现有第三人冒用或盗用用户账户及密码，或其他任何未经合法授权的情形，应立即以有效方式通知本网站，要求本网站暂停相关服务，否则由此产生的一切责任由用户本人承担。同时，用户理解本网站对用户的请求采取行动需要合理期限，在此之前，我司对第三人使用该服务所导致的损失不承担任何责任。</p>
			<p class="text">3、我司有权基于单方独立判断，在其认为可能发生危害交易安全等情形时，不经通知而先行暂停、中断或终止向用户提供本协议项下的全部或部分用户服务（包括收费服务），且无需对用户或任何第三方承担任何责任。前述情形包括但不限于：</p>
			<p class="text">（1）本网站认为用户提供的个人资料不具有真实性、有效性或完整性；</p>
			<p class="text">（2）本网站发现异常交易或有疑义或有违法之虞时；</p>
			<p class="text">（3）本网站认为用户账户涉嫌洗钱、被冒用或其他本网站认为有风险之情形；</p>
			<p class="text">（4）本网站认为用户已经违反本协议中规定的各类规则及精神；</p>
			<p class="text">（5）用户在使用本网站收费服务时未按规定向本网站支付相应的服务费用；</p>
			<p class="text">（6）本网站根据其单独判断需先行暂停、中断或终止向用户提供本协议项下的全部或部分用户服务（包括收费服务）的其他情形。</p>
			<p class="text">4、用户同意，账户的暂停、中断或终止不代表用户责任的终止，用户仍应对使用本网站服务期间的行为承担可能的违约或损害赔偿责任，同时本网站仍可保有用户的相关信息。</p>
			<p class="text">五、用户承诺</p>
			<p class="text">1、用户承诺绝不为任何非法目的或以任何非法方式使用本网站服务，并承诺遵守中国相关法律、法规及一切使用互联网之国际惯例，遵守所有与本网站服务有关的网络协议及不时更新的规则和程序。</p>
			<p class="text">2、用户同意并保证不得利用本网站服务从事侵害他人权益或违法之行为，若有违反者应负所有法律责任。上述行为包括但不限于：</p>
			<p class="text">（1）违反依法律或合约所应负之保密义务；</p>
			<p class="text">（2）冒用他人名义使用本网站服务；</p>
			<p class="text">（3）涉嫌洗钱活动的；</p>
			<p class="text">（4）从事任何可能含有电脑病毒或是可能侵害本网站服务系统、资料等行为；</p>
			<p class="text">（5）利用本网站服务系统进行可能对互联网或移动网正常运转造成不利影响之行为；</p>
			<p class="text">（6）侵犯本网站的商业利益；</p>
			<p class="text">（7）其他本网站有正当理由认为不适当之行为。</p>
			<p class="text">六、知识产权</p>
			<p class="text">1、我司提供的网络服务中包含的任何文本、图片、图形、音频和/或视频资料均受版权、商标和/或其它财产所有权法律的保护，未经相关权利人同意，上述资料均不得在任何媒体直接或间接发布、播放、出于播放或发布目的而改写或再发行，或者被用于其他任何商业目的。所有这些资料或资料的任何部分仅可作为私人和非商业用途而保存在某台计算机内。我司不就由上述资料产生或在传送或递交全部或部分上述资料过程中产生的延误、不准确、错误和遗漏或从中产生或由此产生的任何损害赔偿，以任何形式，向用户或任何第三方负责。</p>
			<p class="text">2、本网站为提供网络服务而使用的任何软件（包括但不限于软件中所含的任何图像、照片、动画、录像、录音、音乐、文字和附加程序、随附的帮助材料）的一切权利均属于该软件的著作权人，未经该软件的著作权人许可，用户不得对该软件进行反向工程（reverse engineer）、反向编译（decompile）或反汇编（disassemble）。</p>
			<p class="text">七、隐私保护</p>
			<p class="text">1、我司保证不对外公开或向第三方提供单个用户的注册资料及用户在使用网络服务时存储在我司的非公开内容，但下列情况除外：</p>
			<p class="text">（1）事先获得用户的授权；</p>
			<p class="text">（2）根据有关的法律法规要求；</p>
			<p class="text">（3）按照相关政府主管部门、司法机关的要求；</p>
			<p class="text">（4）为维护我司的合法权益。</p>
			<p class="text">2、我司可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与我司同等的保护用户隐私的责任，则我司有权将用户的注册资料等提供给该第三方。</p>
			<p class="text">3、在不透露单个用户隐私资料的前提下，我司有权对整个用户数据库进行分析或调查研究，并对用户数据库进行商业上的利用。</p>
			<p class="text">八、免责声明</p>
			<p class="text">1、用户明确同意其使用我司网络服务所存在的风险将完全由其自己承担；因其使用我司网络服务而产生的一切后果也由其自己承担，我司对用户不承担任何责任。</p>
			<p class="text">2、我司不保证为向用户提供便利而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由我司实际控制的任何网页上的内容，我司不承担任何责任。</p>
			<p class="text">3、我司因以下特殊情况没有正确或及时执行用户提交的业务指令，不承担任何责任：</p>
			<p class="text">（1）用户未能按照甲方的有关业务规定正确操作；</p>
			<p class="text">（2）用户的行为出于欺诈或其他非法目的；</p>
			<p class="text">（3）我司遇到不可抗力、计算机黑客袭击、系统故障、通讯故障、网络拥堵、供电系统故障、电脑病毒、恶意程序攻击等情况时。</p>
			<p class="text">4、用户应自行负责其在每次使用本网站服务时应通过安全的计算机及网络环境直接登录本网站。我司对用户使用了不安全的计算机、计算设备、移动设备或网络环境而导致的任何损失均不承担责任，如因此导致其他方损失的，我司有权协助其他方向该用户进行索赔。</p>
			<p class="text">5、因其他服务第三方，包括用户银行卡开户行支付限额、第三方支付结算机构支付限额及支付次数限制，导致用户交易指令被拒绝等情形给用户造成的损失，我司不承担赔偿责任。</p>
			<p class="text">九、违约赔偿</p>
			<p class="text">1、除本协议另有约定外，如因我司违反有关法律、法规或本协议项下的任何条款而给用户造成损失，我司同意承担由此造成的损害赔偿责任。</p>
			<p class="text">2、用户同意保障和维护我司及其他用户的利益，如因用户违反有关法律、法规或本协议项下的任何条款而给我司或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。</p>
			<p class="text">十、协议修改</p>
			<p class="text">1、我司有权随时修改本协议的任何条款，一旦本协议的内容发生变动，我司将会直接在网站上公布修改之后的协议内容，该公布行为视为我司已经通知用户修改内容。我司也可通过其他适当方式向用户提示修改内容。</p>
			<p class="text">2、用户如果不同意我司对本协议相关条款所做的修改，有权停止使用网络服务。如果用户继续使用网络服务，则视为用户接受我司对本协议相关条款所做的修改。</p>
			<p class="text">十一、通知送达</p>
			<p class="text">本协议项下我司对于用户所有的通知均可通过网页公告、电子邮件、手机短信或常规的信件传送等方式进行；该等通知于发送之日视为已送达收件人。</p>
			<p class="text">十二、法律管辖</p>
			<p class="text">1、本协议的订立、执行和解释及争议的解决均应适用中国法律并受中国法院管辖。</p>
			<p class="text">2、如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可将争议提交中国国际经济贸易仲裁委员会，按照届时有效的仲裁规则进行仲裁，仲裁地点在北京市。仲裁裁决是终局的，对当事人均有约束力。</p>
			<p class="text">十三、其他规定</p>
			<p class="text">1、本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定之外，未赋予本协议各方其他权利。</p>
			<p class="text">2、如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。</p>
		</section>

	</section>
	
</body>
</html>