<!-- /**  
 * @Page:  在线客服转场页面
 * @Author: songxiaoyu  
 * @Date:   2018-11-12 11:38:24  
 * @Last Modified by:   songxiaoyu  
 * @Last Modified time: 2018-11-12 13:34:41  
 */ -->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	    <meta name="applicable-device" content="mobile">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>在线客服</title>
	</head>
	<body>
		 
		 @@include('@pathInclude/views/footer.html')
	  	<script src="/include/js/modelPage/onlineCustomer.js"></script>
	</body>
</html>