<!-- pdf模板
 @author zhangyanping 2019-11-08
-->

<!DOCTYPE html>
<html lang="en">
<head>
	@@include('@pathInclude/views/meta.html')
	<link rel="stylesheet" href="/include/css/pdfModel.css">
	<title></title>
</head>
<body>
	@@include('@pathCommonViews/load.html')
	<div class="container">
		@@include('@pathCommonViews/headBarConfig.html',{"pathName":""})
		<section id="openPdf">
			
			<section id="canvasBox">
				<!-- canvas容器 -->
			</section>
			
		</section>

	</div>

	<script>
		var titleObj = {
			protocol: '服务协议',
			policy: '隐私权政策协议',
		};

		var pageUrl = window.location.href;
		var pdfTitle = document.getElementById('HeadBarpathName');
		if(pageUrl.indexOf('protocol') != -1){
			pdfTitle.innerHTML = titleObj.protocol;
		}
		else if(pageUrl.indexOf('policy') != -1){
			pdfTitle.innerHTML = titleObj.policy;
		}


	</script>


	<script src="/include/js/vendor/pdf/pdf.js"></script>
	@@include('@pathInclude/views/footer.html')
	<!-- 添加埋点 -->
	@@include('@pathInclude/views/header.html')
	<script src="/include/js/modelPage/pdfModel.js"></script>

</body>
</html>