<!-- pdf模板
 @author zhangyanping 2019-11-08
-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="applicable-device" content="mobile">
	<meta content="telephone=no" name="format-detection"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="/include/css/pdfModel.css">
	<script type="text/javascript" src="/include/js/adaptation_750ui.js"></script>
	<title></title>
</head>
<body>
	
	<!-- @@include('@pathCommonViews/load.html') -->
	<div class="container">
		<div class="hraderTitle">
			<span class="iconfont">&#xe634;</span>
			<p id="pdfTitle"></p>
		</div>
		<section id="openPdf">
			
			<section id="canvasBox">
				<!-- canvas容器 -->
			</section>
			
		</section>

	</div>

	<script>
		var titleObj = {
			protocol: '服务协议',
			policy: '隐私权政策协议',
		};

		var pageUrl = window.location.href;
		var pdfTitle = document.getElementById('pdfTitle');
		if(pageUrl.indexOf('protocol') != -1){
			pdfTitle.innerHTML = titleObj.protocol;
		}
		else if(pageUrl.indexOf('policy') != -1){
			pdfTitle.innerHTML = titleObj.policy;
		}


	</script>


	<script src="/include/js/vendor/pdf/pdf.js"></script>
	@@include('@pathInclude/views/footer.html')
	<!-- 添加埋点 -->
	@@include('@pathInclude/views/header.html')
	<script src="/include/js/modelPage/pdfModel.js"></script>

</body>
</html>