<!--
	*二维码跳转页
	*sunfuping 2018/11/13
-->
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="applicable-device" content="mobile">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title></title>
</head>
<body>
	

	<!-- 引入js  -->
	 
	 @@include('@pathInclude/views/footer.html')	
	 
	<script src="/include/js/modelPage/qrCode.js"></script>
	
</body>

</html>

