<!-- 用户服务协议 -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/include/css/agreement.css">
	<title>用户服务协议</title>
</head>
<body>
	<section class="container">
        <div class="line"></div>
        <section class="content">
            <p class="text">一、言论</p>
            <p class="text">您必须对自己在网上的行为承担法律责任。“恒天金服”的记录有可能作为您违反法律的证据。根据中华人民共和国《互联网电子公告服务管理规定》第九条，您不得在“恒天金服”中发布含有下列内容之一的信息：</p>
            <p class="text">(1)反对宪法所确定的基本原则的。</p>
            <p class="text">(2)危害国家安全，泄露国家机密，破坏国家统一的。</p>
            <p class="text">(3)颠覆国家政权，推翻社会主义制度的。</p>
            <p class="text">(4)损害国家荣誉和利益的。</p>
            <p class="text">(5)煽动民族仇恨、民族歧视，破坏民族团结的。</p>
            <p class="text">(6)破坏国家宗教政策，宣传邪教和封建迷信的。</p>
            <p class="text">(7)散布谣言，捏造或歪曲事实，扰乱社会秩序，破坏社会稳定的。</p>
            <p class="text">(8)散布迷信、淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的。</p>
        </section>

	</section>
	
</body>
</html>