<!-- ** 成长值  zyping  2019-6-11
-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="applicable-device" content="mobile">
	<meta content="telephone=no" name="format-detection" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="/personal/static/css/growthValue.css">
	<title>我的成长值</title>
</head>
<body>
	<!-- @@include('../../common/views/load.html') -->
	<section class="container">
		<!-- 我的成长值页面的占比 -->
		<div class="box">
			<canvas class="lineWrapper" id="canvas"></canvas> 
		  		<!--净值曲线-->
		</div>
		<div class="title">
			成长值记录
		</div>
		<div class="list">

			<div class="without" id="emptyBox" style="display:none;">
				<div class="box vertical center">
					<p class="iconfont">&#xe603;</p>
					<p class="text">暂无数据</p>
				</div>
			</div>

		</div>
	</section>

	 
	@@include('@pathInclude/views/footer.html')

	<script id="template-pot" type="text/x-handlebars-template">
		{{#each this}}
			<li class="data clearfix">
				<div class="dataList">
					
				</div>
				
			</li>
		{{/each}}
	</script>
	
	<script src="/include/js/vendor/circleProcess/circleProcess.min.js"></script>
	<script src="/personal/static/js/growthValue.js"></script>
</body>
</html>