<!-- 我的明细 -->

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="applicable-device" content="mobile">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="/personal/static/css/detail.css">
	<title>我的明细</title>
</head>
<body>
	<section class="container">
		<div class="myDetail">
			<a href="/personal/views/orderDetail.html">
				<p class="partical">预约明细<span class="iconfont">&#xe600;</span></p>
			</a>
			<a href="/personal/views/tradeDetail.html">
				<p class="partical">交易明细<span class="iconfont">&#xe600;</span></p>
			</a>
			<a href="/personal/views/detailLists.html">
				<p class="partical">赎回明细<span class="iconfont">&#xe600;</span></p>
			</a>
		</div>
	</section>  
</body>
</html>