<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="applicable-device" content="mobile">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="/personal/static/css/account.css">
	<title>公募持仓开通</title>
</head>
<body>
	@@include('../../common/views/load.html')
	<section class="container">
		<div class="publicOpen">
			<div class="elasticWrapper">
				<span class="public">公募开户</span>
				<div class="elasticTxt">
					<p>小试身手，万元起投</p>
					<p>信息披露，公开透明</p>
					<p>精选优投，披沙拣金</p>
					<p>持基致胜，玩转牛熊</p>
				</div>
				<a href="javascript:void(0)"  class="open">立即开户</a>
			</div>
		</div> 
		<div class="againEnter">
			<button class="tipWrapper"></button>
		<div>
	</section>
	 
	 @@include('@pathInclude/views/footer.html')
	<script src="/personal/static/js/myAccount.js"></script>
</body>
</html>