<!-- 
权益中心
author: sunfuping 2018-12-5
--> 

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black"><meta charset="UTF-8">
	<link rel="stylesheet" href="/personal/static/css/rightsCenter.css">
	<title>权益中心</title>
</head>
<body>
    
	@@include('../../common/views/load.html')
		<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
		    <div class="mui-scroll" id="scroll_box">
		        <!-- handlebars -->
		    </div>
		</div>
</body>
<script id="scroll_box_template" type="text/x-handlebars-template">
    {{#each this}}
    <div class="mui-control-item">
    	<div class="bigBox">
			<div class="imgBox imgBox_{{adPosition}}" style="background-image:url({{imgUrl}})">
				<div class="rightsRank">{{transformat adPosition}}</div>
				{{#compare adPosition}}
					<div class="rightsHint">保持账户资产，可持续保持当前身份</div>
				{{else}}
					{{#compareOne adPosition}}
					<div class="rightsHint">当前已升级至{{transformatOne adPosition}}</div>
					{{else}}
					<div class="rightsHint">{{activityName}}</div>
					{{/compareOne}}
				{{/compare}}
			</div>
			<div class="rightsIn"></div>
			<div class="rightsBox" >
				
					<div class="tit">{{transformat adPosition}}权益</div>
					<div class="rights" num="{{@index}}">
						
					</div>
				</div>
			
    	</div>
    </div>
    {{/each}}
</script>

<script id="scroll_box_list_template" type="text/x-handlebars-template">
{{#each this}}
	{{#compareTwo enjoy}}
	<!-- <a class="icoBox"  onclick="window.location.href=site_url.agreementModel_url+'?id={{id}}&rightsCenter';"> -->
	<a href="javascript:;" class="icoBox"  onclick="setGoUrl(site_url.agreementModel_url+'?id={{id}}&rightsCenter', '')">
		<div class="ico"><img src="{{iconUnlock}}" alt=""></div>
		<div class="discrb">{{rightName}}</div>
	</a>
	{{else}}
	<!-- <a class="icoBox" onclick="window.location.href=site_url.agreementModel_url+'?id={{id}}&rightsCenter';"> -->
	<a href="javascript:;" class="icoBox" onclick="setGoUrl(site_url.agreementModel_url+'?id={{id}}&rightsCenter', '')">
		<div class="ico"><img src="{{iconLocked}}" alt=""></div>
		<div class="discrb">{{rightName}}</div>
	</a>
	{{/compareTwo}}
{{/each}}
</script>

 
 @@include('@pathInclude/views/footer.html') 
 
 
<!-- 添加埋点 -->
@@include('@pathInclude/views/header.html')
<script src="/personal/static/js/rightsCenter.js"></script>
</html>