<!-- 
风险提示书
author: zhangweipeng 2017-11-27
--> 

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="applicable-device" content="mobile">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="/personal/static/css/risk.css">
	<title>风险提示</title>
</head>
<body>

	<section class="container">
		<div class="mui-card marginTop">
			<div class="tipTitle">《投资者风险匹配告知书》</div>
			<div class="tipBook">
				本公司在此郑重提醒，本公司向您/贵机构销售的产品或提供的服务将以您的风险承受能力等级和投资品种、期限为基础，若您/贵机构提供的信息发生任何重大变化，您/贵机构应当及时
				以书面方式通知本公司。本公司建议您/贵机构审慎评判自身风险承受能力、结合自身投资行为，认真填写投资品种、期限，并做出审慎的投资判断。本公司的适当性匹配意见不表明本公司对产品或者服务的风险和收益做出实质性
				判断或者保证。
			</div>
			<div class="tipTitle">《投资者确认函》</div>
			<div class="tipBook">
				本人/本机构已仔细阅读贵司的《投资者风险匹配告知书》，已充分知晓并理解贵司对本人/本机构的风险承受能力评估及产品、服务风险等级匹配结果。
				本人/本机构对该《投资者风险匹配告知书》内容没有异议，愿意遵守法律、法规及贵司有关规定，通过贵司购买产品或者服务。本人/本机构承诺，将及时以书面方式如实
				地向贵司告知本人/本机构的重大信息变更。在测试过程中，贵司工作人员没有任何提示、暗示、诱导、误导、帮助等行为对本人进行干扰，影响测试结果。本确认函
				系本人/本机构独立、自主、真实的意思表示。
			</div>
			<div class="tipIntro">如您对评估结果有异议，请您重新测评，不重新测评即视为您同意《投资者风险匹配告知书》和《投资者确认函》的相关内容</div>
	</section>  


</body>
</html>