<!-- /**  
 * @Page:  标普资产模型
 * @Author: songxiaoyu  
 * @Date:   2019-09-03 14:21:28  
 * @Last Modified by:   songxiaoyu  
 */ -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="applicable-device" content="mobile" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="/personal/static/css/spAssetModel.css" />
    <title>标普资产模型</title>
  </head>

  <body>
      @@include('../../common/views/load.html')
    <section class="spAssetModel">
      <!-- 标普提示 -->
      <div class="sp_tip">
        标准普尔家庭资产配置模型，是世界公认的、最具权威性的家庭资产配置准则，其核心理念为以"1234"的规则对资产进行分类配置，目标是追求资产的长期稳健增长。
        <div class="triangle"></div>
        <div class="corners">
          <i>x</i>
        </div>
      </div>
      <!-- 标普提示 end-->

      <!-- 四象限 -->
      <div class="sp_four">
        <div class="sp_four_box">
          <div class="sp_four_item" id="expense" style="width:calc(50% - 0.45rem)">
            <p class="sp_four_item_title">消费型资产</p>
            <p class="sp_four_item_advice">
              <span>建议占比：</span>
              <span>10%</span>
            </p>
            <p class="sp_four_item_type">
              <span>货币基金</span>
              <span>活期理财</span>
              <span>随取随用</span>
            </p>
            <div class="sp_four_item_present">
              <span>当前占比:</span>
              <span>
              </span>
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
              
            </div>
            <p class="sp_four_item_price"></p>
          </div>
          <div class="sp_four_item" id="safeguard" style="width:calc(50% - 0.45rem)">
            <p class="sp_four_item_title">保障型资产</p>
            <p class="sp_four_item_advice">
              <span>建议占比：</span>
              <span>20%</span>
            </p>
            <p class="sp_four_item_type">
              <span>保险保障</span>
              <span>专款专用</span>
              <span>以小博大</span>
            </p>
            <div class="sp_four_item_present">
              <span>当前占比:</span>
              <span></span>
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
            <p class="sp_four_item_price"></p>
          </div>
        </div>
        <div class="sp_four_box">
          <div class="sp_four_item" id="appreciation" style="width:calc(50% - 0.45rem)">
            <p class="sp_four_item_title">增值型资产</p>
            <p class="sp_four_item_advice">
              <span>建议占比：</span>
              <span>30%</span>
            </p>
            <p class="sp_four_item_type">
              <span>为家庭创收</span>
              <span>收益风险较高</span>
            </p>
            <div class="sp_four_item_present">
              <span>当前占比:</span>
              <span></span>
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
            <p class="sp_four_item_price"></p>
          </div>
          <div class="sp_four_item" id="hedging" style="width:calc(50% - 0.45rem)">
            <p class="sp_four_item_title">保值型资产</p>
            <p class="sp_four_item_advice">
              <span>建议占比：</span>
              <span>40%</span>
            </p>
            <p class="sp_four_item_type">
              <span>稳健保本</span>
              <span>风险较低</span>
              <span>适当增值</span>
            </p>
            <div class="sp_four_item_present">
              <span>当前占比:</span>
              <span></span>
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
            <p class="sp_four_item_price"></p>
          </div>
        </div>
      </div>
      <!-- 四象限 end-->
      <!-- 配置建议 -->
      <div class="sp_allocation">
        <div class="sp_text">
          "标普资产象限"为通用型的资产配置模型，恒天财富基于强大而专业的投研和风控能力，以及丰富的产品线和财富管理经验，可为您提供完全个性化定制的资产配置方案，
          详情请垂询您的专属理财师或客服专线<a
            href="tel:4008980618"
            class="tell"
            ><span class="phone">&nbsp;400-8980-618</span></a
          >.
        </div>
        <button class="sp_allo_btn1">
          配置建议
        </button>
      </div>
      <!-- 配置建议 end-->
    </section>
    @@include('@pathInclude/views/footer.html')
    <!-- 添加埋点 -->
    @@include('@pathInclude/views/header.html')
    <script src="/personal/static/js/spAssetModel.js"></script>
  </body>
</html>
