<!-- /**  
 * @Page:  
 * @Author: songxiaoyu  
 * @Date:   2019-04-02 17:34:28  
 * @Last Modified by:   songxiaoyu  
 */ -->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	    <meta name="applicable-device" content="mobile">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>title</title>
	</head>
	<body>
		<section class="container">
		</section>
		<script src="/include/js/vendor/zepto/zepto.js"></script>
	  	<script src="/include/js/vendor/root.js"></script>
	  	<script src="/include/js/iscroll.js"></script>
	  	<script src="/include/js/vendor/handlebar/handlebars.js"></script>
	  	<script src="/include/js/vendor/mui/mui.min.js"></script>
	  	<script src="/personal/static/js/test.js"></script>

	  	
	</body>
</html>