<!--
*基金销售资格
*author:zhangyanping
*time：2019/5/16
-->
<!doctype html>
<html lang="en" style="background:#fff;">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black"> 
	<link rel="stylesheet" href="/about/static/css/about.css">
	<title>基金销售资格</title>
</head>
<body style="background:#F9F9F9;">
<section class='container'>
	<section class="qualification">
		<img src="/about/static/img/appIndex/saleQualification.jpg">
	</section>
	
</section>
 
 @@include('@pathInclude/views/footer.html')  

</body>