<!--
	*举贤荐才
	*zhangyanping 2018/01/22
-->
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="applicable-device" content="mobile">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>举贤荐才</title>
	<link rel="stylesheet" href="/about/static/css/recruit.css">
</head>
<body>
	<div class="recruitIndex">
		<div class="images">
			<img src="/about/static/img/recruit/recruit_01.jpg" alt="">
			<img src="/about/static/img/recruit/recruit_02.jpg" alt="">
			<img src="/about/static/img/recruit/recruit_03.jpg" alt="">
			<img src="/about/static/img/recruit/recruit_04.jpg" alt="">
		</div>
		<a href="/about/views/recruit.html" class="recruitBtn">立即推荐</a>

	</div>

	<!-- 引入js  -->
	<script src="/include/js/vendor/zepto/zepto.js"></script>
	<script src="/include/js/vendor/root.js"></script>	
	<script src="/include/js/vendor/mui/mui.min.js"></script>
	<!-- 添加埋点 -->
	@@include('@pathInclude/views/header.html')
	<!-- <script src="/about/static/js/recruit.js"></script> -->
	
</body>

</html>

