<!--
	*创业十年视频
	*zhangyanping 2018/05/07
-->
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="applicable-device" content="mobile">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>周年盛典</title>
	<link rel="stylesheet" href="/about/static/css/startup.css">
</head>
<body>
	
	<div class="startup">

		<div class="startup">
			<img src="/about/static/img/startup/startup_01.jpg" alt="">
		</div>
		<div class="startup">
			<img src="/about/static/img/startup/startup_02.jpg" alt="">
		</div>


		<section class="videoWrap mui-card videoWrap1">
			<div id="video_wrapper1">
				<img src="/about/static/img/startup/video_01.png">
				<img src="/about/static/img/startup/play.png" class="play clubVideo1">
			</div>
		</section>

		<!-- <section class="videoWrap mui-card videoWrap1">
			<div  id="video_wrapper2">
				<img src="/about/static/img/startup/video_02.png"  class="clubVideo2">
			</div>
		</section> -->

		<div class="startup">
			<img src="/about/static/img/startup/startup_04.jpg" alt="">
		</div>

		<section class="videoWrap mui-card videoWrap2">
			<div id="video_wrapper2">
				<img src="/about/static/img/startup/video_02.png">
				<img src="/about/static/img/startup/play.png" class="play clubVideo2">
			</div>
		</section>


		<div class="startup">
			<img src="/about/static/img/startup/startup_06.jpg" alt="">
		</div>

		<section class="videoWrap mui-card videoWrap3">
			<div id="video_wrapper3">
				<img src="/about/static/img/startup/video_03.png">
				<img src="/about/static/img/startup/play.png" class="play clubVideo3">
			</div>
		</section>

		<div class="startup">
			<img src="/about/static/img/startup/startup_08.jpg" alt="">
		</div>

		<section class="videoWrap mui-card videoWrap4">
			<div id="video_wrapper4">
				<img src="/about/static/img/startup/video_04.png">
				<img src="/about/static/img/startup/play.png" class="play clubVideo4">
			</div>
		</section>

		<div class="startup">
			<img src="/about/static/img/startup/startup_10.jpg" alt="">
		</div>

		<section class="videoWrap mui-card videoWrap5">
			<div  id="video_wrapper5">
				<img src="/about/static/img/startup/video_05.png">
				<img src="/about/static/img/startup/play.png" class="play clubVideo5">
			</div>
		</section>

		<div class="startup">
			<img src="/about/static/img/startup/startup_12.jpg" alt="">
		</div>

		<section class="videoWrap mui-card videoWrap6">
			<div  id="video_wrapper6">
				<img src="/about/static/img/startup/video_06.png">
				<img src="/about/static/img/startup/play.png" class="play clubVideo6">
			</div>
		</section>

		<div class="startup">
			<img src="/about/static/img/startup/startup_14.jpg" alt="">
		</div>

		<div class="startup">
			<img src="/about/static/img/startup/startup_15.jpg" alt="">
		</div>
		
	</div>

		<!-- 引入js  -->
	<script src="@pathIncludJs/vendor/zepto/zepto.js"></script>
	<script src="/allServerResources/include/js/vendor/root.js"></script>	
	<script src="@pathIncludJs/vendor/mui/mui.min.js"></script>
	<script src="/about/static/js/startup.js"></script>
	
</body>

</html>

