<!-- /*
 * @page:收益明细
 * @Author: wangjiajia
 */ -->
<!DOCTYPE html>
<html lang="en">
<head>
    @@include('@pathInclude/views/meta.html')
	<link rel="stylesheet" href="/account/static/css/historyDetail.css">
	<title>历史明细</title>
<body>
    
    @@include('../../common/views/load.html')
	<!-- 加载中loading -->
    @@include('../../common/views/loading/listLoading.html')
    <!-- @@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#2C3E77,#273971","showType":"0","pathName":"历史明细"}) -->
    
    <div class="wrap">
        <div class="topTitle">
            @@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#2C3E77,#273971","showType":"0","pathName":"历史明细"})
        </div>
        <div class="title">
            <ul class="titleContent">
                <li>日期</li>
                <li>七日年限</li>
                <li>万份收益(元)</li>
            </ul>
        </div>
        <div class="list">
            <div class="contentWrapper">
                <div class="contentWrap">
                    <!-- 放置列表 -->
                </div>
                @@include('@pathCommonViews/goTop.html')
            </div>
        </div>
        <script id="adjustment-template" type="text/x-handlebars-template">
            {{#each this}}
               <ul class="contentWrapUl">
                    <li>{{curveDate}}</li>
                    <li>{{sevenYearYield}}</li>
                    <li>{{curveDate}}</li>
                </ul>
            {{/each}}
        </script>
        <div class="noDataMore">
           @@include('@pathCommonViews/noData.html')
        </div>
    </div>
    <script src="/include/js/iscroll.js"></script>
	@@include('@pathInclude/views/footer.html')
    <script src="/account/static/js/historyDetail.js"></script>
</body>

</html>