<!-- /*
 * @page:收益明细
 * @Author: wangjiajia
 */ -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     @@include('@pathInclude/views/meta.html')
     <link rel="stylesheet" href="/account/static/css/productFiles.css">
     <title>产品档案</title>
 <body>
     @@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#2C3E77,#273971","showType":"0","pathName":"产品档案"})
     <!-- @@include('@pathCommonViews/load.html')
     @@include('@pathCommonViews/loading/listLoading.html') -->
     <div class="list">
        <div class="contentWrapper">
            <div class="contentWrap">
                <!-- 放置列表 -->
                <div class="content">
                    <ul class="contentUl">
                        <li class="liLeft">产品名称</li>
                        <li class="liRight">(DZ银杏909号)恒天融泽稳泰3号投资基金(特定资产收益权)</li>
                    </ul>
                    <ul class="contentUl">
                        <li class="liLeft">投资策略</li>
                        <li class="liRight">证券</li>
                    </ul>
                    <ul class="contentUl">
                        <li class="liLeft">产品期限</li>
                        <li class="liRight">60个月</li>
                    </ul>
                    <ul class="contentUl">
                        <li class="liLeft">管理人</li>
                        <li class="liRight">北京易迪基金管理有限公司</li>
                    </ul>
                    <ul class="contentUl">
                        <li class="liLeft">托管机构</li>
                        <li class="liRight">北京易迪基金管理有限公司</li>
                    </ul>
                    <ul class="contentUl">
                        <li class="liLeft">份额登记机构</li>
                        <li class="liRight">北京易迪基金管理有限公司</li>
                    </ul>
                    <ul class="contentUl">
                        <li class="liLeft">产品备案号</li>
                        <li class="liRight">0098088888890000</li>
                    </ul>
                    <ul class="contentUl">
                        <li class="liLeft">风险等级</li>
                        <li class="liRight">平衡级</li>
                    </ul>
                    <ul class="contentUl">
                        <li class="liLeft">最新规模</li>
                        <li class="liRight">20,000万</li>
                    </ul>
                </div>
                <div class="productCostWrap">
                   <div class="productCostTitle">
                        产品费用
                   </div>
                   <div class="productCostDetail">
                        营业部毛利分享比例10%【认购费1.5% (价外收取) 】 +【管理费:前2.5年0.2%/年，一次性提取2.5年，自2.5年起1%/年，剩余管理费按日计提，于基金终止时一次性支付】 + 【后端:超额收益分配比例客户：恒天=9:1 (有限合伙清算时收取) 】
                        营业部毛利分享比例10%【认购费1.5% (价外收取) 】 +【管理费:前2.5年0.2%/年，一次性提取2.5年，自2.5年起1%/年，剩余管理费按日计提，于基金终止时一次性支付】 + 【后端:超额收益分配比例客户：恒天=9:1 (有限合伙清算时收取) 】
                   </div>
                   <div class="openOff">
                     <div class="open">展开</div>
                     <div class="imgWrap">
                        <img class="img" src="/account/static/img/jiantou.png" alt="">
                     </div>
                   </div>
                   <div class="productCostTitle">
                        推荐材料
                   </div>
                   <div class="materialWrap">
                     <ul class="materialContent">
                         <li>材料名称.PDF</li>
                         <li class="imgLi"><img src="/account/static/img/jiantou.png" alt=""></li>
                     </ul>
                     <ul class="materialContent">
                        <li>风险揭示书.PDF</li>
                        <li class="imgLi"><img src="/account/static/img/jiantou.png" alt=""></li>
                    </ul>
                    <ul class="materialContent">
                        <li>售前告知书.PDF</li>
                        <li class="imgLi"><img src="/account/static/img/jiantou.png" alt=""></li>
                    </ul>
                   </div>
                </div>
            </div>
        </div>
    </div>

 
     @@include('@pathInclude/views/footer.html')
     <!-- 添加埋点 -->
	@@include('@pathInclude/views/header.html')
     <script src="/account/static/js/productFiles.js"></script>
 </body>
 
 </html>