<!-- /*
 * @page:收益明细
 * @Author: wangjiajia
 */ -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     @@include('@pathInclude/views/meta.html')
     <link rel="stylesheet" href="/account/static/css/productFiles.css">
     <title>交易明细</title>
 <body>
     @@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#2C3E77,#273971","showType":"0","pathName":"交易明细"})
     <!-- @@include('@pathCommonViews/load.html')
     @@include('@pathCommonViews/loading/listLoading.html') -->
 
     @@include('@pathInclude/views/footer.html')
     <script src="/account/static/js/productFiles.js"></script>
 </body>
 
 </html>