<!-- 
@page 公募资产
@author shiyunrui 2019-11-18
-->
<!doctype html>
<html lang="en">

<head>
    @@include('@pathInclude/views/meta.html')
    <link rel="stylesheet" href="/account/static/css/publicAssets.css">
    <title>公募资产</title>
</head>

<body>
    @@include('@pathCommonViews/authenticationProcess.html',{"pathTitle":"购买现金宝产品前，请完成以下认证"})
    @@include('@pathCommonViews/headBarConfig.html',{"pathName":"自选公募","bgColors":"#23356D,#23356D","showType":"1"})
    <section class="container">
        <div class="banner">
            <div class="bannerTop clearfix">
                <div class="sum fl"><span class="j_text">自选总资产(元)</span><span class="j_icon"></span></div>
                <div class="assetsBtn fr">资产组成说明</div>
            </div>
            <div class="totalM show_item">0.00</div>
            <div class="be_confirmed_amount">
                <div class="title fl">待确认金额(元)</div>
                <div class="value fl show_item">0.00</div>
            </div>
            <div>
                <div class="first_h_profit_box fl">
                    <div class="h_profit">昨日总收益(元)</div>
                    <div class="h_profit_value show_item">0.00</div>
                </div>
                <div class="second_h_profit_box fl">
                    <p class="h_profit">累计总收益(元)</p>
                    <p class="h_profit_value show_item">0.00</p>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div id="bank_screen" class="bank_screen">
            <div class="bank_screen_name fl">全部持有</div>
            <span class="iconfont fl">&#xe609;</span>
        </div>
        <div id="bank_list" class="bank_list hide">
            <!-- 银行卡列表渲染 -->
        </div>
        <div class="list" id="cashPageLists">
            <!-- 现金宝列表 -->
        </div>
        <div class="list" id="pageLists">
            <!-- 普通基金列表 -->
        </div>
        <footer class="hide">
            暂无更多数据
        </footer>

        <div class="mask"></div>
        <div class="tipContainer">
            <h2 class="titleText">自选资产组成说明</h2>
            <p class="tipCon">自选总资产是指已成立确认的资产加上您的待确认资产</p>
            <p class="tipCon">待确认资产是指您的在途资产，产品成立后将归入已确认资产。</p>
            <div class="buttonOne">我明白了</div>
        </div>

        <!-- 加载中loading -->
        @@include('@pathCommonCom/loading/listLoading.html')
        <!-- 暂无数据 -->
        @@include('@pathCommonCom/noData/noData.html', {"tipText": "暂无数据"})


    </section>

    <div class="isRiskMatchBox">
       <div class="isRiskMatchBox_contentBox">
               <div class='isRiskMatchBox_header'>你选择的产品与您现在的风险承受能力相匹配</div>
               <div class="isRiskMatchBox_footer">
                    <div class="isRiskMatchBox_match">确定</div>
                    <div class="isRiskMatchBox_noMatch"><button class="isRiskMatchBox_cancel">放弃购买</button> <button class="isRiskMatchResult">查看评测结果</button></div>
               </div>
       </div>
  </div>
  <div class="isRiskMatch_mask"></div>

    <!-- 持仓列表内容模板 -->
    <script id="dataLists" type="text/x-handlebars-template">
		{{! 左侧页面列表}}
		{{#each this}}
        <div class="hold_item" data-fundCode={{fundCode}} data-tradeNo={{tradeNo}}>
            <div class="divider"></div>
            {{#if_than_0 inTransitNum}}
                <div class="be_confirmed_tag fr">{{inTransitNum}}笔待确认交易</div>
            {{/if_than_0}}
            <div class="title">
                <div class="divider_tag"></div>
                <div class="hold_name">{{fundName}}</div>
                <span class="iconfont fr">&#xe636;</span>
            </div>
            <div class="content">
                {{#if_than_0 onwayAssetTotal}}
                    <div class="content_header">
                        <span class="text_gray">待确认金额   </span>
                        <span class="text_balck show_item">{{onwayAssetTotal}}元</span> 
                    </div>
                {{/if_than_0}}
                <div class="content_bottom">
                    <div class="text_gray position_c">金额(元)</div>
                    <div class="text_gray position_d">昨日收益(元)</div>
                    <div class="position_tip" data-fundcode={{fundCode}}></div>
                    <div class="text_gray position_e">持有收益(元)</div>
                    <div class="text_black position_f show_item">{{totalMoneyMask}}</div>
                    {{#if_than_0 income}}
                        <div class="text_red position_g show_item">+{{incomeMask}}</div>
                    {{else}}
                        <div class="text_green position_g show_item">{{incomeMask}}</div>
                    {{/if_than_0}}

                    {{!  按赵丹提的问题，这里应该改为holdIncome的字段}}

                    {{#if_than_0 holdIncome}}
                        <div class="text_red position_h show_item">+{{holdIncomeMask}}</div>
                    {{else}}
                        <div class="text_green position_h show_item">{{holdIncomeMask}}</div>
                    {{/if_than_0}}


                    {{#if myTip}}
                        <div class="tip">{{myTip}}</div>
                    {{/if}}
                    <!-- todo 需要判断字段来是否显示 -->
                    {{#if isCash}}
                    {{else}}
                        {{#if isBuyFlag}}
                        <div class="buy_btn fr blueBgButton" fundCode = {{fundCode}} fundName={{fundName}}>买入</div>
                        {{/if}}
                    {{/if}}
                    {{#if isRedemptionFlag}}
                        <div class="redeem_btn fr goldBorderButton">赎回</div>
                    {{/if}}
                    <!-- 封闭期盖章 本期去掉了 -->
                    <!-- <div class="closed"></div> -->
                </div>
            </div>
            
        </div>
		{{/each}}
    </script>

    <!-- 现金宝列表 -->
    <script id="cashLists" type="text/x-handlebars-template">
		{{! 左侧页面列表}}
		{{#each this}}
        <div class="hold_item" fundCode={{fundCode}}>
            <div class="divider"></div>
            <div class="title">
                <div class="divider_tag"></div>
                <div class="hold_name">{{fundName}}</div>
                <span class="iconfont fr">&#xe636;</span>
            </div>
            <div class="content">
                <div class="content_bottom">
                    <div class="text_gray position_c">金额(元)</div>
                    <div class="text_gray position_d">昨日收益(元)</div>
                    <div class="position_tip" data-fundcode={{fundCode}}></div>
                    <div class="text_gray position_e">持有收益(元)</div>
                    <div class="text_black position_f show_item">{{totalMoneyMask}}</div>
                    {{#if_than_0 income}}
                        <div class="text_red position_g show_item">+{{incomeMask}}</div>
                    {{else}}
                        <div class="text_green position_g show_item">{{incomeMask}}</div>
                    {{/if_than_0}}
                    {{#if_than_0 holdIncome}}
                        <div class="text_red position_h show_item">+{{holdIncomeMask}}</div>
                    {{else}}
                        <div class="text_green position_h show_item">{{holdIncomeMask}}</div>
                    {{/if_than_0}}
                    <!-- todo 需要判断字段来是否显示 -->
                    {{#if isBuyFlag}}
                        <div class="buy_btn fr blueBgButton" fundCode={{fundCode}} fundName={{fundName}} >转入</div>
                    {{/if}}
                    {{#if isRedemptionFlag}}
                        <div class="redeem_btn fr goldBorderButton">转出</div>
                    {{/if}}
                </div>
            </div>
            
        </div>
		{{/each}}
    </script>

    <!-- 银行卡列表 -->
    <script id="bankLists" type="text/x-handlebars-template">
        {{! 左侧页面列表}}
		{{#each this}}
        <div class="bank_screen bank_item" bankAccount='{{bankAccountSecret}}'>
            <div class="bank_screen_name fl">{{bankName}}{{get_last_4_value bankAccountMask}}</div>
            <span class="iconfont fr hide">&#xe626;</span>
        </div>
        {{/each}}
    </script>
    
    <!-- 添加埋点 -->
    @@include('@pathInclude/views/footer.html')


    <script src="/account/static/js/publicAssets.js"></script>
</body>

</html>