<!-- 
@page 公募资产
@author zhubingshuai 2020-04-09
-->
<!doctype html>
<html lang="en">

    <head>
        @@include('@pathInclude/views/meta.html')
        <link rel="stylesheet" href="/account/static/css/weeklyPosition.css">
        <title>客户持仓周报-证券投资</title>
    </head>

<body>
    <div class="publicDetail ">
		@@include('@pathCommonViews/headBarConfig.html',{"pathName":"客户持仓周报-证券投资","bgColors":"#22346D,#031349","showType":"1"})
		<div class="tplBox"></div>
	</div>
    <!-- @@include('@pathCommonViews/authenticationProcess.html',{"pathTitle":"购买现金宝产品前，请完成以下认证"}) -->
    <!-- @@include('@pathCommonViews/headBarConfig.html',{"pathName":"客户持仓周报-证券投资<span>dfdfd</span>","bgColors":"#23356D,#23356D","showType":"1"}) -->
    <section class="container">
        <!-- 头部信息 -->
        <div class="banner">
            <div class="bannerTop clearfix">
                <div class="sum tc">
                    <span class="j_text">“恒天财富，您的高端财富管理专家”</span>
                </div>
            </div>
            <!-- 最新市值(元) -->
            <div class="be_confirmed_amount">
                <div class="value tc show_item amount_value">0.00</div>
                <div class="title tc">最新市值(元)</div>
            </div>
            <!-- 昨日总收益(元) -->
            <div class="first_h_profit_box">
                <div class="h_profit_value tc show_item">0.00</div>
                <div class="h_profit tc">昨日总收益(元)</div>
            </div>
        </div>
        <div class="divider"></div>
         <!-- 市值构成 -->
         
         <div class="title_content bgWhite">
            <div class="liLeft">市值构成(元)</div>
        </div>
         <div class="content_block bgWhite">
            <!-- 市值构成(元) -->
            <div class="text_content marketCapitalList" id="marketCapitalList">
                <!-- <div class="bar_wrap">
                    <div class="bar_body">
                        <div class="bar_progressbar">
                            <span style="width:100%"></span>
                        </div>
                        <div class="bar_num">66,666.52</div>
                    </div>
                    <div class="bar_text">华润元大景泰A华润元大景泰A备份</div>
                </div> -->
            </div>
        </div>
        <!-- <div class="divider"></div> -->
        <!-- 证券市场观点 -->
        <div class="title_content bgWhite view_point_div">
            <div class="liLeft fl">证券市场观点</div>
            <span class="more fr viewpoint_more">查看更多
                <!-- <span class="j_icon mui-icon mui-icon-arrowright" style=""></span> -->
                <!-- <span class="iconfont">&#xe68c;</span> -->
                <i class="iconfont jump">&#xe67d;</i>
            </span>
        </div>
        <div class="content_block bgWhite">
            <div class="text_content">
                <div class="text get_marketView">
                    <!-- 受全球瘟疫数据恶化、油价暴跌拖累，3月9日-3月12日期间A股各大指数较前一周反弹之后，低开低走并不同成都收跌【上证指数】周度跌幅-4.85%。数较前一周数较前一周 -->
                </div>
            </div>
        </div>
        <!-- <div class="divider"></div> -->
        <!-- 证券产品 list -->
        <div class="title_content bgWhite">
            <div class="liLeft">证券产品观点</div>
        </div>
        <div class="list newsList" id="newsList"></div>

        <div class="footer-tip">
            温馨提示：以上数据仅供参考，具体以实际到账为准。
        </div>
        <!-- <footer class="hide">
            暂无更多数据
        </footer> -->
       
        <!-- 加载中loading -->
        @@include('@pathCommonCom/loading/listLoading.html')
        <!-- 暂无数据 -->
        @@include('@pathCommonCom/noData/noData.html', {"tipText": "暂无数据"})
    </section>

     <!-- 市值构成list -->
     <script id="marketTemplate" type="text/x-handlebars-template">
        {{#each this}}
        <div class="bar_wrap">
            <div class="bar_body">
                <div class="bar_progressbar">
                    <span style="width:0%" ></span>
                </div>
                <div class="bar_num">{{marketValue}}</div>
            </div>
            <div class="bar_text">{{projectName}}</div>
        </div>
        {{/each}} 
    </script>
  
    <!-- 产品list -->
    <script id="listTemplate" type="text/x-handlebars-template">
        {{#each this}}
        <div class="content_block bgWhite">
            <div class="text_content">
                <div class="common_container">
                    <div class="sub_title">{{projectName}}</div>
                    <div class="text">
                        <span class="text_productViewpoint"></span>
                        <span class="more jf product_more" data-fundCode={{projectCode}}>查看更多
                            <i class="iconfont">&#xe67d;</i>
                            <!-- <span class="j_icon"></span> -->
                        </span>
                    </div>
                </div>
                <div class="common_container line_chart_div">
                    <div class="chart_content">
                        <div class="dd_line_legend">
                            <span class="dd_line_title">盈亏走势图 :</span>
                            <span>
                                <span class="dd_legend dd_red">本产品 
                                    <span class="show_item">{{profitLossPercentageLast}}</span>
                                </span>
                                <span class="dd_legend dd_grey">沪深300 
                                    <span class="show_item">{{hs300PerformancePercentLast}}</span>   
                                </span>
                            </span>
                        </div>
                        <!-- 折线图 -->
                        <div class="dd_line" id="dd_line">折线图</div>
                        <!-- <div class="dd_lineNodata">暂无数据</div> -->
                    </div>
                </div>

                {{#each pefConnectionList}}                
                    <div class="common_container video_url_div">
                        <div class="image_content" videoId={{videoId}}>
                            <img src="{{videoCoverUrl}}" class="image lazyload" data-original="{{videoCoverUrl}}"/>
                            <span class="play_icon"></span>
                            <span class="title_bg"><span>私募联线回放</span></span>
                        </div>
                    </div>
                {{/each}}  
            </div>
        </div>
        {{/each}} 
    </script>
    <!-- 添加埋点 -->
    @@include('@pathInclude/views/footer.html')
    <!--<script src="https://echarts.baidu.com/build/dist/echarts.js"></script>-->
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <!-- <script src="/common/js/components/echartCom/echarts.min.js"></script> -->
    <script src="/account/static/js/weeklyPosition.js"></script>
</body>

</html>