<!-- 月度报告列表页
 @author zhangyanping 2019-11-01
-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="applicable-device" content="mobile">
	<meta content="telephone=no" name="format-detection"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="/mysubpage/static/css/monthReportList.css">
	<script type="text/javascript" src="/include/js/adaptation_750ui.js"></script>
	<title>月度报告列表页</title>
</head>
<body>
	
	@@include('@pathCommonViews/load.html')
	@@include('@pathCommonViews/noData.html')
	@@include('@pathCommonViews/loading/listLoading.html')
	<div class="adjustmentRecord">
		<div class="list">
			<div class="contentWrapper">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell recordList">
						<!--放置列表-->
					</li>
					<!-- 返回顶部 -->
					@@include('../../common/views/goTop.html')
				</ul>
			</div>
		</div>
	</div>
	
	<script id="adjustment-template" type="text/x-handlebars-template">
	{{#each this}}
		<ul class="mui-card mui-table-view marginTop">
			<li class="mui-table-view-cell mui-collapse">
				<a class="monthYear mui-navigate-right" href="#">{{years}}</a>

				<div class="mui-card marginTop latestAdjustment mui-collapse-content">
					{{#each monthReportsList}}
						<a href="javascript:;" class='monthlyReport'> 
							<span class='reportName'>{{reportName}}</span>
							<span class='reportTime'>{{reportTime}}</span>
						</a>
					{{/each}}
				</div>

			</li>
			{{!--<a class="mui-navigate-right" href="#"></a> --}}
		</ul>
	{{/each}}
</script>
	 
	@@include('@pathInclude/views/footer.html')
	<script src="/include/js/iscroll.js"></script>
	<!-- 添加埋点 -->
	@@include('@pathInclude/views/header.html')
	<script src="/mysubpage/static/js/monthReportList.js"></script>

</body>
</html>