/*
 * @page: 老带新----推荐有礼
 * 
 * @Author: yangjinlai
 * @Date:   2017-10-27 10:48:29
 *  
 * @Last Modified by:   songxiaoyu
 * @Last Modified time: 2018-07-18 09:55:42
 * @description: 推荐有礼大改版
 *               有富文本，不能引入reset
 */

@import url("../../../include/css/mui.min.css");
@import url("../../../common/less/reset.less");
@import url("../../../common/less/color.less");
@import url("../../../include/css/mui.picker.all.css");
@import url("../../../include/css/mui.picker.css");

@import url('../../../common/less/mui/resetMUI.less');
//重置MUI的poppicker样式
@import url("../../../common/less/mui/resetMuiPop.less");
@import url('../../../common/less/mui/selectMUI.less');
@import url("../../../common/less/components/againEnter.less");
@import url("../../../common/less/components/elasticLayerTypeTwo.less");

//设置屏幕宽高
html,
body {
    width: 100%;
}

.mui-table-view-cell.mui-collapse .mui-navigate-right:after{
    font-family: iconfont;
    content: '\e600';
    font-size: 1.4rem;
}

.recommend_wrap {

    // 理财师选择
    .manager_choose_wrap {
        background-color: @c005;
        margin-bottom: 1rem;
        display: none;
        padding-top: 2rem; // 选择框
        .lcs {
            height: 4rem;
            line-height: 4rem;
            padding-left: 2.5rem;
            border-bottom: 1px solid @c008;
            font-size: 1.4rem;

            .label_class {
                width: 5rem;
                float: left;
            }
            .choose{
                margin-left:5rem;
                margin-right:2.5rem;
                text-align: right;
                color: @c001;

                a{
                    padding-right: 2rem;
                }
            }
        } 
        // 提示文案
        .manager_tip {
            padding: 1.3rem 2.5rem;
            font-size: 1rem;
        }
        .generate_qrcode_btn {
            padding: 1.7rem 1rem 3rem;
            .generate_btn{
                color: @c006;
                border: 1px solid @c006;
                background: @c005;
            }
        }
    } 


    // 唯一理财师展示
    .manager_show_wrap{
        background-color: @c005;
        display: none;
        color:@c002;
        line-height: 1.6rem;
        height: 1.6rem;
        font-size:1.6rem;
        text-align: center;
        padding-top: 1.6rem;
        padding-bottom:2rem;
    }
    // 二维码区域
    .qrcode_wrap {
        display: none;
        background-color: @c005;
        padding-top: 2rem;


        .qrcode_cont {
            text-align: center;
            .qrcode_contText{
                // margin-bottom: 1.2rem;
                color: @c002;
            }
            .unline{
                margin: -0.5rem auto 0;
                width: 3rem;
                height: 0.3rem;
                background: @c006;
            }

            .code_wrap {
                margin-top: 1.2rem;
                display: inline-block;
                width: 14rem;
                height: 14rem;
                padding: 1rem;
                border: 1px solid @F9C522;
                position: relative;

                .line {
                    position: absolute;
                    top: 2rem;
                    left: -2rem;
                    width: 18rem;
                    height: 10rem;
                    background-color: @c005;
                    text-align: center;

                    #code {
                        width: 12rem;
                        height: 12rem;
                        position: absolute;
                        top: -1rem;
                        left: 3rem;
                    }
                }
            }
            .code_tip{
                margin-top: 1rem;
                color: @c002;
                display: none;
            }
        }
        .rule_des {
            margin-top: 3rem;
        }
    } // 规则说明页面
    .rule_des_wrap {
        padding: 3rem 1rem;
        background-color: @c005;
        margin-bottom: 8rem;

        .rule_des {
            text-align: center;
            color: @c002;
        }
        .unline{
            margin: -0.5rem auto 0;
            width: 3rem;
            height: 0.3rem;
            background: @c006;
        }
    } //立即邀请好友
    .inviting_friend_wrap {
        position: fixed;
        bottom: 0;
        left: 0;
        display: none;
    } //公用的弹层透明遮罩样式
    .mask {
        display: none;
        position: fixed;
        z-index: 200;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(51, 51, 51, 0.8);
    } // 关闭按钮
    .closeElastic {
        width: 3.4rem;
        height: 3.4rem;
        border-bottom-left-radius: 3.4rem;
        position: absolute;
        z-index: 201;
        top: 0;
        right: 5%;
        background: @c002;
        color: @c005;
        line-height: 3rem;
        font-size: 1.6rem;
        text-indent: 1.3rem;
        border-top-right-radius: 0.4rem;
        display: none;
    }

    .shareMask,
    .showImg {
        display: none;
    }

    .mui-poppicker .mui-pciker-list span {
        // width: 50%;
        display: inline-block;
    } //分享弹层
    .shareMask {
        position: fixed;
        bottom: 4.5rem;
        left: 0;
        width: 100%;
        top: 0;
        background: transparent;
        z-index: 100; //height: 0;
        .openWrap {
            height: 9.5rem;
            &.open {}
        }

        &.show {
            display: block;


            .shareWrap {
                // bottom: 0;
                // -webkit-transition: bottom 500ms;
                height: 9.5rem;
                -webkit-transition: height 0.5s ease;
                -moz-transition: height 0.5s ease;
                -o-transition: height 0.5s ease;
                transition: height 0.5s ease;
            }
        }

        .shareWrap {
            position: absolute;
            height: 0rem; // padding: 1.5rem 0;
            bottom: 0; //z-index: 250;
            background: @c008;
            width: 100%;
            text-align: center;

            .iconfont {
                width: 5.2rem;
                height: 5.2rem;
                font-size: 3.5rem;
                margin: 1.3rem auto 0.6rem auto;
                display: block;
            }

            .txt {
                font-size: 1.4rem;
                color: @c003;
                margin-bottom: 1rem;
                display: block;
            }

            .wx {
                .iconfont {
                    color: @c022;
                }
            }
        }
    } //微信分享点击右上角
    .tipMask {
        .mask;

        .tip {
            height: 12.2rem;
            width: auto;
            position: absolute;
            right: 2rem;
            top: 1.6rem;
        }
    }
}