@import url("../reset.less");
@import url("../color.less");

.elasticLayer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 7.5rem;
    // height: 100%;
    background-color: rgba(51, 51, 51, 0.8);
    z-index: 9999;
    .elasticWrapper {
        // width: 5.4rem !important;
        // height: 2.5rem !important;
        background: @F0DFBA;
        text-align: center;
        margin: 0 auto;
        z-index: 105;
        border-radius: .14rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        .elasticMid{
            width: 5.4rem;
            height: 3.19rem;
            display: flex;
            flex-direction: column;
            .elasticTxt{
                font-size: .28rem !important;
                line-height: .45rem !important;
                color: @272727;
                padding: 0.4rem 0;
                flex: 1;
                p{  
                    text-align: center;
                    font-family:PingFangSC-Regular,PingFang SC;
                    font-weight:400;
                    font-size:.28rem;
                    color: @272727;
                }
                .otherColor{
                    color: @364D97;
                }
            }
            .elasticButtons{
                height: .99rem;
                border-top: 1px solid @D6BC79;
                .elasticCel{
                    color: @9B9B9B;
                    font-size: .36rem !important;
                    font-weight: 400;
                    border-right: none;
                    width: 50%;
                    height: 100%;
                    background: @FDF3DD;
                }
                .elasticYes{
                    color: @272727;
                    font-weight: 400;
                    font-size: .36rem !important;
                    border-left: 1px solid @D6BC79;
                    width: 50%;
                    height: 100%;
                    background: @FDF3DD;
                }
            }
        }
    }
}
