<!-- h5承接页面模板 -->
<!-- author: caiwenqi
	time:2019/11/13 -->
<!DOCTYPE html>
<html>
	<head>
		@@include('@pathInclude/views/meta.html')
		<link rel="stylesheet" href="/mine/static/css/examplePage.css">
		<title>h5生成文章模板页</title>
	</head>

	<body>
		<!--加载图标-->
		@@include('@pathCommonCom/loading/listLoading.html')
		<!--没有数据显示图标-->
		<!--@@include('@pathCommonViews/noDataImg.html')-->
		<!--公共页面头部-->
		@@include('@pathCommonViews/headBarConfig.html',{"pathName":"h5生成模板页面"})
		<!--页面容器-->
		<div class="container">
			<div class="applyType"></div>
			<div class="articleTitle"></div>
			<div class="articleTime"></div>
			<div class="author"></div>
			<!-- 图片模板 start -->
			<img id="contentImg" src=""/>
			<!-- 图片模板 end -->
			<!--视频展示位置-->
			<video id="video" width="320" height="240" controls></video>
			<!--富文本位置开始-->
			<div class="richText">
				<a id="aaaa" href="">点我</a>
			</div>
			<!--富文本位置结束-->
		</div>
		@@include('@pathInclude/views/footer.html')
		<script src="/mine/static/js/examplePage.js"></script>
	</body>

</html>
