<!-- 登录日志查询页
 @author 蔡文琦  2019-11-11
-->
<!DOCTYPE html>
<html>

	<head>
		@@include('@pathInclude/views/meta.html')
		<link rel="stylesheet" href="/mine/static/css/journal.css">
		<title>登录日志查询</title>
	</head>

	<body>
		<!--加载图标-->
		@@include('@pathCommonViews/load.html') 
		<!--没有数据显示图标-->
		@@include('@pathCommonViews/noData.html')
		<!--列表加载显示图标-->
		@@include('@pathCommonViews/loading/listLoading.html')
		<!--公共页面头部-->
		@@include('@pathCommonViews/headBarConfig.html',{"pathName":"登录日志查询"})
		<!--提示部分-->
		<div class="tips">
			<img src="../static/img/login_zhuyi@2x.png" />温馨提示:地点信息仅供参考
		</div>
		<!--列表部分-->
		<!--<div class="list recordList">-->
			<!--<div class="list-time">
				2019-10-29
			</div>
			<div class="list-wrap mui-table-view">
				<span class="equipment-name">MI note</span>
				<span class="islogin">登录</span><br />
				<span class="address">北京市 北京市 (IP:182.50.117.176)</span>
				<span class="login-time">16:22:46</span>
			</div>
			<div class="list-wrap mui-table-view">
				<span class="equipment-name">MI note</span>
				<span class="islogin">退出 </span><br />
				<span class="address">北京市 北京市 (IP:182.50.117.176)</span>
				<span class="login-time">16:22:46</span>
			</div>
			<div class="list-wrap mui-table-view">
				<span class="equipment-name">MI note</span>
				<span class="islogin">登录</span><br />
				<span class="address">北京市 北京市 (IP:182.50.117.176)</span>
				<span class="login-time">16:22:46</span>
			</div>-->
		<!--</div>-->
		<!-- 返回顶部 -->
		<!--@@include('@pathCommonViews/goTop.html')-->
		<div class="adjustmentRecord">
			<div class="list">
				<div class="contentWrapper">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell recordList">
							<!--放置列表-->
						</li>
						<!-- 返回顶部 -->
						@@include('@pathCommonViews/goTop.html')
					</ul>
				</div>
			</div>
		</div>
		<script id="adjustment-template" type="text/x-handlebars-template">
			{{#each this}}
				{{#if time}}<div class="list-time">{{time}}</div>{{/if}}
				{{#each list}}
					<div class="list-wrap mui-table-view recordList">
						<span class="equipment-name">{{userAgent}}</span>
						{{#if typeDes}} <span class="islogin">登录</span> {{else}} <span class="islogin red">退出</span> {{/if}}
						<span class="address">{{ipArea}}{{clientIp}}</span>
						<span class="login-time">{{createTime1}}</span>
					</div>
				{{/each}}
			{{/each}}
		</script>
		@@include('@pathInclude/views/footer.html')
		<script src="/include/js/iscroll.js"></script>
		<!-- 添加埋点 -->
		@@include('@pathInclude/views/header.html')
		<script src="/mine/static/js/journal.js"></script>
	</body>

</html>