<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="applicable-device" content="mobile">
	<meta content="telephone=no" name="format-detection"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="/mine/static/css/account.css">
	<title>公募监管账户</title>
</head>
<body>
	<!-- @@include('../../common/views/load.html') -->
	<section class="container">
		<div class="regulatoryAccounts">
			<div class="mui-card">
				<div class="accountName">公募监管账户</div>
				<div class="accountDetail">
					<p class="name">户&nbsp;&nbsp;&nbsp;名<span class="copy_btn">复制</span><span>北京恒天明泽基金销售有限公司</span></p>
					<p class="number">账&nbsp;&nbsp;&nbsp;号<span class="copy_btn">复制</span><span>111222233334445566777</span></p>
					<p class="linenum">行&nbsp;&nbsp;&nbsp;号<span class="copy_btn">复制</span><span>31353246363</span></p>
					<p class="openingBank">开户行<span class="copy_btn">复制</span><span>大康师傅客户卡复活卡奥卡福卡福</span></p>
				</div>
			</div>
			<div class="mui-card">
				<div class="accountName">私募监管账户</div>
				<div class="accountDetail">
					<p class="name">户&nbsp;&nbsp;&nbsp;名<span class="copy_btn">复制</span><span>111</span></p>
					<p class="number">账&nbsp;&nbsp;&nbsp;号<span class="copy_btn">复制</span><span>222</span></p>
					<p class="linenum">行&nbsp;&nbsp;&nbsp;号<span class="copy_btn">复制</span><span>333</span></p>
					<p class="openingBank">开户行<span class="copy_btn">复制</span><span>444</span></p>
				</div>
			</div>
			<div class="prompt">
				<div class="tip">提示</div>
				<section class="content" id="content"></section>
			</div>
		</div>
	</section>
	 @@include('@pathInclude/views/footer.html')
	<!-- 添加埋点 -->
    @@include('@pathInclude/views/header.html')
	<script src="/mine/static/js/regulatoryAccounts.js"></script>

</body>
</html>