<!-- /*
 * @page:收益明细
 * @Author: chentiancheng
 */ -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     @@include('@pathInclude/views/meta.html')
     <link rel="stylesheet" href="/mine/static/css/returnsDetail.css">
     <title>收益明细</title>
 <body>
     
     @@include('../../common/views/load.html')
     <!-- 加载中loading -->
     @@include('../../common/views/loading/listLoading.html')
     <!-- @@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#2C3E77,#273971","showType":"0","pathName":"历史明细"}) -->
     
     <div class="wrap">
         <div class="topTitle">
             @@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#2C3E77,#273971","showType":"0","pathName":"收益明细"})
         </div>
         <div class="messageTitle">
            说明：昨日收益是根据持仓货基万份收益计算的估算收益，仅供参考，实际收益以具体到账为准。 如后台数据未下载完成、周末及节假日等到净值数据未更新时，昨日收益一栏显示最近一次更新的收益。
         </div>
         <div class="title">
             <ul class="titleContent">
                 <li>日期</li>
                 <li>收益(元)</li>
             </ul>
         </div>
         <!-- <div class="list">
             <div class="contentWrapper">
                 <div class="contentWrap">
                     放置列表
                 </div>
                 @@include('@pathCommonViews/goTop.html')
             </div>
         </div> -->
         <div class="list">
             <div class="contentWrapper">
                 <ul class="mui-table-view">
                     <li class="mui-table-view-cell">
                         <div class="contentWrap">
                                 <!-- 放置列表 -->
                         </div>
                     </li>
                     @@include('@pathCommonViews/goTop.html')
                 </ul>
             </div>
         </div>
         <script id="adjustment-template" type="text/x-handlebars-template">
             {{#each this}}
                <ul class="contentWrapUl">
                     <li>{{belongdate}}</li>
              {{#if_red todayIncome}}       
                     <li style="color:red">{{todayIncomeMask}}</li>
                     {{else}}
                     <li style="color:green">{{todayIncomeMask}}</li>
              {{/if_red}}       
                 </ul>
             {{/each}}
         </script>
         <div class="noDataMore">
            @@include('@pathCommonViews/noDataImg.html')
         </div>
     </div>
     @@include('@pathInclude/views/footer.html')

     <script src="/mine/static/js/returnsDetail.js"></script>
 </body>
 
 </html>