<!-- 我的经历页面
 @author zhangyanping 2019-11-12
-->

<!DOCTYPE html>
<html lang="en">
<head>
	
	@@include('@pathInclude/views/meta.html')
	<link rel="stylesheet" href="/mine/static/css/rewards.css">
	<title>我的经历页面</title>
</head>
<body>
	
	@@include('@pathCommonViews/load.html')
	<!--@@include('@pathCommonViews/noData.html')  -->
	@@include('@pathCommonViews/loading/listLoading.html')

	<div class="container">
		
	</div>

	 
	@@include('@pathInclude/views/footer.html')
	<!-- 添加埋点 -->
	@@include('@pathInclude/views/header.html')
	<script src="/mine/static/js/rewards.js"></script>

</body>
</html>