<!-- 我的奖励
 @author zhangyanping 2019-11-12
-->

<!DOCTYPE html>
<html lang="en">
<head>
	
	@@include('@pathInclude/views/meta.html')
	<link rel="stylesheet" href="/mine/static/css/rewards.css">
	<title>我的奖励</title>
</head>
<body>
	
	@@include('@pathCommonViews/load.html')
	@@include('@pathCommonViews/loading/listLoading.html')

	<div class="reward">
		<div class="contentHeader"><span class="iconfont">&#xe635;</span>实体奖我们将在48小时内发放，如未收到，请联系您的理财师</div>
		<div class="list">
			<div class="rewardWrapper">
				<div class="mui-card">
					<!--内容区-->
					<div class="mui-card-conten mui-card-media entity">
						<span class="rewardType">实体奖</span>
						<div class="rewardDetail">
							<p class="rewardName">火熊钓鱼竿一支</p>
							<p class="rewardTime">奖励时间：2019-09-09 12:49:00</p>
						</div>
					</div>

					<div class="mui-card-conten mui-card-media virtual">
						<div class="virRewardDetail">
							<p class="rewardName">30元京东购物卡</p>
							<p class="rewardTime">有效期至：2019-09-09 12:49:00</p>
							<a href="javascript:;" class="viewDetails">查看详情<span class="iconfont">&#xe636;</span></a>
						</div>
					</div>

					<div class="mui-card-conten mui-card-media Invalid">
						<div class="invalidRewardDetail">
							<p class="rewardName">30元京东购物卡</p>
							<p class="rewardTime">有效期至：2019-09-09 12:49:00</p>
							<a href="javascript:;" class="viewDetails">查看详情<span class="iconfont">&#xe636;</span></a>
							<img class="invalidImg" src="/mine/static/img/rewards/yishixiao@3x.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	 
	@@include('@pathInclude/views/footer.html')
	<!-- 添加埋点 -->
	@@include('@pathInclude/views/header.html')
	<script src="/mine/static/js/rewards.js"></script>

</body>
</html>