/**
* 现金管理
* @author yanruiting 2019-11-23
*/
@import url("../../../include/css/mui.min.css");
@import url('@pathCommonLess/mui/resetMUI.less');
@import url("@pathCommonLess/reset.less");
@import url("@pathCommonLess/color.less");

@import url("@pathCommonLessCom/againEnter.less");
@import url("@pathCommonLessCom/alertBox.less");
@import url("@pathCommonLessCom/headBarConfig.less");

body{
    max-width: 7.5rem;
}
#top {
	height: 4.92rem;
	background: url('/Financial/static/img/cash_bg.png') no-repeat;
	.HeadBarConfigBox {
		background:linear-gradient(135deg,rgba(71,90,149,1) 0%,rgba(3,19,73,1) 100%);
	}
	.topCon {
		padding: 1.58rem 0 .3rem .3rem;
		.totalFundTitle {
			font-size: .32rem;
			color:rgba(255,255,255,1);
			line-height:.45rem;
			background:linear-gradient(180deg, rgba(251,226,189,1) 0%, rgba(226,181,128,1) 100%);
			-webkit-background-clip:text;
			-webkit-text-fill-color:transparent;
			font-weight: 600;
		}
		.totalFund {
			margin-top: .14rem;
			.fundValue {
				font-size: .68rem;
				font-weight:bold;
				color:rgba(255,255,255,1);
				line-height:.8rem;
				background:linear-gradient(180deg, rgba(251,226,189,1) 0%, rgba(226,181,128,1) 100%);
				-webkit-background-clip:text;
				-webkit-text-fill-color:transparent;
			}
			.fundKnow {
				width: 1.96rem;
				height: .56rem;
				line-height: .56rem;
				background: #7A7074;
				border-radius:2rem 0px 0px 2rem;
				color: #E2E1E3;
				text-align: center;
				margin-top: .12rem;
				.iconfont {
					font-size: .24rem;
				}
			}
		}
		.profitContent {
			margin-top: .45rem;
			&>div:first-child {
				width: 2rem;
			}
			&>div:last-child {
				padding-left: .9rem;
				flex: 1;
			}
			.profitCon {
				.profitTitle {
					font-size: .26rem;
					line-height: .26rem;
					color: #D1D5E0;
				}
				.profitValue {
					color: #FAE0BB;
					font-size: .38rem;
					margin-top: .2rem;
					font-weight: 600;
				}
			}
		}
	}
	.list {
		.wrapper {
			#cashListCon {
				.cashItem {
					padding: 0 0 0 .3rem;
					background: #fff;
					margin-bottom: .3rem;
					&>div {
						padding: .3rem .3rem .3rem 0;
						border-bottom: 1px solid #E7E9ED;
					}
					.itemTop {
						.itemTitle {
							font-size: .32rem;
							line-height: .32rem;
							color: #000;
							font-weight: 600;
							margin-bottom: .13rem;
							.rightCon {
								display: inline-block;
							}
						}
						.itemSevenIncome {
							height:.33rem;
							font-size:.24rem;
							line-height: .33rem;
							color: @9B9B9B;
							margin-top: .08rem;
						}
					}
					.itemCenter {
						&>div {
							flex: 1;
							.centerTitle {
								font-size: .24rem;
								line-height: .33rem;
								color: @9B9B9B;
							}
							.centerValue {
								font-size: .32rem;
								line-height: .32rem;
								font-weight: 600;
								margin-top: .13rem;
							}
						}
						&>div:last-child {
							border: none;
						}
					}
					.itemBottom {
						&>div {
							width:1.2rem;
							height:.5rem;
							border-radius:.06rem;
							text-align: center;
							line-height: .5rem;
							font-size: .24rem;
							color: #fff;
						}
						&>div:first-child {
							background:linear-gradient(135deg,rgba(251,226,189,1) 0%,rgba(226,181,128,1) 100%);
							margin-right: 1rem;
						}
						&>div:last-child {
							background:linear-gradient(135deg,rgba(108,131,201,1) 0%,rgba(6,29,106,1) 100%);
						}
					}
				}
				&.cashItem:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
#loading {
	top: 1.28rem!important;
}
.flex {
	display: flex;
}
.justify_between {
	justify-content: space-between;
}
.lineVertical {
	width:0.01rem;
	height:0.5rem;
	background:rgba(255,255,255,1);
	opacity:0.3;
	margin-top: .23rem;
}
.right {
	display: inline-block;
	width: .3rem;
	height: .3rem;
	background: url("/Financial/static/img/right.png") no-repeat;
	background-size: 100%;
	margin-left: .08rem;
}
.blue {
	color: @008000!important;
}
.red {
	color: @F52323!important;
}