//蔡文琦 2019-11-23 我的定投_定投详情页面 css
@import url("../../../include/css/mui.min.css");
@import url('@pathCommonLess/mui/resetMUI.less');
@import url("@pathCommonLess/reset.less");
@import url("@pathCommonLess/color.less");
@import url("@pathCommonLessCom/alertBox.less");
@import url("@pathCommonLessCom/headBarConfig.less");


@import url("@pathCommonLessCom/againEnter.less");

html {
    height: 100%;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
body,.mui-content{
    background: @F7FAFD !important;
}
.container {
    height: 100%;
    width: 100%;
    background: @F7FAFD;
    // 定投详情
    .banner {
        position: relative;
        width: 100%;
        height: 5.39rem;
        background: url("/financial/static/img/financing_banner_bg01@2x.png");
        background-size: 100% 100%;
        .bannerTop {
            color: @F7DDCF;
            margin: 0 0.3rem;
            padding-top: 1.69rem;
            .j_text{
                font-size: .32rem;
                margin-bottom: .19rem;
                padding-bottom: .19rem;
            }
            .posRight{
                position: absolute;
                top: 1.69rem;
                right:.32rem;

                .iconfont{
                    color: @c005;
                }
            }
            .type{
                border-top: solid .01rem @23346C;
                margin-top: .25rem;
                padding-top: .25rem;
                padding-bottom: .24rem;
                display: flex;
                justify-content: start;
                div{
                    margin-left: .06rem;
                    width: 3.75rem;
                    .word_color{
                        color: @c005;
                        font-size: .26rem;
                        margin-bottom: .19rem;
                    }
                    .num_color{
                        font-size: .38rem;
                        color: @F5D7AF;
                    }
                }
                .box_right{
                    margin-left: 1.11rem;
                }
            }
            .ipt{
                width: 6.9rem;
                height: .7rem;
                // color: @c005;
                background-color:rgba(255,255,255,0.3);
                line-height: .7rem;
                text-indent: .2rem;
                border-radius: .08rem;
                color: @c005;
                .date_color{
                    color: @FFE4BD;
                    opacity: 1.3;
                }
            }
        }
    }
    .mid{
        width: 100%;
        // border: solid 1px black;
        border-radius:.24rem .24rem 0 0;
        position: relative;
        top: -0.24rem;
        background-color: @c005;
        div{
            height: .4rem;
            width: 1.33rem;
            background: url("/financial/static/img/tag_leftup 2@2x.png");
            background-size: cover;
            div{
                text-align: center;
                background: linear-gradient(to right, @FBE2BD, @E2B580);
                -webkit-background-clip:text;
                color: transparent;
            }
            .posTop{
                position: absolute;
                top: .44rem;
                right: .3rem;     
                font-size: .32rem;
                font-weight:400;  
            }
            .fontSize2{
                position: absolute;
                top: .9rem;
                right: .3rem;     
                font-size: .24rem;
                font-weight:400;
                color: @9B9B9B;
            }
        }
        ul{
            width: 6.9rem;
            margin: 0 auto;
            li{
                position: relative;
                height: 1.1rem;
                border-bottom: solid .01rem @E7E9ED;
                line-height: 1rem;
                
                .fontSize6{
                    float: left;
                    font-size: .32rem;
                    font-weight:600;
                }
                .fontSize4{
                    float: right;
                    font-size: .32rem;
                    font-weight:400;
                    .onlinePayment{
                        color: @364D97;
                        background:@EDF1FF;
                        font-size: .24rem;
                        // line-height: 1rem;
                    }
                    .cardNo{
                        font-size: .36rem;
                        font-weight:bold;
                    }
                }
            }
            .clearfix{
                .fontSize4{
                    img{
                        width: .268rem;
                        height: .2863rem;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    .table_head{
        margin-top: .3rem;
        font-size: .36rem;
        font-weight: 600;
        padding: .28rem 0;
        text-indent: .3rem;
        background-color: @c005;
    }
    .table{
        background-color: @c005;
        width: 7.5rem;
        div{
            display: flex;
            justify-content: space-around;
            height: .97rem;
            border-top: solid .01rem @E7E9ED;
            line-height: .97rem;
            .state_succ{
                font-size: .24rem;
                font-weight: 400;
                background: linear-gradient(to right, @6C83C9, @061D6A);
                color: transparent;
                -webkit-background-clip:text;
                -webkit-text-fill-color:transparent;
            }
            .state_fail{
                height: 1.8rem;
                font-size: .24rem;
                font-weight: 400;
                color: @F52323;
                position: relative;
                // span{
                //     position: absolute;
                //     top: 1.2rem;
                //     right: 0;
                // }
            }
        }
        .is_fail{
            // width: 2.5rem;
            display: flex;
            height: 1.48rem !important;
            justify-content: space-around;
            text-align: center;
            position: relative;
            height: .88rem;
            .needPos{
                border-top: none;
                position: absolute;
                top: .6rem;
                right: .59rem;
                font-size: .24rem;
                color:@9B9B9B
            }    
        }
        
    }
}
.footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    .active{
        color: @c005;
        background:linear-gradient(135deg,rgba(108,131,201,1) 0%,rgba(6,29,106,1) 100%);
    }
    div{
        line-height: .98rem;
        text-align: center;
        width: 2.5rem;
        height: .98rem;
        border-top: @E7E9ED solid 1px;
        background: @c005;
        color: @0E246C;
        font-weight: 400;
        font-size: .32rem;
    }
    .cen{
        border: @E7E9ED solid 1px;
    }
}