/**
 * 基金档案 样式
 * @yangjinlai 2017-03-21
 */


 //引入mui
 @import url("../../../include/css/mui.min.css");

 @import url("../../../common/less/reset.less");
 @import url("../../../common/less/color.less");

 //引入重置mui样式的表单样式文件 
 //@import url("../../../common/less/mui/formMUI.less"); 
@import url('../../../common/less/mui/resetMUI.less');
//引入重置mui下拉列表样式文件
@import url("../../../common/less/mui/selectMUI.less");
 //黑色提示框的样式
 @import url("../../../common/less/components/againEnter.less");

 @import url("../../../common/less/components/tabScroll.less");

 @import url("../../../common/less/components/noData.less");
 //回到顶部的样式
// @import url("../../../common/less/components/goTopMui.less");

 .tab-scroll-action{
	margin-top: 0.32rem;
}

#move_4{
	    padding-bottom: 0;
}

.mui-scroll-wrapper{
	overflow: visible;
}
.mui-slider .mui-segmented-control.mui-scroll-wrapper {
    padding-top: 0;
}
.mui-slider .mui-segmented-control.mui-scroll-wrapper .mui-scroll .mui-control-item{
	padding-bottom: 0;
	
}

.mui-content{
	// margin-top: 0.32rem;

	.listNoCon{ //列表暂无数据的样式
		height: 100%;
	}
	//margin-bottom: 0.32rem;

	.mui-slider-item{
		padding-bottom: 0.32rem;
		overflow-y: scroll;
	}

	.basicCss{
		padding-top: 0.64rem;
		padding-right: 0.64rem;

		&.paddingBottom{
			padding-bottom: 0.8rem;
		}
		

		.title{
			font-size: 0.56rem;
			color: @c002;
			margin-bottom: 0.48rem;

			.time{
				vertical-align: middle;
			    line-height: 0.48rem;
			    margin-left: 0.4rem;
			    font-size: 0.48rem;
			    color: @c001;
			}
		}

		//大段落文字
		.txt{
			font-size: 0.56rem;
			line-height: 0.88rem;
			color: @c003;
		}
	}

	//基本概况
	.basicIntro{
		//padding-right: 0.64rem;
		
		//暂无相关数据
		.noCon{
			text-align: center;
			color: @c001;
		}

		//基本信息
		.intro{
			
			.tr{
				display: table;
				margin-bottom: 0.56rem;
				min-height: 0.56rem;
				&:last-child{
					margin-bottom: 0;
				}

				p{
					position: relative;
					display: table-cell;
					font-size: 0.56rem;
					color: @c002;
					line-height: normal;
					min-height: 0.56rem;
					
					span{
						display: block;
						width: 100%;
						position: absolute;
						/* line-height: 0.28rem; */
						top: 0;

						&:after{
							width: 100%;
							content: '';
							display: inline-block;
							height: 0.04rem;
						}
					}
					

					&.td_left{
						color: @c003;
						//padding-right: 1.32rem;
						//white-space: nowrap;
						width: 2.8rem;
						// text-align: justify;
					}

					&.td_right{
						padding-left: 0.72rem;
						&:after{
							display:none;
						}
					}

					&.name, &.address{
						line-height: 0.8rem;
					}

					// span{
					// 	width: 100%;
					// }
				}
			}

		}
	}

	//表格
	.tableTr{
		margin-top: 0.48rem;
		text-align: center;
		background: @c012;
		color: @c003;
		font-size: 0.48rem;
		margin-bottom: 0.64rem;
		p{
			color: @c003;
		}

		.header{
			background: @c004;
		}
		span{

			display: inline-block;
			box-sizing: border-box;
			border-right: 0.04rem solid @c005;
			border-bottom: 0.04rem solid @c005;
			height: 1.2rem;
			line-height: 1.2rem;

			&:last-child{
				border-right: 0;
			}
		}
		
	}
}



//基金经理
.managerArea{
	margin-top: -0.64rem;
	margin-right: -0.64rem;

	.list{
		border-bottom: 0.04rem solid @c004;
		padding-bottom: 0.72rem;
		padding-top: 0.64rem;
		padding-right: 0.64rem;

		&:last-child{
			border-bottom: 0;
		}

		.title{
			margin-bottom: 0.4rem;
		}

		.name{
			margin-right: 0.4rem;
		}

		.intro{
			font-size: 0.48rem;
			line-height: 0.88rem;
		}
	}
}


//饼图
.pieWrapper{
	height: 450px;
	width: 100%;
}

//基金公告
.notileList{
	.form-wrap{
		margin-right: -0.64rem;
		margin-top: -0.64rem;

		.mui-table-view{
			
			.mui-table-view-cell{
				padding-top: 0.72rem;
				width: 100%;
			}

			&:last-child{
				border-bottom: 0.04rem solid @c004;
			}
		}	
	}

	.nameDate{
		line-height: 0.56rem;
		overflow: hidden;
		margin-bottom: 0.48rem;

		.name{
			color: @c002;
		}

		.date{
			float: right;
			margin-right: 1.16rem;
			color: @c003;
		}
	}
	
	.intro{
		line-height: 0.52rem;
		margin-bottom: 0.72rem;
		margin-right: 1.16rem;
		font-size: 0.48rem; 
		color: @c003; 
	}

}

.without{
	&.jjjl_noData{
		margin-top: 0;
		padding-top: 6.6rem;
	}
}




// tab 组件
.content {
	display: inline-block;
	// margin: 50px 50px;
}
.tabs {
	border: 1px solid rgba(54,77,151,1);
	// border-bottom: none;
	border-radius: .08rem;
}
.tabs::after {
	content: "";
	display: block;
	clear: both;
}
.tabs>li {
	text-align: center;
	box-sizing: border-box;
	width: 1.725rem;
	list-style: none;
	display: block;
	float: left;
	border-left: 1px solid rgba(54,77,151,1);
	// padding-left: 15px; 
	line-height: .56rem;
	cursor: pointer;
	color: #364D97;
	font-size: .24rem;
}
.tabs>li:first-child {
	border-left: none;
}
.tabs>li.active{
	background:rgba(54,77,151,1);
	color: rgba(255,255,255,1);
}
// .tabs>li.active:nth-child(even) {
// 	font-weight: bold;
	
// }
.panel {
	height: 150px;
	padding-left: 15px;
}
.content .panel {
	display: none;
	// border: 1px solid #ccc;
	border-top: none;
}
.content .panel.active {
	display: block;
}
.panel:nth-child(odd) {
	// background: rgba(200,20,20,0.2);
}
.panel:nth-child(even) {
	// background: rgba(20,20,200,0.2);
}