/**
 * 基金档案 样式
 * @yangjinlai 2017-03-21
 */

 @import url("../../../include/css/mui.min.css");
 @import url('@pathCommonLess/mui/resetMUI.less');
 @import url("@pathCommonLess/reset.less");
 @import url("@pathCommonLess/color.less");
 
 @import url("@pathCommonLessCom/againEnter.less");
 @import url("@pathCommonLessCom/alertBox.less");
 @import url("@pathCommonLessCom/headBarConfig.less");



// tab 组件
.content {
	display: inline-block;
	width: 100%;
	.tabsBox{
		width: 100%;
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
		-webkit-box-pack: center;
	    -ms-flex-pack: center;
	    -webkit-justify-content: center;
	    justify-content: center;
		-webkit-box-align: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
		background: #ffffff;
		height: 1rem;
		border-top: 1px solid #E7E9ED;
		border-bottom: 1px solid #E7E9ED;
		.tabs {
			border: 1px solid rgba(54,77,151,1);
			border-radius: .08rem;
			&::after {
				content: "";
				display: block;
				clear: both;
			}
			&>li {
				text-align: center;
				box-sizing: border-box;
				width: 1.725rem;
				list-style: none;
				display: block;
				float: left;
				border-left: 1px solid rgba(54,77,151,1);
				// padding-left: 15px; 
				line-height: .56rem;
				cursor: pointer;
				color: #364D97;
				font-size: .24rem;
			}
			&>li:first-child {
				border-left: none;
			}
			&>li.active{
				background:rgba(54,77,151,1);
				color: rgba(255,255,255,1);
			}
		}
	}
	.wrap {
		.panel {
			display: none;
			border-top: none;
			&.active {
				display: block;
			}
		}
		.panel2 {
			.totalFundCon {
				padding: .3rem;
				background: @c005;
				.circleTitleCon {
					font-size: .32rem;
					line-height: .45rem;
					color: @272727;
					padding-top: .1rem;
					.circleValue {
						font-weight: 600;
					}
				}
				.circle {
					width: 100%;
					height: 5rem;
				}
			}
			.industryConfiguration {
				margin-top: .3rem;
				background: @c005;
				padding: .3rem;
				.industryConfigurationTitle {
					font-size: .32rem;
					line-height: .45rem;
					margin-bottom: .3rem;
				}
				.industryConfigurationTable {
					border: 1px solid #364D97;
					border-radius: .2rem;
					overflow: hidden;
					text-align: center;
					.industryConfigurationHead {
						background: #364D97;
						font-size: .28rem;
						color: @c005;
						height: .78rem;
						line-height: .78rem;
						font-weight: 600;
						.industryConfigurationTd {
							flex: 1;
						}
					}
					.industryConfigurationTr {
						font-size: .24rem;
						color: #364D97;
						border-bottom: 1px solid #364D97;
						.industryConfigurationTd {
							flex: 1;
							height: .88rem;
							line-height: .88rem;
						}
						&:last-child {
							border: none;
						}
					}
				}
			}
		}
		.panel3 {
			margin-top: .3rem;
			background: @c005;
			padding: 0 .3rem;
			.profitItemCon {
				padding: .3rem 0 .02rem;
				display: flex;
				flex-wrap: wrap;
				border-bottom: 1px solid #979797;
				.profitItem {
					width: 33.33%;
					margin-bottom: .28rem;
					.itemTitle {
						color: @9B9B9B;
						font-size: .24rem;
						line-height: .33rem;
						margin-bottom: .15rem;
					}
					.itemValue {
						font-size: .26rem;
						color: #1F1F1F;
						line-height: .3rem;
					}
				}
				&:last-child {
					border: none;
				}
			}
		}
	}
}
.flex {
	display: flex;
}
.justify_center {
	justify-content: center;
}
.align_center {
	align-items: center;
}