//李亮 2019-11-23 我的定投计划 css
@import url('@pathCommonLess/mui/resetMUI.less');
@import url("@pathCommonLessCom/alertBox.less");
@import url("@pathCommonLessCom/headBarConfig.less");
@import url("@pathCommonLessCom/goTopMui.less");
@import url("@pathCommonCom/noData/noData.less");
* { touch-action: none; }
body{
    background-color: @F7FAFD;

}

html, body{
    height: 100%;
}

.goTopBtn{
    bottom:2.56rem;
}
.HeadBarConfigBox{
    border-bottom: 0.01rem solid @DDDDDD;
}
.wrap{
    .list{

        //重置mui列表点击的底色变色
            .mui-table-view-cell.mui-active{
                background-color: #F7FAFD;
            }

        li{
            margin-bottom:0.3rem;
            background-color: @FFFFFF;
            padding:0.3rem;

            

            .content-t{
                display:-webkit-box;
                margin-bottom:0.2rem;
                h2{
                    color:@272727;
                    font-size:0.28rem;
                    -webkit-box-flex:1;
                    font-weight: bold;
                }
                .suspend{
                    color:@c010;
                }
                .redpend{
                    color:@FF0000;
                }
                span{
                    -webkit-box-flex:1;
                    display: block;
                    text-align: right;
                    font-size:0.24rem;
                    color: @061D6A;
                    i{
                        color:@9B9B9B;
                        font-size:0.2rem;
                        margin-left: 0.1rem;
                    }
                }
            }
            .content-c{
                margin-bottom:0.3rem;
                display:-webkit-box;
                p{
                    -webkit-box-flex:1;
                    span{
                        display:block;
                    }
                    .span-l{
                        color:@9B9B9B;
                        font-size:0.24rem;
                        margin-bottom: 0.08rem;
                    }
                    .span-r{
                        color:@272727;
                        font-size:0.26rem;
                    }
                }
    
            }
            .content-b{
                width:100%;
                border-radius: 4px;
                background:rgba(255,249,240,1);
                line-height:0.7rem;
                padding-left:0.2rem;
                color:@9B9B9B;
                font-size:0.24rem;
            }
        }
    }
    

    .newPlan{
        line-height:0.98rem;
        width:100%;
        color:@FFFFFF;
        background-color: @061D6A;
        background-image: linear-gradient(to right, @6C83C9 ,@061D6A);
        text-align: center;
        font-size:0.32rem;
        position: fixed;
        left:0 ;
        bottom:0;
    }

}
.wrap .list li:last-child {
    margin-bottom: 0;
}
.wrap .endPlan{
    display: none;
    width:100%;
    color:@FFFFFF;
    padding:0.2rem 0;
    position: fixed;
    left:0 ;
    bottom:0.98rem;
    background-color: @FFFFFF;
    a{
        color:@364D97;
        font-size:0.28rem;
        text-align: center;
        display: block;
        i{
            color:@364D97;
            font-size:0.23rem;
        }
    }
}
.wrap .stoppPlan{
    display: none;
    width:100%;
    color:@FFFFFF;
    padding:0.2rem 0;
    position: fixed;
    left:0 ;
    // bottom:1.98rem;
    bottom: 0.98rem;
    a{
        color:@364D97;
        font-size:0.28rem;
        text-align: center;
        display: block;
        i{
            color:@364D97;
            font-size:0.23rem;
        }
    }
}
.wrap .nothing{
    height:300px;  //为了看样式真实开发删掉就行
    display: none;
    position: absolute;
    top:4.5rem;
    img{
        width: 2.19rem;
        height: 2.18rem;
        margin:0 auto;
    }
    p{
        text-align: center;
        font-size: .32rem;
        width: 100%;
        margin-top:0.42rem;
        columns: @9B9B9B;
    }
}
.contentWrapper .noDataOne {
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
    display: none;
}




