/**
* 现金管理
* @author yanruiting 2019-11-23
*/
@import url('@pathCommonLess/mui/resetMUI.less');
@import url("@pathCommonLessCom/headBarConfig.less");
@import url("@pathCommonLessCom/authenticationProcess.less");
@import url("@pathCommonCom/elasticLayer/elasticLayer/elasticLayer.less");

body{
		width: 100%;
		background-color: @F7FAFD;
}
#top {
	height: 4.92rem;
	background: url('/financial/static/img/cash_bg.png') no-repeat;
	background-size: 100% 100%;
	.HeadBarConfigBox {
		background:linear-gradient(135deg,rgba(71,90,149,1) 0%,rgba(3,19,73,1) 100%);
	}
	.topCon {
		padding: 1.58rem 0 .3rem .3rem;
		.totalFundTitle {
			font-size: .32rem;
			font-weight: 600;
			color:rgba(255,255,255,1);
			line-height:.45rem;
			background:linear-gradient(180deg, rgba(251,226,189,1) 0%, rgba(226,181,128,1) 100%);
			-webkit-background-clip:text;
			-webkit-text-fill-color:transparent;
			font-weight: 600;
		}
		.totalFund {
			margin-top: .14rem;
			.fundValue {
				font-size: .68rem;
				font-weight:bold;
				color:rgba(255,255,255,1);
				line-height:.8rem;
				background:linear-gradient(180deg, rgba(251,226,189,1) 0%, rgba(226,181,128,1) 100%);
				-webkit-background-clip:text;
				-webkit-text-fill-color:transparent;
			}
			.fundKnow {
				width: 1.96rem;
				height: .56rem;
				line-height: .56rem;
				background: #7A7074;
				border-radius:2rem 0px 0px 2rem;
				color: #E2E1E3;
				text-align: center;
				margin-top: .12rem;
				.iconfont {
					font-size: .24rem;
				}
			}
		}
		.profitContent {
			margin-top: .45rem;
			margin-right: .3rem;
			.lineVertical {
				width:0.02rem;
				height:0.5rem;
				background:rgba(255,255,255,1);
				opacity:0.3;
				margin-top: .23rem;
				display: inline-block;
			}
			.profitCon {
				display: inline-block;
				width: 31%;
				.profitTitle {
					font-size: .26rem;
					line-height: .26rem;
					color: #D1D5E0;
				}
				.profitValue {
					color: #FAE0BB;
					font-size: .38rem;
					margin-top: .2rem;
					font-weight: 600;
				}
			}
			.holdIncome {
				text-align: center;
			}
			.addupIncome {
				text-align: right;
			}
		}
	}
	.list {
		.wrapper {
			#cashListCon {
				.cashItem {
					padding: 0 0 0 .3rem;
					background: #fff;
					margin-bottom: .3rem;
					&>div {
						padding: .3rem .3rem .3rem 0;
						border-bottom: 1px solid #E7E9ED;
					}
					.itemTop {
						.itemTitle {
							font-size: .32rem;
							line-height: .32rem;
							color: #000;
							font-weight: 600;
							margin-bottom: .13rem;
							span{
								vertical-align: middle;
							}
							.rightCon {
								display: inline-block;
								overflow: hidden;
								vertical-align: middle;
								.right{
									float: right;
								}
							}
						}
						.itemSevenIncome {
							height:.33rem;
							font-size:.24rem;
							line-height: .33rem;
							color: @9B9B9B;
							margin-top: .08rem;
						}
					}
					.itemCenter {
						&>div {
							flex: 1;
							.centerTitle {
								font-size: .24rem;
								line-height: .33rem;
								color: @9B9B9B;
							}
							.centerValue {
								font-size: .32rem;
								line-height: .32rem;
								font-weight: 600;
								margin-top: .13rem;
							}
						}
						&>div:last-child {
							border: none;
						}
					}
					.itemBottom {
						&>div {
							width:1.2rem;
							height:.5rem;
							border-radius:.06rem;
							text-align: center;
							line-height: .5rem;
							font-size: .24rem;
							color: #fff;
						}
						.fundIn{
							background:linear-gradient(135deg,rgba(108,131,201,1) 0%,rgba(6,29,106,1) 100%);
						}
						.fundOut{
							background:linear-gradient(135deg,rgba(251,226,189,1) 0%,rgba(226,181,128,1) 100%);
							margin-right: 1rem;
						}
						.fundOut-disbled{
							background:#ccc;
							margin-right: 1rem;
						}
					}
				}
				&.cashItem:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
#loading {
	top: 1.28rem!important;
}
.flex {
	display: flex;
}
.justify_between {
	justify-content: space-between;
}

.right {
	display: inline-block;
	width: .3rem;
	height: .3rem;
	background: url("/common/img/right.png") no-repeat;
	background-size: 100%;
	margin-left: .08rem;
}
.blue {
	color: @008000!important;
}
.red {
	color: @F52323!important;
}
.isRiskMatch_mask{
	background: #000;
	top:0;
	opacity: .6;
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
}

.isRiskMatchBox{
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	display: none;
	z-index: 111111;
	.isRiskMatchBox_contentBox{
		position: absolute;
		z-index: 111111;
		top: 5rem;
		left: 1.4rem;
		width: 5.2rem;
		height: 2.5rem;
		background-color:#f2e1c1;
		.isRiskMatchBox_header{
			width: 100%;
			height: 1.5rem;
			text-align: center;
			line-height: 1.5rem;
			color: black;
			font-weight: bold;
			font-size: 0.22rem;
			border-bottom: 2px solid #f2e1c1
		}
		.isRiskMatchBox_footer{
			width: 100%;
			height: 1rem;
			background-color: #fdf3dc;
			.isRiskMatchBox_match{
				display: none;
				width: 100%;
				height: 1rem;
				line-height: 1rem;
				text-align: center;
				font-weight: bold;
			}
			.isRiskMatchBox_noMatch{
				display: block;
				width: 100%;
				height: 1rem;
				button:nth-of-type(1){
					width:calc(50% - 2px);
					height:1rem;
					border-left: 2px solid #eeeeee;
					line-height: 1rem;
					text-align: center;
					font-weight: bold;
					font-size: 0.2rem;
				}
				button:nth-of-type(2){
					width: 50%;
					height:1rem;
					line-height: 1rem;
					text-align: center;
					font-weight: bold;
					font-size: 0.2rem;
				}
			}
		}
	}
}
.fundIn{
	margin-right: 1rem !important;
}