 /**  
 * @Page:  普通基金产品详情页_赎回
 * @Author: peicongcong  
 * @Date:   2019-11-25
* 
*/ 

//引入mui

@import url("@pathInclude/css/mui.min.css");
@import url("@pathInclude/css/mui.picker.all.css");
@import url("@pathInclude/css/mui.picker.css");
@import url("@pathInclude/css/mui.poppicker.css");

@import url("@pathCommonLess/reset.less");
@import url("@pathCommonLess/color.less");

//引入重置mui样式的表单样式文件
//@import url("../../../common/less/mui/formMUI.less");
@import url('@pathCommonLess/mui/resetMUI.less');
//引入重置mui下拉列表样式文件
@import url("@pathCommonLess/mui/selectMUI.less");
@import url("@pathCommonLess/components/againEnter.less");

//重置MUI的poppicker样式
@import url("@pathCommonLess/mui/resetMuiPop.less");

@import url("@pathCommonLessCom/headBarConfig.less");

@import url("@pathCommonLessCom/payPassword.less");
body{
    background: @F7FAFD;
}
.container{
    width: 100%;
    height:100%;
    background-color: @F7FAFD;
    padding-bottom: 1rem;
    .br{
        border-top:1px solid @e0e0e0;
        position: fixed;
        top: 1.28rem;
        left: 0;
        right: 0;
        z-index: 20;
    }
    .title{
        height:1.05rem;
        font-size:.32rem;
        font-weight:500;
        color:@16182A;
        line-height:1.05rem;
        background: @c005;
        padding-left: .3rem;
        margin-bottom: .3rem;
    }
    .messageTip{
        color: @9B9B9B;
        font-size: 0.24rem;
        margin-left: 0.3rem;
        margin-bottom: 0.1rem;
    }
    .money{
        background: @c005;
        padding: 0 .3rem .26rem;
        .mfirst{
            display: flex;
            justify-content: space-between;
            .mfirst-one{
                height:.45rem;
                font-size:.32rem;
                font-weight:400;
                color:@272727;
                line-height:.45rem;
                margin-top: .28rem;
                margin-bottom: .43rem;
            }
            .mfirst-two{
                height:.28rem;
                font-size:.28rem;
                font-weight:400;
                color:@9B9B9B;
                line-height:.28rem;
                margin-top: .37rem;
                span{
                    position: relative;
                    left: .2rem;
                }
                .iconone{
                    color: @9B9B9B;
                    position: relative;
                    top:.02rem;
                }
            }
        }
        .msecond{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid @E7E9ED;
            .msecond-one{
                height:.8rem;
                font-size:.44rem;
                color:@9B9B9B;
                line-height:.8rem;
            }
            .forAll{
                width: 0.72rem;
                text-align: center;
                color: @c005;
                font-size: 0.28rem;
                height: 0.4rem;
                line-height: 0.4rem;
                background:linear-gradient(135deg,rgba(241,205,168,1) 0%,rgba(181,126,69,1) 100%);
                border-radius:0.04rem;
                margin-top: 0.2rem;
            }
            img{
                width: .36rem;
                height: .36rem;
                opacity: .5;
                margin-top: .14rem;
            }
        }
        .pay{
            height:.4rem;
            font-size:.28rem;
            font-weight:400;
            color:@9B9B9B;
            line-height:.4rem;
            margin-top: .3rem;
        }
    }
    .online{
        display: flex;
        justify-content: space-between;
        margin-bottom: .3rem;
        height: 1.36rem;
        background: @c005;
        .onleft{
            height:.45rem;
            font-size:.32rem;
            font-weight:400;
            color:@272727;
            line-height:1.36rem;
            margin-left: .3rem;
        }
        .onright{
            display: flex;
            justify-content: space-between;
            .toChoose{
                margin-bottom: 0.36rem;
                font-size: 0.28rem;
                color: @9B9B9B;
                line-height: 1.5rem;
            }
            .onright-left{
                
                .onright-left-one{
                    display: flex;
                    justify-content: space-between;
                    img{
                        width: .32rem;
                        height: .32rem;
                        margin-top: .36rem;
                    }
                    i{
                        height:.45rem;
                        font-size:.32rem;
                        font-weight:400;
                        color:@272727;
                        line-height:.45rem;
                        margin-top: .28rem;
                    }
                    span{
                        height:.42rem;
                        font-size:.36rem;
                        font-weight:bold;
                        color:@272727;
                        line-height:.42rem;
                        margin-top: .29rem;
                    }
                }
                .onright-left-two{
                    height:.37rem;
                    font-size:.26rem;
                    font-weight:400;
                    color:@9B9B9B;
                    line-height:37px;
                    margin-bottom: .36rem;
                    text-align: right;
                    span{
                        color: @4A4A4A;
                    }
                }
            }
            .iconone{
                margin-top: .58rem;
                margin-right: .3rem;
                color: @9B9B9B;
            }
        }
    }
    .time{
        display: flex;
        justify-content: space-between;
        margin-top: .3rem;
        background: @c005;
        .dtzq{
            height:.45rem;
            font-size:.32rem;
            font-weight:400;
            color:@272727;
            line-height:.45rem;
            margin: .28rem 0 .27rem .3rem;
        }
        .tim{
            span{
                display: inline-block;
                height:.4rem;
                font-size:.28rem;
                font-weight:400;
                color:@C4925E;
                line-height:.4rem;
                margin-top: .3rem;
            }
            .iconone{
                display: inline-block;
                color: @9B9B9B;
                margin-right: .3rem;
            }
        }
    }
    .tip{
        text-align: center;
        padding: 0 0.3rem 0.3rem;
        background-color: @c005;
        p{
            font-size: 0.26rem;
            color: #444444;
            line-height: 0.38rem;
        }
        
        a{
            color: @C4925E;
            font-size: 0.3rem;
            line-height: 0.42rem;
            display: inline-block;
            margin-top: 0.1rem;
        }
    }
    .p1,.p2{
        height:.33rem;
        font-size:.24rem;
        font-weight:400;
        color:@4A4A4A;
        line-height:.33rem;
    }
    .p1{
        margin: .3rem;
    }
    .p2{
        display: flex;
        margin-bottom: .9rem;
        margin-top: 0.3rem;
        img{
            width: .22rem;
            height: .22rem;
            margin-left: .28rem;
            margin-top: .06rem;
            margin-right: .09rem;
        }
        div {
            width: 6.63rem;
            span{
                color: @BB8E5F;
            }
        }
        
    }
    .btn{
        margin: 0 auto;
        color: @c005;
        background: linear-gradient(to right, @6C83C9 0%, @061D6A 100%);
        height:.98rem;
        border-radius:.1rem;
        font-size:.32rem;
        font-weight:400;
        line-height: .98rem;
        text-align: center;
        letter-spacing: 2px;
        bottom: 0.3rem;
        position: fixed;
        left: 0.3rem;
        right: 0.3rem;
    }
    .btn.disabled{
        background-image: linear-gradient(135deg, #B1BEE3 0%, #7F8CB4 100%);
    }
    .bottom{
        width: 92%;
        margin: 0 auto;
        height:.66rem;
        font-size:.24rem;
        font-weight:400;
        color:@9B9B9B;
        line-height:.33rem;
    }
   
}

.popup{
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3000;
    padding-bottom: 0.2rem;
    background-color: @c005;
    .popup-mask{
        height: 40%;
        background:@c009;
        opacity: .6;
    }
    .title{
        font-size:.32rem;
        font-weight:500;
        color:@16182A;
        line-height:0.45rem;
        background: @c005;
        padding-left: .3rem;
        margin-bottom: 0.1rem;
    }
    .messageTip{
        color: @9B9B9B;
        font-size: 0.24rem;
        margin-left: 0.3rem;
        margin-bottom: 0.1rem;
    }
    .popup-content{
        height: 60%;
        background: @c005;
        overflow-y: scroll;
        .popup-title{
            height: .88rem;
            line-height: .88rem;
            display: flex;
            .popup-close{
                width: .8rem;
                height: .8rem;
                line-height: .8rem;
                z-index: 4000;
            }
            .tit{
                width: 100%;
                text-align: center;
                margin-left: -.8rem;
                color: @272727;
                font-size:.28rem;
                font-weight:400;
            }
        }
        .popup-ul{
            overflow-y: scroll;
            height: auto;
            margin-bottom: 0.3rem;
            .popup-li{
                display: flex;
                border-bottom: 1px solid @E7E9ED;
                .bank-img{
                    width: .7rem;
                    height: .7rem;
                    margin: .33rem .2rem .33rem .3rem;
                }
                .div{
                    width: 72%;
                    .bank-name{
                        height:.45rem;
                        font-size:.32rem;
                        font-weight:400;
                        color:@272727;
                        line-height:.45rem;
                        margin-top: .24rem;
                        margin-bottom: .1rem;
                    }
                    .bank-pay{
                        height:.33rem;
                        font-size:.24rem;
                        font-weight:400;
                        color:@9B9B9B;
                        line-height:.33rem;
                        margin-bottom: .23rem;
                    }
                }
                
                .true{
                    width: .46rem;
                    height: .46rem;
                    margin-top: .45rem;
                }
            }
            .popup-last{
                display: flex;
                border-bottom: 1px solid @E7E9ED;
                .last-img{
                    width:.54rem;
                    height:.41rem;
                    margin: .48rem .28rem .47rem .38rem;
                }
                .last-title{
                    height:.45rem;
                    font-size:.32rem;
                    font-weight:400;
                    color:@272727;
                    line-height:.45rem;
                    margin: .46rem 3.46rem .45rem 0;
                }
                .iconone{
                    color: @9B9B9B;
                    margin-top: .53rem;
                }
            }
        } 
        .popup-li-two{
            margin-left: 0.3rem;
            display: flex;
            border-bottom: 1px solid @E7E9ED;
            position: relative;
            .div{
                .bank-name{
                    height:.45rem;
                    font-size:.32rem;
                    font-weight:400;
                    color:@272727;
                    line-height:.45rem;
                    margin-top: .24rem;
                    margin-bottom: .1rem;
                }
                .bank-pay{
                    height:.33rem;
                    font-size:.24rem;
                    font-weight:400;
                    color:@9B9B9B;
                    line-height:.33rem;
                    margin-bottom: .23rem;
                    span{
                        color: @4A4A4A;
                    }
                }
                
            }
            .true{
                width: .46rem;
                height: .46rem;
                margin-top: .45rem;
                position: absolute;
                right: 0.4rem;
            }
        }
        
    }
}

.redemptionBuyTital span.code{
    padding-left: 10px;
}
.listOnefund{
    display:none;
    font-size: .32rem
}
.checkMessage{
    display: none;
    text-align: center;
    color: red;
}
.conformButton{
    margin: 0 auto;
    color: #fff;
    background: linear-gradient(to right, #6C83C9 0%, #061D6A 100%);
    height: .98rem;
    border-radius: .1rem;
    font-size: .32rem;
    font-weight: 400;
    line-height: .98rem;
    text-align: center;
    letter-spacing: 2px;
    bottom: 0.3rem;
    position: fixed;
    left: 0.3rem;
    right: 0.3rem;
    width: 90%;
}