/**
* 私募交易规则
* @author yanruiting 2020-1-2
*/

@import url("@pathCommonLess/mui/resetMUI.less");
@import url("@pathCommonCom/noData/noData.less");
@import url("@pathCommonLessCom/alertBox.less");
@import url("@pathCommonLessCom/headBarConfig.less");

html{
    height: 100%;
    background: @c005;
}
body {
	background: @c005;
}
#contentWrap{
    height: 100%;
    background: @c005;
    padding: .3rem;
    img{
        width: auto;
        max-width: 100%;
    }
}
.without {
	background: #fff;
}