// <!-- 定投结果 
//  @author wangjiajia 2019-11-23
// -->
@import url("../../../include/css/mui.min.css");
@import url('@pathCommonLess/mui/resetMUI.less');
@import url("@pathCommonLess/reset.less");
@import url("@pathCommonLess/color.less");

@import url("@pathCommonLessCom/againEnter.less");
@import url("@pathCommonLessCom/alertBox.less");
@import url("@pathCommonLessCom/headBarConfig.less");
body{
    max-width: 7.5rem;
    // background:@c005;
}
html{
    height: 100%;   
}
.resultsWrap{
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    // background:@c005;
    position: relative;
    .resultTop{
        width: 100%;
        height:100%;
        padding-bottom: 0.5rem;
        border-top:0.01rem solid @c004;
        background:@c005;
        .photo{
            width: 100%;
            height:1.8rem;
            padding-left: 2.9rem;
            padding-top:1.5rem;
            img{
                width:1.62rem;
                height:1.21rem;
            }
        }
        .succedText{
            width: 100%;
            text-align: center;
            font-size:0.32rem;
            font-family:PingFangSC-Regular,PingFang SC;
            font-weight:400;
            color:@272727;
            margin-bottom: 1.2rem;
        }
        
        .topContent{
            width: 95%;
            margin:0 auto;
            font-size:0.28rem;
            font-family:PingFangSC-Regular,PingFang SC;
            font-weight:400;
            color:@272727;
            .topContentUl{
                width:100%;
                display:flex;
                justify-content:space-between;
                padding: 0.13rem 0;
                li  img{
                    display:inline-block;
                    width: 0.35rem;
                    height: 0.35rem;
                }
                .changeTime{
                    color:@9B9B9B ;
                }
                .cont{
                    width: 6.4rem;
                }
            }
        }
    }
    .listWrap{
        width: 100%;
        height: 100%;
        margin-top: 0.2rem;
        background:@c005;
        .listContent{
            width: 100%;
            .listContentUl{
                width: 95%;
                margin: 0 auto;
                height: 1rem;
                border-bottom: 0.01rem solid @c004;
                display:flex;
                justify-content:space-between;
                line-height: 1rem;
                font-size:0.32rem;
                font-family:PingFangSC-Regular,PingFang SC;
                font-weight:500;
                color:@272727;
                .textcolor{
                    color: @364D97;
                }
                .bank{
                    width:4.2rem;
                    text-align: right;
                    .bankOne{
                        display: inline-block;
                        width: 0.35rem;
                        height: 100%;
                    }
                    img{
                        display: inline-block;
                        width: 0.35rem;
                        height: 0.35rem;
                    };
                }
                .onlinePay span{
                    height: 0.5rem;
                    color: @364D97;
                    font-size: 0.24rem;
                    background: rgb(231, 236, 248);
                }
            }
            .changeNone{
                display: none;
            }
        }
    }
    .over{
        position: absolute;
        top: -0.7rem;
        right: 0.32rem;
        z-index: 999;
        font-size:0.3rem;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(54,77,151,1);
    }
    //判断titletop
    .resultTopTwo{
        width: 100%;
        // height:100%;
        height: 5rem;
        padding-bottom:0.7rem;
        border-top:0.01rem solid @c004;
        background:@c005;
        display:none;
        .photo{
            width: 100%;
            height:1.8rem;
            padding-left: 2.9rem;
            padding-top:1rem;
            img{
                width:1.62rem;
                height:1.21rem;
            }
        }
        .succedText{
            width: 100%;
            text-align: center;
            font-size:0.32rem;
            font-family:PingFangSC-Regular,PingFang SC;
            font-weight:400;
            color:@272727;
            // margin-bottom: 1.2rem;
        }
    }

}

