

<div class="elasticLayer transOutRule" id="tip" style="z-index:100">
 	<div class="elasticWrapper">
 		<div class="elasticMid">
 			<div class="elasticTitle">其他总资产</div>
 			<div class="elasticContent">
 				<p class="elasticP">《泰达宏利基金电子交易平台泰达宏利活期友货币A(001894）转出分为快速转出和普通转出2种方式。T日（工作日）15:00前申请转入，预计T+1工作日9:30以后可支持转出，15:00后申请转入的，顺延一个工作日可转出。当日申购的金额，当日无法赎回。</p>
 				<p class="elasticP">快速转出：单笔限额1万元，单日限额1万元，单日最多10笔，当日无收益，转出实时到账。 </p>
 				<p class="elasticP">普通转出：无限额限制，预计到账时间T+1工作日。</p>
 			</div>
 			
 		</div>
 		<div class="elasticButtons">明白了</button>
 		</div>
 	</div>
 </div>