<!-- 其他(jjs)资产 -->

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/commonResources/static/css/jjsAssets.css">
    <title>其他资产</title>
</head>

<body>

    @@include('../../common/views/load.html')

    <section class="container">
        <div class="banner clearfix">
            <div class="bannerTop">
                <div class="sum">其他总资产（元）</div>
                <div class="amount" id="totalCount">--</div>
            </div>
        </div>
        <!-- 按钮 -->

        <div id="wrapper">
            <div class="myAsset" id="scroller">
                <div id="pullBox">

                    <div class="list" id="pageLists">
                    </div>
                </div>

                @@include('../../common/views/upLoad.html')

                <!-- 回到顶部 -->
                <div class="upTop" id="goTop" style="display:none;">
                    <span class="iconfont">&#xe74a;</span>
                </div>
                <!-- 回到顶部 -->
            </div>

            <div class="without asset" id="emptyBox" style="display:none;">
                <div class="box vertical center">
                    <p class="iconfont">&#xe603;</p>
                    <p class="text">暂无数据</p>
                </div>
            </div>
        </div>
        <!-- 加载中loading -->
        @@include('../../common/views/loading/listLoading.html')
        <!-- 暂无数据 -->
        @@include('../../common/views/noData.html')
    </section>
    <script id="dataLists" type="text/x-handlebars-template">
		{{! 左侧页面列表}}
		{{#each this}}
			<div class="datalist clearfix" fundCode="{{fundCode}}"> 
				<h2>{{projectName}}</h2>
				<div class="line"></div>
				<ul>
					<li class="clearfix">
						<div class="title">总资产</div>
						<div class="text"><span>{{balanceStr}}</span>元</div>
					</li>
					<li class="clearfix">
						<div class="title">票面利率</div>
						<div class="text"><span>{{profitStr}}</span></div>
					</li>
					<li class="clearfix">
						<div class="title">成立日期</div>
						<!--todo********-->
						<div class="text"><span>{{establishDateStr}}</span></div>
                    </li>
                    <li class="clearfix">
						<div class="title">产品期限</div>
						<!--todo********-->
						<div class="text"><span>{{deadLine}}</span></div>
					</li>
				</ul> 
			</div>
		{{/each}}
	</script>

    @@include('@pathInclude/views/footer.html')
    <!-- 添加埋点 -->
    @@include('@pathInclude/views/header.html')

    <script src="/commonResources/static/js/jjsAssets.js"></script>
</body>

</html>