<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="applicable-device" content="mobile">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="/webviews/static/css/promise.css">
	<title></title>
<body>
	<div class="container">
		<h3 style="text-align:center;font-size:2rem;font-family: 'Microsoft yahei';margin:30px auto 0;padding:">收入证明</h3>
		<div class="section clx">
			<p class="text">兹证明<span style="display:inline-block;width:100px;border-bottom:1px solid #ccc;vertical-align:bottom;"></span>（身份证号：<span style="display:inline-block;width:100px;border-bottom:1px solid #ccc;vertical-align:bottom;"></span>）为本单位员工， 最近三年个人年均收入为<span style="display:inline-block;width:100px;border-bottom:1px solid #ccc;vertical-align:bottom;"></span>万元，特此证明！</p>
			<div class="name clx"><hr><p>(盖章)</p></div>
			<p class="date clx">
				<span></span>年<span></span>月<span></span>日
			</p>
		</div>
	</div>
</body>
</html>