<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="applicable-device" content="mobile">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="/webviews/static/css/promise.css">
	<title>恒天金服</title>
<body style="padding-bottom:20px;">
	<div class="container">
		<!-- <div class="wrap">
			<div class="header">
				<span class="ico">&lt;</span>
				<p class="title">合格投资者资产证明标准</p>
			</div>
		</div> -->
		<div class="section clx">
			<div class="check clx">
				<p class="title">
					一、无需提供资产证明的情形
				</p>
				<p class="ftitle">
					自然人投资者存在下列任一情形，即可认定为合格投资者：<br>
					1.	拟投资金额在300万元及以上；<br>2.	恒天明泽购买的金融产品存续资产总额在300万元及以上；<br>3.	拟投资金额加上已在恒天明泽的存续资产总额在300万元及以上。<br>
					
				</p>
				<p class="title">
					二、自然人投资者资产证明标准（二选一）
				</p>
				<p class="ftitle">
					1.	收入证明：所在单位出具收入证明加盖单位鲜章（最近三年年均收入不低于50万元）建议用标准模板，请见模板《自然人收入证明》<br>2.	资产证明：提供以下一项或多项金融资产证明，金融资产总额不得低于300万元。<br>（1）银行存款<br>（2）股票<br>（3）债券<br>（4）私募基金、资产管理计划、信托计划<br>（5）基金资产证明<br>（6）银行理财产品<br>（7）保险产品<br>（8）期货权益<br>（9）恒天存续资产<br>特别提示：提供多项资产证明达到金融资产总额300万元标准的，有效期以多项资产证明中有效期最短的为准。
				</p>
				<p class="title">
					三、机构投资者资产证明标准（二选一）
				</p>
				<p class="ftitle">
					1.	资产负债表和真实性承诺函<br>（1）资产负债表上一年度或上半年度加盖鲜章，净资产不低于1000万<br>（2）真实性承诺函加盖鲜章。建议用标准模板，请见模板《机构投资者真实性承诺函》<br>2.	会计师事务所出具的审计报告复印件和真实性承诺函<br>（1）审计报告应含有会计师事务所鲜章且会计师签名，净资产不低于1000万。<br>（2）真实性承诺函加盖鲜章。建议用标准模板，请见模板《机构投资者真实性承诺函》<br>
				</p>
				<p class="title">
					更多详情请联系您专属理财师或者致电客服4008980618
				</p>
			</div>
		</div>
	</div>
</body>
</html>