<!-- 
 **混合app中h5网站公告
 **@author purpleZhao 2016-08-26
-->
<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title></title>
    <link rel="stylesheet" href="/webviews/static/css/detailModel.css">
</head>
<body>
	<h1></h1>
	<section class="container">
		<div class="title"></div>
        <div class="des"><span id="time"></span><span id="resource"></span></div>
		<div class="content"></div>
	</section>

</body>
<script src="/include/js/vendor/zepto/zepto.js"></script>
<script src="/include/js/vendor/root.js"></script>
<script src="/webviews/static/js/detailModel.js"></script>

</html>