<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="/webviews/static/css/helpful.css">
	<title>帮助中心</title>
</head> 
<body style="background:#F9F9F9;">
	 <ul class="mui-table-view helpful"> 
	        <li class="mui-table-view-cell mui-collapse overview">
	            <a class="mui-navigate-right slide_title " href="javascript:;">新手必读</a>
	            <div class="mui-collapse-content">
	                <p class="appmustread"></p>
	            </div>
	        </li>

	        <li class="mui-table-view-cell mui-collapse overview">
	            <a class="mui-navigate-right slide_title" href="javascript:;">注册开户</a>
	            <div class="mui-collapse-content">
	                <p  class="appregister"></p>
	            </div>
	        </li>
	        <li class="mui-table-view-cell mui-collapse overview">
	            <a class="mui-navigate-right slide_title" href="javascript:;">投资操作</a>
	            <div class="mui-collapse-content">
	                <p class="appinvest"></p>
	            </div>
	        </li>

	</ul>
	<section class="overview">
		<a href="tel:4008980618" class="tell">客服热线<span>400-8980-618</span></a>
	</section>
</body>
<script src="/include/js/vendor/zepto/zepto.js"></script>
<script src="/include/js/vendor/mui/mui.min.js"></script>
<script src="/allServerResources/include/js/vendor/root.js"></script>
<script src="/webviews/static/js/helpful.js"></script>
</html>