<!-- /*app端引入的关于页面，从as.chtfund.com页面迁移过来的
咨询类分享和内嵌
suthor：purpleZhao
time：20180511*/ -->
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>恒天财富</title>
    <link rel="stylesheet" href="/webviews/static/css/infomation.css">

</head>
<body>
	<h1></h1>
	<section class="container">
		<div class="title"></div>
        <div class="des"><span id="time"></span><span id="resource"></span></div>
		<div class="content"></div>
	</section>
</body>
<script src="/include/js/vendor/zepto/zepto.js"></script>
<script src="/include/js/vendor/root.js"></script>
<script src="/webviews/static/js/information.js"></script>

</html>