<!-- as.chtfund.com服务器资源迁移到wap服务器中
本机构承诺页面
author:purpleZhao
time:20180511 -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="applicable-device" content="mobile">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="/webviews/static/css/app.css">
	<title></title>
<body>
	<div class="promise">
		<div class="section clearfix">
			<p class="text">本机构承诺：本机构提供给贵司的财务报表或审计报告完全依照法律法规规定的会计准则编制，反映了本机构的真实财务状况，不存在任何虚假记载，提供的复印件与原件一致。</p>
			<div class="name clearfix"><hr><p>(盖章)</p></div>
			<p class="date clearfix">
				<span></span>年<span></span>月<span></span>日
			</p>
		</div>
	</div>
</body>
</html>