<!-- /*app端引入的关于页面，从as.chtfund.com页面迁移过来的
suthor：purpleZhao
time：20180511*/ -->
<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="applicable-device" content="mobile">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>关于我们</title>
	<link rel="stylesheet" href="/webviews/static/css/regard.css">
</head>
<body>
<section class='container_regard'>
	<section class="top_title">
		<div><img src="/webviews/static/img/h5/logo.png" alt=""></div>
		<p>当前版本号：<span id="num"></span></p>
	</section>
	<section class="regard">
		<h3 class="title description" ></h3>
		<p class="appaboutht content" ></p>
	</section>
	
</section>

<script src="/include/js/vendor/zepto/zepto.js"></script>
<script src="/include/js/vendor/root.js"></script>
<script src="/webviews/static/js/regard.js"></script>

</body>