<!-- 消息中心
 @author yanruiting 2019-11-15
-->
<!DOCTYPE html>
<html lang="en">
<head>
	@@include('@pathInclude/views/meta.html') 
	<link rel="stylesheet" href="/homePage/static/css/noticeCenter.css">  
	<title>消息中心</title>
</head>
<body>
    @@include('@pathCommonViews/noDataImg.html')
    @@include('@pathCommonCom/loading/listLoading.html')
    <div id="noticeBox">
    	@@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#2C3E77,#273971","showType":"0","pathName":"消息中心"})    
        <div id="noticeCon"></div>   
    </div>

    <script id="noticeItemList-template" type="text/x-handlebars-template">
    	{{#each this}}
        <div class="noticeItem" mesType="{{mesType}}">
    		<div class="itemImgCon">
    			<img class="itemImg" src="{{logoSrc}}" alt="">
                {{#if badgeFlag}} 
                    <img class="itemBadge" src="/homePage/static/img/home_icon_Badge@2x.png" alt="">
                {{/if}}
    		</div>
    		<div class="itemCon">
    			<div class="noticeTitle">{{mesTitle}}</div>
    			<div class="noticeContent">{{mesContent}}</div>
    		</div>
    	</div>
    	{{/each}}
    </script>

	@@include('@pathInclude/views/footer.html')
    <script src="/homePage/static/js/noticeCenter.js"></script>
</body>
</html>