<!-- 消息中心-系统通知
 @author yanruiting 2019-11-15
-->
<!DOCTYPE html>
<html lang="en">
<head>
	@@include('@pathInclude/views/meta.html') 
	<link rel="stylesheet" href="/homePage/static/css/systemInforms.css">  
	<title>系统通知</title>
</head>
<body>
    @@include('@pathCommonCom/noData/noData.html', {"tipText": "暂无数据"})
    @@include('@pathCommonCom/loading/listLoading.html')
    <div id="systemInformsBox">
        @@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#2C3E77,#273971","showType":"0","pathName":""}) 
        <div id="systemInformsCon">            
            <div class="list"></div>
        </div>   
    </div>

    <script id="informsList-template" type="text/x-handlebars-template">
        {{#each this}}
        <div class="systemInformItem listItem" noticeId="{{id}}">
            <div class="itemTitle">
                {{#if badgeFlag}} 
                    <span class="itemBadgeCon"><img class="itemBadge" src="/common/img/home_icon_Badge@2x.png" alt=""></span>
                {{/if}}
                <span class="itemTitleWords">{{mesTitle}}</span>
            </div>
            <div class="itemContent"><div class="itemContentWord">{{mesContent}}</div></div>
            <div class="itemDate">{{date}}<span class="dateLeft"></span><span>{{time}}</span></div>
        </div>
        {{/each}}
    </script>

	@@include('@pathInclude/views/footer.html')
    <script src="/homePage/static/js/systemInforms.js"></script>
</body>
</html>