<!-- 消息中心-系统通知
 @author yanruiting 2019-11-15
-->
<!DOCTYPE html>
<html lang="en">
<head>
	@@include('@pathInclude/views/meta.html') 
	<link rel="stylesheet" href="/homePage/static/css/systemInforms.css">  
	<title>系统通知</title>
</head>
<body>
	<!-- @@include('@pathCommonViews/load.html') -->
	<!--@@include('@pathCommonViews/noData.html')  -->
	<!-- @@include('@pathCommonViews/loading/listLoading.html') -->
    <div id="systemInformsBox">
    	@@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#2C3E77,#273971","showType":"0","pathName":"系统通知"})    
        <div id="systemInformsCon">
        	<div class="systemInform">
                 
            </div>
        </div>   
    </div>

    <!--<script id="noticeItemList-template" type="text/x-handlebars-template">
    	{{#each this}}
        <div class="noticeItem">
    		<div class="itemImgCon">
    			<img class="itemImg" src="/homePage/static/img/home_icon_activity@2x.png" alt="">
    			<img class="itemBadge" src="/homePage/static/img/home_icon_Badge@2x.png" alt="">
    		</div>
    		<div class="itemCon">
    			<div class="noticeTitle">交易动态</div>
    			<div class="noticeContent">您于2019年10月19日买入1,000,000.00元中融888888888888888</div>
    		</div>
    	</div>
    	{{/each}}
    </script>-->

	@@include('@pathInclude/views/footer.html')
    <script src="/homePage/static/js/systemInforms.js"></script>
</body>
</html>