.app{
	width:100%;
	height:4.9rem;
	position: fixed;
	bottom:0;
	background-color:rgba(51,51,51,0.8);
	&.between{
		justify-content:space-between;
	}
	.leftBox{
		height:3rem;
		margin-left:3.2rem;
		.icon{
			margin-right:0.8rem;
			.iconfont{
				font-size:2.8rem;
				color:#f4cf5c;
			}
		}
		.intr{
			color:#fff;
			.more{
				font-size:1.2rem;
			}
			.less{
			    font-size:1rem;
			}
		}
	}
	.rightBox{
		width:7.5rem;
		background-color:#f4cf5c;
		height:2.5rem;
		margin-right:2rem;
		border-radius:0.3rem;
	} 
	.close{
		position: absolute;
		top:0.6rem;
		left:0.6rem;
		.iconfont{
			color:#fff;
		}
	}
}