// 颜色色板
// 

// 浅灰色 下拉列表 图表默认文字颜色
@c001: #bbb;
// 深灰色 输入表单文字的颜色 详细列表下文字的颜色 按钮背景色 
@c002: #333;
//灰色 明细列表中的颜色  
@c003: #7d7c7d;
//灰白色 下划线的颜色 
@c004: #e5e5e5;
//白色 背景色 文字的颜色
@c005: #fff;
// 浅黄色 按钮的背景颜色
@c006: #f4cf5c;
// 搜索框的颜色
@c007: #ccc;
// 边框的颜色  
@c008: #eee;
//黑色
@c009: #000;
// 红色文字
@c010: #f4252d;
// 背景色
@c011: #f2f2f2;
//灰色底板色
@c012:#f9f9f9;



/******************实名认证   当前步骤颜色******************/
//绿色
@c013: #339900;
//浅灰色
@c014: #d8d8d8;


//浅灰色背景色---通用色
@c015: #e5e5e5;

//蓝色文字
@c016: #2B76CC;

// 灰色 按钮不可用
@c017: #cdcdcd;

//开关绿色
@c018: #48d964;

//风险测评结果弹层上的红色分数
@co19: #fc0202;


//老带新
@c020: #c6b499;
@c021: #715428;
@c022: #4B994A;

//灰线
@c023: #D2D2D2;


@c024: #e6e5e6;


@c025: #5d5e62;


@c026:#f3c12a;

@c027: #eb660e; 

@c028: #cb8810;
@c029: #fba61b;

@c030:#EA3D33;

//灰色背景色
@c031:#f8f8f8;

// 财商教育
@c032:#fce6b8;
@c033:#fffdfc;
@c034:#6d5b36;
@c035:#E82A1A;

// 折扣费率
@c036:#FEFAEA;
@c037:#E8541E;
@c038:#FF554B;

//基本信息头部icon的颜色
@c039:#F9C522;
// 老带新
@F9C522:#F9C522;
// 投资者分类
@1B76BD:#1B76BD;

//告知书字体颜色
@c040:#151515;

@c041:#878787;


// 恒小智
// 占比分组
@c042:#1667C6;
@c043:#ED7416;
@c044:#F9C522;
@c045:#D0222C;
@c046:#291DDC;
@c047:#17B3CD;
@c048:#D5A718;

//权益中心
@c049:#7e5f0a;
@c050:#756025;


// 智能投顾绿色
@c051: #369900;
// 土黄色
@c052:#FBF7E9;
// 蓝色
@c053:#3380DA;
//h5公募基金模板
@c054:#E82210;

//募集账户相关
//文字标题
@c055: #DEAF70;
//文字内容
@c056: #F6D4A8;
// 基金诊断
@f7f7f7:#f7f7f7;
@ff6905:#ff6905;
@3c3c3c:#3c3c3c;
@2d2f46:#2d2f46;
@999999:#999999;
@edeff3:#edeff3;
@ededed:#ededed;
@837046:#837046;
@858d9d:#858d9d;
@394259:#394259;
@878787:#878787;
@f75348:#f75348;
@4d3a12:#4d3a12;
@fb685c:#fb685c;
@ffc363:#ffc363;
@60b0e0:#60b0e0;
@fe4829:#fe4829;
@f7f9fc:#f7f9fc;
@b1b0b0:#b1b0b0;
@868e9e:#868e9e;
@dbc69a:#dbc69a;
@fcfaf5:#fcfaf5;
@2a2315:#2a2315;
@f6f9ff:#f6f9ff;
@3c3c3c:#3c3c3c;
@834A08:#834A08;
@0E246C:#0E246C;
// 其他资产
@695a37:#695a37;
@d75e33:#d75e33;
@fbfaf5:#fbfaf5;
@a48e5f:#a48e5f;
@ed722f:#ed722f;
@ebd095:#ebd095;
@bba880:#bba880;
@6b5425:#6b5425;
@f4f4f4:#f4f4f4;
@F7FAFD:#F7FAFD;
@F7DDCF:#F7DDCF;
@D58D65:#D58D65;
@818181:#818181;
@C4925E:#C4925E;
@e2cd98:#e2cd98;
// 月度报告
@E7E9ED:#E7E9ED;
@272727:#272727;
@9B9B9B:#9B9B9B;
@6C4517:#6C4517;
@995100:#995100;
@93591A:#93591A;
@FF4E4E:#FF4E4E;


//会员权益详情
@33457e:#33457e;
@06174d:#06174d;
@31447d:#31447d;
@BE894D:#BE894D;
@F7EFDA:#F7EFDA;
@F3E7CD:#F3E7CD;
@683c0b:#683c0b;
@ab7c4b:#ab7c4b;
@F1CDA8:#F1CDA8;
@B57E45:#B57E45;


//会员权益  成长值
@32457e:#32457e;
@04154a:#04154a;
@4b1d00:#4b1d00;
@683c0b:#683c0b;
@ab7c4b:#ab7c4b;
@bca685:#bca685;
@e2cfb2:#e2cfb2;
@dfcaac:#dfcaac;
@c2905b:#c2905b;
@f5f7f8:#f5f7f8;
@070707:#070707;
@7e7e7e:#7e7e7e;
@eaebef:#eaebef;
@b49d7b:#b49d7b;
//登录日志查询
@FFF9F0:#FFF9F0;

@FFCE9A:#FFCE9A; 

//公募监管账户
@e0e0e0:#e0e0e0;
@364D97:#364D97;
@e9ebef:#e9ebef;
@4A3927:#4A3927;

//合规
@FCFBF2 :#FCFBF2;
@D2A311 :#D2A311;
@DEAD15 :#DEAD15;
@F2F8FF :#F2F8FF;
@999 :#999;
@4A90E2:#4A90E2;
@F8FBFF:#F8FBFF;
@9BBDEA:#9BBDEA;
@E8EBEF:#E8EBEF;

@c055:#FCF8F2;
@929292:#929292;
@A7A7A7:#A7A7A7;
@B2B2B2:#B2B2B2;
@cfcfcf:#cfcfcf;

//会员俱乐部-活动列表
@475A95:#475A95;
@15255B:#15255B;
@976026:#976026;
@1E53FF:#1E53FF;
@FFF6E2:#FFF6E2;
@DDCDA4:#DDCDA4;


//我的 - 已报名活动
@6C83C9:#6C83C9;
@061D6A:#061D6A;
@666:#666;
//信息披露
@C4925E:#C4925E;
@E2B580:#E2B580;
@FBE2BD:#FBE2BD;


@8A8A8A: #8A8A8A;
@C8AB7D: #C8AB7D;

@364D97:#364D97;
@E73A3A:#E73A3A;
@BB8E5F:#BB8E5F;

//私募资产--产品档案
@272727:#272727;
@9B9B9B:#9B9B9B;

//自选公募
@FFFFFF:#ffffff;
@CBCBCB:#CBCBCB;
@BB8E5F:#BB8E5F;
@F5ECD5:#F5ECD5;
@F0DFBA:#F0DFBA;
@F52323:#F52323;
@008000:#008000;
@6C83C9:#6C83C9;
@061D6A:#061D6A;


@4A4A4A: #4A4A4A;
//收益分配


//自选公募-交易记录
@3F82D9:#3F82D9;
@8D63A9:#8D63A9;
@F52323:#F52323;
@D38149:#D38149;
//自选公墓--交易明细
@000000:#000000;
@BC965A:#BC965A;
@FFEDD3:#FFEDD3;
//非货币基金产品详情页_修改分红方式_二次确认弹框
@D6BC79:#D6BC79;
@F5EBD2:#F5EBD2;
@FDF3DD:#FDF3DD;
@F1E3C2:#F1E3C2;