<!-- /**  
 * @Page:  公共底部
 * @Author: songxiaoyu  
 * @Date:   2019-03-25 15:08:03  
 * @Last Modified by:   songxiaoyu  
 */ -->


 
<script src="/allServerResources/include/js/vendor/zepto/zepto.js"></script>
<script src="/allServerResources/include/js/vendor/root.js"></script>
<script src="/allServerResources/include/js/vendor/handlebar/handlebars.js"></script>

<script src="/allServerResources/include/js/vendor/lazyLoad/lazyload.js"></script>

<!-- 这个埋点文件，必须在headerMd.js和mui文件之上 -->
<!-- <script src="@dcDomain/htmd/min/baseMd.min.js" id="htmdScript" class="mdScript"></script> -->

<!-- <script src="/allServerResources/appMd/headerMd.js"></script> -->

<script src="/allServerResources/include/js/vendor/mui/mui.min.js"></script>