<!--
 * @Author: your name
 * @Date: 2019-12-09 15:48:30
 * @LastEditTime: 2019-12-10 20:53:25
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \htjf-app\src\mine\views\fundDiagnosis\fundAccountDiagnosisResult.html
 -->
 <!DOCTYPE html>
 <html>
 
 <head>
     @@include('@pathInclude/views/meta.html')
     <link rel="stylesheet" href="/mine/static/css/applyHistory.css">
     <title>基金账户诊断_提交申请</title>
 </head>
 
 <body>
     <section class="fundAccountDiagnosis container">
       @@include('@pathCommonViews/headBarConfig.html',{"pathName":"申请记录"})
         <div class="content">
             <div class="addApply">新增申请</div>
             <div class="fund-allocation content-item">
                 <div class="historyItemList mt20">
                     <span class="left">2019年11月</span>
                     <span class="right right_left mui-icon mui-icon-arrowright"></span>
                     <span class="right right_down mui-icon mui-icon-arrowdown"></span>
                 </div>
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell"><span class="left">2019-11-27</span><span class="mui-icon mui-icon-arrowright"></span><span class="right editHistory">修改</span></li>
                    <li class="mui-table-view-cell"><span class="left">2019-11-27</span> <span class="mui-icon mui-icon-arrowright"></span><span class="right editHistory">修改</span></li>
                </ul>    
             </div>
             <div class="fund-allocation content-item">
                    <div class="historyItemList mt20">
                        <span class="left">2019年11月</span>
                        <span class="right right_left mui-icon mui-icon-arrowright"></span>
                        <span class="right right_down mui-icon mui-icon-arrowdown"></span>
                    </div>
                   <ul class="mui-table-view">
                       <li class="mui-table-view-cell"><span class="left">2019-11-27</span><span class="mui-icon mui-icon-arrowright"></span><span class="right editHistory">修改</span></li>
                       <li class="mui-table-view-cell"><span class="left">2019-11-27</span> <span class="mui-icon mui-icon-arrowright"></span><span class="right editHistory">修改</span></li>
                   </ul>    
                </div>
                <div class="fund-allocation content-item">
                        <div class="historyItemList mt20">
                            <span class="left">2019年11月</span>
                            <span class="right right_left mui-icon mui-icon-arrowright"></span>
                            <span class="right right_down mui-icon mui-icon-arrowdown"></span>
                        </div>
                       <ul class="mui-table-view">
                           <li class="mui-table-view-cell"><span class="left">2019-11-27</span><span class="mui-icon mui-icon-arrowright"></span><span class="right editHistory">修改</span></li>
                           <li class="mui-table-view-cell"><span class="left">2019-11-27</span> <span class="mui-icon mui-icon-arrowright"></span><span class="right editHistory">修改</span></li>
                       </ul>    
                    </div>
         </div>
         <div class="popup" style="display:none">
                <div class="popup-content">
                    <div class="mui-content">
                        <div class="mui-content-padded">
                        </div>
                    </div>
                </div>
        </div>
     </section>
    
     @@include('@pathInclude/views/footer.html')

     <script src="/mine/static/js/applyHistory.js"></script>
 </body>
 
 </html>