<!-- /**  
 * @Page:  基金诊断
 * @Author: songxiaoyu  
 * @Date:   2019-08-08 17:44:32  
 * @Last Modified by:   songxiaoyu  
 */ -->
 <!DOCTYPE html>
 <html>
 
 <head>
     @@include('@pathInclude/views/meta.html')
     <link rel="stylesheet" href="/mine/fundDiagnosis/static/css/fundAccountDiagnosis.css">
     <title>基金账户诊断</title>
 </head>
 
 <body>
     <section class="fundAccountDiagnosis container">
       @@include('@pathCommonViews/headBarConfig.html',{"pathName":"基金账户诊断"})
         <div class="content">
             <div class="account-holdings content-item">
                 <p class="title-box">
                     <span class="title">账户持仓情况</span>
                     <span class="more-data">展开全部持仓<span class="down"></span></span>
                 </p>
                 <div id="holdingBox">
                     <!-- <div class="holding-item">
                         <div class="founName item">
                             <p>基金简称</p>
                             <p class="name">交银精选</p>
                         </div>
                         <div class="bottom-content">
                             <div class="acount item">
                                 <p>持仓金额(元)</p>
                                 <p class="name">200000000</p>
                             </div>
                             <div class="hold item">
                                 <p>持有收益(元)</p>
                                 <p class="name">100000000</p>
                             </div>
                         </div>
                         <div class="top-right">
                             <p>
                                 <span>代码</span>
                                 <span class="fundCode">1101010</span>
                             </p>
                         </div>
                     </div> -->
                     
                 </div>
                 <script id="holdingBox-template" type="text/x-handlebars-template">
                     {{#each this}}
                         <div class="holding-item">
                             <div class="founName item">
                                 <p>基金简称</p>
                                 <p class="name">{{fundName}}</p>
                             </div>
                             <div class="bottom-content">
                                 <div class="acount item">
                                     <p>持仓金额(元)</p>
                                     <p class="name">{{holdAmount}}</p>
                                 </div>
                                 <div class="hold item">
                                     <p>持有收益(元)</p>
                                     <p class="name">{{holdIncome}}</p>
                                 </div>
                             </div>
                             <div class="top-right">
                                 <p>
                                     <span>代码</span>
                                     <span class="fundCode">{{fundCode}}</span>
                                 </p>
                             </div>
                         </div>
                     {{/each}}
                 </script>
             </div>
             <div class="fund-allocation content-item">
                 <p class="title-box">
                     <span class="title">基金配置比例</span>
                 </p>
                 <div id="allocation-pie">
                     
                 </div>
             </div>
             <div class="assets-allocation content-item">
                 <p class="title-box">
                     <span class="title">资金配置比例</span>
                 </p>
                 <div id="assets-box">
                     <div class="assets-item stockAssetRatio">
                         <p class="leng">
                             <span class="point"></span>
                             <span class="num">37.98%</span>
                         </p>
                         <p class="name">股票资产</p>
                         <p class="shape"></p>
                     </div>
                     <div class="assets-item cashAssetRatio">
                         <p class="leng">
                             <span class="point"></span>
                             <span class="num">17.77%</span>
                         </p>
                         <p class="name">现金</p>
                         <p class="shape"></p>
                     </div>
                     <div class="assets-item bondAssetRatio">
                         <p class="leng">
                             <span class="point"></span>
                             <span class="num">29.84%</span>
                         </p>
                         <p class="name">债券资产</p>
                         <p class="shape"></p>
                     </div>
                     <div class="assets-item otherAssetRatio">
                         <p class="leng">
                             <span class="point"></span>
                             <span class="num">28.12%</span>
                         </p>
                         <p class="name">其他资产</p>
                         <p class="shape"></p>
                     </div>
                 </div>
             </div>
             <div class="heavy-warehouse-congfig content-item">
                 <p class="title-box">
                     <span class="title">重仓行业配置</span>
                 </p>
                 <div id="heavy-warehouse-box"></div>
                 <p class="annotation">*注：[其他] 包括其他行业及除A股外其他股票市场资产所占比例</p>
             </div>
             <div class="volume-distribution content-item">
                 <p class="title-box">
                     <span class="title">组合券种分布</span>
                 </p>
                 <div id="volume-distribution-box"></div>
             </div>
             <div class="account-style content-item">
                 <p class="title-box">
                     <span class="title">账户风格</span>
                 </p>
                 <div id="account-style-box">
                     <div class="scratchable-latex">
                         <div class="scratchable-item" data="11"></div>
                         <div class="scratchable-item" data="12"></div>
                         <div class="scratchable-item" data="13"></div>
                         <div class="scratchable-item" data="21"></div>
                         <div class="scratchable-item" data="22"></div>
                         <div class="scratchable-item" data="23"></div>
                         <div class="scratchable-item" data="31"></div>
                         <div class="scratchable-item" data="32"></div>
                         <div class="scratchable-item" data="33"></div>
                         <div class="scratchable1 scratchable-left">大盘</div>
                         <div class="scratchable2 scratchable-left">中盘</div>
                         <div class="scratchable3 scratchable-left">小盘</div>
                         <div class="scratchable4 scratchable-bottom">价值型</div>
                         <div class="scratchable5 scratchable-bottom">平衡型</div>
                         <div class="scratchable6 scratchable-bottom">成长型</div>
                     </div>
                 </div>
             </div>
             <div class="diagnosis content-item">
                 <p class="title-box">
                     <span class="title">诊断结论</span>
                 </p>
                 <div id="diagnosis-box">
                     嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻寻寻寻寻寻寻寻
                 </div>
             </div>
         </div>
     </section>
    
     @@include('@pathInclude/views/footer.html')
     <!-- 添加埋点 -->
     @@include('@pathInclude/views/header.html')
     <script src="/include/js/iscroll.js"></script>
     <script src="/mine/fundDiagnosis/static/js/fundAccountDiagnosis.js"></script>
 </body>
 
 </html>