<!-- /**  
 * @Page:  基金诊断
 * @Author: songxiaoyu  
 * @Date:   2019-08-08 17:44:32  
 * @Last Modified by:   songxiaoyu  
 */ -->
 <!DOCTYPE html>
 <html>
 
 <head>
     @@include('@pathInclude/views/meta.html')
     @@include('@pathCommonViews/authenticationProcess.html',{"pathTitle":"认证信息"})
     <link rel="stylesheet" href="/mine/static/css/fundAccountDiagnosis.css">
     <title>基金账户诊断</title>
 </head>
 
 <body>
    @@include('@pathCommonCom/loading/listLoading.html')
     <section class="fundAccountDiagnosis container">
       @@include('@pathCommonViews/headBarConfig.html',{"pathName":"基金账户诊断"})
       @@include('@pathCommonCom/noData/noData.html', {"tipText": "暂无持仓"})
       <div class="content" id="contentListBox">
             <div class="account-holdings content-item">
                 <p class="title-box">
                     <span class="title">账户持仓情况</span>
                     <span class="more-data"><span class="txt">展开全部持仓</span><span class="down"></span></span>
                 </p>
                 <div id="holdingBox">
                     <!-- <div class="holding-item">
                         <div class="founName item">
                             <p>基金简称</p>
                             <p class="name">交银精选</p>
                         </div>
                         <div class="bottom-content">
                             <div class="acount item">
                                 <p>持仓金额(元)</p>
                                 <p class="name">200000000</p>
                             </div>
                             <div class="hold item">
                                 <p>持有收益(元)</p>
                                 <p class="name">100000000</p>
                             </div>
                         </div>
                         <div class="top-right">
                             <p>
                                 <span>代码</span>
                                 <span class="fundCode">1101010</span>
                             </p>
                         </div>
                     </div> -->
                     
                 </div>
                 <script id="holdingBox-template" type="text/x-handlebars-template">
                     {{#each this}}
                         <div class="holding-item">
                             <div class="founName item">
                                 <p>基金简称</p>
                                 <p class="name">{{fundName}}</p>
                             </div>
                             <div class="bottom-content">
                                 <div class="acount item">
                                     <p>持仓金额(元)</p>
                                     <p class="name">{{holdAmount}}</p>
                                 </div>
                                 <div class="hold item">
                                     <p>持有收益(元)</p>
                                     <p class="name">{{holdIncome}}</p>
                                 </div>
                             </div>
                             <div class="top-right">
                                 <p>
                                     <span>代码</span>
                                     <span class="fundCode">{{fundCode}}</span>
                                 </p>
                             </div>
                         </div>
                     {{/each}}
                 </script>
             </div>
             <div class="fund-allocation content-item">
                 <p class="title-box">
                     <span class="title">基金配置比例</span>
                 </p>
                 <div id="allocation-pie">
                     
                 </div>
             </div>
             <div class="assets-allocation content-item">
                 <p class="title-box">
                     <span class="title">资金配置比例</span>
                 </p>
                 <div id="assets-box">
                     <div class="assets-item stockAssetRatio">
                         <p class="leng">
                             <span class="point"></span>
                             <span class="num"></span>
                         </p>
                         <p class="name">股票</p>
                         <p class="shape"></p>
                     </div>
                     <div class="assets-item cashAssetRatio">
                         <p class="leng">
                             <span class="point"></span>
                             <span class="num"></span>
                         </p>
                         <p class="name">现金</p>
                         <p class="shape"></p>
                     </div>
                     <div class="assets-item bondAssetRatio">
                         <p class="leng">
                             <span class="point"></span>
                             <span class="num"></span>
                         </p>
                         <p class="name">债券</p>
                         <p class="shape"></p>
                     </div>
                     <div class="assets-item otherAssetRatio">
                         <p class="leng">
                             <span class="point"></span>
                             <span class="num"></span>
                         </p>
                         <p class="name">其他</p>
                         <p class="shape"></p>
                     </div>
                 </div>
             </div>
             <div class="heavy-warehouse-congfig content-item">
                 <p class="title-box">
                     <span class="title">重仓行业配置</span>
                 </p>
                 <div id="heavy-warehouse-box"></div>
                 <p class="annotation">*注：[其他] 包括其他行业及除A股外其他股票市场资产所占比例</p>
             </div>
             <div class="volume-distribution content-item">
                 <p class="title-box">
                     <span class="title">组合券种分布</span>
                 </p>
                 <div id="volume-distribution-box"></div>
             </div>
             <div class="account-style content-item">
                 <p class="title-box">
                     <span class="title">账户风格</span>
                 </p>
                 <div id="account-style-box">
                     <div class="scratchable-latex">
                         <div class="scratchable-item fl1" data="11"></div>
                         <div class="scratchable-item fl2" data="12"></div>
                         <div class="scratchable-item fl3" data="13"></div>
                         <div class="scratchable-item fl4" data="21"></div>
                         <div class="scratchable-item fl5" data="22"></div>
                         <div class="scratchable-item fl6" data="23"></div>
                         <div class="scratchable-item fl7" data="31"></div>
                         <div class="scratchable-item fl8" data="32"></div>
                         <div class="scratchable-item fl9" data="33"></div>
                         <div class="scratchable1 scratchable-left">大盘</div>
                         <div class="scratchable2 scratchable-left">中盘</div>
                         <div class="scratchable3 scratchable-left">小盘</div>
                         <div class="scratchable4 scratchable-bottom">价值型</div>
                         <div class="scratchable5 scratchable-bottom">平衡型</div>
                         <div class="scratchable6 scratchable-bottom">成长型</div>
                     </div>
                 </div>
             </div>
             <div class="diagnosis content-item">
                 <p class="title-box">
                     <span class="title">诊断结论</span>
                 </p>
                 <div id="diagnosis-box">
                    
                 </div>
             </div>
             <div class="getReport">获取深度诊断报告</div>
             <div class="isRiskMatchBox">
                <div class="isRiskMatchBox_contentBox">
                       <div class='isRiskMatchBox_header'>你选择的产品与您现在的风险承受能力相匹配</div>
                       <div class="isRiskMatchBox_footer">
                           <div class="isRiskMatchBox_match">确定</div>
                           <div class="isRiskMatchBox_noMatch"><button class="isRiskMatchBox_cancel">取消</button> <button class="isRiskMatchResult">查看评测结果</button></div>
                       </div>
                </div>
            </div>
            <div class="isRiskMatch_mask"></div>
         </div>
         <div id="noDataContent">
            <div class="fund-allocation content-item">
                <div class="content_tital">持仓产品后可获得定制个性化投资分析报告</div>
                <div class="goUrl_list"><button>去浏览产品</button></div>
                <div class="getReport noDatagetReport">获取深度诊断报告</div>
           </div>
           <div class="isRiskMatchBox">
              <div class="isRiskMatchBox_contentBox">
                <div class="headTital">尊敬的用户</div>
                     <div class='isRiskMatchBox_header'>你选择的产品与您现在的风险承受能力相匹配</div>
                     <div class="isRiskMatchBox_footer">
                         <div class="isRiskMatchBox_match">明白了</div>
                         <div class="isRiskMatchBox_noMatch"><button class="isRiskMatchBox_cancel">放弃购买</button> <button class="isRiskMatchResult">查看评测结果</button></div>
                     </div>
              </div>
          </div>
          <div class="isRiskMatch_mask"></div>
         </div>
     </section>
    
     @@include('@pathInclude/views/footer.html')
     <script src="/allServerResources/include/js/vendor/echarts/echarts.min.js"></script>
     <script src="/mine/static/js/fundAccountDiagnosis.js"></script>
 </body>
 
 </html>