<!--
 * @Author: your name
 * @Date: 2019-12-27 10:14:52
 * @LastEditTime : 2019-12-27 11:53:40
 * @LastEditors  : Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \htjf-app\src\mine\views\fundDiagnosis\noAccountHoldShare.html
 -->
<!DOCTYPE html>
 <html>
 
 <head>
     @@include('@pathInclude/views/meta.html')
     @@include('@pathCommonViews/authenticationProcess.html',{"pathTitle":"认证信息"})
     <link rel="stylesheet" href="/mine/static/css/noAccountHoldShare.css">
     <title>基金账户诊断</title>
 </head>
 
 <body>
    @@include('@pathCommonCom/loading/listLoading.html')
     <section class="fundAccountDiagnosis container">
       @@include('@pathCommonViews/headBarConfig.html',{"pathName":"基金账户诊断"})
       @@include('@pathCommonCom/noData/noData.html', {"tipText": "暂无持仓"})
         <div class="content">
             <div class="fund-allocation content-item">
                  <div class="content_tital">持仓产品后可获得定制个性化投资分析报告</div>
                  <div class="goUrl_list"><button>去浏览产品</button></div>
                  <div class="getReport">获取深度诊断报告</div>
             </div>
             <div class="isRiskMatchBox">
                <div class="isRiskMatchBox_contentBox">
                       <div class='isRiskMatchBox_header'>你选择的产品与您现在的风险承受能力相匹配</div>
                       <div class="isRiskMatchBox_footer">
                           <div class="isRiskMatchBox_match">确定</div>
                           <div class="isRiskMatchBox_noMatch"><button class="isRiskMatchBox_cancel">放弃购买</button> <button class="isRiskMatchResult">查看评测结果</button></div>
                       </div>
                </div>
            </div>
            <div class="isRiskMatch_mask"></div>
         </div>
        
     </section>
    
     @@include('@pathInclude/views/footer.html')

     <script src="/mine/static/js/noAccountHoldShare.js"></script>
 </body>
 
 </html>