@charset"utf-8";
//当用到后台富文本编辑器的时候只需要引入baseClass.less不需要引入reset.less
@import url("@pathCommonLess/baseClass.less");
//错误提示
@import url("@pathCommonLessCom/againEnter.less");

*{
	margin:0;
	padding:0;
}

.regard {
	background: #fff; 
	padding:16px; 
}
.regard .description {
  font: 1.6rem/1 'microsoft yahei', "Simhei", Verdana, Arial, Helvetica, sans-serif;
  color: #1e1e1e;
  width: 100%;
}
.regard .content{
	margin-top:16px;
}
// 专业管理团队
.managementTeam{
	width: 100%;
	img{
		width: 100%;
	}
}
// 基金销售资格
.qualification{
	width: 100%;
	img{
		width: 100%;
	}
}
