@charset"utf-8";

@import url("@pathCommonLess/baseClass.less");
@import url("@pathCommonLess/reset.less");
@import url("@pathCommonLessCom/tipAction.less");

*{
	margin:0;
	padding:0;
}

.baseLearning{
	width: 100%;
	background: #23383b;
	.learnBtn{
		position: relative;
		width: 100%;
		height: 7.5rem;
		img{
			position: absolute;
			width: 60%;
			top: 50%;
			left: 50%;
			margin-top: -2.7rem;
			margin-left: -30%;
		}	
	}
}

.baseResult{
	width: 100%;
}


