/** 
	*创业十年视频
	*zhangyanping 2018/05/07
**/
//引入mui
@import url("@pathInclude/css/mui.min.css");
@import url("@pathInclude/css/mui.poppicker.css");
@import url("@pathInclude/css/mediaelementplayer.min.css");
@import url('@pathCommonLess/mui/resetMUI.less');
@import url("@pathCommonLess/reset.less");
@import url("@pathCommonLess/color.less");

.mui-card{
	padding: 0;
}

.startup{
	width: 100%;
	.videoWrap{
		position: relative;
		width: 100%;
		padding: 0 0.5rem;
		background-clip: border-box;
		.play{
			position: absolute;
			width: 3rem;
			left: 50%;
			top: 50%;
			margin-left: -1.5rem;
			margin-top: -1.5rem;
		}
		
	}
	.videoWrap1{
		background: url('/about/static/img/startup/startup_03.jpg');
		background-size: 100% 100%;
	}
	.videoWrap2{
		background: url('/about/static/img/startup/startup_05.jpg');
		background-size: 100% 100%;
	}
	.videoWrap3{
		background: url('/about/static/img/startup/startup_07.jpg');
		background-size: 100% 100%;
	}
	.videoWrap4{
		background: url('/about/static/img/startup/startup_09.jpg');
		background-size: 100% 100%;
	}
	.videoWrap5{
		background: url('/about/static/img/startup/startup_11.jpg');
		background-size: 100% 100%;
	}
	.videoWrap6{
		background: url('/about/static/img/startup/startup_13.jpg');
		background-size: 100% 100%;
	}
}

