<!--
	* 电商中秋运营活动专题页
	* author zhangyanping
	* time 2018-09-05
-->
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="applicable-device" content="mobile">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>中秋活动</title>
	<link rel="stylesheet" type="text/css" href="/about/static/css/midAutumn/AutumnIndex.css"/>


</head>
<body>

	<div class="AutumnIndex">
		<div class="index_1">
			<img src="/about/static/img/midAutumn/index_1.jpg">
		</div>

		<section class="videoWrap mui-card index_2">
			<div id="video_wrapper1">
				<img src="">
				<!-- <img src="/about/static/img/startup/video_01.png"> -->
				<!-- <img src="/about/static/img/startup/play.png" class="play clubVideo1"> -->
			</div>
		</section>
		<div class="index_3">
			<img src="">
		</div>
		<div class="index_4">
			<img src="">
		</div>
		<div class="index_5">
			<img src="">
		</div>
		<div class="index_6">
			<img src="">
		</div>
		<div class="index_7">
			<img src="">
		</div>

	</div>

	<script src="@pathIncludJs/vendor/zepto/zepto.js"></script>
	<script src="@pathIncludJs/vendor/root.js"></script>
	<script src="@pathIncludJs/vendor/mui/mui.min.js"></script>
	<!-- 添加埋点 -->
    @@include('@pathInclude/views/header.html')

	<script src="/about/static/js/midAutumn/AutumnIndex.js"></script>


</body>
</html>