<!--
		*电商中秋运营活动专题页 --私募活动专题
		@author zhangyanping
		@time 2018-9-5
-->
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="applicable-device" content="mobile">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>中秋活动--私募会场</title>
	<link rel="stylesheet" type="text/css" href="/about/static/css/midAutumn/AutumnIndex.css"/>

</head>
<body>

	<div class="privateActivity">
		<div class="private_01">
			<img src="" alt="">
		</div>
		<section class="videoWrap mui-card private_02">
			<div id="video_wrapper1">
				<img src="">

			</div>
		</section>

		<div class="private_03">
			<img src="" alt="">
		</div>
		<div class="private_04">
			<img src="" alt="">
		</div>
		<div class="private_05">
			<img src=".jpg" alt="">
		</div>


	</div>


	<script src="@pathIncludJs/vendor/zepto/zepto.js"></script>
	<script src="@pathIncludJs/vendor/root.js"></script>
	<script src="@pathIncludJs/vendor/mui/mui.min.js"></script>
	<!-- 添加埋点 -->
    @@include('@pathInclude/views/header.html')

	<script src="/about/static/js/midAutumn/privateActivity.js"></script>


</body>
</html>