<!--
		*电商中秋运营活动专题页 -- 公募活动专题
		@author zhangyanping
		@time 2018-9-3
-->
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="applicable-device" content="mobile">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>中秋活动--公募会场</title>
	<link rel="stylesheet" type="text/css" href="/about/static/css/midAutumn/AutumnIndex.css"/>

</head>
<body>

	<div class="publicActivityOne">
		<div class="public_01">
			<img src="" alt="">
		</div>
		<div class="public_02">
			<img src="">
		</div>
		<div class="public_03">
			<img src="" alt="">
		</div>
		<div class="public_04">
			<img src="" alt="">
		</div>


	</div>
	<script src="@pathIncludJs/vendor/zepto/zepto.js"></script>
	<script src="/allServerResources/include/js/vendor/root.js"></script>
	<script src="@pathIncludJs/vendor/mui/mui.min.js"></script>
	<!-- 添加埋点 -->
    @@include('@pathInclude/views/header.html')
	<script src="/about/static/js/midAutumn/publicActivityOne.js"></script>


</body>
</html>