<!--
	*基民教育活动专题
	*zhangyanping 2018/05/18
-->
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="applicable-device" content="mobile">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>基民教育</title>
	<link rel="stylesheet" href="/about/static/css/baseEducation.css">
</head>
<body>
	<div class="baseLearning">
		<!-- 从后台获取的图片 -->
		<div class="imgContent">
			
		</div>

		<!-- 底部按钮 我已完成学习 -->
		<div class="learnBtn">
			<img src="/about/static/img/baseEducation/learnBtn.png" alt="">
		</div>
	</div>
	
	
</body>

	<script src="@pathIncludJs/vendor/zepto/zepto.js"></script>
	<script src="/allServerResources/include/js/vendor/root.js"></script>
	<!-- 添加埋点 -->
	@@include('@pathInclude/views/header.html')
	<script src="/about/static/js/baseEducation/baseLearning.js"></script>

</html>

