// 其他资产(定融定投)界面

@import url("../../../include/css/mui.min.css");
@import url('../../../common/less/mui/resetMUI.less');

@import url("../../../common/less/reset.less");
@import url("../../../common/less/color.less");

@import url("../../../common/less/components/alertBox.less");
@import url("../../../common/less/app.less");
@import url("../../../common/less/components/againEnter.less");
@import url("../../../common/less/components/publicOrPrivate.less");
@import url("../../../common/less/components/bottomNav.less");
@import url("../../../common/less/components/elasticLayerThree.less");
@import url("../../../common/less/components/elasticLayerTypeTwo.less");
@import url("../../../common/less/chtwm.less");

html, body{
	height: 100%;
}

.container{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;

	#wrapper {
		flex: 1;
		height: 100%;
		position: unset;
		overflow: hidden;
	}
}
// 其他资产
.banner{
	width: 100%;
	height: 14rem;
    background: url("/commonResources/static/img/banner.png");
	background-size: 100% 100%;

    .bannerTop{
	  color: @c005;
	  text-align: center;
      .sum{
		margin-top: 1rem;
        font-size: 1rem;
      }
      .amount{
        margin: 1.3rem 0 1.4rem;
        font-size: 3rem;
		line-height: 3.2rem;
      }   
    }
  }

// 其他资产列表
.myAsset{
	.list{
		width: 100%;
		.datalist{
			margin: 0.8rem auto 0;
			color: @c002;
			background: @c005;
			box-shadow: 0 0.1rem 0.4rem 0 rgba(0,0,0,0.1);
			h2{
				width: 90%;
				margin: 0 auto;
				font-size: 1.6rem;
				line-height: 3rem;
			}
			.line{
				width: 95%;
				margin-left: 1.6rem;
				border-bottom: 1px solid @c004;
			}
			ul{
				width: 90%;
				margin: 0 auto;
				font-size: 1.2rem;
				line-height: 1.2rem;
				padding: 0.1rem 0 1.5rem;
				li{
					margin-top: 1.4rem;
					.title{
						float: left;
						color: @c003;
					}
					.text{
						float: right;
					}
				}
			}
			.date{
				margin-left: 1.6rem;
				height: 3.2rem;
				line-height: 3.2rem;
				font-size: 1.2rem;
				color: @c003;
				span{
					margin-left: 1.1rem;
				}
			}
		}
	}

}

// 向上按钮，返回顶部
.upTop{
	position: fixed;
	bottom: 2.3rem;
	right: 1.6rem;
	width: 2.7rem;
	height: 2.7rem;
	border-radius: 1.35rem;
	background: rgba(51,51,51,0.85);
	// background: @c002;
	// opacity: 0.85;
	span{
		display: block;
		text-align: center;
		margin-top: 0.35rem;
		font-size: 1.8rem;
		color: @c005;
	}
	&.chtwm-upTop{
	    bottom: 4.5rem;
	}
}

//iscroll上拉加载重置
#pullUp{
	line-height: 2.8rem;
	padding: 0;
	
	span{
		display: inline-block;
		vertical-align: middle;
	}
}

.openOrClose{
	.bind{
		margin-bottom: 2rem;
	}
}
/**
*   无数据区域的样式
 */
 .without{
    margin-top: 16.5rem;
    color: @c001;
    .iconfont{
        font-size: 5.1rem;
    }
    .text{
        margin-top: 2rem;
        font-size: 1.4rem;
    }       
}