/**
 * 左浅右深的按钮公用样式
 *
 * @author yangjinlai 20191129
 */


//蓝色渐变底白字
.blueBgButton{
	background: linear-gradient(135deg, #6c83c9 0%, #061d6a 100%);
    color: @c005;
    text-align: center;
}

//金色边框金色文字白底
.goldBorderButton{
	background:@c005;
	border: 0.02rem solid #C4925E;
	color: #C4925E;
	text-align: center;
}
