//私募产品列表及详情样式
//交易主页面及详情页面样式 
@import url("@pathCommonLess/mui/resetMUI.less");
@import url("@pathCommonLess/components/alertBox.less");
@import url("@pathCommonCom/elasticLayer/elasticLayer/elasticLayer.less");
/* @import url("@pathCommonLess/components/elasticLayerTypeTwo.less");
@import url("@pathCommonLess/components/elasticLayerFour.less"); */
@import url("@pathCommonCom/noData/noData.less");
//引入重置mui样式的表单样式文件
//@import url("@pathCommonLess/mui/formMUI.less");
//引入重置mui下拉列表样式文件
@import url("@pathCommonLess/mui/selectMUI.less");
//回到顶部的样式
@import url("@pathCommonLess/components/goTopMui.less");

@import url("@pathCommonLess/components/tabScroll.less");

@import url("@pathCommonLessCom/headBarConfig.less");


// 文字内容
.bgWhite {
    background: @c005;
}
.text_content{
    padding: .47rem .3rem .23rem .3rem;
    margin: .3rem; 
    // padding: .3rem;
    font-size: .28rem;
    color: #4E4E4E;
    .sub_title{
        font-size:.28rem;
        font-weight: 600;
        color: #272727;
        margin-bottom: .14rem
    }
    .text{
        line-height:.54rem
        // overflow: hidden;
        // text-overflow: ellipsis;
        // display: -webkit-box;
        // -webkit-line-clamp: 3;
        // -webkit-box-orient: vertical;
    }
}
