/**
* 自选公募交易记录
* @author wangjiajia 2019-11-20
*/
@import url("@pathCommonCom/noData/noData.less");
@import url("@pathCommonLessCom/alertBox.less");
@import url("@pathCommonLessCom/headBarConfig.less");
@import url("@pathCommonLess/color.less");
@import url('@pathCommonLess/components/iconfont.less');


.without  {
	background: #fff;
}
html{
    height: 100%;
    background: @c005;
}
#richTemplateWrap {
	background: @c005;
	padding: .5rem;
}
#contentWrap{
    height: 100%;
    background: @c005;
}
    
 
