<!-- /**  
 * @Page:  财商教育落地页
 * @Author: songxiaoyu  
 * @Date:   2018-05-07 14:02:47  
 * @Last Modified by:   songxiaoyu  
 * @Last Modified time: 2018-05-10 11:03:24  
 * @ 添加埋点 
 * @ author ping 2019-2-20
 */ -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/financialEducation/static/css/landingPage.css">
    <title>恒天财富恒乐汇</title>
</head>

<body>
    <section class="container">
        <img src="" class="landing_img" alt="图片">
        <button class="join_btn">一键加入</button>
    </section>
    <script src="/include/js/vendor/zepto/zepto.js"></script>
    <script src="/include/js/vendor/root.js"></script>
    <!-- 添加埋点 -->
    @@include('@pathInclude/views/header.html')
    <script src="/financialEducation/static/js/landingPage.js"></script>
</body>

</html>