
/* as.chtfund.com服务器资源迁移到wap服务器中
author:purpleZhao
time:20180511 */
@charset"utf-8";
//当用到后台富文本编辑器的时候只需要引入baseClass.less不需要引入reset.less
@import url("../../../common/less/reset.less");
//错误提示
@import url("../../../common/less/components/againEnter.less");


body{
	background: @c005;
}
.promise .section {
  width: 94%;
  margin: 0 auto;
  font-size: 1.4rem;
}
.promise .section .text {
  margin-top: 30px;
  text-indent: 2rem;
  line-height: 24px;
  color: #333;
}
.promise .section .name {
  width: 45%;
  margin-top: 70px;
  margin-bottom: 35px;
  float: right;
  position: relative;
  height: 21px;
}
.promise .section .name hr {
  width: 70%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.promise .section .name p {
  position: absolute;
  bottom: 0;
  right: 0;
}
.promise .section .date {
  text-align: right;
}
.promise .section .date span {
  margin: 0 10px;
}
