@charset "utf-8";
html {
  font-size: 62.5%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
img,
i,
iframe,
a,
input,
button {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
ul,
li,
i {
  list-style: none;
}
.clear {
  clear: both;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
img {
  border: none;
  vertical-align: top;
}
a img,
a {
  border: none;
}
a,
button,
input,
.collection,
li,
i,
textarea {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  background: none;
  outline: none;
}
input[type="submit"],
input[type="reset"],
input[type="file"],
input[type="data"],
input[type="button"],
input[type="search"],
input[type="text"],
input[type="number"],
button,
textarea {
  -webkit-appearance: none;
}
input::-webkit-input-placeholder {
  color: #8a8a8a;
}
textarea::-webkit-input-placeholder {
  color: #8a8a8a;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
/* public */
.font {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 800px) {
  .container_fixed,
  .container {
    width: 640px;
    position: absolute;
    left: 50%;
    margin-left: -320px;
  }
  .footer .prev_btn {
    margin-right: -35% !important;
  }
  .footer .next_btn {
    margin-left: -35% !important;
  }
  .bottom ul,
  .help_nav,
  .bottom,
  .topnav ul {
    width: 640px !important;
  }
  .topnav ul {
    margin: 10px 0 !important;
  }
}
/* public */
/*单选按钮（常规方）*/
.container {
  position: relative;
}
.logo {
  width: 90%;
  margin: 0px auto 0;
  padding-top: 40px;
}
.logo img {
  width: 100%;
}
.identify {
  color: #8a8a8a;
  width: 90%;
  margin: 20px auto 0;
}
.identify h3 {
  color: #3c3c3c;
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  margin-left: 2%;
}
.identify .form_area {
  margin-top: 20px;
}
.identify .form_area p {
  width: 285px;
  margin: 10px auto;
}
.identify .form_area p span {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  display: inline-block;
}
.identify .form_area p span:nth-of-type(1) {
  width: 60px;
  text-align: right;
}
.identify .form_area p span:nth-of-type(2) {
  width: 90px;
  background: #eaeaea;
  font-size: 1.4rem;
  height: 32px;
  line-height: 32px;
  text-align: center;
  vertical-align: top;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.identify .form_area p input {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: #8a8a8a;
  background: #eaeaea;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  border: none;
  height: 32px;
  line-height: 30px;
  width: 195px;
  margin: 0 5px;
  padding: 0 5px;
}
.identify .form_area p:nth-of-type(2) input {
  width: 100px;
}
.identify .form_area p.pwd_wrap input {
  width: 195px;
}
.identify .form_area p:nth-of-type(3) {
  text-align: center;
  margin-top: 20px;
}
.identify .form_area p:nth-of-type(3) input {
  width: 40%;
  color: #3c3c3c;
}
.identify aside {
  background: #eaeaea;
  color: #8a8a8a;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  width: 90%;
  padding: 15px 3%;
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 20px auto 0;
}
.identify aside span {
  color: #e4020c;
  margin-right: 5px;
}
.identify .tips {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #8a8a8a;
  background: #eaeaea;
}
.identify .tips h4 {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  color: #8a8a8a;
  font-size: 1.4rem;
  margin: 0 0 10px 15px;
}
.identify .tips ul.lists li {
  font-size: 1.3rem;
  width: 100%;
  margin-top: 5px;
  display: flex;
  position: relative;
}
.identify .tips ul.lists li .iconfont {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  transform: scale(0.875);
  color: #8a8a8a;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 4px;
}
.identify .tips ul.lists li p {
  display: inline-block;
  line-height: 1.4;
  box-flex: 1;
  padding-left: 15px;
}
footer {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  background: #fff;
  font-size: 1.4rem;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
footer a {
  color: #8a8a8a;
  display: block;
  text-align: center;
}
footer:hover,
footer:visited {
  color: #8a8a8a;
}
.confirm {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.confirm div {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  background: #fff;
  width: 70%;
  padding: 20px 5%;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -40%;
}
.bofore_style {
  background: #eaeaea;
  color: #3c3c3c;
}
.after_style {
  background: #52c434;
  color: #fff;
}
.iden_suc .header {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: center;
  margin: 0 auto 30px;
  padding-top: 10%;
}
.iden_suc .header .iconfont {
  color: #52c434;
  font-size: 12rem;
}
.iden_suc h3 {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  color: #3c3c3c;
  text-align: center;
}
.iden_suc p {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  color: #8a8a8a;
  width: 75%;
  margin: 30px auto;
}
.iden_suc .btn {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
.iden_suc .btn a {
  color: #fff;
  background: #52c434;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
}
.user_bind {
  color: #8a8a8a;
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  width: 90%;
  margin: 20px auto 0;
}
.user_bind .area {
  background: #eaeaea;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 0 auto;
  padding: 20px 20px 30px;
}
.user_bind .area p:nth-of-type(1) {
  font-size: 1.8rem;
}
.user_bind .area .check {
  margin-top: 20px;
}
.user_bind .area .check .regular-checkbox {
  display: none;
}
.user_bind .area .check .regular-checkbox + label {
  -webkit-appearance: none;
  border: 1px solid #8a8a8a;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
}
.user_bind .area .check .regular-checkbox:checked + label:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: url(../img/icon.png);
  background-size: 16px 16px;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
.user_bind .area .check .regular-checkbox:checked + label {
  border: 1px solid #8a8a8a;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
.user_bind .area .check .regular-checkbox + label {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  background: #fff;
}
.user_bind .area .check span {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  vertical-align: top;
  margin-left: 5px;
  font-size: 1.4rem;
}
.user_bind .company_name {
  font-size: 1.2rem;
  margin-top: 5px;
}
.user_bind .company_name span {
  color: #3c3c3c;
  float: right;
  font-size: 1.4rem;
}
.user_bind .btn button {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  width: 30%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: none;
  float: left;
  margin: 35px 10% 0;
}
.user_bind .btn button:nth-of-type(1) {
  background: #eaeaea;
  color: #3c3c3c;
}
.user_bind .btn button:nth-of-type(2) {
  background: #52c434;
  color: #fff;
}
.product_detail .f_header {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  width: 80%;
  margin: 20px auto 0;
  border: 1px solid #eaeaea;
  padding: 20px 5%;
  position: relative;
}
.product_detail .f_header p {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  color: #3c3c3c;
  line-height: 1.5;
}
.product_detail .f_header p:nth-of-type(1) .iconfont {
  font-size: 3rem;
  color: #e4020c;
  position: absolute;
  left: 5px;
  top: -8px;
}
.product_detail .f_header p:nth-of-type(1) span {
  color: #fff;
  position: absolute;
  left: 9px;
  top: 0;
}
.product_detail .f_header p:nth-of-type(2) {
  font-size: 2.5rem;
  color: #e4020c;
  text-align: center;
}
.product_detail .f_header p:nth-of-type(3) {
  text-align: center;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.product_detail .f_header ul.detail {
  color: #3c3c3c;
  font-size: 1.4rem;
}
.product_detail .f_header ul.detail li {
  width: 50%;
  float: left;
  line-height: 1.5;
}
.product_detail .f_header ul.detail li span {
  color: #e4020c;
  margin-left: 5px;
}
.product_detail .g_header {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  width: 80%;
  margin: 20px auto 0;
  border: 1px solid #eaeaea;
  padding: 20px 5%;
  position: relative;
}
.product_detail .g_header p {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  color: #3c3c3c;
  line-height: 1.5;
}
.product_detail .g_header .title .iconfont {
  font-size: 3rem;
  color: #e4020c;
  position: absolute;
  left: 5px;
  top: -8px;
}
.product_detail .g_header .title span {
  color: #fff;
  position: absolute;
  left: 9px ;
  top: 0;
}
.product_detail .g_header ul.top {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.product_detail .g_header ul.top li {
  box-sizing: border-box;
  box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  text-align: center;
}
.product_detail .g_header ul.top li p span {
  font-size: 1.8rem;
}
.product_detail .g_header ul.top li p:nth-of-type(1) {
  font-size: 3rem;
  color: #e4020c;
}
.product_detail .g_header ul.top li p:nth-of-type(2) {
  font-size: 1.2rem;
  border: none;
  padding: 0;
  margin: 0;
}
.product_detail .g_header ul.top li:nth-of-type(2) {
  border-right: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
}
.product_detail .overview {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  color: #3c3c3c;
  width: 90%;
  margin: 10px auto 0;
}
.product_detail .overview h3 {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  background: #eaeaea;
  color: #3c3c3c;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}
.product_detail .overview h3 span {
  color: #545454;
  float: right;
  font-size: 3rem;
  line-height: 35px;
}
.product_detail .overview .slideBox {
  display: none;
  padding: 10px 5px 0;
}
.product_detail .overview .slideBox p {
  line-height: 1.4;
  color: #3c3c3c;
  font-size: 1.4rem;
}
.product_detail .overview .slideBox p span {
  color: #545454;
  font-size: 1.6rem;
}
.product_detail .overview .slideBox .table {
  border: 1px solid #eaeaea;
  border-bottom: none;
  border-right: none;
}
.product_detail .overview .slideBox .table li {
  border-bottom: 1px solid #eaeaea;
  height: 30px;
  line-height: 30px;
}
.product_detail .overview .slideBox .table li span {
  display: inline-block;
  text-align: center;
  width: 50%;
  box-sizing: border-box;
  border-right: 1px solid #eaeaea;
}
.per_center {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  width: 94%;
  margin: 0 auto;
}
.per_center .top {
  margin-top: 10px;
}
.per_center .top span {
  display: inline-block;
  color: #8a8a8a;
  float: right;
}
.per_center .top span:nth-of-type(1) {
  font-size: 5rem;
  padding-top: 10px;
}
.per_center .top span:nth-of-type(2) {
  font-size: 3rem;
  margin-right: 20px;
}
.per_center .top ul {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #8a8a8a;
  background: url("../img/bg.png") no-repeat 0 0;
  background-size: 120px 82px;
  width: 120px;
  height: 82px;
  position: absolute;
  top: 40px;
  right: 4%;
  padding: 15px 0;
}
.per_center .top ul li a {
  color: #8a8a8a;
  display: block;
  margin: 0 11px;
  padding: 7px 0;
  text-align: center;
}
.per_center .top ul li a:visited {
  color: #8a8a8a;
}
.per_center .top ul li:nth-of-type(1) a {
  border-bottom: 1px solid #8a8a8a;
}
.per_center .picture p {
  text-align: center;
  color: #8a8a8a;
  font-size: 1.6rem;
  margin-top: 5px;
}
.per_center .picture p img {
  border: 4px solid #eaeaea;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 55px;
  -webkit-border-radius: 55px;
}
.per_center .picture div:nth-of-type(1) {
  text-align: center;
}
.per_center .picture div:nth-of-type(1) p {
  width: 150px;
  text-align: left;
  margin: 10px auto 0;
}
.per_center .picture div:nth-of-type(1) p span {
  color: #f17011;
}
.per_center .picture div:nth-of-type(2) {
  text-align: center;
}
.per_center .picture div:nth-of-type(2) p {
  width: 150px;
  text-align: left;
  margin: 3px auto 0;
}
.per_center .picture div:nth-of-type(2) p span {
  color: #e4020c;
}
.per_center .user_msg {
  color: #8a8a8a;
  margin: 10px 0;
}
.per_center .user_msg span:nth-of-type(1) {
  color: #f17011;
  margin-right: 5px;
  font-size: 1.8rem;
}
.per_center .user_msg span:nth-of-type(2) {
  font-size: 1.6rem;
}
.per_center .user_msg span:nth-of-type(3) {
  font-size: 1.8rem;
  color: #e4020c;
}
.per_center .user_msg span:nth-of-type(4) {
  float: right;
  color: #e4020c;
  font-size: 2rem;
}
.per_center .list {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #8a8a8a;
  display: block;
  margin-bottom: 10px;
  border: 1px solid #eaeaea;
  padding: 0 10px;
  position: relative;
}
.per_center .list h3 {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  color: #f17011;
  font-size: 1.4rem;
  padding-left: 20px;
  line-height: 30px;
}
.per_center .list h3 .iconfont {
  color: #e4020c;
  position: absolute;
  left: 05px;
  top: -5px;
  font-size: 2.2rem;
}
.per_center .list h3 span {
  color: #fff;
  position: absolute;
  left: 8px;
  top: -6px;
  font-size: 1.2rem;
}
.per_center .list .datalist {
  border-top: 1px solid #eaeaea;
  padding: 10px 0 0;
}
.per_center .list .datalist div {
  float: left;
  box-sizing: border-box;
  padding: 10px 0 20px;
}
.per_center .list .datalist div:nth-of-type(1) {
  width: 40%;
  text-align: center;
  border-right: 1px solid #eaeaea;
}
.per_center .list .datalist div:nth-of-type(1) p:nth-of-type(1) {
  color: #e4020c;
  font-size: 2rem;
  margin-bottom: 10px;
}
.per_center .list .datalist div:nth-of-type(1) p:nth-of-type(1) span {
  font-size: 1.5rem;
}
.per_center .list .datalist div:nth-of-type(1) p:nth-of-type(2) {
  font-size: 1.4rem;
}
.per_center .list .datalist div:nth-of-type(2) {
  width: 60%;
  padding-left: 20px;
}
.per_center .list .datalist div:nth-of-type(2) p {
  font-size: 1.4rem;
  margin-bottom: 5px;
}
.per_center .list .datalist div:nth-of-type(2) p span {
  color: #e4020c;
  margin-left: 5px;
}
.per_center .list:visited {
  color: #8a8a8a;
}
.alert_box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.alert_box div {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  background: #fff;
  width: 70%;
  padding: 20px 5%;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -40%;
}
.alert_box div p:nth-of-type(2) {
  margin: 20px 0 0;
}
.alert_box div p:nth-of-type(2) button {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  width: 80px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border: none;
}
.alert_box div p:nth-of-type(2) button:nth-of-type(1) {
  color: #3c3c3c;
  background: #eaeaea;
  margin-right: 20px;
}
.alert_box div p:nth-of-type(2) button:nth-of-type(2) {
  color: #fff;
  background: #52c434;
}
.outer .header {
  padding-top: 20px;
  width: 100%;
  text-align: center;
}
.outer .header input {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  color: #8a8a8a;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 1.4rem;
  width: 70%;
  border: 1px solid #eaeaea;
  height: 38px;
  line-height: 38px;
  padding-left: 1%;
}
.outer .header .iconfont {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  color: #8a8a8a;
  font-size: 2.8rem;
  margin: 0px 0 0 10px;
  vertical-align: top;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  /*vertical-align: top;*/
}
.outer .msg_box {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  width: 96%;
  margin: 30px auto;
}
.outer .msg_box div {
  padding: 20px 15px;
  background: #eaeaea;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
.outer .msg_box .msg_list {
  margin-bottom: 10px;
}
.outer .msg_box .msg_list p {
  line-height: 1.5;
}
.outer .msg_box .fail_box {
  padding: 30px 15px;
}
.outer .msg_box .fail_box p {
  color: #e4020c;
  text-align: center;
}
.outer .search_financial {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  margin-top: 10px;
}
.outer .search_financial h2 {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  color: #3c3c3c;
  margin: 15px 0 10px;
  text-align: left;
  margin-left: 3%;
}
.outer .search_financial .list {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #8a8a8a;
  display: block;
  border: 1px solid #eaeaea;
  width: 88%;
  margin: 0 auto 10px;
  padding: 0 3%;
  position: relative;
}
.outer .search_financial .list h3 {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  color: #f17011;
  font-size: 1.4rem;
  padding-left: 20px;
  line-height: 30px;
}
.outer .search_financial .list h3 .iconfont {
  color: #e4020c;
  position: absolute;
  left: 05px;
  top: -4px;
  font-size: 2.2rem;
}
.outer .search_financial .list h3 span {
  color: #fff;
  position: absolute;
  left: 8px;
  top: -6px;
  font-size: 1.2rem;
}
.outer .search_financial .list .datalist {
  border-top: 1px solid #eaeaea;
  padding: 10px 0 0;
}
.outer .search_financial .list .datalist div {
  float: left;
  box-sizing: border-box;
  padding: 10px 0 20px;
}
.outer .search_financial .list .datalist div:nth-of-type(1) {
  width: 40%;
  text-align: center;
  border-right: 1px solid #eaeaea;
}
.outer .search_financial .list .datalist div:nth-of-type(1) p:nth-of-type(1) {
  color: #e4020c;
  font-size: 2rem;
  margin-bottom: 10px;
}
.outer .search_financial .list .datalist div:nth-of-type(1) p:nth-of-type(1) span {
  font-size: 1.5rem;
}
.outer .search_financial .list .datalist div:nth-of-type(1) p:nth-of-type(2) {
  font-size: 1.4rem;
}
.outer .search_financial .list .datalist div:nth-of-type(2) {
  width: 60%;
  padding-left: 20px;
}
.outer .search_financial .list .datalist div:nth-of-type(2) p {
  font-size: 1.4rem;
  margin-bottom: 5px;
  text-align: left;
}
.outer .search_financial .list .datalist div:nth-of-type(2) p span {
  color: #e4020c;
  margin-left: 5px;
}
.outer .search_financial .list:visited {
  color: #8a8a8a;
}
.outer .search_financial .list .mask {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.outer .search_financial .list .mask img {
  width: 103px;
  height: 82px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -51px;
  margin-top: -41px;
}
.outer .search_box {
  color: #8a8a8a;
  width: 90%;
  padding: 0 5% 60px;
  position: relative;
}
.outer .search_box .box_list {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  width: 96%;
  margin: 30px auto;
}
.outer .search_box .box_list div {
  padding: 20px 15px;
  background: #eaeaea;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
.outer .search_box .box_list .msg_list {
  margin-bottom: 10px;
}
.outer .search_box .box_list .msg_list p {
  line-height: 1.5;
}
.outer .search_box .box_list .fail_box {
  padding: 30px 15px;
}
.outer .search_box .box_list .fail_box p {
  color: #e4020c;
  text-align: center;
}
.outer .search_box .tips {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #8a8a8a;
  background: #eaeaea;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  width: 90%;
  margin: 0 auto;
  padding: 15px 3%;
}
.outer .search_box .tips h4 {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  color: #8a8a8a;
  font-size: 1.4rem;
  margin: 0 0 10px 15px;
}
.outer .search_box .tips ul.lists li {
  font-size: 1.3rem;
  width: 100%;
  margin-top: 5px;
  display: flex;
  position: relative;
}
.outer .search_box .tips ul.lists li .iconfont {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  transform: scale(0.875);
  color: #8a8a8a;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 4px;
}
.outer .search_box .tips ul.lists li p {
  display: inline-block;
  line-height: 1.4;
  box-flex: 1;
  padding-left: 15px;
}
.cancel_bind {
  width: 90%;
  margin: 0 auto;
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  color: #8a8a8a;
}
.cancel_bind h3 {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  color: #e4020c;
  font-size: 2.2rem;
  margin: 75px 0 10px;
}
.cancel_bind p {
  font-size: 1.4rem;
}
.cancel_bind .area .tips {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #8a8a8a;
  background: #eaeaea;
  padding: 20px 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-top: 15px;
}
.cancel_bind .area .tips h4 {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  color: #8a8a8a;
  font-size: 1.4rem;
  margin: 0 0 10px 15px;
}
.cancel_bind .area .tips ul.lists li {
  font-size: 1.3rem;
  width: 100%;
  margin-top: 5px;
  display: flex;
  position: relative;
}
.cancel_bind .area .tips ul.lists li .iconfont {
  font: 1.6rem/1 "Simhei", 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  transform: scale(0.875);
  color: #8a8a8a;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 4px;
}
.cancel_bind .area .tips ul.lists li p {
  display: inline-block;
  line-height: 1.4;
  box-flex: 1;
  padding-left: 15px;
}
.cancel_bind .area .tips h4 {
  font-size: 1.5rem;
  margin-left: 0;
}

/*# sourceMappingURL=personal.css.map */
