html {
  font-size: 62.5%;
}
body,
h1,
div,
p,
hr {
  margin: 0;
  padding: 0;
  font-family: "Microsoft yahei";
}
.clx:before {
  clear: both;
  content: "";
  display: table;
}
.clx:after {
  clear: both;
  content: "";
  display: table;
}
.container .wrap {
  width: 100%;
  background-color: #464646;
}
.container .header {
  width: 94%;
  margin: 0 auto;
  position: relative;
  height: 40px;
  color: #f8aa3b;
  text-align: center;
  font-size: 1.6rem;
  line-height: 40px;
}
.container .header .ico {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "helvetica neue";
}
.container .section {
  width: 94%;
  margin: 0 auto;
  font-size: 1.4rem;
}
.container .section .text {
  margin-top: 30px;
  text-indent: 2rem;
  line-height: 24px;
  color: #333;
}
.container .section .name {
  width: 45%;
  margin-top: 70px;
  margin-bottom: 35px;
  float: right;
  position: relative;
  height: 21px;
}
.container .section .name hr {
  width: 70%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.container .section .name p {
  position: absolute;
  bottom: 0;
  right: 0;
}
.container .section .date {
  text-align: right;
}
.container .section .date span {
  margin: 0 10px;
}
.container .section .check {
  margin-top: 7px;
  color: #333;
}
.container .section .check .title {
  margin-top: 15px;
  font-size: 1.6rem;
  margin-bottom: 13px;
}
.container .section .check .ftitle {
  line-height: 24px;
  font-size: 1.4rem;
}
.container .section .risk p {
  text-align: center;
  font-size: 1.6rem;
}
.container .section .risk .first {
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 500;
}
.container .section .risk .second {
  margin-bottom: 20px;
  color: #faaa3b;
  font-weight: 600;
}
.container .section .risk .third {
  margin-bottom: 21px;
}
.container .section .risk .four img {
  width: 100%;
}
.container .section .risk .fifth a {
  display: block;
  background-color: #fdaa30;
  width: 100%;
  border-radius: 10px;
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 12px 0;
  margin-top: 20px ;
}


