@charset"utf-8";
//当用到后台富文本编辑器的时候只需要引入baseClass.less不需要引入reset.less
@import url("../../../common/less/baseClass.less");
//错误提示
@import url("../../../common/less/components/againEnter.less");
.container_regard {
    position: relative;
    background:@c012;
	.top_title{
	  color: @c003;
	}
	.top_title div{
	  padding: 3rem 0 1.6rem;
	  text-align: center;
	  width: 14%;
	  margin:0 43%;

	}
	.top_title div img{
	  width: 100%;
	}
	.top_title p{
	  text-align: center;
	  padding-bottom: 2.1rem;
	}
	.regard {
		background: @c005;
		padding:1.6rem; 
	}
	.regard .description {
	  color: @c002;
	  width: 100%;
	}
	.regard .content{
		margin-top:1.6rem;
	}
}



