/*
 * @Author: chennn 
 * @Date: 2019-11-22 10:51:36 
 * @Last Modified by: chennn
 * @Last Modified time: 2019-11-22 14:12:02
 */


@import url("../../../../include/css/mui.min.css");
@import url('@pathCommonLess/mui/resetMUI.less');
@import url("@pathCommonLess/reset.less");
@import url("@pathCommonLess/color.less");

// @import url("@pathCommonLessCom/againEnter.less");
// @import url("@pathCommonLessCom/alertBox.less");
@import url("@pathCommonLessCom/headBarConfig.less");
@import url("@pathCommonLessCom/tabScroll.less");
body{
	background: @F7FAFD
}
.fundPdf{
	.topContent{
		.headBar{
			height: 1.5rem;
			background: @FFFFFF;
		}
	}
}