/*
 * @Author: chennn 
 * @Date: 2019-11-22 10:51:36 
 * @Last Modified by: chennn
 * @Last Modified time: 2019-11-22 16:58:38
 */


@import url("@pathCommonLess/mui/resetMUI.less");
// @import url("@pathCommonLessCom/alertBox.less");
@import url("@pathCommonLessCom/headBarConfig.less");
//@import url("@pathCommonLessCom/tabScroll.less");
 @import url("@pathCommonCom/elasticLayer/elasticLayer/elasticLayer.less");
body{
	background: @F7FAFD
}
.fundPdf{
	.headBar{
		height: 1.28rem;
		width: 100%;
		background: @FFFFFF;
		border-bottom: 1px solid @DDDDDD;
		position: fixed;
		.downLoad{
			position: absolute;
			right: 0.3rem;
			// top:50%;
			// margin-top: -0.15rem;
			font-size: 0.3rem;
			height: 0.88rem;
			line-height: 0.88rem;
			top: 0.4rem;
			color: @BB8E5F;
			z-index: 9999;
		}
	}
	.pdfContentBox{
		padding-top: 1.5rem;
		.pdfContent{
			min-height: 4rem;
			background: @FFFFFF;
			//margin: 0.6rem 0.6rem 0;
		}
	}
	
}
.listLoading{
	margin-top: 1rem;
}
