/**
* 私募交易规则
* @author yanruiting 2019-11-29
*/

@import url("@pathCommonLess/mui/resetMUI.less");
@import url("@pathCommonLessCom/noDataImg.less");
@import url("@pathCommonLessCom/againEnter.less");
@import url("@pathCommonLessCom/alertBox.less");
@import url("@pathCommonLessCom/headBarConfig.less");

html{
    height: 100%;
    background: @c005;
}
body {
	background: @c005;
}
#contentWrap{
    height: 100%;
    background: @c005;
}
.without {
	background: #fff;
}

/* @import url("@pathCommonLess/mui/resetMUI.less");

@import url("@pathCommonLessCom/againEnter.less");
@import url("@pathCommonLessCom/alertBox.less");
@import url("@pathCommonLessCom/headBarConfig.less");
body{
    max-width: 7.5rem;
    background: #F7FAFD;
}
.HeadBarConfigBox {
	box-shadow:0px 0px 4px 0px rgba(135,135,135,0.5);
}
.ruleCon {
	margin-top: .3rem;
	background: @FFFFFF;
	.title {
		font-size: .32rem;
		line-height: 1rem;
		height: 1rem;
		padding-left: .3rem;
		color: @272727;
		font-weight: 600;
		border-bottom: 1px solid #E7E9ED;
	}
	.content {
		padding: .3rem;
		font-size: .28rem;
		line-height: .4rem;
		&>img {
			width: 100%;
			height: auto;
			margin: 0 auto;
		}
	}
} */