<!-- /*
 * @page:产品档案
 * @Author: wangjiajia
 */ -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     @@include('@pathInclude/views/meta.html')
     <link rel="stylesheet" href="/life/static/css/demo.css">
     <title>产品档案</title>
 <body>
    
   <ul class="mui-table-view timeSelect"> 
           <li class="mui-table-view-cell mui-collapse">
               <a class="mui-navigate-right" href="javascript:;" needCheck="true" check="timeSelect" num="" errortip="请选择您的证件到期日">请选择您的证件到期日</a>
           </li>
       </ul>


    <ul class="mui-table-view  provinceSelect"> 
        <li class="mui-table-view-cell mui-collapse">
            <a class="mui-navigate-right" href="javascript:;">所在省份</a>
        </li>
    </ul>

    

    @@include('@pathInclude/views/footer.html')

     <script src="/life/static/js/demo.js"></script>


 </body>
 
 </html>