/**
* 
* @author yanruiting 2019-11-25
*/
@import url("../../../include/css/mui.min.css");
@import url('@pathCommonLess/mui/resetMUI.less');
@import url("@pathCommonLess/reset.less");
@import url("@pathCommonLess/color.less");

@import url("@pathCommonLessCom/againEnter.less");
@import url("@pathCommonLessCom/alertBox.less");
@import url("@pathCommonLessCom/headBarConfig.less");

.list {
	.wrapper {
		.knownList {
			padding-left: .3rem;
			background: @FFFFFF;
			.knownItem {
				padding: .3rem .3rem .3rem 0;
			}
		}
	}
}