/**
* 
* @author liliang 2019-11-25
*/
@import url("../../../include/css/mui.min.css");
@import url('@pathCommonLess/mui/resetMUI.less');
@import url("@pathCommonLess/reset.less");
@import url("@pathCommonLess/color.less");

@import url("@pathCommonLessCom/againEnter.less");
@import url("@pathCommonLessCom/alertBox.less");
@import url("@pathCommonLessCom/headBarConfig.less");
// .mui-slider-indicator /deep/ .mui-indicator{
// 	width:0.1rem !important;
// 	height:0.1rem !important;
// }
// /deep/ .mui-active{
// 	background: #fff !important;

// }
// .box /deep/ .mui-slider-indicator{
// 	bottom:0px !important;
// }
.box{
	.hotWords{
		padding:0.3rem;
		background:#FFFFFF;
		.title {
			display:-webkit-box;
			margin-bottom:0.2rem;
			h2{
				color:#272727;
				font-size:0.44rem;
				-webkit-box-flex:1;
			}
			p{
				color:#9B9B9B;
				font-size:0.28rem;
				-webkit-box-flex:1;
				text-align: right;
				line-height:0.6rem;
			}
		}
	}
}