/**
* 消息中心-系统通知
* @author yanruiting 2019-11-15
*/
@import url("../../../include/css/mui.min.css");
@import url('@pathCommonLess/mui/resetMUI.less');
@import url("@pathCommonLess/reset.less");
@import url("@pathCommonLess/color.less");

@import url("@pathCommonLessCom/againEnter.less");
@import url("@pathCommonLessCom/alertBox.less");
@import url("@pathCommonLessCom/headBarConfig.less");

body{
    max-width: 7.5rem;
}
#systemInformsBox {
	width: 7.5rem;
    min-height: 3.2rem;
    position: relative;
    .HeadBarConfigBox {
    	box-shadow:0px 0px 4px 0px rgba(135,135,135,0.5);
    }
}