<!-- /*
 * @page:历史明细
 * @Author: chentiancheng 11-28
 */ -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     @@include('@pathInclude/views/meta.html')
     <link rel="stylesheet" href="/account/static/css/public/mineHistoryDetail.css">
     <title>历史明细</title>
 <body>
     <!-- 加载中loading -->
     @@include('@pathCommonCom/loading/listLoading.html')
     <!-- @@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#2C3E77,#273971","showType":"0","pathName":"历史明细"}) -->
     <div class="wrap">
         <div class="topTitle">
             @@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#2C3E77,#273971","showType":"0","pathName":"历史明细"})
         </div>
         <div class="title">
             <ul class="titleContent">
                 <!--<li>日期</li>
                 <li>七日年化</li>
                 <li>万份收益(元)</li>
                 -->
             </ul>
         </div>
         @@include('@pathCommonCom/noData/noData.html', {"tipText": "暂无数据"})
         <div class="list"></div>
         <script id="adjustment-template" type="text/x-handlebars-template">
             {{#each this}}
                <ul class="contentWrapUl listItem">
                    <li>{{trdDt}}</li>
                    <li  class="value">{{annYldRat}}%</li>
                    <li>{{unitYld}}</li>
                </ul>
             {{/each}}
         </script>
         <script id="adjustment-template_1" type="text/x-handlebars-template">
            {{#each this}}
               <ul class="contentWrapUl listItem">
                   <li>{{trdDt}}</li>
                   <li>{{unitNav}}</li>
                   <li>{{accuUnitNav}}</li>
                   <li class="value">{{dayChgRat}}%</li>
               </ul>
            {{/each}}
        </script>
         <!-- <div class="noDataMore">
             
         </div> -->
     </div>
 
     @@include('@pathInclude/views/footer.html')
     
 
     <script src="/account/static/js/public/mineHistoryDetail.js"></script>
 </body>
 
 </html>