<!-- 
	自选公募产品详情页

	@author 田俊国 20191120
	updata caoqihai 2020-1-13
 	修改 头部渐变色色值

-->

<!doctype html>
<html lang="en">

<head>
    @@include('@pathInclude/views/meta.html')
    <link rel="stylesheet" href="/account/static/css/public/optionalPublicDetail.css">
    <title></title>
</head>

<body>

	<div class="privateDetail">

		<div class="topContent">
			<div id="fundCodeWrap">--</div>
			@@include('@pathCommonCom/loading/listLoading.html')
	 		@@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#1A2B63, #293A70","showType":"1","serviceType":"1","iconStype":"详情"})

	 		<div class="hide typeWrap type_0">
	 			<!-- 类型一 货币资产-->	
	 			<div class="con">
		 			<div class="bannerTop clearfix">
		 			    <div class="sum fl"><span class="j_text">总金额 (元)</span></div>
		 			</div>
		 			<div class="totalM">--</div>
		 			<div class="toConfirm">待确认金额 <span class="confirmMoney">--</span></div>
		 			<ul class="mui-row type">
		 			    <li class="mui-col-sm-4 mui-col-xs-4">
		 			        <span>昨日收益 （元）</span>
		 			        <span class="num yesterdayShare">--</span>
		 			    </li>
		 			    <li class="mui-col-sm-4 mui-col-xs-4">
		 			        <span>持有收益 （元）</span>
		 			        <span class="num ownShare">--</span>
		 			    </li>
		 			    <li class="mui-col-sm-4 mui-col-xs-4">
		 			        <span>累计收益 （元）</span>
		 			        <span class="num accumulatedShare">--</span>
		 			    </li>
		 			</ul>
		 		</div>

	 			<!-- 展开按钮  -->
	 			<div class="openButton">
	 				<img src="/common/img/arrow_down_blue.png" class="img">
	 				<img src="/common/img/arrow_up_blue.png" class="openImg">
	 			</div> 

	 			<!-- 隐藏区域 -->
	 			<div class="mui-row openWrap">
 					<div class="openDiv mui-col-sm-6 mui-col-xs-6">
	 						<p class="txt">持有份额</p>
	 						<p class="num cyfe">--</p>
 					</div>
 					<div class="openDiv mui-col-sm-6 mui-col-xs-6">
	 						<p class="txt">可用份额</p>
	 						<p class="num kyfe">--</p>
 					</div>
 					<div class="openDiv mui-col-sm-6 mui-col-xs-6">
	 						<p class="txt">七日年化</p>
	 						<p class="num qrnh">--</p>
 					</div>
 					<div class="openDiv mui-col-sm-6 mui-col-xs-6">
	 						<p class="txt">万份收益</p>
	 						<p class="num wfsy">--</p>
 					</div>
	 			</div>
		 		
	 		</div>

	 		<div class="hide typeWrap type_1">
	 			<!-- 类型1 非货币资产-->	
	 			<div class="con">
		 			<div class="bannerTop clearfix">
		 			    <div class="sum fl"><span class="j_text">总金额 (元)</span></div>
		 			</div>
		 			<div class="totalM">--</div>
		 			<div class="toConfirm">待确认金额 <span class="confirmMoney">--</span></div>
		 			<ul class="mui-row type">
		 			    <li class="mui-col-sm-4 mui-col-xs-4">
		 			        <span>昨日收益 （元）</span>
		 			        <span class="num yesterdayShare">--</span>
		 			    </li>
		 			    <li class="mui-col-sm-4 mui-col-xs-4">
		 			        <span>持有收益 （元）</span>
		 			        <span class="num ownShare">--</span>
		 			    </li>
		 			    <li class="mui-col-sm-4 mui-col-xs-4">
		 			        <span>累计收益 （元）</span>
		 			        <span class="num accumulatedShare">--</span>
		 			    </li>
		 			</ul>
		 		</div>
		 		
		 		<!-- 展开按钮  -->
	 			<div class="openButton">
	 				<img src="/common/img/arrow_down_blue.png" class="img">
	 				<img src="/common/img/arrow_up_blue.png" class="openImg">
	 			</div> 

	 			<!-- 隐藏区域 -->
	 			<div class="mui-row openWrap">
 					<div class="openDiv mui-col-sm-6 mui-col-xs-6">
	 						<p class="txt">持有份额</p>
	 						<p class="num cyfe">--</p>
 					</div>
 					<div class="openDiv mui-col-sm-6 mui-col-xs-6">
	 						<p class="txt">最新净值</p>
	 						<p class="num zxjz">--</p>
 					</div>
 					<div class="openDiv mui-col-sm-6 mui-col-xs-6">
	 						<p class="txt">可用份额</p>
	 						<p class="num kyfe">--</p>
 					</div>
 					<div class="openDiv mui-col-sm-6 mui-col-xs-6">
	 						<p class="txt">日涨幅</p>
	 						<p class="num rzf">--</p>
 					</div>
	 			</div>

	 		</div>
	 	</div>

	 	<div class="midContent">
	 			
	 		<div class="mui-row actionWrap">
	 		    <div class="mui-col-sm-6 mui-col-xs-6 symx">
	 		    	<img class="img" src="/account/static/img/account_icon_symx.png">
	 		        <span class="txt">收益明细</span>
				</div>
	 		    <div class="mui-col-sm-6 mui-col-xs-6 jyjl">
	 		       	<img class="img" src="/account/static/img/account_icon_jyjl.png">
	 		        <span class="txt">交易记录</span>
	 		    </div>
	 		</div>	

	 		<div class="hide lineWrap">
	 			<div class="clearfix titleWrap">
	 				<span class="title qrnh active">七日年化</span>
	 				<span class="title wfsy hidden">万份收益</span>
	 				
	 				<div class="arrow">
	 					<i class="iconfont jump">&#xe67d;</i>
	 					<!-- <span class="img"></span> -->
	 				</div>

	 				<span class="rightTitle historyDetail">历史明细</span>
	 			</div>
	 			<div class="lineDraw">
	 				<!-- 七日年化折线图 -->
	 				<div id="qrnhLine" class="line"></div>
	 				<!-- 万份收益折线图 -->
	 				<div id="wfsyLine" class="hide line"></div>
	 				<!-- 无数据提示 -->
	 				<div class="hide noDataHintEcharts">暂无数据</div>
	 				<div class='mui-row tab'>
	 					<span class="mui-col-sm-2 mui-col-xs-2 time oneMonth active" num="0">近一个月</span>
	 					<span class="mui-col-sm-2 mui-col-xs-2 time threeMonth" num="1">近三个月</span>
	 					<span class="mui-col-sm-2 mui-col-xs-2 time sixMonth" num="2">近六个月</span>
	 					<span class="mui-col-sm-2 mui-col-xs-2 time newYear" num="3">近一年</span>
	 					<span class="mui-col-sm-3 mui-col-xs-3 time sinceNow" num="4">成立至今</span>
	 				</div>
	 			</div>

	 		</div>

	 		<div class="dealReg">
 				<div class="titleWrap">分红方式
 					<div class="arrow">
	 					<i class="iconfont jump">&#xe67d;</i>
	 				</div>
	 				<div class="dividend">--</div>
 				</div>
 				
 			</div>


 			<!--默认为不显示。路径传参过来在判断哪个显示-->
 			<div class="mui-row footer">
 				<div class="mui-col-sm-6 mui-col-xs-6 buttonStyle blueTxtButton  redeemBtn">赎回</div>
 				<div class="mui-col-sm-6 mui-col-xs-6 buttonStyle blueBgButton buyBtn">买入</div>
 			</div>
 			
 			<div class="mui-row footer">
 				<div class="mui-col-sm-4 mui-col-xs-4 buttonStyle blueTxtButton redeemBtn">赎回</div>
 				<div class="mui-col-sm-4 mui-col-xs-4 buttonStyle blueTxtButton fiedBtn">定投</div>
 				<div class="mui-col-sm-4 mui-col-xs-4 buttonStyle blueBgButton buyBtn">买入</div>

 			</div>

		 </div>
		 <div class="isRiskMatchBox">
			<div class="isRiskMatchBox_contentBox">
				<div class="headTital">尊敬的用户</div>
				   <div class='isRiskMatchBox_header'>你选择的产品与您现在的风险承受能力相匹配</div>
				   <div class="isRiskMatchBox_footer">
					   <div class="isRiskMatchBox_match">确定</div>
					   <div class="isRiskMatchBox_noMatch"><button class="isRiskMatchBox_cancel">放弃购买</button> <button class="isRiskMatchResult">查看评测结果</button></div>
				   </div>
			</div>
		</div>
		<div class="isRiskMatch_mask"></div>
	</div>
	@@include('@pathCommonViews/authenticationProcess.html',{"pathTitle":"购买公募产品前，请完成以下认证"}) 
	
	@@include('@pathInclude/views/footer.html')
	<script src="/allServerResources/include/js/vendor/echarts/echarts.min.js"></script>
	<script src="/allServerResources/include/js/vendor/clipboard/clipboard.js"></script>
	<script src="/account/static/js/public/optionalPublicDetail.js"></script>

</body>

</html>