<!-- /*
 * @page:历史明细
 * @Author: tianjunguo 12-5
 */ -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     @@include('@pathInclude/views/meta.html')
     <link rel="stylesheet" href="/account/static/css/public/otherFundHistoryDetail.css">
     <title>历史明细</title>
 <body>
     <!-- 加载中loading -->
     @@include('@pathCommonCom/loading/listLoading.html')
     <!-- @@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#2C3E77,#273971","showType":"0","pathName":"历史明细"}) -->
     <div class="wrap">
         <div class="topTitle">
             @@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#2C3E77,#273971","showType":"0","pathName":"历史明细"})
         </div>
         <div class="title">
             <ul class="titleContent">
                 <li>日期</li>
                 <li>单位净值</li>
                 <li>累计净值</li>
                 <li>日涨幅(%)</li>
             </ul>
         </div>
         @@include('@pathCommonCom/noData/noData.html', {"tipText": "暂无数据"})
         <div class="list"></div>
         
         <script id="adjustment-template" type="text/x-handlebars-template">
             {{#each this}}
                <ul class="contentWrapUl listItem">
                     <li>{{trdDt}}</li>
                     <li>{{unitNav}}</li>
                     <li>{{accuUnitNav}}</li>
                     <!--<li>{{dayChgRat}}</li>-->
					 {{#if_red dayChgRat}}
					<li style="color:red">{{dayChgRat}}</li>
					{{else}}
					<li style="color:green">{{dayChgRat}}</li>
					{{/if_red}}
                 </ul>
             {{/each}}
         </script>
     </div>
 
     @@include('@pathInclude/views/footer.html')
     
 
     <script src="/account/static/js/public/otherFundHistoryDetail.js"></script>
 </body>
 
 </html>