



<!-- /**  
 * @Page:  支付
 * @Author: tianjunguo  
 * @Date:   2019-11-25 17:44:32  
 * @Last Modified by:   tianjunguo  
 */ -->
<!DOCTYPE html>
<html style="height: 100%;">

<head>
	@@include('@pathInclude/views/meta.html')
    <link rel="stylesheet" href="/account/static/css/public/payPassword.css">
    <title>输入密码</title>
	<style>

	</style>
</head>

<body style="height:100%">
	
	<div class="passwordWrap">
		<div class="passwordTop">
			<header class="mui-row">
				<i class="iconfont closeBtn">&#xe60c;</i>
				<!--<span class="pleaseInput">-->
					请输入交易密码
				<!--</span>-->
				<span class="forgetP">忘记密码?</span>
			</header>
			<div class="write-mark" style="">
				<div class="write-code">
					<div class="write-con">
						<div class="pwd-box">
							<input type="tel" maxlength="6" class="pwd-input" id="pwd-input">
							<div class="fake-box">
								<input type="password" readonly="" />
								<input type="password" readonly="" />
								<input type="password" readonly="" />
								<input type="password" readonly="" />
								<input type="password" readonly="" />
								<input type="password" readonly="" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    @@include('@pathInclude/views/footer.html')
    <!-- 添加埋点 -->
    @@include('@pathInclude/views/header.html')
    <script src="/include/js/iscroll.js"></script>
    <script src="/account/static/js/public/payPassword.js"></script>
</body>

</html>
