<!-- 
	公募产品详情页
	@author shiyunrui 20191123
-->
<!doctype html>
<html lang="en">

<head>
    @@include('@pathInclude/views/meta.html')
    <link rel="stylesheet" href="/account/static/css/public/publicDetail.css">
    <title></title>
</head>

<body>
	<!-- @@include('@pathCommonViews/load.html')  -->
	<div class="publicDetail">
		<div class="topContent"> 
			@@include('@pathCommonViews/headBarConfig.html',{"pathName":"普通基金","bgColors":"#031349,#031349","showType":"1"})
			<div class="day_gain">日涨幅</div>
			<div class="day_gain_value">+0.01%</div>
			<div class="new_worth">最新净值(11-01)</div>
			<div class="new_worth_value">1.2213</div>
			<div class="type">
				<div class="type_1">稳健型</div>
				<div class="type_2">指数型</div>
				<div class="type_3">10000.0元起购</div>
			</div>
	 	</div>
	 	<div class="midContent">	
			<div class="max_amount_area">
				<!-- 限大额区域 -->
				<div class="max_amount fl"></div>
				<div class="max_amount_value fl">单日单账户限额5000万</div>
			</div>
			<div class="net_worth_area">
				<!-- 净值区域 -->
				<div class="net_worth_item">
					<div class="title">近一周</div>
					<div class="value_red">+6.56%</div>
				</div>
				<div class="net_worth_item">
					<div class="title">近三个月</div>
					<div class="value_green">-0.35%</div>
				</div>
				<div class="net_worth_item">
					<div class="title">近一年</div>
					<div class="value_red">+14.56%</div>
				</div>
				<div class="net_worth_item">
					<div class="title">成立来</div>
					<div class="value_red">+20.56%</div>
				</div>
			</div>
	 		<div class="lineWrap">
				<div class="line_area">
					<!-- 折线部分 -->
				</div>
				<div class='tab'>
						<span class="oneMonth active">月</span>
						<span class="threeMonth">季</span>
						<span class="newYear">半年</span>
						<span class="sinceNow">一年</span>
						<span class="oneMonth">成立以来</span>
				</div>
			 </div>
			 <div class="history_area">
				<div class="history_header">
					<div class="fl">历史净值</div>
					<div class="fr">查看更多</div>
					<span class="iconfont fr">&#xe636;</span>
				</div>
				<div class="history_item_name">
					<div>日期</div>
					<div>单位净值</div>
					<div>累计净值</div>
					<div>日涨幅</div>
				</div>
				<!-- 用handleBar去渲染数据 -->
				<div class="history_item">
					<div>2019-10-14</div>
					<div>2.1232</div>
					<div>2.1232</div>
					<div>+1.22%</div>
				</div>
				<div class="history_item">
					<div>2019-10-14</div>
					<div>2.1232</div>
					<div>2.1232</div>
					<div>+1.22%</div>
				</div>
				<div class="history_item">
					<div>2019-10-14</div>
					<div>2.1232</div>
					<div>2.1232</div>
					<div>+1.22%</div>
				</div>
			 </div>
	 		<div class="dealReg">
	 			<div class="dealMid">
	 				<div class="titleWrap">交易规则
	 					<div class="arrow">
		 					<span class="img"></span>
		 				</div></div>
		 			<div class="dealRegMid">
		 				<div class="nav" id="redeemNav">
		 					<span class="navSpan quick active" type="1">快速赎回</span>
		 					<span class="navSpan normal" type="2">普通赎回</span>
		 				</div>
		 				<div class="line">
		 					<div class="clearfix line_title">
			 					<span class="top_l">赎回申请</span>
			 					<span class="top_r">付款</span>
			 				</div>
		 					<img class="lineDiv" src="/account/static/img/productDetail/regLine.png">
		 					<div class="clearfix line_bottom">
			 					<span class="bottom_l" id="tradeDatePre">--</span>
			 					<span class="bottom_r" id="tradeDateNext">--</span>
			 				</div>
		 				</div>
		 				<ul class="detail">
		 					<li id="tradeExplain"></li>
		 					<li id="tradeFee"></li>
		 				</ul>
		 			</div>
		 		</div>
		 		<div class="dealBottom">
	 				<div class="titleWrap">产品档案
	 					<div class="arrow">
	 						<span class="img"></span>
	 					</div>
	 				</div>
	 				<div class="titleWrap">信息披露
	 					<div class="arrow">
	 						<span class="img"></span>
	 					</div>
	 				</div>
	 			</div>
 			</div>
 			<div class="footer">
 				<div class="redeemBtn">赎回</div>
 				<div class="subscribeBtn">申购</div>
 			</div>
	 	</div>
	</div>

	@@include('@pathInclude/views/footer.html')
	@@include('@pathInclude/views/header.html')
	<script src="/include/js/vendor/echarts/echarts.min.js"></script>
	<script src="/account/static/js/public/publicDetail.js"></script>

</body>

</html>