<!-- 
	公募产品详情页
	@author shiyunrui 20191123
-->
<!doctype html>
<html lang="en">

<head>
    @@include('@pathInclude/views/meta.html')
    <link rel="stylesheet" href="/account/static/css/public/publicDetail.css">
    <title></title>
</head>

<body>
	<!-- @@include('@pathCommonCom/loading/listLoading.html')  -->
	<div class="publicDetail">
		<div class="topContent"> 
			@@include('@pathCommonViews/headBarConfig.html',{"pathName":"普通基金","bgColors":"#475A95,#475A95","showType":"1"})
			<!-- 客服 -->
			<div class="service"></div>
			<div class="day_gain">日涨幅</div>
			<div class="day_gain_value">+0.01%</div>
			<div class="new_worth">最新净值(11-01)</div>
			<div class="new_worth_value">1.2213</div>
			<div class="type">
				<div class="type_1">稳健型</div>
				<div class="type_2">指数型</div>
				<div class="type_3">10000.0元起购</div>
			</div>
	 	</div>
	 	<div class="midContent">
			<div class="max_amount_area">
				<!-- 限大额区域 -->
				<div class="max_amount fl"></div>
				<div class="max_amount_value fl">单日单账户限额5000万</div>
			</div>
			<div class="net_worth_area">
				<!-- 净值区域 -->
				<div class="net_worth_item">
					<div class="title">近一周</div>
					<div class="value_red">+6.56%</div>
				</div>
				<div class="net_worth_item">
					<div class="title">近三个月</div>
					<div class="value_green">-0.35%</div>
				</div>
				<div class="net_worth_item">
					<div class="title">近一年</div>
					<div class="value_red">+14.56%</div>
				</div>
				<div class="net_worth_item">
					<div class="title">成立来</div>
					<div class="value_red">+20.56%</div>
				</div>
			</div>
	 		<div class="lineWrap">
				<div class="nav" id="redeemNav">
					<span class="navSpan quick active" type="1">快速赎回</span>
					<span class="navSpan normal" type="2">普通赎回</span>
				</div>
				<div class="line_area">
					<!-- 折线部分 -->
				</div>
				<div class='tab'>
						<span class="oneMonth active">月</span>
						<span class="threeMonth">季</span>
						<span class="newYear">半年</span>
						<span class="sinceNow">一年</span>
						<span class="oneMonth">成立以来</span>
				</div>
			</div>
			<div class="history_area">
				<div class="titleWrap">
					<div class="title">
						历史净值明细
					</div>
					<div class="arrow">
						<span class="img"></span>
					</div>
					<div class="desc">
						查看更多
					</div>
				</div>
				<div class="history_item">
					<div class="item_name">日期</div>
					<div class="item_name">单位净值</div>
					<div class="item_name">累计净值</div>
					<div class="item_name">日涨幅</div>
				</div>
				<!-- 用handleBar去渲染数据 -->
				<div class="history_item">
					<div class="item_value_1">2019-10-14</div>
					<div class="item_value_1">2.1232</div>
					<div class="item_value_1">2.1232</div>
					<div class="item_value_2 value_red">+1.22%</div>
				</div>
				<div class="history_item">
					<div class="item_value_1">2019-10-14</div>
					<div class="item_value_1">2.1232</div>
					<div class="item_value_1">2.1232</div>
					<div class="item_value_2 value_red">+1.22%</div>
				</div>
				<div class="history_item">
					<div class="item_value_1">2019-10-14</div>
					<div class="item_value_1">2.1232</div>
					<div class="item_value_1">2.1232</div>
					<div class="item_value_2 value_red">+1.22%</div>
				</div>
			</div>
	 		<div class="dealRegArea">
				<div class="titleWrap">
					<div class="title">交易规则</div>
						<div class="arrow">
					<span class="img"></span>
					</div>
				</div>
				<div class="line_area">
		 			<div class="line_area_left">
						<div class="top">买入提交</div>
						<div class="mid"></div>
						<div class="bottom">今日15点前</div>
					</div>
					<div class="line_area_mid">
						<div class="top">份额确认</div>
						<div class="mid"></div>
						<div class="bottom">2019-11-08</div>
					</div>
					<div class="line_area_right">
						<div class="top">查看盈亏</div>
						<div class="mid"></div>
						<div class="bottom">2019-11-09</div>
					</div>
					<div class="line_left"></div>
					<div class="line_right"></div>
				</div>
				<div class="line_desc">15:00后采用转账汇款方式的认申购款将视作下一个工作日的交易款项</div>
			</div>
			<div class="titleWrap">
				<div class="title">
					产品档案
				</div>
				<div class="arrow">
					<span class="img"></span>
				</div>
			</div>
			<div class="titleWrap">
				<div class="title">
					基金档案
				</div>
				<div class="arrow">
					<span class="img"></span>
				</div>
				<div class="desc">
					概括、持仓、公告、分红
				</div>
			</div>
			<div class="titleWrap">
				<div class="title">
					基金经理
				</div>
				<div class="arrow">
					<span class="img"></span>
				</div>
				<div class="desc">
					朱波 李倩
				</div>
			</div>
			<div class="titleWrap">
				<div class="title">
					基金公司
				</div>
				<div class="arrow">
					<span class="img"></span>
				</div>
				<div class="desc">
					中融基金
				</div>
			</div>
			<div class="company_info">
				基金销售服务由北京恒天明泽基金销售有限公司提供
			</div>
			<div class="divider"></div>
		 </div>
		 <div class="footer">
			<div class="share_area">
				<div class="img"></div>
				<div class="text">分享</div>
			</div>
			<div class="selected_area">
				<div class="img"></div>
				<div class="text">加自选</div>
			</div>
			<div class="fixed_investement_btn">定投</div>
			<div class="buy_btn">买入</div>
		</div>
	</div>

	@@include('@pathInclude/views/footer.html')

	<script src="/include/js/vendor/echarts/echarts.min.js"></script>
	<script src="/account/static/js/public/publicDetail.js"></script>

</body>

</html>