<!-- 自选公募-超宝详情
 @author wangjiajia 2019-11-19
-->
<!DOCTYPE html>
<html lang="en">
<head>
	@@include('@pathInclude/views/meta.html') 
	<link rel="stylesheet" href="/account/static/css/public/superContent.css">  
	<title>现金宝协议</title>
</head>
<body>
        @@include('@pathInclude/views/header.html')
        <div id="richTemplateWrap">
                @@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#000,#eee","showType":"0","pathName":""})    
                <div id="contentWrap">
                    
                </div>   
            </div>          

    @@include('@pathInclude/views/footer.html')
    <script src="/account/static/js/public/superContent.js"></script>
</body>
</html>