<!-- 自选公募-交易记录
 @author yanruiting 2019-11-19
-->
<!DOCTYPE html>
<html lang="en">
<head>
	@@include('@pathInclude/views/meta.html') 
	<link rel="stylesheet" href="/account/static/css/public/transactionRecords.css">  
	<title>交易记录</title>
</head>
<body>
    @@include('@pathCommonCom/loading/listLoading.html')
    @@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#2C3E77,#273971","showType":"0","pathName":"交易记录"}) 
    <div id="recordBox">
        <div id="recordSearch">
            <div id="recordSearchWrapper"></div>
            <div id="recordSearchDetail"></div>
        </div>
        <div class="list">
            <div class="contentWrapper">
                    <ul class="mui-table-view">
                            <li class="mui-table-view-cell" id="recordListWraper">
                                <!-- 放置列表 -->
                            </li>
                            @@include('@pathCommonViews/goTop.html')
                        </ul>
                <!-- <div id="recordListWraper"> -->
                    @@include('@pathCommonCom/noData/noData.html', {"tipText": "暂无数据"})
                    <!-- <div class="recordItem">
                        <div class="recordLogoCon">
                            <img class="recordLogo" src="/account/static/img/public/account_icon_mairu@2x.png" alt="">
                        </div>
                        <div class="recordCon">
                            <div class="recordTop">
                                <div class="recordName">中融货币A</div>
                                <div class="recordMoney">350,000.00元</div>
                            </div>
                            <div class="recordBottom">
                                <div class="recordDate">2019-09-23 11:00:35</div>
                                <div class="recordStatus">交易失败</div>
                            </div>
                        </div>
                    </div> -->
                <!-- </div> --> 
            </div>
        </div>
    </div>

    <script id="searchTitleList-template" type="text/x-handlebars-template">
        {{#each this}}
        <div class="searchItem" titleId="{{titleId}}">
            <span class="screeningWord">{{title}}</span>
            <img class="screeningBtn xiaLaLogo" src="/common/img/account_icon_xiala@2x.png" alt="">
            <img class="screeningBtn shouQiLogo" src="/common/img/account_icon_shouqi@2x.png" alt="">
        </div>
        {{/each}}
    </script>

    <script id="searchDetailList-template" type="text/x-handlebars-template">
        {{#each this}}
            <div class="detailItem" searchType="{{searchType}}" detailId="{{detailId}}" data="{{data}}">
                <div class="detailValue">{{title}}</div>
                <div class="detailStatus">
                    <img class="detailStatusLogo" src="/common/img/account_icon_check@2x.png" alt="">
                </div>
            </div>
        {{/each}}
    </script>

    <script id="recordList-template" type="text/x-handlebars-template">
        {{#each this}}
        <div class="recordItem" data-applyId="{{allotNo}}" data-fundCombination="{{fundCombination}}" data-fundCode="{{fundCode}}"
            data-fundBusinCode="{{fundBusinCode}}" data-allotType="{{applyType}}" data-Fixbusinflag="{{fixbusinflag}}"
            data-shares ="{{shares}}" data-fundName ="{{fundName}}" data-applyDate ="{{originalDate}}" data-autoBuyDesc ="{{autoBuyDesc}}" 
            data-scheduledProtocolId ="{{scheduledProtocolId}}" data-fundType = "{{fundType}}">
            <div class="recordLogoCon">
                {{#if payin}} 
                <div class="recordLogo payin">买入</div>
                {{/if}}
                {{#if payout}}
                <div class="recordLogo payout">卖出</div>
                {{/if}}
                {{#if payred}}
                <div class="recordLogo payred">分红</div>
                {{/if}}
                {{#if payfix}}
                <div class="recordLogo payfix">定投</div>
                {{/if}}
            </div>
            <div class="recordCon">
                <div class="recordTop mui-row">
                    <div class="recordName mui-col-sm-8 mui-col-xs-8">{{fundName}}</div>
                    <div class="recordMoney mui-col-sm-4 mui-col-xs-4">
                        {{#if paystatus}}
                        {{balanceMask}}元
                        {{else}}
                        {{shares}}份
                        {{/if}}
                    </div>
                </div>
                <div class="recordBottom">
                    <div class="recordDate">{{originalDate}} {{orderDate}}</div>
                    <div class="recordStatus 
                    {{#if sta}}
                    statrue
                    {{else}}
                    stafalse
                    {{/if}}
                    ">{{tradeApplyStatusName}}</div>
                </div>
            </div>
        </div>
        {{/each}}
    </script>

	@@include('@pathInclude/views/footer.html')

    <script src="/account/static/js/public/transactionRecords.js"></script>
</body>
</html>