//复选框及右侧文案（目前实名认证页面底部协议文案用到）
.mui-checkbox.mui-left {
    div{
        padding-top: 0.03rem;
        padding-bottom: 0;
        font-size: 0.24rem;
        color: @c003;
        line-height: 0.36rem;
        padding-left: 0.48rem;
        font-family: "Microsoft YaHei", Arial, "Helvetica";

        .item1{
            color: @c003;
        }
    }

    input[type=checkbox]{
        left: 0;
        width: 0.32rem;
        height: 0.32rem;
        //vertical-align: top;
        top: 0.06rem;
        line-height: 0.32rem;
         

        &:before{
            font-size: 0.32rem;
            line-height: 0;
            content: '\e668';
            font-family: inherit; 
        }
        &:checked{
            &:before{
                color: @c006;
                content: '\e669';
            }
        }
    }
}