.mui-bar{
    .mui-icon{
        font-size: 24px;
        position: absolute;
        z-index: 20;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 44px;
    }
    .mui-title{
        position: static;
        width: 100%;
    }
}
