/**  
 * @Page:  折现图
 * @Author: songxiaoyu  
 * @Date:   2018-10-11 10:39:01  
 * @Last Modified by:   songxiaoyu  
 * @Last Modified time: 2018-10-11 15:04:50  
 *
 * 现金宝总资产页面
 * 恒小智资产详情页面
 */


//折线图
.drawLine {
    position: relative;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    height: 25.5rem;
    //height: 40rem;

    .lineTitle {
        //名称
        position: absolute;
        top: 1.4rem;
        z-index: 30;
        font-size: 1.2rem;
        color: @c003;

        span {
            &:first-child {
                padding-right: 1.3rem;
            }

            &.active {
                color: @c006;
            }
        }
    }

    .right {
        position: absolute;
        top: 1rem;
        right: 0.5rem;
        text-align: right;
        color: @c002;
        font-size: 1.2rem;

        .day {
            color: @c003;
            font-size: 1rem;

        }
    }

    .lineWrapper {
        height: 24.5rem;
        //padding-left: 1.6rem;
        color: @c003;
        margin-right: -1.6rem;

        .noData {
            margin-top: 0;
            padding-top: 8rem;
            margin-left: -1.8rem;

            .iconfont {
                font-size: 3.6rem;
            }
        }
    }

    .line {
        position: absolute;
        bottom: 1.2rem;
        left: 0;
        border-bottom: 0.1rem solid @c007;
        width: 100%;

        .lineMiddle {
            width: 74%;
            margin: 0 auto;
            text-align: center;
            position: relative;
            margin-bottom: -0.34rem;
            color: @c003;

            .timeBtn {
                &.active {
                    color: @c002;

                    &:after {
                        background-color: @c006;
                    }
                }

                &:after {
                    content: '';
                    width: 0.7rem;
                    height: 0.7rem;
                    background: @c007;
                    border-radius: 7rem;
                    display: block;
                    margin: 0 auto;
                    margin-top: 0.3rem;
                }
            }
        }

    }
}