/**
     * iconfont 样式
 */
@font-face {
  font-family: 'iconfont';  /* project id 210780 */
  src: url('//at.alicdn.com/t/font_210780_gidkikzaodk.eot');
  src: url('//at.alicdn.com/t/font_210780_gidkikzaodk.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_210780_gidkikzaodk.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_210780_gidkikzaodk.woff') format('woff'),
  url('//at.alicdn.com/t/font_210780_gidkikzaodk.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_210780_gidkikzaodk.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont";
    font-size:0.32rem;
    font-style:normal;
}