/**
     * iconfont 样式
 */

@font-face {
  font-family: 'iconfont';  /* project id 210780 */
  src: url('//at.alicdn.com/t/font_210780_weepr15t4i.eot');
  src: url('//at.alicdn.com/t/font_210780_weepr15t4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_210780_weepr15t4i.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_210780_weepr15t4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_210780_weepr15t4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_210780_weepr15t4i.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont";
    font-size:1.6rem;
    font-style:normal;
} 