/**
*   无数据区域的样式
 */


.without{
    margin-top: 16.5rem;
    color: @c001;
    .iconfont{
        font-size: 5.1rem;
    }
    .text{
        margin-top: 2rem;
        font-size: 1.4rem;
    }       
}