/**
*   无数据区域的样式
 */

.without{
    margin-top: 3.3rem;
    color: @c001;
    .iconfont{
        font-size: 1.02rem;
    }
    .text{
        margin-top: 0.4rem;
        font-size: 0.28rem;
    }       
}