/**
*   无数据区域的样式
 */

.without{
    margin-top: 3.3rem;
    color: @c001;
    .nodataImg{
        width: 2.67rem;
        height: 2.67rem;
        display: block;
    }
    .text{
        margin-top: 0.42rem;
        font-size: 0.32rem;
    }     
}