//单选框
.mui-radio{

    label{
        color: @c003;
        font-size: 0.28rem;
        padding: 0;
        line-height: 0.8rem;

        span{
            display:inline-block;
            &.txtNotice{
                font-size: 0.24rem;
                transform: scale(0.875);
                transform-origin: left;
                margin-left: 0.2rem;
            }
        }
        
    }

    input[type=radio]{
        //width: 0.32rem;
        height: 0.34rem;
        width: auto;
        top: 0;
        //height: inherit;
        right: 0.24rem;
        top: 50%;
        transform: translate(0,-50%);
        -webkit-transform: translate(0,-50%);

        &:before{
            font-size: 0.4rem;
            //line-height: inherit;
            position: absolute;
            right: 0;
        }

        &:checked:before{
            color: @c006;
        }
    }

    &.mui-left{
        label{
            padding: 0 0.3rem 0 2.4rem;
            color: @c002;
        }

        input[type=radio]{
            left: 0;
            &:before{
                left: 0;
            }
        }
    }
}