// 月度报告列表页
// @author zhangyanping 2019-11-01

@import url("@pathCommonLess/mui/resetMUI.less");
@import url("@pathCommonLessCom/alertBox.less");

@import url("@pathCommonLessCom/headBarConfig.less");

body {
	background:rgba(247,250,253,1);
}

.noneList{
	display: none;
}
// 样式重置
.adjustmentRecord {
	padding-bottom:1.6rem;
	.contentWrapper {
		height: 100%;
		overflow: hidden;

		.recordList {
			padding: 0;

			// 最后一个list样式被遮了
			&>ul:last-child{
				margin-bottom: 0.2rem;
			}
		}
	}

	// 隐藏头部
	h2 {
		display: none;
	}

	.reason {
		&:after {
			.leftIndentLine();
		}
	}

}

.monthReportList{
	position:relative;
	width: 92%;
	margin: 0.5rem auto 0;
	background:url("/mine/static/img/mine_bg_ydtzbg@2x.png") no-repeat;
	background-size: 100%;
	box-shadow:0 0.09rem 0.08rem 0 rgba(20,37,92,0.05);
	border-radius:0.3rem;
	.monthReportListHeader{
		height: 1.18rem;
		border-radius: 0.3rem;
	}
	&:first-child{
		margin: 0.28rem auto 0;
	}
	.spread{
		position: absolute;
		width: 2.3rem;
		height: 0.3rem;
		line-height: 0.3rem;
		left: 50%;
		top: 100%;
		margin-left: -1.15rem;
		text-align: center;
		color: @BB8E5F;
		background:rgba(255,255,255,1);
		box-shadow:0 0.09rem 0.08rem 0 rgba(20,37,92,0.05);
		border-radius:0 0 1rem 1rem;
		.iconfont{
			font-size: 0.2rem;
		}
	}
}

// 持仓详情
.latestAdjustment {
	display: none;
	position:relative;
	padding: 0 0.32rem 0.16rem 0.32rem;
	color: @c002;
	text-align: left;
	font-size: 0.28rem;
	border-top:1px solid @F7FAFD;
	border-bottom-right-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
	background:rgba(255,255,255,1);
	.circle_left{
		position:absolute;
		width: 0.18rem;
		height: 0.3rem;
		top: -0.2rem;
		left: -0.03rem;
		border:none;
		background:rgba(247,250,253,1);;
		border-top-right-radius: 0.15rem;
		border-bottom-right-radius: 0.15rem;
	}
	.circle_right{
		position:absolute;
		top: -0.2rem;
		right: -0.03rem;
		width: 0.18rem;
		height: 0.3rem;
		border:none;
		background:rgba(247,250,253,1);
		border-top-left-radius: 0.15rem;
		border-bottom-left-radius: 0.15rem;
		
	}
	h2 {
		height: 0.96rem;
		line-height: 0.96rem;
		font-size: 0.32rem;

		.date {
			font-size: 0.24rem;
			margin-left: 0.16rem;
		}

		.more {
			padding-top: 0.06rem;
			float: right;
			font-size: 0.24rem;
			color: @c003;
			vertical-align: middle;
			.iconfont{
				font-size: 0.24rem;
			}
		}
	}

	.reason {
		padding-top: 0.16rem;
		padding-bottom: 0.16rem;
		color: @c003;
		position: relative;


		&:before {
			.fullLine();
			height: 0;
			top: 0;
		}
	}

	.mui-row {
		position: relative;
		height: 0.98rem;

		span {
			padding-top: 0.16rem;
			font-size: 0.24rem;
		}

		&:after {
			.leftIndentLine();
		}

		&:last-child {
			&:after {
				content: none;
			}

		}

		// 红色
		.redColor {
			color: @c010;
		}

		.greenColor {
			color: @c051;
		}
	}

	.detailT {
		text-align: right;
		position: relative;
		line-height: 0.72rem;
		color: @c003;
		font-size: 0.24rem;

		span {
			&:first-child {
				text-align: left;
			}
		}
	}

	.listDiv .ellipsis {
		display: block;
		font-size: 0.28rem;
	}

	.listDiv{
		.alignR, .alignC {
			padding-top:0.2rem;
		}
	} 
}

// 标题
.combiT {
	font-size: 0.32rem;
	line-height: 0.8rem;
	margin-top: 0.16rem;
}

.iconBase() {
	font-family: "iconfont";
	content: '\e600';
	position: absolute;
	top: 0;
	left: 0;
	color: @c002;
}
.monthYear{
	padding-top:0.3rem;
	font-size: 0.5rem;
    .years{
    	position:relative;
    	display: inline-block;
    	margin-left: 0.3rem;
		background: linear-gradient(to right, #F1CDA8, #B57E45);
	    -webkit-background-clip: text;
	    font-weight: bold;
	    color: transparent;
	    vertical-align:bottom;
	    .yearUnit {
	    	position:absolute;
			font-size: .32rem;
			top: 0.1rem;
			color: #BB8E5F;
			font-weight: 400;
		}

    }
}
.monthlyReport{
	position:relative;
	display: block;
	height: 1.36rem;
	border-bottom: 1px solid @E7E9ED;
	padding-top:0.24rem;
	.reportName{
		display: block;
		width: 100%;
		font-size: 0.32rem;
		color: @272727;
	}
	.reportTime{
		display: block;
		margin-top: 0.1rem;
		font-size: 0.24rem;
		color: @9B9B9B;
	}
	.detailLink{
		position: absolute;
		top: 42%;
		right: 0;
		font-size: 0.3rem;
		color: @9B9B9B;
	}
	&:last-child{
		border-bottom:0;
	}
}

.noData{
	width: 100%;
	padding-top:1.1rem;
	.box{
		margin: 0.6rem auto 0;
		text-align: center;
		font-size: 0.32rem;
		color: @9B9B9B;
		img{
			width: 2.18rem;
			height: 2.18rem;
		}
		.tipText{
			margin-bottom: 0.3rem;
		}
		.tipAdvise{
			font-size: 0.24rem;
		}
	}
	.productBtn{
		margin: 0.4rem auto 0;
		width: 4.1rem;
		height: 0.8rem;
		line-height: 0.8rem;
		font-size: 0.32rem;
		border-radius: 0.04rem;
		text-align: center;
		background-image: linear-gradient(135deg, #F1CDA8 0%, #B57E45 100%);
		color: @c005;
	}

}