// 月度报告列表页
// @author zhangyanping 2019-11-01

@import url("@pathCommonLess/mui/resetMUI.less");

@import url("@pathCommonLessCom/againEnter.less");
@import url("@pathCommonLessCom/alertBox.less");

.mui-table-view:before{
	height: 0;
}
.mui-pull{
	position:static;
}
.mui-pull-bottom-pocket{
	overflow: visible;
}

// 样式重置
.adjustmentRecord {
	.contentWrapper {
		height: 100%;
		overflow: hidden;

		.recordList {
			padding: 0;

			// 最后一个list样式被遮了
			&>ul:last-child{
				margin-bottom: 0.2rem;
			}
		}
	}

	.mui-card {
		padding-left: 0;
		font-size: 0.5rem;
		overflow: visible;
	}

	.mui-table-view-cell{
		overflow: visible;
	}

	.mui-table-view:after{
		height: 0;
	}

	.mui-table-view-cell.mui-active {
		background-color: @c005;
	}
	.mui-table-view-cell>a:not(.mui-btn){
		position:static;
		display: inline-block;
		color: transparent;
	}

	.mui-table-view-cell>a:not(.mui-btn).mui-active {
		background-color: @c005;
	}

	.latestAdjustment.mui-card {
		box-shadow: none;
	}
	.mui-table-view-cell.mui-collapse{
		border-radius:0.3rem;

	}

	.mui-table-view-cell.mui-collapse .mui-collapse-content {
		margin-top: 0;
		padding: 0 15px;
	}
	.mui-navigate-right:after{
		width: 2.3rem;
		height: 0.3rem;
		position: absolute;
		top: 100%;
    	left: 0;
    	bottom:0;
    	margin:0.08rem auto;
    	font-size: 0.2rem;
    	text-align: center;
    	-webkit-transform: translateY(-50%);
 		transform: translateY(-50%);
 		text-decoration: none;
 		color: #BB8E5F;
 		-webkit-font-smoothing: antialiased;
 		background: #FFFFFF;
		box-shadow: 0 9px 8px 0 rgba(20,37,92,0.05);
 		border-radius: 0 0 100px 100px;

	}
	
	.mui-table-view-cell:after {
		height: 0;
	}
	.marginTop{
		margin-top: 0.5rem;
	}
	.mui-table-view.mui-card{
		width: 6.9rem;
		margin:0.5rem auto;
		border-radius:0.3rem;
	}

	// 隐藏头部
	h2 {
		display: none;
	}

	.reason {
		&:after {
			.leftIndentLine();
		}
	}

}

// 持仓详情
.latestAdjustment {
	position:relative;
	padding: 0 0.32rem 0.16rem 0.32rem;
	color: @c002;
	text-align: left;
	margin-bottom: 0.4rem;
	font-size: 0.28rem;
	border-top:1px solid @F7FAFD;
	border-bottom-right-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
	.circle_left{
		position:absolute;
		width: 0.15rem;
		height: 0.3rem;
		color:#000;
		border-top-right-radius: 0.15rem;
		border-bottom-right-radius: 0.15rem;
	}
	h2 {
		height: 0.96rem;
		line-height: 0.96rem;
		font-size: 0.32rem;

		.date {
			font-size: 0.24rem;
			margin-left: 0.16rem;
		}

		.more {
			padding-top: 0.06rem;
			float: right;
			font-size: 0.24rem;
			color: @c003;
			vertical-align: middle;
			.iconfont{
				font-size: 0.24rem;
			}
		}
	}

	.reason {
		padding-top: 0.16rem;
		padding-bottom: 0.16rem;
		color: @c003;
		position: relative;


		&:before {
			.fullLine();
			height: 0;
			top: 0;
		}
	}

	.mui-row {
		position: relative;
		height: 0.98rem;

		span {
			padding-top: 0.16rem;
			font-size: 0.24rem;
		}

		&:after {
			.leftIndentLine();
		}

		&:last-child {
			&:after {
				content: none;
			}

		}

		// 红色
		.redColor {
			color: @c010;
		}

		.greenColor {
			color: @c051;
		}
	}

	.detailT {
		text-align: right;
		position: relative;
		line-height: 0.72rem;
		color: @c003;
		font-size: 0.24rem;

		span {
			&:first-child {
				text-align: left;
			}
		}
	}

	.listDiv .ellipsis {
		display: block;
		font-size: 0.28rem;
	}

	.listDiv{
		.alignR, .alignC {
			padding-top:0.2rem;
		}
	} 
}

// 标题
.combiT {
	font-size: 0.32rem;
	line-height: 0.8rem;
	margin-top: 0.16rem;
}

.iconBase() {
	font-family: "iconfont";
	content: '\e600';
	position: absolute;
	top: 0;
	left: 0;
	color: @c002;
}
.monthYear{
	font-weight: bold;
	background: linear-gradient(to right, #F1CDA8, #B57E45);
    -webkit-background-clip: text;
    color: transparent;
}
.monthlyReport{
	position:relative;
	display: block;
	height: 1.36rem;
	border-bottom: 1px solid @E7E9ED;
	padding-top:0.24rem;
	.reportName{
		display: block;
		width: 100%;
		font-size: 0.32rem;
		color: @272727;
	}
	.reportTime{
		display: block;
		margin-top: 0.1rem;
		font-size: 0.24rem;
		color: @9B9B9B;
	}
	.detailLink{
		position: absolute;
		top: 42%;
		right: 0;
		font-size: 0.24rem;
		color: @9B9B9B;
	}
}

.noData{
	width: 100%;
	padding-top:1.1rem;
	.box{
		margin: 0.6rem auto 0;
		text-align: center;
		font-size: 0.32rem;
		color: @9B9B9B;
		img{
			width: 2.18rem;
			height: 2.18rem;
		}
		.tipText{
			margin-bottom: 0.3rem;
		}
		.tipAdvise{
			font-size: 0.24rem;
		}
	}
	.productBtn{
		margin: 0.4rem auto 0;
		width: 4.1rem;
		height: 0.8rem;
		line-height: 0.8rem;
		font-size: 0.32rem;
		border-radius: 0.04rem;
		text-align: center;
		background-image: linear-gradient(135deg, #F1CDA8 0%, #B57E45 100%);
	}

}