// 月度报告列表页
// @author zhangyanping 2019-11-19

@import url("@pathCommonLess/mui/resetMUI.less");

@import url("@pathCommonLessCom/headBarConfig.less");
@import url("@pathCommonLessCom/tabScroll.less");
@import url("@pathCommonLessCom/noDataImg.less");
@import url("@pathCommonCom/elasticLayer/elasticLayer/elasticLayer.less");

// 月度报告详情页

html {
	height: 100%;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.without{
	margin-top: 1.7rem;
	color: @c001;
	.nodataImg{
		width: 2.67rem;
		height: 2.67rem;
		display: block;
	}
	.text{
		margin-top: 0.42rem;
		font-size: 0.32rem;
	}
	.investBth{
		width:4.1rem;
		height:0.8rem;
		line-height: 0.8rem;
		font-size: 0.32rem;
		color: @c005;
		text-align: center;
		margin:0.9rem auto 0.8rem;
		background:linear-gradient(135deg,rgba(108,131,201,1) 0%,rgba(6,29,106,1) 100%);
		border-radius:0.04px;
	}     
}
.noData{
	display: none;
}

// nav重置
.mui-slider .mui-segmented-control.mui-scroll-wrapper {
	background: none;
	box-shadow: none;
	color: @3c3c3c;
	padding-top: 0;
	height: 0.84rem;
	// background-color: @F7FAFD;
	.mui-scroll .mui-control-item{
		font-size: 0.32rem;
		line-height: 0.84rem;
		padding:0;
		text-align: center;
	}
	.mui-scroll .mui-control-item.mui-active {
		color: @272727;
		position: relative;
		border: none;

		&:after {
			position: absolute;
			height: 0.06rem;
			bottom: 0rem;
			left: 50%;
			margin-left: -0.6rem;
			content: '';
			width: 1.2rem;
			background: @D58D65;
			border-radius: 1rem;
		}

	}
}

.mui-table-view-cell {
	padding: 0;
}
.mui-slider .mui-slider-group{
	margin-top: 0.4rem;
}

.reportDetailHeader{
	position: relative;
	width: 100%;
	height: 4.4rem;
	background: url("/mine/static/img/monthReport/background.png");
	background-size: 100% 100%;
	// 月度报告头部客户信息
	.reportClientInfo{
		position: absolute;
		top: 1.6rem;
		left: 50%;
		margin-left: -46%;
		padding: 0.8rem 0.3rem 0 0.35rem;
		width: 92%;
		height: 4rem;
		background: url("/mine/static/img/monthReport/infoBackground.png");
		background-size: 100% 100%;
		.clientNameInfo{
			.clientTitle{
				font-size: 0.26rem;
				color: @6C4517;
			}
			.clientName{
				margin-top: 0.1rem;
				font-size: 0.48rem;
				font-weight:600;
				color: @995100;
				background:linear-gradient(180deg, #CC9B68 100%, #995100 100%);
				-webkit-background-clip:text;
				-webkit-text-fill-color:transparent;

			}
			.clientLevel{
				height: 0.4rem;
				line-height: 0.4rem;
				font-size: 0.2rem;
				color: @c005;
				background:rgba(207,152,90,0.5);
				border-radius:0.25rem;
				.star{
					margin-left: 0.1rem;
					background: -webkit-linear-gradient(-90deg, #CC9B68 0%, #995100 100%);
				    -webkit-background-clip: text;
				    -webkit-text-fill-color: transparent;
				    font-size: 0.24rem !important;
				}
			}
		}
		.clientMonth{
			margin-top: 0.34rem;
			font-size: 0.26rem;
			color:@6C4517;
			font-weight:600;
		}
		.reportComent{
			margin-top: 0.06rem;
			font-size: 0.38rem;
			color: @93591A;
			font-weight:500;
		}
		
	}

}
// 月度报告持仓和交易明细
.mui-content{
	margin: 0 auto;
	margin-top: 1.4rem;
}
.datalist {
	margin: 0 auto 0.05rem;
	color: @c002;
	background: @c005;
	padding: 0.4rem 0.3rem;
	.proName{
	   
		.proNameBefore{
			width: 0.06rem;
			height: 0.26rem;
			background:linear-gradient(180deg,rgba(252,192,158,1) 0%,rgba(213,141,101,1) 100%);
			border-radius:0.04rem;
			float: left;
			margin-top: 0.03rem;
			margin-right: 0.09rem;
		}
		.proNameCon{
			width: 97%;
			font-size: 0.28rem;
			line-height: 0.32rem;
			color: @272727;
			float: left;
		}
		.proNameAfter{
			width: 0.2rem;
			height: 0.2rem;
			background: url("/common/img/arrow.png");
			background-size: 100% 100%;
			margin-top: 0.03rem;
			float: right;
		}
	}
	.fundCon{
		margin-left: 0.1rem;
		margin-top: 0.4rem;
		p{
			font-size: 0.24rem;
			color: @9B9B9B;
			margin-bottom: 0.12rem;
		}
		.fundCenter{
			line-height: 0.4rem;
			.money{
				font-size: 0.32rem;
				color: @272727;
				margin-right: 0.4rem;
				float: left;
				min-width: 2rem;
			}
			.date{
				font-size: 0.26rem;
				color: @818181;
				float: left;
			}
			.tip{
				width: 1.4rem;
				height: 0.38rem;
				line-height: 0.38rem;
				border-radius: 0.04rem;
				font-size: 0.24rem;
				text-align: center;
				float: right;
			}
			.tip.all{
				background:linear-gradient(220deg,rgba(245,236,213,1) 0%,rgba(248,234,201,1) 100%);
				color: @C4925E;
			}
			.tip.part{
				background:rgba(227,232,241,1);
				color: @9B9B9B;
			}
		}
	}
	.haveFundCon{
		margin-top: 0.5rem;
		margin-left: 0.1rem;
		p{
			color: @9B9B9B;
			font-size: 0.24rem;
			margin-bottom: 0.15rem;
		}
		span{
			color: @272727;
			font-size: 0.26rem;
		}
		.total{
			width: 35%;
		}
		.interestRate{
			width: 20%;
		}
		.term{
			width: 20%;
		}
		.date{
			width: 25%;
		}
	}

}
.publicFund{
	margin-top: 0.3rem;
	.proNameBefore{
		background:linear-gradient(146deg,rgba(102,132,199,1) 0%,rgba(54,77,151,1) 100%);
	}
}
.privateFund{
	border-radius: 0.17rem;
}
.otherAssets{
	margin-top: 0.3rem;
	.referenceTip{
		padding:0.3rem 0.2rem;
		width: 100%;
		height: 1.28rem;
		color: @FF4E4E;
		font-size: 0.24rem;
		background: @c005;

	}
}
.privateFundHeader{
	margin: 0 auto;
	padding-left: 0.3rem;
	height: 0.9rem;
	line-height: 0.9rem;
	font-size: 0.28rem;
	color: @834A08;
	border-top-left-radius: 0.17rem;
	border-top-right-radius:0.17rem;
	background:linear-gradient(90deg,rgba(251,226,189,1) 0%,rgba(226,181,128,1) 100%);
}
.publicFundHeader{
	margin: 0 auto;
	padding-left: 0.3rem;
	height: 0.9rem;
	line-height: 0.9rem;
	font-size: 0.28rem;
	color: @c005;
	border-top-left-radius: 0.17rem;
	border-top-right-radius:0.17rem;
	background:linear-gradient(135deg,rgba(108,131,201,1) 0%,rgba(14,36,108,1) 100%);

}

.assetAnalysis{
	margin-top: 0.3rem;
	background: @c005;
	padding:0 0.3rem;
	.assetAnalysisTitle{
		padding-top: 0.2rem;
		font-size: 0.32rem;
		text-align: center;
		color: @272727;
		font-weight:600;
	}
	.monthReportTipContent{
		margin-top: 0.24rem;
		text-align: justify;
		p{
			font-size: 0.28rem;
			color: @272727;
			font-weight:500;
		}

	}
	.tipInfo{
		margin-top: 0.26rem;
		font-size: 0.24rem;
		color:@9B9B9B;
		font-weight:400;
	}
	.holdStatus{
		margin-top: 0.3rem;
		font-size: 0.28rem;
		color:@272727;
	}
	.holdProduct{
		margin-top: 0.6rem;
		font-size: 0.32rem;
		color:@272727;
		font-weight:600;
	}

}
.pieBox{
	// margin-top:2rem;
	.circle{
		width: 100%;
		height: 5rem;
	}
}
.optimization{
	width: 100%;
	height: 1.05rem;
	padding-left:0.3rem;
	font-size: 0.32rem;
	font-weight: 500;
	color: @272727;
	line-height: 1.05rem;

}
.proListCon{
	// width: 1136px;
	padding: 0 0.3rem;
	height: auto;
	padding: 0.4rem 0.3rem;
	background-color: @c005;
	font-size: 0.28rem;
	margin: 0 auto;
	.assetsCon{
		h2{
			color: @272727;
			font-size: 0.28rem;
			span{
				color: @C4925E;
			}
		}
		.assetsList{
			margin-top: 0.3rem;
			& li{
				width: 3.35rem;
				height: 2.77rem;
				float: left;
				margin-right: 0.2rem;
				margin-bottom: 0.2rem;
				background:linear-gradient(139deg,rgba(255,249,240,1) 0%,rgba(255,247,236,1) 100%);
				position: relative;
				border-radius:0.1rem;
				& h3{
					width: 2.2rem;
					height: 0.4rem;
					text-indent: 0.28rem;
					font-size: 0.2rem;
					color: @6C4517;
					border-radius:0.1rem 0 1rem 0;
					background:linear-gradient(90deg,rgba(255,233,204,1) 0%,rgba(242,217,188,1) 100%);
					line-height: 0.4rem;
				}
				& .assetsCon{
					p{
						font-size: 0.24rem;
						color: @C4925E;
						margin: 0.2rem;
					}
					.assetsConB{
						margin: 0.2rem;
						span{
							float: left;
							font-size: 0.2rem;
							margin-right: 0.35rem;
							color: @C4925E;
						}
						span:last-of-type{
							margin-right: 0;
						}
					}
				}
				.btn_order{
					width: 2.31rem;
					height: 0.54rem;
					line-height: 0.54rem;
					text-align: center;
					background:linear-gradient(135deg,rgba(241,205,168,1) 0%,rgba(181,126,69,1) 100%);
					border-radius: 0.08rem;
					font-size: 0.24rem;
					color: @c005;
					margin: 0 auto;
					cursor: pointer;
					position: absolute;
					bottom: 0.2rem;
					left: 50%;
					margin-left: -1.155rem;
				}
			}
			& li:nth-of-type(2n){
				margin-right: 0;
			}
		}
		
	}
	
	
}

// tab 组件
.content {
	display: inline-block;
	width: 100%;
	.tabsBox{
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		.tabs {
			&::after {
				content: "";
				display: block;
				clear: both;
			}
			&>li {
				text-align: center;
				box-sizing: border-box;
				// width: 3.3rem;
				list-style: none;
				display: block;
				float: left;
				line-height: .56rem;
				cursor: pointer;
				color: @8A8A8A;
				font-size: .32rem;
				margin-left: 1rem;
			}
			&>li:first-child {
				border-left: none;
				margin-left:0;
			}
			&>li.active{
				font-weight: 600;
				color: @272727;
				border-bottom:0.06rem solid rgba(196,146,94,1);
				border-radius:0.06rem;
			}
		}
	}
}

.wrap {
	width: 92%;
	margin: 0.4rem auto 0;
	.panel {
		display: none;
		border-top: none;
		&.active {
			display: block;
		}
		
	}
}
