/* 
用户服务协议
*/

@import url("../../common/less/color.less");
@import url("../../common/less/components/againEnter.less");


body{
	background-color: @c005;
	margin:0;
}

.content{
	padding: 1.6rem;
	text-align: justify;
	word-break: break-all;
}
.imgContent{
	width: 100%;
	img{
		width: 100%;
	}
}

.againEnter{
	.tipWrapper{
		width: 80%;
	}
}
