<!-- 
	设置 - 更换登录密码
	@author yangjinlai 2017-02-14

	*:本页面使用MUI
-->

<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	    <meta name="applicable-device" content="mobile">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black"><meta charset="UTF-8">
		<title>更换登录密码</title>
		<link rel="stylesheet" href="/user/static/css/setUp.css">
	</head>

	<body>
		
		<div class="mui-card marginTop">
			
				
			<div class="form-wrap">

				    <div class="formList formIconRight">
				    	@@include('../../../common/views/form/loginPassword/oldLoginPassword.html')
				    </div>
				    
				    <div class="formList formIconRight">
				    	@@include('../../../common/views/form/loginPassword/newLoginPassword.html')
				    </div>

				    <div class="formList formIconRight">
				    	@@include('../../../common/views/form/loginPassword/qrNewLoginPassword.html')
				    </div>

			</div>
		</div>


		@@include('../../../common/views/button/sureBtn.html')

		
		 
		 @@include('@pathInclude/views/footer.html')
		 
		<script src="/user/static/js/setUp/resetLoginPassword.js"></script>

	</body>

</html>