<!-- 
 ** 老客户邀请页面
 ** @author yangjinlai 2017-06-21

 **包括老带新活动页面，及分享出来的邀请页面 
 **统一换成“活动已结束”的图片，不能再查看活动详情 
 **@author zhangyanping 2018-07-05
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,viewport-fit=cover" name="viewport" id="viewport"  />
    <meta content="telephone=no" name="format-detection" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/recommend/static/css/congratulation.css">
	<title>邀请成功</title>
</head>
<body>
    <div class="body">
        <div class="content">
            <img src="">
            <!-- 手机号 -->
            <div class="phone_wrap"><div class="phone"></div></div>
        </div>
        <!-- 返回登录 -->
        <div class="btn_wrap btnButton"><img src=""></div>
    </div>
</body>
 
 @@include('@pathInclude/views/footer.html')
 
<script src="/include/js/vendor/jweixin/jweixin-1.0.0.js"></script>
<script src="/recommend/static/js/congratulation.js"></script>

</html>