<!-- 
* @page: 老客户邀请页面
* 
* @Author: yangjinlai
* @Date:   2017-06-21 09:38:03
* @description:js可以更换版本，但是html是分享出去的链接，不能变
*
* @Author: zhangyanping
* @Date:   2018-07-05 09:38:03
* @description:包括老带新活动页面，及分享出来的邀请页面,统一换成“活动已结束”的图片，不能再查看活动详情
* 
* @Last Modified by:   songxiaoyu
* @Last Modified time: 2018-07-18 09:38:03
* @description: 推荐有礼

* @ 添加埋点 
* @ author ping 2019-2-20
-->
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/recommend/static/css/recommend.css">
    <title>推荐有礼</title>
</head>

<body>

    <div class="recommend_wrap">
        <!-- 加载中loading -->
        @@include('../../common/views/load.html')
        <!-- 顶部图片 -->
        <div class="top_img"><img src="/recommend/static/img/top.jpg"></div>
        <!-- 理财师选择 -->
        <div class="manager_choose_wrap">
            <div class="lcs mui-row" id="lcs">
                <label class="label_class ">理财师</label>
                <ul class="mui-table-view choose">
                    <li class="mui-table-view-cell mui-collapse">
                        <a class="mui-navigate-right" href="javascript:;" num="">
                            请选择您的理财师
                        </a>
                    </li>
                </ul>
            </div>
            <p class="manager_tip">选择好理财师后，点击即可生成您的专属二维码</p>
            <div class="generate_qrcode_btn">
                <div class="mui-btn generate_btn">生成专属二维码</div>
            </div>
        </div>
        <!-- 唯一理财师展示 -->
        <div class="manager_show_wrap">
            <div>您的理财师：<span class="manager_show"></span></div>
        </div>
        <!-- 专属二维码 -->
        <div class="qrcode_wrap">
            <div class="qrcode_cont">
                <p class="qrcode_contText">专属二维码</p>
                <div class="unline"></div>
                <div class="code_wrap">
                    <div class="line">
                        <div id="code"></div>
                    </div>
                </div>
                <!-- 微信，app都不显示这句话，只有普通浏览器显示 -->
                <p class="code_tip">截图保存以上二维码，分享给好友</p>
            </div>
        </div>
        <!-- 规则说明富文本框 -->
        <div class="rule_des_wrap">
            <p class="rule_des">规则说明</p>
            <div class="unline"></div>
            <div class="rule_des_cont">
            </div>
        </div>
        <!-- 邀请好友 -->
        <!-- <div class="btnButton inviting_friend_wrap">
            <button type="button" class="txt mui-btn">邀请好友</button>
        </div> -->
        <div class="inviting_friend_wrap  mui-btn">邀请好友</div>
        <!-- 分享弹层 -->
        <!-- <div class="shareMask">
            <div class='mui-row shareWrap'>
                <div class="mui-col-sm-6 mui-col-xs-6 wx">
                    <img src="/recommend/static/img/v2/weixinIcon.png" class="iconfont">
                    <i class="iconfont">&#xe6a7;</i>
                    <span class="txt">微信邀请</span>
                </div>
            </div>
        </div> -->
        <!-- 右上角提示分享 -->
        <div class="tipMask">
            <img src="/recommend/static/img/share.png" class="tip">
            <span class="closeElastic iconfont">&#xe60c;</span>
        </div>
    </div>
</body>
 
<script src="/include/js/vendor/jquery/jquery1.12.3.js"></script>
<script type="text/javascript">
//同时使用zepto和jquery,对jquery做conflict的处理，防止冲突，此后使用jquery的时候，不能使用$，
//而是用jquery
$.noConflict();
</script>
 @@include('@pathInclude/views/footer.html')
 
<script src="/include/js/vendor/qrCode/jquery.qrcode.js"></script>
<script src="/include/js/vendor/jweixin/jweixin-1.0.0.js"></script>

<script src="/recommend/static/js/recommend.js"></script>
<script src="https://cdn.jsdelivr.net/npm/eruda"></script>
<script>
window.onload=function(){
    eruda.init()
}
</script>

</html>