@charset "utf-8";
//自定义引入
@import url("../../../common/less/reset.less");
@import url("../../../common/less/color.less");
//错误提示
@import url("../../../common/less/components/againEnter.less");

.content .risk{
  width: 94%;
  margin: 0 auto;
  font-size: 1.4rem;
}
.content .risk p:nth-of-type(1) {
  margin: 2.8rem 0 3.9rem;
  width: 100%;
  text-align: center;
  color: @c003;
}
.content .risk div{
  width: 86%;
  margin:0 7% 2rem;
  position: relative;
}
.content .risk div img{
  width: 100%;
}
.content .risk div span{
  position: absolute;
  bottom:0;
  color: @c006;
  font-size: 1.8rem;
  display: block;
  text-align: center;
  width: 100%;
}
.content section{
  width: 94%;
  margin:0 3%;
  color: @c003;
  line-height: 2;
  font-size: 1.4rem;
  text-align:justify;
}
.content section span{
  color: @c010;
  font-size: 1.6rem;
}
.content .risk{
  width: 100%;
  text-align: center;
  margin:4rem 0 0 0;
} 
.content .risk .btn a {
  display: inline-block; 
  width: 14rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 0.2rem;
  font-size: 1.4rem;
  text-decoration: none;
  
}
.reminder_txt{
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  width: 100%;
  text-align: center;
}
.time_out1,.time_out2{
  display: none;
  font-size: 1.2rem;
  color: @c002;
  .iconfont{
    color: @c039;
  }
}
.day_color{
  color: @c006;
}
.content .risk .fifth .location{
  color: @c005;
  background: @c006;
}
.content .risk .six{
  margin-top: 1.5rem;
}
.content .risk .six .product{
  border:0.1rem solid @c004;
  color: @c001;
}
.content .risk .tipLink{
    color:@c006;
}

// 风险测评
.appraisal{
	margin-top: 0.8rem;
	background: @c005;
	box-shadow: 0 0.1rem 0.4rem 0 rgba(0,0,0,0.1);

	a{
		display: block;
		width: 95%;
		height: 4rem;
		font-size: 1.4rem;
		color: @c002;
		margin-left: 1.6rem;
		border-bottom: 1px solid @c004;
    &.noBor{
       border:none;
    }
    &.gongMuRisk{
      display:none;
    }
		// border-bottom: 0.05rem solid @c004;
		p{
			line-height: 4rem;
			span{
				float: right;
				color: @c001;
				margin-right: 1.2rem;
		  	}
        .result{
          margin-right: 0.2rem;
          vertical-align: middle;
        }
		  	.category{
		  		display: inline-block;
		  		position: relative;
          margin-right: 0.4rem;
		  	}
		}
	}

	a:nth-last-of-type(1){
		border: 0;
	}

}

//风险提示书
.tipTitle{
    text-align: center;
    font-weight: bold;
    padding:1rem 0 2rem;
}
.tipBook{
    color:@c040;
    text-align: justify;
    padding-right:1.7rem;
    line-height:1.6;
    letter-spacing:0.1rem;
}
.tipIntro{
    padding:2.4rem 1.7rem 1rem 0;
    letter-spacing:0.1rem;
    font-weight: bold;
}
