//基金诊断页面,基金诊断搜索页

@import url("@pathInclude/css/mui.min.css");
@import url("@pathCommonLess/reset.less");
@import url("@pathCommonLess/color.less");
@import url("@pathCommonLess/mui/resetMUI.less");
@import url("@pathCommonLess/components/againEnter.less");
@import url("@pathCommonLess/components/elasticLayerTypeTwo.less");


html,
body {
    height: 100%;
}


.clearfix {
    &:after {
        display: block;
        width: 0;
        height: 0;
        content: "";
        clear: both;
        visibility: hidden;
    }
}

.hotDiagnosis {
    height: 100%;
    font-family: Helvetica, Arial, "Microsoft YaHei";
    background-color: @c005;


    // 重置
    .mui-table-view {

        &:after,
        &:before {
            content: none;
        }

        .mui-table-view-cell {
            padding:0;


            &:after {
                content: none;
            }

            &.mui-active {
                background-color: @c005;
            }

            .card-theme{
                padding-top:1px;
            }

        }
    }

    // 顶部固定区域
    .fixedWrap {
        position: fixed;
        width: 100%;
        height: 8rem;
        top: 0;
        z-index: 1000;

        // 诊断页面搜索区域
        .topSearch {
            background-color: @c005;
            padding: 0.5rem 1.3rem;
            .tip {
                height: 2.8rem;
                background-color: @f7f7f7;
                color: @878787;
                font-size: 1.1rem;
                line-height: 2.8rem;
                width: 100%;
                border-radius: 0.2rem;
            }

            .mui-icon-search::before {
                font-size: 1.4rem;
                margin-left: 0.7rem;
                margin-right: 0.4rem;
            }
        }


        //搜索页面-搜索
        .branchSearchArea {

            .branchHeader {
                padding: 0.5rem 1.3rem;
                background-color: @c005;
                width: 100%;

                .mui-input-row {
                    height: 2.8rem;
                }

                .search {
                    background-color: @f7f7f7;
                    border-radius: 0.2rem;
                    position: relative;

                    .branchSearchInput {
                        color: @878787;
                        display: inline-block;
                        font-size: 1.1rem;
                        height: 2.8rem;
                        background-color: @f7f7f7;
                        width: 80%;

                        &::placeholder {
                            color: @878787;
                        }
                    }

                    .searchicon {
                        font-size: 1.4rem;
                        margin-left: 0.7rem;
                        margin-right: 0.4rem;
                        display: inline-block;
                        color: @878787;
                    }

                    .mui-icon-clear {
                        right: 0.6rem;
                        font-size: 1.4rem;
                        line-height: 2.5rem;
                        margin: 0;
                        width: 3rem;
                        top: 0.4rem;

                        &:before {
                            content: '取消';
                            color: @ff6905;
                            font-size: 1.2rem;
                        }
                    }
                }

                .close {
                    color: @ff6905;
                    border: none;
                    font-size: 1.2rem;
                    width: 2.6rem;
                    text-align: center;
                    position: absolute;
                    right: 0.9rem;
                    top: -0.2rem;
                    padding: 0;
                    line-height: 2.7rem;
                    margin: 0;
                    height: 2.5rem;
                    background: transparent;
                }
            }
        }

        // 搜索结果
        .resultWrap {
            display: none;
            height: 5.1rem;
            background: @f7f7f7;

            .searchResult {
                background: @c005;
                height: 4rem;
                line-height: 4rem;
                font-size: 1.2rem;
                color: @858d9d;
                padding: 0 1.7rem;
                border-top: 1px solid @edeff3;

                .total{
                    margin-left: 0.2rem;
                    margin-right: 0.2rem;
                }
            }
        }

        // 热门诊断
        .h2_title {
            padding: 0 1.7rem;
            color: @3c3c3c;
            font-size: 1.4rem;
            line-height: 4.3rem;
            background-color: @f7f7f7;
            font-weight: 700;
        }
    }

    // 热门列表
    .hotFundList {
        overflow: hidden;
        margin-top: 8rem;

        .card-theme,
        .search-list {
            .mui-row {
                padding: 1.4rem 1.7rem;
                border-bottom: 1px solid @f6f9ff;

                &:first-child{
                    padding-top: 2.2rem;
                }

                .imgNum {
                    width: 1.5rem;
                    padding-top: 0.5rem;
                }

                .fontNum {
                    color: @3c3c3c;
                    font-size: 0.9rem;
                    line-height: 2.3rem;
                    margin-left: 0.4rem;
                }

                .fontBold {
                    color: @2d2f46;
                    font-size: 1.3rem;
                    line-height: 2.3rem;

                }

                .jumpIcon {
                    position: relative;

                    &:after {
                        position: absolute;
                        content: '\e67d';
                        font-size: 2rem;
                        right: 0;
                        color: @999999;

                    }

                }

                .lightColor {
                    font-size: 1rem;
                    line-height: 2rem;
                    color: @999999;
                }
            }



            .small {
                color: @c001;
                font-size: 1.2rem;
                margin-top: 0.5rem;
            }

            .red {
                color: @c010;
                font-size: 1rem;
                margin-top: 0.5rem;
            }
        }
    }

    // 底部按钮     
    .btnBottom {
        position: absolute;
        bottom: 1.7rem;
        margin: 2.5%;
        height: 3.9rem;
        line-height: 3.9rem;
        width: 95%;
        border-radius: 0.3rem;
        border: solid 0.1rem @ededed;
        background-color: @c005;
        box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.1);
        padding: 0 1.8rem 0 1rem;
        color: @837046;

        .imgBottom {
            margin-top: 0.8rem;
            width: 2.4rem;
        }

        .fontBold {
            padding-left: 1rem;
            color: @837046;
        }

        .jumpIcon {
            position: relative;

            &:after {
                position: absolute;
                content: '\e67d';
                font-size: 2rem;
                right: 0;
                color: @999999;
            }
        }
    }

    // 公共
    .right {
        text-align: right;
    }

    .red{
        color: @ff6905;
    }
}