// 恒小智公用less


@import url("../../../../include/css/mui.min.css");
@import url('../../../../common/less/mui/resetMUI.less');
@import url("../../../../common/less/reset.less");
@import url("../../../../common/less/color.less");
@import url("../../../../common/less/components/againEnter.less");
@import url("../../../../common/less/components/alertBox.less");


// 标题
.combiT {
    font-size: 1.6rem;
    line-height: 4rem;
    margin-top: 0.8rem;
}

.iconBase() {
    font-family: "iconfont";
    content: '\e600';
    position: absolute;
    top: 0;
    left: 0;
    color: @c002;
}

// 左对齐
.alignL {
    text-align: left;
}

// 右对齐
.alignR {
    text-align: right;
}
.alignC{
    text-align: center;
}