<!-- 
	私募产品详情页
	@author yangjinlai 20191119
-->
<!doctype html>
<html lang="en">

<head>
    @@include('@pathInclude/views/meta.html')
    <link rel="stylesheet" href="/account/static/css/private/privateDetail.css">
    <title>私募产品详情页</title>
</head>

<body>
	
	@@include('@pathCommonCom/loading/listLoading.html')

	<div class="privateDetail">
		<div class="topContent"> 
	 		@@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#595E6F, #1C2135","showType":"1", "serviceType":"1", "linesNum": "2"})
	 		<div class="hide typeWrap type_0">
	 			<!-- 类型一 稳金-->	
	 			<div class="con">
		 			<div class="bannerTop clearfix">
		 			    <div class="sum fl"><span class="j_text gradual">当前市值(元)</span></div>
		 			</div>
		 			<div class="totalM" id="type0TotalM">--</div>
		 			<ul class="mui-row type">
		 			    <li class="mui-col-sm-6 mui-col-xs-6">
		 			        <span>持有份额</span>
		 			        <span class="num totalShare">--</span>
		 			    </li>
		 			    <li class="mui-col-sm-6 mui-col-xs-6">
		 			        <span>七日年化</span>
		 			        <span class="num inlineBlock"><span class="sevenYearYield">--</span><span class="smallDate"></span></span>
		 			    </li>
		 			</ul>
		 		</div>
	 			<!-- 展开按钮  -->
	 			<div class="openButton">
	 				<img src="/common/img/openButton.png" class="img">
	 				<img src="/common/img/openButton_open.png" class="openImg">
	 			</div> 
	 			<!-- 隐藏区域 -->
	 			<div class="mui-row openWrap">
 					<div class="openDiv mui-col-sm-6 mui-col-xs-6">
	 					<p class="txt">可赎回份额</p>
	 					<p class="num kshfe">--</p>
 					</div>
 					<div class="openDiv mui-col-sm-6 mui-col-xs-6">
	 					<p class="txt">万份收益(元)</p>
	 					<p class="num wfsy">--</p>
 					</div>
	 			</div>
	 		</div>

	 		<div class="hide typeWrap type_1">
	 			<!-- 类型二 稳裕-->	
	 			<div class="con">
		 			<div class="bannerTop clearfix">
		 			    <div class="sum fl"><span class="j_text">当前市值(元)</span></div>
		 			</div>
		 			<div class="totalM" id="type1TotalM">--</div>
		 			<ul class="mui-row type">
		 			    <li class="mui-col-sm-6 mui-col-xs-6">
		 			        <span>持有份额</span>
		 			        <span class="num totalShare">--</span>
		 			    </li>
		 			    <li class="mui-col-sm-6 mui-col-xs-6">
		 			        <span>七日年化</span>
		 			        <span class="num inlineBlock"><span class="sevenYearYield">--</span><span class="smallDate"></span></span>
		 			    </li>
		 			</ul>
		 		</div>
	 			<!-- 展开按钮  -->
	 			<div class="openButton">
	 				<img src="/common/img/openButton.png" class="img">
	 				<img src="/common/img/openButton_open.png" class="openImg">
	 			</div> 
	 			<!-- 隐藏区域 -->
	 			<div class="openWrap">
	 				<div class="mui-row openCon">
	 					<div class="openDiv mui-col-sm-6 mui-col-xs-6">
		 					<p class="txt">可赎回份额</p>
		 					<p class="num kshfe">--</p>
	 					</div>
	 					<div class="openDiv mui-col-sm-6 mui-col-xs-6">
		 					<p class="txt">赎回开放日</p>
		 					<p class="num shkfr">--</p>
	 					</div>
	 				</div>
	 				<div class="openCon">
	 					<div class="openDiv">
		 					<p class="txt">可提交赎回申请时间</p>
			 				<p class="num ketjsh">--</p>
			 			</div>
					 </div>
					 <div class="mui-row openCon notRedemptionBox">
						<div class="openDiv mui-col-sm-12 mui-col-xs-12 notRedemption">
							<p class="notRedemptionTxt">--</p>
					</div>
					</div>
	 			</div>
	 		</div>
	 		<div class="hide typeWrap type_2">
	 			<!-- 类型三 债权-->	
	 			<div class="con">
		 			<div class="bannerTop clearfix">
		 			    <div class="sum fl"><span class="j_text">当前持仓(份)</span></div>
		 			</div>
		 			<div class="totalM"  id="type2TotalM">--</div>
		 			<ul class="mui-row type">
		 			    <li class="mui-col-sm-6 mui-col-xs-6">
		 			        <span>收益分配(元)</span>
		 			        <span class="num syfp">--</span>
		 			    </li>
		 			    <li class="mui-col-sm-6 mui-col-xs-6">
		 			        <span>持有天数</span>
		 			        <span class="num cyts">--</span>
		 			    </li>
		 			</ul>
		 		</div>
	 			<!-- 展开按钮  -->
	 			<div class="openButton">
	 				<img src="/common/img/openButton.png" class="img">
	 				<img src="/common/img/openButton_open.png" class="openImg">
	 			</div>  
	 			<!-- 隐藏区域 -->
	 			<div class="openWrap">
	 				<div class="mui-row openCon">
	 					<div class="openDiv mui-col-sm-4 mui-col-xs-4">
		 						<p class="txt">业绩比较基准</p>
		 						<p class="num yjbjjz">--</p>
	 					</div>
	 					<div class="openDiv mui-col-sm-4 mui-col-xs-4">
		 						<p class="txt">成立日</p>
		 						<p class="num clr">--</p>
	 					</div>
	 					<div class="openDiv mui-col-sm-4 mui-col-xs-4">
		 						<p class="txt">到期日</p>
		 						<p class="num dqr">--</p>
	 					</div>
	 				</div>
	 			</div>		 		
	 		</div>
	 		<div class="hide typeWrap type_3">
	 			<!-- 类型四 股权-->	
	 			<div class="con">
		 			<div class="bannerTop clearfix">
		 			    <div class="sum fl"><span class="j_text">认购金额(元)</span></div>
		 			</div>
		 			<div class="totalM" id="type3TotalM">--</div>
		 			<ul class="mui-row type">
		 			    <li class="mui-col-sm-6 mui-col-xs-6">
		 			        <span>收益分配(元)</span>
		 			        <span class="num syfp">--</span>
		 			    </li>
		 			    <li class="mui-col-sm-6 mui-col-xs-6">
		 			        <span>成立日</span>
		 			        <span class="num clr">--</span>
		 			    </li>
		 			</ul>
		 			<ul class="mui-row type">
		 			    <li class="mui-col-sm-12 mui-col-xs-12">
		 			        <span>产品期限</span>
		 			        <span class="num cpqx fontSize28">--</span>
		 			    </li>
		 			</ul>
		 		</div>
	 		</div>
	 		<div class="hide typeWrap type_4">
	 			<!-- 类型五 证券-->	
	 			<div class="con">
		 			<div class="bannerTop clearfix">
		 			    <div class="sum fl"><span class="j_text">当前市值(元)</span></div>
		 			</div>
		 			<div class="totalM" id="type4TotalM">--</div>
		 			<ul class="mui-row type">
		 			    <li class="mui-col-sm-6 mui-col-xs-6">
		 			        <span>单位净值</span>
		 			        <span class="num dwjz">--</span>
		 			    </li>
		 			    <li class="mui-col-sm-6 mui-col-xs-6">
		 			        <span>持有份额</span>
		 			        <span class="num cyfe">--</span>
		 			    </li>
		 			</ul>
		 		</div>
		 		<!-- 展开按钮  -->
	 			<div class="openButton">
	 				<img src="/common/img/openButton.png" class="img">
	 				<img src="/common/img/openButton_open.png" class="openImg">
	 			</div> 
	 			<!-- 隐藏区域 -->
	 			<div class="openWrap">
	 				<div class="mui-row openCon">
	 					<div class="openDiv mui-col-sm-6 mui-col-xs-6">
		 					<p class="txt">累计净值</p>
		 					<p class="num ljjz">--</p>
	 					</div>
	 					<div class="openDiv mui-col-sm-6 mui-col-xs-6">
		 					<p class="txt">可赎回份额</p>
		 					<p class="num kshhf">--</p>
	 					</div>
	 				</div>
	 				<div class="mui-row openCon">
	 					<div class="openDiv mui-col-sm-6 mui-col-xs-6">
		 					<p class="txt">持有天数</p>
		 					<p class="num cyts">--</p>
	 					</div>
	 					<div class="openDiv mui-col-sm-6 mui-col-xs-6">
		 					<p class="txt">赎回开放日</p>
		 					<p class="num shkfr">--</p>
	 					</div>
	 				</div>
	 				<div class="mui-row openCon">
	 					<div class="openDiv mui-col-sm-12 mui-col-xs-12">
		 					<p class="txt">可提交赎回申请时间</p>
		 					<p class="num ktjshsqsj">--</p>
	 					</div>
					 </div>
					<div class="mui-row openCon notRedemptionBox">
						<div class="openDiv mui-col-sm-12 mui-col-xs-12 notRedemption">
							<p class="notRedemptionTxt">--</p>
					</div>
					</div>
	 			</div>
	 		</div>
	 	</div>

	 	<div class="midContent">	
	 		<div class="actionWrap">
	 			<div class="mui-row single">
	 				<div class="mui-col-sm-11 mui-col-xs-11">
		 		    	<img class="img" src="">
		 		        <span class="txt"></span>
		 		    </div>
		 		    <div class="mui-col-sm-1 mui-col-xs-1">
		 		    	<div class="arrow">
		 					<!-- <span class="img"></span> -->
		 					<i class="iconfont">&#xe600;</i>
		 				</div>
		 		    </div>
	 			</div>
	 			<div class="mui-row double">
	 				<div class="mui-col-sm-6 mui-col-xs-6">
		 		    	<img class="img" src="">
		 		        <span class="txt"></span>
		 		    </div>
		 		    <div class="mui-col-sm-6 mui-col-xs-6">
		 		       	<img class="img" src="">
		 		        <span class="txt"></span>
		 		    </div>
	 			</div>
	 			<div class="treble mui-row">
	 				<div class="actionCon transactionDetail">
		 		    	<img class="img" src="/account/static/img/productDetail/type_1_left.png">
	 					<div class="txt">交易明细</div>
		 		    </div>
		 		    <div class="lineVertical"></div>
		 		    <div class="actionCon incomeDistribution">
		 		    	<img class="img" src="/account/static/img/productDetail/account_icon_jymx@2x.png">
	 					<div class="txt">收益分配明细</div>
		 		    </div>
		 		    <div class="lineVertical"></div>
		 		    <div class="actionCon privateFundPdf">
		 		    	<img class="img" src="/account/static/img/productDetail/type_1_right.png">
	 					<div class="txt">基金确认书</div>
		 		    </div>
	 			</div>
	 		</div>
	 		<div class="hide lineWrap">
	 			<div class="clearfix titleWrap typeNo5Wrap">
	 				<span class="title qrnh active">七日年化</span>
	 				<span class="title wfsy hidden">万份收益</span>
	 				<div class="arrow historyDetailArrow">
	 					<i class="iconfont">&#xe600;</i>
	 				</div>
	 				<span class="rightTitle" id="historyDetailBtn">历史明细</span>
	 			</div>
	 			<div class="clearfix titleWrap type5Wrap">
	 				<span class="title dwjz active">单位净值</span>
	 				<span class="title ljjz">累计净值</span>
	 				<div class="arrow" id="netValueDetailArrow">
	 					<i class="iconfont">&#xe600;</i>
	 				</div>
	 				<span class="rightTitle" id="netValueDetailBtn">净值明细</span>
	 			</div>
	 			<div class="lineDraw">
	 				<!-- 七日年化折线图 -->
	 				<div id="qrnhLine" class="line"></div>
	 				<!-- 万份收益折线图 -->
	 				<div id="wfsyLine" class="hide line"></div>
	 				<!-- 单位净值折线图 -->
	 				<div id="dwjzLine" class="hide line"></div>
	 				<!-- 累计净值折线图 -->
	 				<div id="ljjzLine" class="hide line"></div>
	 				<!-- 无数据提示 -->
	 				<div class="hide noDataHintEcharts">暂无数据</div>
	 				<div class='mui-row tab'>
	 					<span class="mui-col-sm-3 mui-col-xs-3 time oneMonth" num="0">近一个月</span>
	 					<span class="mui-col-sm-3 mui-col-xs-3 time threeMonth" num="1">近三个月</span>
	 					<span class="mui-col-sm-3 mui-col-xs-3 time newYear active" num="3">近一年</span>
	 					<span class="mui-col-sm-3 mui-col-xs-3 time sinceNow" num="4">成立至今</span>
	 				</div>
	 			</div>
	 		</div>
	 		<div class="dealReg">
	 			<div class="hide dealMid">
	 				<div class="titleWrap" id="transactionRuleBtn">
	 					交易规则
	 					<div class="arrow">
		 					<i class="iconfont">&#xe600;</i>
		 				</div>
		 			</div>
		 			<div class="dealRegMidCon">
		 				<div class="dealRegMid">
			 				<div class="nav" id="redeemNav">
			 					<span class="navSpan quick reedemHide" type="1">快速赎回</span>
			 					<span class="navSpan normal" type="2">普通赎回</span>
			 				</div>
			 				<div class="line">
			 					<div class="clearfix line_title">
				 					<span class="top_l">赎回申请</span>
				 					<span class="top_r">付款</span>
				 				</div>
			 					<img class="lineDiv" src="/common/img/regLine.png">
			 					<div class="clearfix line_bottom">
				 					<span class="bottom_l" id="tradeDatePre">--</span>
				 					<span class="bottom_r" id="tradeDateNext">--</span>
				 				</div>
			 				</div>
			 				<ul class="detail">
			 					<li id="tradeExplain"></li>
			 					<li id="tradeFee"></li>
			 				</ul>
			 			</div>
		 			</div>
		 		</div>
		 		<div class="dealBottom">
	 				<div class="titleWrap" id="productFilesBtn">
	 					<span>产品档案</span>
	 					<i class="iconfont right grayIcon">&#xe600;</i>
	 				</div>
	 				<div class="titleWrap" id="infoPublishBtn">
	 					<span>信息披露</span>
	 					<i class="iconfont right grayIcon">&#xe600;</i>
	 				</div>
	 			</div>
 			</div>
 			<!-- <div class="footer">
 				<button class="goldBgButton redeemBtn">赎回</button>
 			</div> -->
	 	</div>
	</div>

	<div class="goldBgButton redeemBtn footer">赎回</div>
	@@include('@pathInclude/views/footer.html')

	<script src="/allServerResources/include/js/vendor/echarts/echarts.min.js"></script>
	<script src="/account/static/js/private/privateDetail.js"></script>

</body>

</html>