<!-- /*
 * @Author: chennn 
 * @Date: 2019-11-22 10:36:47 
 * @Last Modified by:   chennn 
 * @Last Modified time: 2019-11-22 10:36:47 
 */ -->

<!doctype html>
<html lang="en">

<head>
    @@include('@pathInclude/views/meta.html')
    <link rel="stylesheet" href="/account/static/css/private/privateFundPdf.css">
    <title></title>
</head>

<body>

	@@include('@pathCommonViews/load.html') 
	
	<div class="fundPdf">
		<div class='headBar'>
			@@include('@pathCommonViews/headBarConfig.html',{"pathName":"基金确认书","bgColors":"#fff,#fff","showType":"1","goBackColor":"#272727","titleColor":"#272727"})
			<a class='downLoad' href="javaScript:;">下载</a>
		</div>
		<div class='pdfContentBox'>
			<div class='pdfContent' id='pdfBox'></div>
		</div>

	</div>

	@@include('@pathInclude/views/footer.html')

	<script src="/include/js/vendor/echarts/echarts.min.js"></script>
	<!-- pdf转canvas -->
	<script src="/include/js/vendor/pdf/pdf.js"></script>
	<script src="/account/static/js/private/privateFundPdf.js"></script>

</body>

</html>