<!-- 私募交易规则
@author yanruiting 2019-11-29 -->

<!DOCTYPE html>
<html lang="en">
<head>
    @@include('@pathInclude/views/meta.html') 
    <link rel="stylesheet" href="/account/static/css/private/transactionRules.css">  
    <title>私募交易规则</title>
</head>
<body>
    <div id="richTemplateWrap">
        @@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#000,#eee","showType":"0","pathName":"交易规则"})
        <!--没有数据显示图标-->
        @@include('@pathCommonCom/noData/noData.html', {"tipText": "暂无数据"})
        <div id="contentWrap"></div>   
    </div>          

    @@include('@pathInclude/views/footer.html')
    <script src="/account/static/js/private/transactionRules.js"></script>
</body>
</html>