<!-- /**  
 * @Page:  财富流向早知道
 * @Author: yanruiting 
 * @Date:   2019-11-25
 * 
 */ -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     @@include('@pathInclude/views/meta.html')
     <link rel="stylesheet" href="/homePage/static/css/fortuneFlowKnown.css">
     <title>财富流向早知道</title>
 </head>
 <body>
     <!--没有数据显示图标-->
     @@include('@pathCommonCom/noData/noData.html', {"tipText": "暂无数据"})
     <!--列表加载显示图标-->
     @@include('@pathCommonCom/loading/listLoading.html')
     @@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#384A81,#2A3C70","showType":"0","pathName":"财富学院早知道"})
     <div class="list">
          <div class="contentWrapper">
               <ul class="mui-table-view ">
                    <div class="knownList"></div>
                    @@include('../../../common/views/goTop.html')
               </ul>
          </div>
     </div>

     <script id="fortuneFlowList-template" type="text/x-handlebars-template">
          {{#each this}}
          <div class="knownItem flex" id="{{id}}"  htmdEvt ="fortune_knownItem">
               <div class="itemVideo">
                    <img class="articalImg lazyload" src="/common/img/lazyImgList.png" data-original="{{imageUrlShowOnline}}" alt="">
                    <img class="play" src="/common/img/bofang@2x.png" alt="">
               </div>
               <div class="itemContent">{{articleTimeStr}} | {{title}}</div>
          </div>
          {{/each}}
    </script>
 
     @@include('@pathInclude/views/footer.html')
     <script src="/homePage/static/js/fortuneFlowKnown.js"></script>
</body>
</html>