<!-- /**  
 * @Page:  财富学院
 * @Author: liliang 
 * @Date:   2019-11-25
 * 
 */ -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
     @@include('@pathInclude/views/meta.html')
     <link rel="stylesheet" href="/homePage/static/css/fortuneCollegeList.css">
     <link rel="stylesheet" href="/mine/static/css/swiper.min.css">
     <script type="text/javascript" src="/include/js/swiper.min.js"></script> 
     <title>财富学院</title>
 </head>
 <body>
     <!--加载图标-->
     <!--@@include('@pathCommonViews/load.html')--> 
     <!--没有数据显示图标-->
     <!--@@include('@pathCommonViews/noDataImg.html')-->
     <!--列表加载显示图标-->
     <!--@@include('@pathCommonViews/loading/listLoading.html')-->
     <div class="box">
          @@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#384A81,#2A3C70","showType":"1","pathName":"财富学院"})
          <div class="list">
               <div class="wrapper">
                    <div class="banner">
                         <!-- <div class="mui-slider">
                              <div class="mui-slider-group mui-slider-loop">
                                  
                                   <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="/homePage/static/img/banner1@2x.png" /></a></div>
                                   <div class="mui-slider-item"><a href="#"><img src="/homePage/static/img/banner1@2x.png" alt=""></div>
                                   <div class="mui-slider-item"><a href="#"><img src="/homePage/static/img/banner1@2x.png" alt=""></a></div>
                                   <div class="mui-slider-item"><a href="#"><img src="/homePage/static/img/banner1@2x.png" alt=""></a></div>
                                   <div class="mui-slider-item"><a href="#"><img src="/homePage/static/img/banner1@2x.png" alt=""></a></div>
                    
                                   <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="/homePage/static/img/banner1@2x.png" alt=""></div>
                              </div>
                              <div class="mui-slider-indicator">
                                   <div class="mui-indicator mui-active"></div>
                                   <div class="mui-indicator"></div>
                                   <div class="mui-indicator"></div>
                                   <div class="mui-indicator"></div>
                              </div>
                         </div> -->
                    </div>
                    <div class="hotWords translate">
                         
                    </div>
                    <div class="hotWords fortuneVideo">
                         <div class="title">
                              <h2>财富流向早知道</h2>
                              <p><a href="javascript:;" >播放往期内容</a><i class="iconfont">&#xe636;</i></p>
                         </div>
                         <div class="fortuneList">
                              <ul>
                                   <li>
                                       <a href="javascript:;">
                                             <img src="/homePage/static/img/picture1_1@2x.png" alt="">
                                             <p>
                                                  <i class="iconfont">
                                                       <img src="/homePage/static/img/bofang@2x.png" alt="">
                                                  </i>
                                                  <span>
                                                            ETF再迎超级大年！今年新增规模铁规模铁定规模铁定
                                                  </span>
                                             </p>
                                       </a>
                                   </li>
                                   <li>
                                        <a href="javascript:;">
                                             <img src="/homePage/static/img/picture1_2@2x.png" alt="">
                                             <p>
                                                  <i class="iconfont">
                                                       <img src="/homePage/static/img/bofang@2x.png" alt="">
                                                  </i>
                                                  <span>
                                                            ETF再迎超级大年！今年新增规模铁规模铁定规模铁定
                                                  </span>
                                             </p>
                                        </a>
                                   </li>
                              </ul>
                         </div>
                    </div>
                    <div class="hotWords forum">
                         <div class="title">
                              <h2>财富讲堂</h2>
                              <p><a href="javascript:;" >全部</a><i class="iconfont">&#xe636;</i></p>
                         </div>
                         <div class="broadcast">
                              <b>大咖直播</b>
                              <strong>|</strong>
                              <span>知时讲堂</span>
                         </div>
                         <div class="forumImg">
                              <div class="swiper-container">
                                   <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                             <div class="conten">
                                                  <img src="/homePage/static/img/picture1_3@2x.png" alt="">
                                                  <div class="con">
                                                       <h4>如果牛市来了，你能挣到钱吗？1</h4>
                                                       <p>李世通·国开证券首席投资顾问</p>
                                                  </div>
                                             </div>
                                        </div>
                                        <div class="swiper-slide">
                                             <div class="conten">
                                                  <img src="/homePage/static/img/picture1_3@2x.png" alt="">
                                                  <div class="con">
                                                       <h4>如果牛市来了，你能挣到钱吗？2</h4>
                                                       <p>李世通·国开证券首席投资顾问2</p>
                                                  </div>
                                             </div>
                                        </div>
                                        <div class="swiper-slide">
                                             <div class="conten">
                                                  <img src="/homePage/static/img/picture1_3@2x.png" alt="">
                                                  <div class="con">
                                                       <h4>如果牛市来了，你能挣到钱吗？3</h4>
                                                       <p>李世通·国开证券首席投资顾问3</p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="hotWords tabContent">
                         <div class="title">
                              <h2>财富研究</h2>
                              <p><a href="javascript:;" >查看全部研究</a><i class="iconfont">&#xe636;</i></p>
                         </div>
                         <div class="tab">
                              <div class="tab-t">
                                   <ol>
                                        <li class="active">大类资产研究</li>
                                        <li>宏观策略</li>
                                        <li>宏观策略</li>
                                        <li>公募研究</li>
                                   </ol>
                              </div>
                              <div class="tab-b">
                                  <div>
                                        <ul>
                                             <li>
                                                  <div>
                                                       <p>牛熊切换，以守代攻 -2019年固收投资策略报告</p>
                                                       <span>2019-10-02</span>
                                                  </div>
                                                  <img src="/homePage/static/img/tab1.png" alt="">
                                             </li>
                                             <li>
                                                  <div>
                                                       <p>牛熊切换，以守代攻 -2019年固收投资策略报告</p>
                                                       <span>2019-10-02</span>
                                                  </div>
                                                  <img src="/homePage/static/img/tab1.png" alt="">
                                             </li>
                                             <li>
                                                  <div>
                                                       <p>牛熊切换，以守代攻 -2019年固收投资策略报告</p>
                                                       <span>2019-10-02</span>
                                                  </div>
                                                  <img src="/homePage/static/img/tab1.png" alt="">
                                             </li>
                                        </ul>
                                  </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
 
     
 
     @@include('@pathInclude/views/footer.html')
     <!-- 添加埋点 -->
     @@include('@pathInclude/views/header.html')
     <script id="fortune-template" type="text/x-handlebars-template">
          <div class="title">
               <h2>{{modelName}}</h2>
               <p><a href="{{listJumpUrl}}" >查看往期热词</a><i class="iconfont">&#xe636;</i></p>
          </div>
          <div class="content">
               <p class="con-t">
                    <span>第466期</span><b>{{modelName}}</b>
               </p>
               <p class="con-b">
                    <span>{{modelName}}</span>
                    <!-- <span class="span-l">中信建投:</span>
                    <span class="span-r">鉴定看涨A股将迎来戴维斯双击</span> -->
               </p>
          </div>
     </script>
     <!-- <script src="/include/js/vendor/jquery/jquery1.12.3.js"></script> -->
	<script src="@pathIncludJs/vendor/root.js"></script>
     <script src="@pathIncludJs/vendor/mui/mui.min.js"></script>
     <script src="/homePage/static/js/fortuneCollegeList.js"></script>
     <script>
          var swiper = new Swiper('.swiper-container', {
          slidesPerView: 'auto',
          spaceBetween: 30,
          pagination: {
               el: '.swiper-pagination',
               clickable: true,
          },
          });
     </script>
 
 </body>
 </html>