<!--信息披露页面-->
<!--author:caiwenqi-->
<!--time：2019-11-15-->
<!DOCTYPE html>
<html>
	<head>
		@@include('@pathInclude/views/meta.html')
		<link rel="stylesheet" href="/homePage/static/css/understandHT.css">
		<title>了解恒天</title>
	</head>
	<body>
		<!--加载图标-->
		<!--@@include('@pathCommonViews/load.html')--> 
		<!--没有数据显示图标-->
		<!--@@include('@pathCommonViews/noDataImg.html')-->
		<!--列表加载显示图标-->
		<!--@@include('@pathCommonViews/loading/listLoading.html')-->
		@@include('@pathCommonViews/headBarConfig.html',{"bgColors":"#384A81,#2A3C70","showType":"1","pathName":"了解恒天"})
		
		<div class="mui-slider" id="tabHT">
		    <div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
		        <a class="mui-control-item mui-active" href="#item1">公司简介<b class="borderBottom"></b></a>
		        <a class="mui-control-item" href="#item2">公司荣誉<b></b></a>
		        <a class="mui-control-item" href="#item3">风控体系<b></b></a>
		        <a class="mui-control-item" href="#item4">安全认证<b></b></a>
		    </div>
		    <div class="mui-slider-group" id="drapUpWrapper">
		        <div id="item1" class="mui-slider-item mui-control-content mui-active">
		        	<img src="/homePage/static/img/company@2x.png" alt="">
		        </div>
		        <div id="item2" class="mui-slider-item mui-control-content">
					这是公司荣誉区域
		        </div>
		        <div id="item3" class="mui-slider-item mui-control-content">
					这是风控体系区域
		        </div>
		        <div id="item4" class="mui-slider-item mui-control-content">
					这是安全认证区域
		        </div>                  
		    </div>
		</div>
		
		@@include('@pathInclude/views/footer.html')
		<script src="/include/js/iscroll.js"></script>
		<!-- 添加埋点 -->
		@@include('@pathInclude/views/header.html')
		<script src="/homePage/static/js/understandHT.js"></script>
		<!-- <script src="/acount/static/js/informationDisclosure.js"></script> -->
	</body>
</html>
