<!-- 会员权益-会员权益详情
 @author liuhongyu 2019-11-11
-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="applicable-device" content="mobile">
	<meta content="telephone=no" name="format-detection"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<script type="text/javascript" src="/include/js/adaptation_750ui.js"></script>
	<title>会员权益-会员权益详情</title>
</head>
<body>
	
	@@include('@pathCommonViews/load.html')
	<!--@@include('@pathCommonViews/noData.html')  -->
	@@include('@pathCommonViews/loading/listLoading.html')
	
	
	
	 
	@@include('@pathInclude/views/footer.html')
	<script src="/include/js/iscroll.js"></script>
	<!-- 添加埋点 -->
	@@include('@pathInclude/views/header.html')


</body>
</html>